<span class="control-menu" role="button" 
        aria-haspopup="listbox"
        [attr.aria-expanded]="isActive"
    >
    <span class="option-content"></span>
    <chef-icon aria-hidden>more_horiz</chef-icon>
</span>
<div class="options">
    <chef-dropdown role="listbox" tabindex="-1" [class.active]="isActive">\
        <!-- chef options here -->
        <!-- example -->
        <!-- <chef-option (click)="startCredentialDelete()" data-cy="delete">Remove Credential</chef-option> -->
    </chef-dropdown>
</div>
