<div class="content-container">
  <div class="container">
    <chef-loading-spinner *ngIf="chefServersLoading" size="50" fixed></chef-loading-spinner>
    <main>
      <chef-page-header>
        <chef-heading>Chef Infra Servers</chef-heading>
        <chef-subheading>Manage Chef Infra Servers with Chef Automate.</chef-subheading>
      </chef-page-header>
      <app-create-chef-server-modal 
        [visible]="createModalVisible" 
        [creating]="creatingChefServer"
        [createForm]="createChefServerForm"
        [fqdnForm]="fqdnForm"
        [ipForm]="ipForm"
        (close)="closeCreateModal()" 
        [conflictErrorEvent]="conflictErrorEvent"
        (createClicked)="createChefServer()">
      </app-create-chef-server-modal>
      <app-delete-infra-object-modal 
        [visible]="deleteModalVisible" 
        objectNoun="server" 
        [objectName]="serverToDelete?.name"
        (close)="closeDeleteModal()" 
        (deleteClicked)="deleteServer()" 
        objectAction="Delete">
      </app-delete-infra-object-modal>
      <app-message-modal 
        [title]="'Could Not Delete Server'" 
        [visible]="messageModalVisible"
        (close)="closeMessageModal()">
        Before you can delete this server, delete all organizations attached to it.
      </app-message-modal>
      <div class="page-body">
        <chef-toolbar>
          <app-authorized [allOf]="['/api/v0/infra/servers', 'post']">
            <chef-button primary (click)="openCreateModal()" data-cy="add-server-button">Add Chef Infra Server</chef-button>
          </app-authorized>
        </chef-toolbar>
        <div id="servers-table-container" *ngIf="servers.length != 0">
          <chef-table>
            <chef-thead>
              <chef-tr>
                <chef-th class="no-border">Name</chef-th>
                <chef-th class="no-border">FQDN</chef-th>
                <chef-th class="no-border">IP Address</chef-th>
                <chef-th class="no-border">Number Of Orgs</chef-th>
                <chef-th class="three-dot-column no-border"></chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody>
              <chef-tr *ngFor="let server of servers">
                <chef-td>
                  <a [routerLink]="['/infrastructure/chef-servers', server.id]">{{ server.name }}</a>
                </chef-td>
                <chef-td>{{ server.fqdn }}</chef-td>
                <chef-td>{{ server.ip_address }}</chef-td>
                <chef-td>{{ server.orgs_count }}</chef-td>
                <chef-td class="three-dot-column">
                  <!-- <app-authorized [allOf]="['/api/v0/infra/servers/{id}', 'delete', server.id]"> -->
                    <mat-select panelClass="chef-control-menu" id="menu-{{server.id}}">
                      <mat-option (onSelectionChange)="startServerDelete($event, server)" data-cy="delete-server">Delete</mat-option>
                    </mat-select>
                  <!-- </app-authorized>   -->
                </chef-td>
              </chef-tr>
            </chef-tbody>
          </chef-table>
        </div>
        <div class="empty-section" *ngIf="(servers.length === 0) && !chefServersLoading">
          <img alt="No preview" src="/assets/img/no_preview.gif" />
          <p>No chef infra servers available.</p>
        </div>
      </div>
    </main>
  </div>
</div>
