@import "~styles/variables";

chef-table {

  .no_border_th {
    border: none;
    font-size: 12px;
  }
}
chef-toolbar {

  chef-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    float: right;
    width: 150px;
    height: 36px;
    top: 268px; 
    background: #3864F2;
    border-radius: 4px;
  }

}
