<div class="content-container">
  <div class="container">
    <main>
      <chef-page-header>
        <chef-heading>Chef Servers</chef-heading>
        <chef-subheading>Manage Chef Servers with Chef Automate.</chef-subheading>
      </chef-page-header>
      <app-create-chef-server-modal
        [visible]="createModalVisible"
        [creating]="creatingChefServer"
        [createForm]="createChefServerForm"
        (close)="closeCreateModal()"
        [conflictErrorEvent]="conflictErrorEvent"
        (createClicked)="createChefServer()">
      </app-create-chef-server-modal>
      <app-delete-object-modal
        [visible]="deleteModalVisible"
        objectNoun="server"
        [objectName]="serverToDelete?.name"
        (close)="closeDeleteModal()"
        (deleteClicked)="deleteServer()"
        objectAction="Delete">
      </app-delete-object-modal>
      <div class="page-body">
        <chef-toolbar>
          <chef-button primary (click)="openCreateModal()">Add Chef Server</chef-button>
        </chef-toolbar>
        <chef-table-new>
          <chef-table-header>
            <chef-table-row>
              <chef-table-header-cell>Name</chef-table-header-cell>
              <chef-table-header-cell>FQDN</chef-table-header-cell>
              <chef-table-header-cell>IP Address</chef-table-header-cell>
              <chef-table-header-cell>Description</chef-table-header-cell>
              <chef-table-header-cell>No Of Orgs</chef-table-header-cell>
              <chef-table-header-cell class="three-dot-column"></chef-table-header-cell>
            </chef-table-row>
          </chef-table-header>
          <chef-table-body>
            <chef-table-row *ngFor= "let server of sortedChefServers$ | async">
              <chef-table-cell>
                <a [routerLink]="['/infrastructure/chef-servers', server.id]">{{ server.name }}</a>
              </chef-table-cell>
              <chef-table-cell>{{ server.fqdn }}</chef-table-cell>
              <chef-table-cell>{{ server.ip_address }}</chef-table-cell>
              <chef-table-cell>{{ server.description }}</chef-table-cell>
              <chef-table-cell>{{ server.orgs_count }}</chef-table-cell>
              <chef-table-cell class="three-dot-column">
                <chef-control-menu>
                  <chef-option data-cy="delete" (click)="startServerDelete(server)">Remove Chef Server</chef-option>
                </chef-control-menu>
              </chef-table-cell>
            </chef-table-row>
          </chef-table-body>
        </chef-table-new>
      </div>
    </main>
  </div>
</div>
