<aside class="navbar-container" aria-label="component-library-menu">
  <nav>
    <ul>
      <li class="navbar-header"> Angular Components </li>
      <li class="navbar-items">
        <!-- LIBRARY ROOT -->
        <a [routerLink]="['/component_library']">Home</a>
      </li>
      <li class="navbar-items">
        <a [routerLink]="['/component_library/checkbox']">Checkbox</a>
      </li>

      <li class="navbar-items">
        <a [routerLink]="['/component_library/form-field']">Form Field</a>
      </li>

      <li class="navbar-items">
        <a [routerLink]="['/component_library/input']">Input</a>
      </li>
      <li class="navbar-items">
          <a [routerLink]="['/component_library/sidebar']">Sidebar</a>
      </li>
      <li class="navbar-items">
        <a [routerLink]="['/component_library/calendar']">Calendar</a>
      </li>
      <li class="navbar-items">
        <a [routerLink]="['/component_library/projects-dropdown']">Projects Dropdown</a>
      </li>
    </ul>
  </nav>
</aside>
