@import "../../styles/variables";
// @import "@carbon/layout/scss/layout";

:host {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  color: $chef-white;
  background-color: $white;
  height: 39px;
  border-bottom: solid 1px $chef-grey;
  overflow: hidden;
  z-index: 10;

  p {
    margin: 0 auto;
  }

}
