chef-side-panel {
  position: fixed;
  top: 70px;
  right: -450px;
  bottom: 0;
  background: var(--chef-lightest-grey);
  width: 450px;
  overflow-x: scroll;
  box-shadow: 0 0 48px 0 rgba(63, 83, 100 , 0.2);
  transition: right 0.5s ease;

  &.is-visible {
    right: 0;
  }

  [label='close'] {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    height: 34px;
  }
}
