<section class="policy-files">
  <chef-loading-spinner *ngIf="policyFilesListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="policyfiles" (resetKeyRedirection)="resetKeyTabRedirection($event)"></app-empty-state>
  <ng-container *ngIf="!policyFilesListLoading && !authFailure">
    <div class="empty-section" *ngIf="!policyFiles.length">
      <img alt="No preview" src="/assets/img/no_preview.gif" />
      <p>No policyFiles available</p>
    </div>
    <chef-table *ngIf="policyFiles.length">
      <chef-thead>
        <chef-tr class="no_border_tr">
          <chef-th class="no_border_th">Name</chef-th>
          <chef-th class="no_border_th">Group of Policies </chef-th>
          <chef-th class="no_border_th"></chef-th>
          <chef-th class="no_border_th"></chef-th>
          <chef-th class="no_border_th"></chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let policyFile of policyFiles">
          <chef-td>{{ policyFile.name }}</chef-td>
          <chef-td>{{ policyFile.policy_group }}</chef-td>
          <chef-td></chef-td>
          <chef-td></chef-td>
          <chef-td></chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</section>