<section class="policy-files">
  <chef-loading-spinner *ngIf="policyFilesListLoading" size="50"></chef-loading-spinner>
  <app-delete-infra-object-modal
    [visible]="deleteModalVisible"
    objectNoun="policyFile"
    [objectName]="policyfileToDelete?.name"
    (close)="closeDeleteModal()"
    (deleteClicked)="deletePolicyfile()"
    objectAction="Delete">
  </app-delete-infra-object-modal>
  <app-empty-state *ngIf="authFailure" moduleTitle="policyfiles" (resetKeyRedirection)="resetKeyTabRedirection($event)"></app-empty-state>
  <ng-container *ngIf="!policyFilesListLoading && !authFailure">
    <div class="search-create-container">
      <app-infra-search-bar (searchButtonClick)="searchPolicyFiles($event)" placeHolder="Policyfiles by name...">
      </app-infra-search-bar>
      <app-paginator *ngIf="!searchFlag && policyFiles.length"
        [length]= "total"
        [pageSize]= "per_page"
        [pageIndex]= "currentPage"
        (changePage)= "onUpdatePage($event)"
      ></app-paginator>
      <app-paginator *ngIf="searchFlag && policyFiles.length"
        [length]= "searchArraylength"
        [pageSize]= "per_page"
        [pageIndex]= "currentPage"
        (changePage)= "onUpdatePage($event)"
      ></app-paginator>
    </div>
    <div data-cy="empty-list" class="empty-section" *ngIf="!policyFiles.length || searchFlag && (searchArr.length === 0) ">
      <img alt="No preview" src="/assets/img/no_preview.gif" />
      <p *ngIf="searchValue !== ''">No results found for "{{searchValue}}".</p>
      <p *ngIf="searchValue === ''">No Policyfiles available</p>
    </div>
    <chef-loading-spinner class="full-screen-spinner" *ngIf="deleting || searching" size="50" fixed></chef-loading-spinner>
    <div id="policy-file-table-container" *ngIf="policyFiles.length" data-cy="policy-file-table-container">
      <chef-table>
        <chef-thead *ngIf="!searchFlag || searchArr.length">
          <chef-tr class="no_border_tr">
            <chef-th class="no_border_th">Name</chef-th>
            <chef-th class="no_border_th">Revision ID</chef-th>
            <chef-th class="no_border_th"></chef-th>
            <chef-th class="no_border_th three-dot-column"></chef-th>
          </chef-tr>
        </chef-thead>
        <chef-tbody>
          <chef-tr *ngFor="let policyFile of pageOfItems">
            <chef-td>
              <a [routerLink]="['/infrastructure','chef-servers', serverId,
              'organizations', orgId, 'policyfiles', policyFile.name, 'revision',policyFile.revision_id]">{{ policyFile.name }}</a>
            </chef-td>
            <chef-td>{{ policyFile.revision_id }}</chef-td>
            <chef-td></chef-td>
            <chef-td class="three-dot-column">
              <mat-select panelClass="chef-control-menu">
                <mat-option
                  data-cy="revision-id"
                  class="primary"
                  (click)="slide.slidePanel(policyFile.name)">
                  Revisions
                  <chef-icon aria-hidden="true" class="primary">add</chef-icon>
                </mat-option>
                <mat-option
                  data-cy="delete"
                  class="secondary"
                  (onSelectionChange)="startpolicyFilesDelete(policyFile)">
                  Delete
                  <chef-icon aria-hidden="true" class="primary">remove</chef-icon>
                </mat-option>
              </mat-select>
            </chef-td>
          </chef-tr>
        </chef-tbody>
      </chef-table>
    </div>
    <app-pagination *ngIf="!searchFlag"
      [items]="policyFiles"
      [pageSize]="per_page"
      [pageIndex]="currentPage"
      class="policy-file-list-paging"
      label="name"
      (changePage)="onChangePage($event)">
    </app-pagination>
    <app-pagination *ngIf="searchFlag"
      [items]="searchArr"
      [pageSize]="per_page"
      [pageIndex]="currentPage"
      class="policy-file-list-paging"
      label="name"
      (changePage)="onChangePage($event)">
    </app-pagination>
  </ng-container>
  <app-revision-id
    #slide
    [serverId]="serverId"
    [orgId]="orgId">
  </app-revision-id>
</section>
