<chef-modal label="license-apply-label" [locked]="modalLocked" [visible]="modalVisible" (closeModal)="closeModal()">
  <div class="license-wrapper">
    <ng-container *ngIf="!licenseApplied">

      <!-- See enum LicenseApplyReason for what magic numbers correspond to:
        INITIAL_INSTALL = 1
        LICENSE_EXPIRED = 2
        LICENSE_ABOUT_TO_EXPIRE = 3
      -->
      <ng-container *ngIf="licenseApplyReason === 1">
        <div class="full-width">
          <div class="left-fixed">
            <h2 class="title">
              <a left tertiary (click)="backToLicenseLockout(); false">
                <chef-icon class="icon-left">chevron_left</chef-icon>
              </a>
            </h2>
          </div>
          <div class="right-flexible">
            <h2 id="license-apply-label" class="title">
              Welcome to Chef Automate!</h2>
          </div>
          <div class="right-fixed">
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="licenseApplyReason === 2">
        <div class="title alert">
          <chef-icon>warning</chef-icon>{{licenseType === 'commercial' ? 'Your Enterprise License Has Expired!' : 'Your Trial License Has Expired!'}}
        </div>
        <div class="subtitle" *ngIf="licenseType !== 'commercial'">
          We hope that you found Progress® Chef® Automate™ valuable during the trial period. Unfortunately, your trial license has expired, and you can no longer access Chef Automate.<br/><br/>
          To continue using Chef Automate, upgrade to an Enterprise License now. Please contact the Account Team for further assistance.
        </div>
        <div class="subtitle" *ngIf="licenseType === 'commercial'">
          Your Progress® Chef® Automate™ license expired on {{licenseExpiredDate}}. Unfortunately, you no longer have access to Chef Automate.<br/><br/>
          To restore your Chef Automate usage, please update your enterprise license now. Please contact the Account Team or email <strong>{{'chef-account-team@progress.com'}}</strong> for further assistance.
        </div>
      </ng-container>

      <ng-container *ngIf="licenseApplyReason === 3">
        <h2 id="apply-license-label" class="title">Apply new Chef Automate license</h2>
        <div class="subtitle">
          <a href="https://www.chef.io/contact-us/" target="_blank">Contact us</a> to get a license.
          If you already have one, enter it now.
        </div>
      </ng-container>

      <div class="error-container" *ngIf="applyLicenseInternalError || permissionDenied || badRequestReason">
        <chef-alert type="error" *ngIf="applyLicenseInternalError">
          <span>
          Sorry, we're unable to apply this license. Check your logs or
          contact <a href="https://www.chef.io/support/" target="_blank" class="error-msg">Chef support</a>.
          </span>
        </chef-alert>
        <chef-alert type="error" *ngIf="permissionDenied">
          We're sorry, but you currently do not have permission to apply a license. Contact an administrator for permission.
        </chef-alert>
        <chef-alert type="error" *ngIf="badRequestReason">
          Sorry but this license {{ badRequestReason }}. Enter a valid license.
        </chef-alert>
      </div>

      <form class="apply" [formGroup]="applyForm" (ngSubmit)="onApplyLicenseFormSubmit()" novalidate>
        <chef-form-field>
          <label for="licenseKey"><h3 class="subtitle">Enter License Key<span aria-hidden="true">*</span></h3></label>
          <textarea name="licenseKey" id="licenseKey" formControlName="licenseKey" cols="65" rows="7" placeholder="Enter key here" autofocus></textarea>
          <chef-error *ngIf="applyForm.get('licenseKey')?.hasError('required') && applyForm.get('licenseKey')?.dirty">License key required</chef-error>
        </chef-form-field>
        <br>
        <chef-checkbox (change)="updateMLSA($event.detail)" [checked]="mlsaAgree">
          * I agree to the
          <a href="https://www.chef.io/terms-of-service" target="_blank">Terms of Service</a>
          and the
          <a href="https://www.chef.io/online-master-agreement" target="_blank">Master License and Services Agreement</a>
        </chef-checkbox>
        <div class="footer">
          <chef-button type="submit" class="button" primary [disabled]="!(applyForm.valid && mlsaAgree) || applyingLicense">Apply License</chef-button>
          <br>
          <chef-button tertiary class="button" (click)="logout()">Sign out and do it later.</chef-button>
        </div>
      </form>
      <div *ngIf="applyingLicense" class="spinner-container">
        <chef-loading-spinner size="30"></chef-loading-spinner>
      </div>

    </ng-container>

    <!-- display confirmation once license applied -->
    <ng-container *ngIf="licenseApplied">
      <div class="title">
        <chef-icon>check_circle</chef-icon> Your Chef Automate license has been applied!
      </div>
      <div class="info">
        <div class="subtitle">Your new Chef Automate license will expire on
          <strong class="date">{{ expirationDate }}</strong>.
          We will keep you informed about your license's status, and will alert you
          <strong>90 days prior</strong> to your license expiration date.
        </div>
        <div class="subtitle">
          <strong>How can we help you be successful with Chef?</strong>
        </div>
      </div>

      <ul>
        <li>
          <a href="https://docs.chef.io/automate" target="_blank">
            I'm familiar with Chef, but I need help getting started with Chef Automate.
            <chef-icon>launch</chef-icon>
          </a>
        </li>
        <li>
          <a href="https://learn.chef.io/" target="_blank">
            Teach me everything!
            <chef-icon>launch</chef-icon>
          </a>
        </li>
      </ul>
      <chef-button primary (click)="closeModal()" class="confirmation" id="dismiss-help"> It's ok, I know what I am doing </chef-button>
      <app-telemetry-checkbox></app-telemetry-checkbox>
    </ng-container>
  </div>
</chef-modal>
