@import "~styles/variables";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

.content-container {
  font-family: Muli;
  font-size: 13px;
  font-weight: 100;
}

.item {
  margin: 8px;
  padding: 3px;
}

chef-icon {
  margin-right: 1em;
}

.table-title {
  text-align: left;
}

#x {
  margin-right: 5px;
  margin-top: 5px;
  position: absolute;
  background: grey;
  color: black;
  top: -10px;
  right: -10px;
  border: 1px solid black;
}
