@import "~styles/variables";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

.content-container {
  font-family: Muli;
  font-size: 13px;
  font-weight: 100;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  chef-button {
    margin: 0;
  }
}

.filters {
  margin: 1em 0;
  --pill-background-color: $chef-white;

  > chef-pill {
    display: inline-flex;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid $chef-grey;
  }

  chef-checkbox::ng-deep {
    --pill-background-color: #{$chef-grey};

    chef-pill {
      margin-left: 8px;
      padding: 0 8px;
    }

    .check-wrap {
      border: 1px solid $chef-grey;
    }
  }
}

chef-table {

  chef-icon {
    margin-right: 8px;
  }
}
