chef-status-filter-group {
  --active-color: var(--toggle-active-color, var(--chef-primary-bright));
  display: flex;

  .filter {
    padding: 8px 12px;
    cursor: pointer;
    background-color: var(--chef-white);
    box-shadow: 0 0 0 1px #DAE1E6 inset;
    border-radius: 4px;
    font-size: 14px;
    display: inline-flex;
    margin-bottom: 16px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    .option-content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      min-width: 100px;
    }

    .filter-icon {
      display: inline-flex;
      align-items: center;
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }

    .filter-total {
      font-weight: 600;
    }

    .filter-label {
      order: -1;
      flex-basis: 100%;
      margin-bottom: 4px;
    }

    &.general {
      chef-icon {
        color: #212334;
      }
    }

    &.critical {
      chef-icon {
        color: var(--chef-critical);
      }
    }

    &.warning {
      chef-icon {
        color: var(--chef-primary);
      }
    }

    &.success {
      chef-icon {
        color: var(--chef-success);
      }
    }

    &.unknown {
      chef-icon {
        color: var(--chef-dark-grey);
      }
    }

    &.selected {
      background: var(--chef-white);

      .filter-label,
      .lean-filter-label,
      .filter-total {
        color: #212334;
      }

      &.general {
        background: #F3F6F8;
        box-shadow: 0px 0px 0px 1px #829BA8 inset;
      }

      &.critical {
        background: #F9DBEA;
        box-shadow: 0px 0px 0px 1px var(--chef-critical) inset;
      }

      &.warning {
        background: #FFE5D4;
        box-shadow: 0px 0px 0px 1px var(--chef-primary) inset;
      }

      &.success {
        background: #CFE8FF;
        box-shadow: 0px 0px 0px 1px var(--chef-success) inset;
      }

      &.unknown {
        background: #E7E9E9;
        box-shadow: 0px 0px 0px 1px var(--chef-dark-grey) inset;
      }
    }

    &:hover {

      &.general {
        background: #F3F6F8;
      }

      &.critical {
        background: #F9DBEA;
      }

      &.warning {
        background: #FFE5D4;
      }

      &.success {
        background: #CFE8FF;
      }

      &.unknown {
        background: #E7E9E9;
      }
    }
  }

  &[lean] {
    flex-wrap: wrap;

    .filter {
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-right: 8px;
      }

      .option-content {
        flex-wrap: nowrap;
        min-width: auto;
      }

      .filter-label {
        order: 0;
        flex-basis: auto;
        margin: 0 8px 0 0;
      }
    }
  }
}

