chef-status-filter-group {
  --active-color: var(--toggle-active-color, chef-hsl(var(--chef-primary-bright)));
  display: block;

  chef-option {
    cursor: pointer;
    background-color: chef-hsl(var(--chef-white));
    box-shadow: 0 0 0 1px #DAE1E6 inset;
    border-radius: 4px;
    font-size: 14px;
    display: inline-table;

    &.filter {
      padding-bottom: 8px;
      padding-right: 12px;
      padding-left: 12px;
      padding-top: 8px;
      height: auto;
      width: auto;
      margin-right: 10px; // This marging should be 8px but something is adding margin-left 6px
      margin-bottom: 16px;

      .option-content {
        min-width: 100px;
        display: block;
      }


      &::before {
        display: none;
      }

      &.general {
        chef-icon {
          color: #212334;
        }
      }

      &.critical {
        chef-icon {
          color: chef-hsl(var(--chef-critical));
        }
      }

      &.warning {
        chef-icon {
          color: chef-hsl(var(--chef-primary));
        }
      }

      &.success {
        chef-icon {
          color: chef-hsl(var(--chef-success));
        }
      }

      &.unknown {
        chef-icon {
          color: chef-hsl(var(--chef-dark-grey));
        }
      }
    }

    &.lean-filter {
      padding: 8px;
      margin-right: 2px; // This marging should be 8px but something is adding margin-left 6px
      margin-bottom: 10px;

      .option-content {
        flex-direction: column;
      }


      &::before {
        display: none;
      }

      &.general {
        chef-icon {
          color: #212334;
        }
      }

      &.critical {
        chef-icon {
          color: chef-hsl(var(--chef-critical));
        }
      }

      &.warning {
        chef-icon {
          color: chef-hsl(var(--chef-primary));
        }
      }

      &.success {
        chef-icon {
          color: chef-hsl(var(--chef-success));
        }
      }

      &.unknown {
        chef-icon {
          color: chef-hsl(var(--chef-dark-grey));
        }
      }
    }

    .lean-filter-total {
      margin-left: 8px;
      font-weight: bold;
    }

    .lean-filter-label {
      display: inline-flex;
      vertical-align: middle;
    }

    .filter-label {
      height: 20px;
    }

    .filter-total {
      display: inline-flex;
    }

    chef-icon {
      display: flex;
      font-size: 16px;
      margin-right: 4px;
    }

    &.selected {
      background: chef-hsl(var(--chef-white));

      .filter-label,
      .lean-filter-label,
      .filter-total {
        color: #212334;
      }

      &.general {
        background: #F3F6F8;
        box-shadow: 0px 0px 0px 1px #829BA8 inset;
      }

      &.critical {
        background: #F9DBEA;
        box-shadow: 0px 0px 0px 1px chef-hsl(var(--chef-critical)) inset;
      }

      &.warning {
        background: #FFE5D4;
        box-shadow: 0px 0px 0px 1px chef-hsl(var(--chef-primary)) inset;
      }

      &.success {
        background: #CFE8FF;
        box-shadow: 0px 0px 0px 1px chef-hsl(var(--chef-success)) inset;
      }

      &.unknown {
        background: #E7E9E9;
        box-shadow: 0px 0px 0px 1px chef-hsl(var(--chef-dark-grey)) inset;
      }
    }

    &:hover {

      &.general {
        background: #F3F6F8;
      }

      &.critical {
        background: #F9DBEA;
      }

      &.warning {
        background: #FFE5D4;
      }

      &.success {
        background: #CFE8FF;
      }

      &.unknown {
        background: #E7E9E9;
      }
    }
  }
}
