chef-tab-selector {
  chef-option {
    margin-right: 4px;
    color: $chef-primary-dark;
  }

  ::ng-deep .selected {
    background-color: $gray-highlight;
  }

  ::ng-deep .selected::before {
    height: 4px;
    background-color: $chef-dark-blue;
  }

  chef-option:focus {
    outline: none;
  }

  ::ng-deep chef-option::before {
    height: 4px;
    background-color: $chef-tab-hover;
  }

  ::ng-deep chef-option:hover::before {
    background: $chef-azureish-gray;
  }
}

.details-tab {

  form {
    chef-form-field {
      width: 310px;
      margin-bottom: 30px;
    }

    input[type="text"]:disabled {
      opacity: 0.5;
      background-color: $chef-grey;
      border: none;
    }

    #changes-not-allowed {
      font-size: 12px;
    }

    #button-bar {
      margin-top: 15px;

      chef-button {
        margin-top: 0;
        margin-left: 0;

        chef-loading-spinner {
          position: relative;
          top: 2px;
          margin-right: 5px;
        }
      }
    }
  }
}
