chef-tab-selector {
  chef-option {
    margin-right: 4px;
    color: $chef-primary-dark;
  }

  ::ng-deep .selected {
    background-color: $gray-highlight;
  }

  ::ng-deep .selected::before {
    height: 4px;
    background-color: $chef-dark-blue;
  }

  chef-option:focus {
    outline: none;
  }

  ::ng-deep chef-option::before {
    height: 4px;
    background-color: $chef-tab-hover;
  }

  ::ng-deep chef-option:hover::before {
    background: $chef-azureish-gray;
  }
}
