chef-example {
  #{--border-color}: var(--chef-grey);
  display: block;
  margin: 1em 0;
  border: 1px solid var(--border-color);

  .example-code {
    border-bottom: 1px solid var(--chef-grey);
  }

  .example-display {
    padding: 1em;
  }
}
