[
 {
   elvis,
   [
    {config,
     [#{dirs => ["apps/*/test/**"],
        filter => "*.erl",
        rules => [
           {elvis_style, no_tabs},
           {elvis_style, no_trailing_whitespace}
          ]
       },
     %% extra requirements we don't care about for test code
     #{dirs => ["apps/*/src"],
        filter => "*.erl",
        rules => [ % this repeats the tests from above to not have elvis read
                   % the apps sources twice.
           {elvis_style, no_if_expression},
           {elvis_style, no_nested_try_catch},
           {elvis_style, no_tabs},
           {elvis_style, no_trailing_whitespace},
           {elvis_style, used_ignored_variable}
          ],
        %% copied from erlang sources, waiting for upstream merges
        ignore => [ssh_file, ssl_certificate]
       }
     ]
    }
   ]
 }
].
