%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{sub_dirs, [
            "apps/chef_common",
            "apps/delivery",
            "apps/test_support",
            "apps/github",
            "apps/audit",
            "apps/scm",
            "apps/patches",
            "apps/notification",
            "apps/auth",
            "apps/jobs"
           ]}.

{lib_dirs, ["apps", "deps"]}.
{recursive_cmds, [clean, eunit, ct]}.
%% Dependencies ================================================================
{deps, [
        {lager, ".*",
         {git, "https://github.com/basho/lager.git", {branch, "master"}}},

        {ej, ".*",
         {git, "https://github.com/seth/ej.git", {branch, "master"}}},

        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.8"}}},

        {cowboy, ".*",
         {git, "https://github.com/extend/cowboy.git", {tag, "1.0.0"}}},

        {pooler, ".*",
         {git, "https://github.com/seth/pooler.git", {tag, "1.5.0"}}},

        {sqerl, ".*",
         {git, "https://github.com/chef/sqerl.git", {branch, "master"}}},

        {erlpass, ".*",
         {git, "https://github.com/ferd/erlpass.git", {tag, "1.0.3"}}},

        {eper, ".*",
         {git, "https://github.com/massemanet/eper.git", {tag, "0.95.0"}}},

        {recon, ".*",
         {git, "https://github.com/ferd/recon.git", {branch, "master"}}},

        {sync, ".*",
         {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},

        {meck, ".*",
         {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}},

        {mixer, ".*",
         {git, "https://github.com/chef/mixer.git", {tag, "0.1.1"}}},

        % This is version 1.5.0, it just never got tagged
        {jesse, ".*",
         {git, "https://github.com/for-GET/jesse.git", {tag, "ef5bda6f7642998b6a7eb374433a5b68bb45d04e"}}},

        {ibrowse, ".*",
         {git, "https://github.com/chef/ibrowse.git", {branch, "master"}}},

        %% chef_req uses SSH url for chef_authn
        {chef_authn, ".*",
         {git, "https://github.com/chef/chef_authn.git", {branch, "master"}}},

        {chef_req, ".*",
         {git, "https://github.com/chef/chef_req.git", {branch, "master"}}},

        {erlware_commons, ".*",
         {git, "https://github.com/erlware/erlware_commons.git",
          {tag, "v0.15.0"}}},

        {gproc, ".*",
         {git, "https://github.com/uwiger/gproc.git", {tag, "0.3.1"}}},

        {gen_smtp, ".*",
          {git, "https://github.com/Vagabond/gen_smtp.git", {branch, "master"}}},

        {shotgun, ".*",
         {git, "https://github.com/inaka/shotgun.git", {tag, "0.1.6"}}},

        %% not really a direct dependency, it's a shotgun dependency
        %% but shotgun floats on gun's master, and gun's last version
        %% breaks shotgun
        %%
        %% if we upgrade shotgun to 0.1.8, it no longer floats on gun's master
        {gun, ".*",
         {git, "https://github.com/ninenines/gun", "83d8b63b8abb46b374439c8c8571091968af6260"}},

        {hoax, ".*", {git, "https://github.com/xenolinguist/hoax", {branch, "master"}}},

        {eunit_sugar, ".*",
         {git, "https://github.com/xenolinguist/eunit_sugar", {branch, "master"}}},

        {parse_trans, ".*",
         {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}},

        {eunit_formatters, ".*",
         {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},

        %% Envy on master is breaking out tests. We're not sure why, but we are
        %% pinning to latest known good tag to unblock the pipeline.
        {envy, ".*",
         {git, "https://github.com/manderson26/envy.git", {tag, "0.5.0"}}},

        {esaml, ".*",
         {git, "https://github.com/chef/esaml.git", {tag, "v1.5"}}},

        {oauth2, ".*",
         {git, "https://github.com/kivra/oauth2.git", {tag, "0.6.1"}}},

        {jose, ".*",
         {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.7.5"}}}
       ]}.

%% Rebar Plugins ==============================================================
{use_lock_deps, false}.

%% Compiler Options ============================================================
{erl_opts,
    [{platform_define, "^[0-9]+", namespaced_types},
     debug_info,
     warnings_as_errors]}.

%% EUnit =======================================================================
{eunit_opts,
 [no_tty,
  {report, {eunit_progress, [colored, profile]}}]}.
%% This is a workaround until we can fix cover. What is wrong? Wish we knew.
%% {cover_enabled, true}.
%% {cover_print_enabled, true}.

%% Common Test (ct) ============================================================
{ct_dir, "test/ct"}.
{ct_log_dir, "test/ct/logs"}.
{ct_extra_params, "-create_priv_dir auto_per_tc"}.

%% Documentation generation
{use_edown, true}.

%% Xref Analysis
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%% Set to 'true' if you care about warnings for unresolved calls (i.e.,
%% functions called via variable MFAs (apply, spawn, RPCs, etc).
{xref_warnings, false}.

%% optional extra paths to include in xref:set_library_path/2.
%% specified relative location of rebar.config.
{xref_extra_paths,["apps/enterprise_ctl/src"]}.

%% xref checks to run
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{xref_queries,
 [ %% Use this instead of `exports_not_used`; we'll filter out references to
   %% generic callbacks, generated functions, etc.
   %%
   %% Ideally, we want no functions to come back from this query; that means
   %% we're using everything! Adjust regexes / remove code until this is the
   %% case.
   {"UU" %% Unused functions (xref builtin)
   " - "
   "\"delivery_app\":\"(start|stop)\"/\".*\"" %% application callbacks
   " - "
   "\".*_sup\":\"init\"/\"1\"" %% supervisor callbacks
   " - "
   "\".*\":\"start_link\"/\".*\"" %% any start_link fun
   " - "
   "\"(deliv_chef_api|deliv_git_working_tree|deliv_push_job|deliverance_stage_queue)\":\"(init|handle_call|handle_cast|handle_info|terminate|code_change)\"/\".*\"" %% gen_server generic callback funs
   " - "
   "\"(deliv_phase|deliv_stage|delivery_stage)\":\"(init|handle_event|handle_sync_event|handle_info|terminate|code_change)\"/\".*\"" %% gen_fsm generic callback funs
   " - "
   "\"deliv_phase\":\"(idle|skip|waiting_worker|running)\"/\"2\"" %% deliv_phase FSM states
   " - "
   "\"deliv_stage\":\"(idle|running)\"/\"2\"" %% deliv_stage FSM states
   " - "
   "\"delivery_stage\":\"(initializing|passing|failing)\"/\"2\"" %% delivery_stage FSM states
   " - "
   "\"deliv_ssh_git\":\"(init|handle_call|handle_cast|handle_msg|handle_ssh_msg|terminate|code_change)\"/\".*\"" %% ssh_channel behaviour callbacks
   " - "
   "\"deliv_hipchat_notify\":\"(init|handle_call|handle_event|handle_info|terminate|code_change)\"/\".*\"" %% gen_event behaviour callbacks
   " - "
   "\".*\":\"(#is|#new|#insert_fields|#statements|#table_name|#update_fields)\"/\".*\"" %% sqerl rec callbacks
   " - "
   "\"deliv_(change|comment|enterprise|intern_user|organization|patchset|patchset_changed_file|patchset_commit|patchset_diffstat|phase_run|pipeline|project|stage_run|user)\":\"(#new|getval|fromlist|fields|is|setvals)\"/\".*\"" %% sqerl_gobot parse transform generated funs
   " - "
   "\"deliv_hand_.*\":\"(delete_completed|delete_resource|rest_init|init|from_json|handle|forbidden|is_authorized|resource_exists|to_json|content_types_accepted|content_types_provided|allowed_methods|info|terminate)\"/\"(2|3)\"" %% Cowboy callbacks
   " - "
   "\"deliv_log\":\".*\"/\".*\"" %% all deliv_log functions
   " - "
   "\".*\":\"scoping_(parent|column_name|index_constraint)\"/\"0\"" %% deliv_sqerl_rec callbacks
   " - "
   "\"(deliv_web_sse|deliv_sqerl_rec)\":\"behaviour_info\"/\"1\"" %% Behaviours
   " - "
   "\"deliv_enterprise\":\"insert\"/\"1\"" %% Known RPC / MFA calls (e.g., enterprise_ctl)
  ,[]} %% Expected results (i.e., nothing)
 ]}.
