%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{release, {delivery, "0.0.1"},
 [ssl,
  chef_common,
  delivery,
  github,
  audit,
  scm,
  insights,
  notification,
  auth,
  jobs,
  visibility,
  %% We want sync to be in our build, but do not want it to start by
  %% default. With this here, it _will_ get started by the relx generating boot
  %% script. We specify the load parameter, so that the app is loaded
  %% but not started
  {sync, load},
  mixer,
  gen_bunny,
  %% debug tools
  eper, recon
 ]}.

{extended_start_script, true}.
{include_src, false}.

{overlay, [
           {mkdir, "lib/patches"},
           {copy, "escript/setup_github_oauth", "bin/setup_github_oauth"},
           {copy, "escript/setup_oauth_alias", "bin/setup_oauth_alias"},
           {copy, "escript/setup_github_token", "bin/setup_github_token"},
           {copy, "escript/delete_application", "bin/delete_application"},
           {copy, "escript/list_applications", "bin/list_applications"},
           {copy, "escript/github_migration", "bin/github_migration"},
           {copy, "escript/runner_ctl", "bin/runner_ctl"}
          ]}.
