@import "~styles/variables";

chef-page-header {
  padding-bottom: 0;
}

.version-dropdown {
  color: $chef-primary-dark;

  ::ng-deep label {
    display: inline;
    margin-right: 15px;
    color: $chef-primary-dark;
    font-size: 15px;
  }

  chef-select {
    margin-bottom: 12px;
    width: 150px;
    font-size: 12px;
  }
}

chef-loading-spinner {
  z-index: 199;
}

.page-body {
  chef-loading-spinner {
    display: block;
    margin: 100px auto;
    width: 100px;
  }
}
