<div class="content-container">
  <div class="container">
    <main>
      <chef-loading-spinner *ngIf="cookbookVersionsLoading" size="50" fixed></chef-loading-spinner>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Infra Servers</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId]">Organizations</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId, 'organizations', orgId]">Cookbooks
        </chef-breadcrumb>
        {{ cookbookName }}
      </chef-breadcrumbs>
      <chef-page-header>
        <chef-heading>{{ cookbookName }}</chef-heading>
        <div class="version-dropdown">
          <label for="version">Version</label>
          <chef-select id="version" *ngIf="cookbook" (change)="handleCookbookVersionChange($event)">
            <chef-option *ngFor="let version of cookbook.versions" [value]="version">{{ version }}</chef-option>
          </chef-select>
        </div>
        <chef-tab-selector [value]="tabValue" (change)="onSelectedTab($event)">
          <chef-option value='content' data-cy="content-tab">Content</chef-option>
          <chef-option value='details' data-cy="details-tab">Details</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'content'">
        <chef-loading-spinner *ngIf="contentTabLoading" size="50"></chef-loading-spinner>
        <div class="details-row" *ngIf="!contentTabLoading">
          <div class="item-column">
            <ul class="list" *ngIf="menuList.length">
              <li *ngFor="let item of menuList; let i = index;">
                <span (click)="listClickEvent($event)" 
                [ngClass]="{'extend-list': i === menuIndex}">
                  {{ item.menu | titlecase  }} ({{ item.subMenu.length }})
                </span>
                <ul class="sub-list" [ngClass]="{'show': i === menuIndex}">
                  <li *ngFor="let content of item.subMenu; let j = index;" 
                  [ngClass]="{'active-sub-list': j === 0 && i === 0}" 
                  (click)="subListClickEvent($event, content)">
                    {{ content.name }}<chef-icon>fiber_manual_record</chef-icon></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="item-details-column">
            <chef-loading-spinner *ngIf="contentLoading" size="50"></chef-loading-spinner>
            <div *ngIf="!contentLoading">
              <h2 class="item-heading">{{ activeContentName }}</h2>
              <div class="item-content">
                <chef-snippet [code]="contentData"></chef-snippet>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <chef-loading-spinner *ngIf="cookbookDetailsLoading" size="50"></chef-loading-spinner>
        <chef-markdown *ngIf="readFileContent" [text]="readFileContent.content"></chef-markdown>
      </section>
    </main>
  </div>
</div>
