@import "~styles/variables";

chef-page-header {
  padding-bottom: 0;
}

.version-dropdown {
  color: $chef-primary-dark;

  ::ng-deep label {
    display: inline;
    margin-right: 15px;
    color: $chef-primary-dark;
    font-size: 15px;
  }

  chef-select {
    margin-bottom: 12px;
    width: 150px;
    font-size: 12px;
  }
}

chef-loading-spinner {
  z-index: 199;
}

.page-body {
  chef-loading-spinner {
    display: block;
    margin: 100px auto;
    width: 100px;
  }

  ul {
    margin: 0;
    list-style: none;
    padding-inline-start: 20px;
  }

  .list>li {
    margin-bottom: 5px;
  }

  .list>li>span {
    cursor: pointer;
  }

  .list>li>span:before {
    content: "+";
    padding-right: 5px;
  }

  .list>li>span.extend-list:before {
    content: "-";
    padding-right: 6px;
  }

  .sub-list {
    display: none;
  }

  .show {
    display: block;
  }

  .sub-list>li {
    margin: 5px;
    color: $chef-primary-light;
    cursor: pointer;
  }

  .sub-list>li.active-sub-list {
    color: $chef-primary-dark;
    font-weight: 900;
  }

  .details-row {
    display: flex;

    .item-column {
      flex-basis: 25%;
      height: fit-content;
      margin-right: 1em;
      padding: 1em;
      border: 1px solid $chef-light-grey;
      background-color: $chef-white;
      border-radius: $global-radius;
    }

    .item-details-column {
      flex-basis: 75%;
      height: fit-content;
      overflow: auto;
      padding: 1em 1em;
      border: 1px solid $chef-light-grey;
      background-color: $chef-white;
      border-radius: $global-radius;

      .item-heading {
        margin-bottom: 1em;
        font-weight: 900;
      }

      chef-snippet {
        ::ng-deep pre {
          background-color: $chef-lightest-grey;
        }
      }

    }
  }
}
