<div class="content-container">
    <div class="container">
      <main>
        <chef-breadcrumbs>
          <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Server</chef-breadcrumb>
          <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId]">Orgs</chef-breadcrumb>
          <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId, 'org', orgId, 'cookbooks']">Cookbooks</chef-breadcrumb>
          {{ cookbookName }}
        </chef-breadcrumbs>
        <chef-page-header>
          <chef-heading>{{ cookbookName }}</chef-heading>
          <div class="version-dropdown">
            <label>Version</label>
            <chef-select *ngIf="cookbook?.versions" (change)="onCookbookVersionChange(serverId, orgId, cookbookName, $event.target.value)">
              <chef-option *ngFor="let version of cookbook.versions" [value]="version">{{ version }}</chef-option>
            </chef-select>
          </div>
          <chef-tab-selector [value]="tabValue">
            <chef-option value='details' data-cy="content-tab">Details</chef-option>
          </chef-tab-selector>
        </chef-page-header>
        <section class="page-body">
          <chef-markdown *ngIf="readFileContent" [text]="readFileContent.content"></chef-markdown>
        </section>
      </main>
    </div>
  </div>