

:root {
  /* Fonts */
  --chef-font-family: 'Muli', Helvetica, Arial, sans-serif;
  --chef-base-font-size: 16px;

  /* ** Colors ** */
  /* Colors are defined in hex */

  /* ** NAMED COLORS ARE FOR USE IN THIS FILE ONLY ** */
  --chef-orange: #FE6100;
  --ebony-clay: #222435;
  --royal-blue: #3864F2;
  --malibu: #648FFF;
  --pink: #DC267F;
  --violet: #C22DD5;
  --indigo: #785EF0;
  --science-blue: #0075DB;
  --sirocco: #6F7878;
  --iron: #DFE3E5;
  --mystic: #E6EBEE;
  --haze: #F3F6F8;
  --white: #FFFFFF;
  --black: #000000;
  --atomic-tangerine: #FF9654;
  --blue-de-france: #3DA5FF;
  --gray: #B7BCBC;
  --blue: #174AF0;
  --lavender-blue: #BDCBFB;
  --lavender: #DEE5FD;
  --maroon: #BA1E6A;
  --lavender-pink: #F387D4;
  --piggy-pink: #F9DBEA;
  --mahogany: #B74500;
  --deep-peach: #FFCAAA;
  --antique-white: #FFE5D4;
  --dark-cerulean: #00417A;
  --medium-teal-blue: #005BAB;
  --columbia-blue: #9ED2FF;
  --glitter: #CFE8FF;


  /* ** THESE SEMANTIC COLOR VARIABLES ARE FREE TO BE USED WITHIN AUTOMATE ** */
  /* primary */
  --chef-primary: var(--chef-orange);
  --chef-primary-dark: var(--ebony-clay);
  --chef-primary-bright: var(--royal-blue);
  --chef-primary-light: var(--malibu);
  /* secondary */
  --chef-critical: var(--pink);
  --chef-warning: var(--atomic-tangerine);
  --chef-major: var(--violet);
  --chef-minor: var(--indigo);
  --chef-success: var(--science-blue);
  /* greyscale */
  --chef-dark-grey: var(--sirocco);
  --chef-grey: var(--iron);
  --chef-light-grey: var(--mystic);
  --chef-lightest-grey: var(--haze);
  --chef-white: var(--white);
  --chef-black: var(--black);
  /* charts */
  --chef-ok: var(--blue-de-france);
  --chef-unknown: var(--gray);

  /* misc */
  --chef-border-radius: 4px;
  --chef-box-shadow: 0 0 12px 0 rgba(110, 119, 119, 0.2);

  /* based on chef-primary-dark 0.4 opacity. */
  --chef-modal-bg-color: rgba(34, 36, 53, 0.4);
    /* based on chef-gray 0.65 opacity. */
  --chef-loading-bg-color: rgba(224, 228, 230, 0.65);

  /* ADDING COLORS TO BE USED IN BADGES */
  --chef-badge-primary-background: var(--lavender);
  --chef-badge-primary-border: var(--lavender-blue);
  --chef-badge-primary-color: var(--blue);

  --chef-badge-critical-background: var(--piggy-pink);
  --chef-badge-critical-border: var(--lavender-pink);
  --chef-badge-critical-color: var(--maroon);

  --chef-badge-warning-background: var(--antique-white);
  --chef-badge-warning-border: var(--deep-peach);
  --chef-badge-warning-color: var(--mahogany);

  --chef-badge-success-background: var(--glitter);
  --chef-badge-success-border: var(--columbia-blue);
  --chef-badge-success-color: var(--medium-teal-blue);
}
