

:root {
  /* Fonts */
  --chef-font-family: 'Muli', Helvetica, Arial, sans-serif;
  --chef-base-font-size: 16px;

  /* ** Colors ** */
  /* Colors are defined in hex */

  /* ** NAMED COLORS ARE FOR USE IN THIS FILE ONLY ** */
  --chef-orange: #FE6100;
  --ebony-clay: #222435;
  --royal-blue: #3864F2;
  --malibu: #648FFF;
  --pink: #DC267F;
  --violet: #C22DD5;
  --indigo: #785EF0;
  --science-blue: #0075DB;
  --sirocco: #6F7878;
  --iron: #DFE3E5;
  --mystic: #E6EBEE;
  --haze: #F3F6F8;
  --white: #FFFFFF;
  --black: #000000;
  --atomic-tangerine: #FF9654;
  --blue-de-france: #3DA5FF;
  --gray: #B7BCBC;

  /* ** THESE SEMANTIC COLOR VARIABLES ARE FREE TO BE USED WITHIN AUTOMATE ** */
  /* primary */
  --chef-primary: var(--chef-orange);
  --chef-primary-dark: var(--ebony-clay);
  --chef-primary-bright: var(--royal-blue);
  --chef-primary-light: var(--malibu);
  /* secondary */
  --chef-critical: var(--pink);
  --chef-warning: var(--atomic-tangerine);
  --chef-major: var(--violet);
  --chef-minor: var(--indigo);
  --chef-success: var(--science-blue);
  /* greyscale */
  --chef-dark-grey: var(--sirocco);
  --chef-grey: var(--iron);
  --chef-light-grey: var(--mystic);
  --chef-lightest-grey: var(--haze);
  --chef-white: var(--white);
  --chef-black: var(--black);
  /* charts */
  --chef-ok: var(--blue-de-france);
  --chef-unknown: var(--gray);

  /* misc */
  --chef-border-radius: 4px;
  --chef-box-shadow: 0 0 12px 0 var(--chef-dark-grey);
}

