

:root {
  /* Fonts */
  --chef-font-family: 'Muli', Helvetica, Arial, sans-serif;
  --chef-base-font-size: 16px;

  /* ** Colors ** */
  /* Colors are defined in hsl (hue, saturation, lightness/brightness) */

  /* ** NAMED COLORS ARE FOR USE IN THIS FILE ONLY ** */
  --chef-orange: 23, 100%, 50%;
  --ebony-clay: 234, 22%, 17%;
  --royal-blue: 226, 88%, 58%;
  --malibu: 223, 100%, 70%;
  --pink: 331, 72%, 51%;
  --violet: 293, 67%, 51%;
  --indigo: 251, 83%, 65%;
  --science-blue: 208, 100%, 43%;
  --sirocco: 180, 4%, 45%;
  --iron: 200, 10%, 89%;
  --mystic: 203, 19%, 92%;
  --haze: 204, 26%, 96%;
  --white: 0, 0%, 100%;
  --black: 0, 0%, 0%;

  /* ** THESE SEMANTIC COLOR VARIABLES ARE FREE TO BE USED WITHIN AUTOMATE ** */
  /* primary */
  --chef-primary: var(--chef-orange);
  --chef-primary-dark: var(--ebony-clay);
  --chef-primary-bright: var(--royal-blue);
  --chef-primary-light: var(--malibu);
  /* secondary */
  --chef-critical: var(--pink);
  --chef-major: var(--violet);
  --chef-minor: var(--indigo);
  --chef-success: var(--science-blue);
  /* greyscale */
  --chef-dark-grey: var(--sirocco);
  --chef-grey: var(--iron);
  --chef-light-grey: var(--mystic);
  --chef-lightest-grey: var(--haze);
  --chef-white: var(--white);
  --chef-black: var(--black);

  /* misc */
  --chef-border-radius: 4px;
  --chef-box-shadow: 0 0 12px 0 hsla(var(--chef-dark-grey), 0.2);
}

