<button
  aria-label="User Menu"
  class="dropdown-toggle"
  (click)="toggleDropdown()"
  (keydown.shift.tab)="closeDropdown()"
  (keydown.arrowdown)="handleArrowDown($event)"
  data-cy="user-profile-button"
  #focusElement>
  <chef-icon aria-hidden="true" class="dropdown-toggle-user-icon">person</chef-icon>
  <chef-icon aria-hidden="true">keyboard_arrow_down</chef-icon>
</button>

<chef-click-outside omit="dropdown-toggle" (clickOutside)="closeDropdown()">
  <chef-dropdown class="dropdown" [attr.visible]="dropdownVisible" (keydown.esc)="closeDropdown()">
    <ul class="dropdown-list">
      <li class="dropdown-list-item">
        Signed in as <strong class="dropdown-display-name">{{ displayName }}</strong>
      </li>
      <li class="dropdown-list-item" *ngIf="isLocalUser">
        <a [routerLink]="['/user-details', userName]"
          (click)="closeDropdown()"
          (keydown.arrowup)="handleArrowUp($event)"
          (keydown.arrowdown)="handleArrowDown($event)"
          class="profile"
          role="menuitem"
          #focusElement>User Preferences</a>
      </li>
      <li class="dropdown-list-item">
        <button (click)="toggleAboutModal()"
          (keydown.arrowup)="handleArrowUp($event)"
          (keydown.arrowdown)="handleArrowDown($event)"
          data-cy="welcome-modal-button"
          class="about-modal-button"
          role="menuitem" 
          #focusElement>About Chef Automate</button>
      </li>
      <li class="dropdown-list-item">
        <button data-cy="sign-out-button" class="logout"
          (click)="logout()"
          (keydown.tab)="closeDropdown()"
          (keydown.arrowup)="handleArrowUp($event)"
          (keydown.arrowdown)="handleArrowDown($event)"
          role="menuitem"
          #focusElement>
          Sign Out
        </button>
      </li>
    </ul>
  </chef-dropdown>
</chef-click-outside>

<app-welcome-modal></app-welcome-modal>

<chef-modal locked="false" label="about-modal" [visible]="aboutModalVisible" (closeModal)="toggleAboutModal()">
  <span id="about-modal" slot="">About Chef Automate</span>
  <ul>
    <li>
      <span>Version: 2</span>
    </li>
    <li>
      <span>Build: {{ buildVersion }}</span>
    </li>
    <li>
      <a href="https://automate.chef.io/release-notes/?v={{ buildVersion }}" target="_blank" rel="noopener">Release Notes <chef-icon aria-hidden="true" class="dropdown-link-icon">launch</chef-icon>
      </a>
    </li>
    <li>
      <a href="https://www.chef.io/patents" target="_blank" rel="noopener">Chef Patents <chef-icon aria-hidden="true" class="dropdown-link-icon">launch</chef-icon>
      </a>
    </li>
    <li>
      <span>Use of Chef Automate is subject to the terms of the
        <a href="https://www.chef.io/online-master-agreement/" target="_blank" rel="noopener">
          Master License and Services Agreement <chef-icon aria-hidden="true" class="dropdown-link-icon">launch</chef-icon>
        </a>
      </span>
    </li>
    <li>
      <button (click)="showWelcomeModal()">
        Welcome message
      </button>
    </li>
  </ul>
</chef-modal>
