<button class="profile profile-dropdown-toggle" (click)="toggleDropdown($event)" data-cy="user-profile-button">
  <div class="user">
    <div class="account-icon-container">
      <chef-icon id="account-icon">person</chef-icon>
    </div>
    <div class="user-name profile-dropdown-toggle">{{ displayName }}</div>
  </div>
</button>

<chef-click-outside omit="profile-dropdown-toggle" (clickOutside)="closeDropdown()">
  <ul class="logout-dropdown" *ngIf="dropdownVisible">
    <app-authorized [allOf]="['/auth/users/{username}', 'get', userName]">
      <li>
        <a [routerLink]="['/user-details', userName]" (click)="closeDropdown()">Your Profile</a>
      </li>
    </app-authorized>
    <li>
      <button (click)="showWelcomeModal()" data-cy="welcome-modal-button">About Chef Automate</button>
    </li>
    <li>
      <button class="license-link" (click)="openLicenseModal()">License Information</button>
    </li>
    <li>
      <a href="https://automate.chef.io/release-notes/?v={{ buildVersion }}" class="version-link" target="_blank">Chef Automate {{ buildVersion }}</a>
    </li>
    <li><chef-button primary (click)="logout()" data-cy="sign-out-button">Sign Out</chef-button></li>
  </ul>
</chef-click-outside>

<chef-modal label="license-info-label" [visible]="licenseModalVisible" (close)="closeLicenseModal()">
  <h2 id="license-info-label" slot="title">Chef Automate License Information</h2>
  <p>Use of Chef Automate is subject to the terms of the Master License and Services Agreement.</p>
  <p>View the current agreement here:
    <a href="https://www.chef.io/online-master-agreement/" target="_blank">https://www.chef.io/online-master-agreement/</a>
  </p>
  <chef-button primary (click)="closeLicenseModal()">Done</chef-button>
</chef-modal>
<app-welcome-modal></app-welcome-modal>

