@import "~styles/variables";
@import "~styles/mixins";

$dropdown-width: 196px;

button {
  -webkit-appearance: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  text-align: left;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, button:not(.dropdown-toggle) {
  position: relative;
  display: block;
  width: $dropdown-width;
  margin: 0 -16px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    background: #dee5fd;
  }
}

.dropdown-toggle {
  margin-left: 35px;
  padding: 10px 0;
}

.dropdown-toggle-user-icon {
  position: relative;
  top: 6px;
  margin-right: -5px;
  font-size: 30px;
  line-height: 10px;
}

.dropdown {
  top: 54px;
  right: 16px;
  width: $dropdown-width;
  border: 1px solid $chef-grey;

  &::before {
    display: block;
    position: absolute;
    top: -6px;
    right: 12px;
    width: 10px;
    height: 10px;
    background: $chef-white;
    transform: rotate(45deg);
    border-left: 1px solid $chef-grey;
    border-top: 1px solid $chef-grey;
    content: '';
  }
}

.dropdown-list-item {
  display: block;
  margin: 6px 0 0;
  padding: 0 16px 6px;
  font-size: 12px;
  line-height: 24px;

  &:not(:last-child),
  &:first-child {
    border-bottom: 1px solid $chef-grey;
  }
}

.dropdown-display-name {
  display: block;
  font-size: 16px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-link-icon {
  position: absolute;
  right: 16px;
  top: 8px;
}
