@import "../styles.scss";
@import "@carbon/grid";

#app-container {
  height: 100vh;
}

#app-header-wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;

  app-navbar {
    display: block;
    height: $navigation-height;
  }
}

#app-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100vh - 70px);
  position: relative;

  &.adjust-content-height {
    height: calc(100vh - 110px);
  }

  #app-sidebar {
    order: 1;
    position: fixed;
    height: 100%;
    top: $sidebar-top;
  }

  & > #main-content-wrapper {
    flex: 2 0px;
    order: 2;
    height: 100%;
    left: $sidebar-width;
    top: $navigation-height;
    width: calc(100% - 200px);

    @include breakpoint-down(lg) {
      width: calc(100% - 70px);
      left: 70px;
    }

    position: absolute;
  }
}

[hidden] {
  display: none !important; // sass-lint:disable-line no-important
}
