<div id="app-container">

  <!-- App Modals -->
  <app-license-lockout
    (triggerApplyLicense)="licenseApplyModal.openModal();"
    #licenseLockoutModal>
  </app-license-lockout>

  <app-license-apply
    #licenseApplyModal
    (openLicenseLockout)="licenseLockoutModal.openModal()">
  </app-license-apply>

  <app-feature-flags
    [experimentalFeatures]="experimentalFeatures"
    [betaFeatures]="betaFeatures"
    [legacyFeatures]="legacyFeatures">
  </app-feature-flags>
  
  <!-- App Header -->
  <div id="app-header-wrapper" *ngIf="renderNavbar">
    <app-license-notifications (triggerApplyLicense)="licenseApplyModal.openModal();"></app-license-notifications>
    <app-navbar></app-navbar>
  </div>

  <!-- App Content -->
  <div id="app-content-wrapper">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <!-- App Sidebar -->
    <chef-sidebar class="aside-1"></chef-sidebar>
  </div>
</div>
