#app-container {
  height: 100vh;
}

#app-header-wrapper {
  app-navbar {
    display: block;
    height: 70px;
  }
}

#app-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100vh - 70px);
  position: relative;

  &.adjust-content-height {
    height: calc(100vh - 110px);
  }

  & > #app-sidebar { order: 1; }

  & > #main-content-wrapper {
    flex: 2 0px;
    order: 2;
    height: 100%;
    overflow-x: scroll;
    position: relative;
  }
}

[hidden] {
  display: none !important; // sass-lint:disable-line no-important
}

.time-test {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  height: 340px;
  min-width: 225px;
  background: white;
  box-shadow: 0 0 1em 0 rgb(0 0 0 / 21%);
  border-top-right-radius: 10px;
  font-size: 14px;
  z-index: 999;
  transform: translateY(260px);
  transition: transform .25s;

  &.active {
    transform: translateY(0);
  }

  .show-button {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform .25s;

    &.active {
      transform: rotate(180deg);
    }
  }

  .hacky-line-break {
    margin: 4px 0;
    width: 90%;
    height: 2px;
    background: blue;
  }

  chef-select {
    width: 100%;
  }

  .button-container {
    margin-top: 16px;

    .test-get {
      padding: 8px 10px;
      width: 100%;
      outline: none;
      border-radius: 0;
      background: #8AEfA5;
      border: none;
      border-bottom: 3px solid #228850;
      cursor: pointer;
      transition: box-shadow .5s;

      &:hover {
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
      }

      &:active {
        background: #37AB40;
      }
    }
  }

}
