
<a [href]="route" *ngIf="isExternal()"
  [target]="openInNewPage ? '_blank' : '_self'">
  <ng-container *ngTemplateOutlet="sidebarEntryTemplate"></ng-container>
</a>
<a [routerLink]="route" *ngIf="!isExternal()"
  routerLinkActive="active" [routerLinkActiveOptions]="{exact: isExactPresent()}"
  [target]="openInNewPage ? '_blank' : '_self'">
  <ng-container *ngTemplateOutlet="sidebarEntryTemplate"></ng-container>
</a>

<ng-template #sidebarEntryTemplate>
  <chef-icon class="sidebar-icon" *ngIf="icon"
    [style.transform]="'rotate(' + (iconRotation ? iconRotation : 0) + 'deg)'">{{icon}}</chef-icon>
  <div *ngIf="customIcon" [attr.class]="customIcon"></div>   
  <span class="text"><ng-content></ng-content></span>
  <chef-icon *ngIf="!openInNewPage" class="arrow">play_arrow</chef-icon>
  <chef-icon *ngIf="openInNewPage" class="open-in-new sidebar-icon">launch</chef-icon>
</ng-template>
