@import '../table.component';

:host {
  padding: $size_16;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  background-color: $chef-lightest-grey;
  border-bottom: 1px solid $chef-grey;
  border-top: 1px solid $chef-grey;

  &[hidden] {
    display: none !important; // sass-lint:disable-line no-important
  }
}

:host:first-child {
  border-left: 1px solid $chef-grey;
  border-radius: $global-radius 0 0 $global-radius;
}

:host:last-child {
  border-right: 1px solid $chef-grey;
  border-radius: 0 $global-radius $global-radius 0;
}
