<chef-modal [visible]="visible" (closeModal)="closeCreateModal()" [ngClass]="[ isReset ? 'reset-modal' : 'reset-client-modal'] ">
  <div class="flex-container">
    <div *ngIf="!isReset" class="reset-div">
      <div class="left-box">
        <img class="big-icon" src="assets/img/infra-client-reset-key.svg"
          alt="client-reset-key-icon" />
      </div>

      <div class="right-box">
        <div class="left-align">
          <div class="title-text">Resetting its Key?</div>
          <div class="action-text">The current key will no longer be accepted.</div>
        </div>

        <div class="button-bar options">
          <chef-button tertiary [disabled]="resetting" (click)="closeCreateModal()">Cancel</chef-button>
          <chef-button primary id="reset-button-object-modal" [disabled]="resetting" (click)="resetKeyClient()">
            <chef-loading-spinner *ngIf="resetting"></chef-loading-spinner>
            <span *ngIf="!resetting">Reset Key</span>
            <span *ngIf="resetting">Resetting...</span>
          </chef-button>
        </div>
      </div>
    </div>

    <div class="id-margin" *ngIf="isReset">
      <h2 slot="title">Reset Client</h2>
      <div class="detail">
        <div class="icon-wrap"><i></i></div>
        <p>The key has been reset. This key is not stored by the Chef Infra <br/>server, so please make sure to copy or download it somewhere <br/>safe.</p>
      </div>
      <div class="key-tab-body">
        <chef-snippet [code]="privateKey" lang="json"></chef-snippet>
      </div>

      <div class="button-bar">
        <chef-button tertiary (click)="closeCreateModal()">Close</chef-button>
        <chef-button primary id="download-button-object-modal" (click)="downloadKey()">
          Download
        </chef-button>
      </div>
    </div>
  </div>
</chef-modal>
