<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [routerLink]="['/compliance/reports/nodes']" [queryParams]='returnParams'>Reports</chef-breadcrumb>
        {{ activeReport.node_name }}
      </chef-breadcrumbs>

      <ng-container *ngIf="activeReport && !reportLoading">
        <chef-page-header>
          <chef-heading>{{ activeReport.node_name }}</chef-heading>
          <div slot="header-buttons">
            <chef-button primary (click)="onHistoryOpenClick($event)">
              Scan History
            </chef-button>
          </div>
        </chef-page-header>

        <div class="metadata-container">
          <div class="metadata" [ngClass]="activeReport.status">
            <div class="metadata-header" (click)="metadatabody.toggle()">
              <span class="metadata-title">
                <chef-icon>{{ statusIcon(activeReport.status) }}</chef-icon>
                Scan {{ activeReport.status }} {{ activeReport.end_time | datetime: RFC2822 }}
              </span>
              <span class="metadata-toggle">
                <ng-container *ngIf="!metadatabody.opened">View more +</ng-container>
                <ng-container *ngIf="metadatabody.opened">View less -</ng-container>
              </span>
            </div>
            <chef-expander opened class="metadata-body" #metadatabody>
              <div class="metadata-group">
                <h2 class="metadata-group-heading">Report Information</h2>
                <table>
                  <tr>
                    <th>Last Scan</th>
                    <td><app-time [time]='activeReport.end_time'></app-time></td>
                  </tr>
                </table>
              </div>
              <div class="metadata-group">
                <h2 class="metadata-group-heading">Node Information</h2>
                <table>
                  <tr *ngIf="activeReport.fqdn?.length">
                    <th>FQDN</th>
                    <td>{{ activeReport.fqdn }}</td>
                  </tr>
                  <tr>
                    <th>Inspec Version</th>
                    <td>{{ activeReport.version }}</td>
                  </tr>
                  <tr *ngIf="activeReport.ipaddress?.length">
                    <th>IP Address</th>
                    <td>{{ activeReport.ipaddress }}</td>
                  </tr>
                  <tr>
                    <th>Node ID</th>
                    <td>{{ activeReport.node_id }}</td>
                  </tr>
                  <tr>
                    <th>Platform</th>
                    <td>{{ activeReport.platform.name }} {{ activeReport.platform.release }}</td>
                  </tr>
                </table>
              </div>
              <div class="metadata-group">
                <h2 class="metadata-group-heading">Metadata</h2>
                <table>
                  <tr *ngIf="activeReport.chef_organization?.length">
                    <th>Chef Organization</th>
                    <td>{{ activeReport.chef_organization }}</td>
                  </tr>
                  <tr *ngIf="activeReport.roles?.length">
                    <th>Chef Roles</th>
                    <td>
                      <ng-container *ngIf="activeReport.roles.length === 1">{{ activeReport.roles[0] }}</ng-container>
                      <ng-container *ngIf="activeReport.roles.length > 1">{{ activeReport.roles.length | number }} roles</ng-container>
                    </td>
                  </tr>
                  <tr *ngIf="activeReport.chef_server?.length">
                    <th>Chef Infra Server</th>
                    <td>{{ activeReport.chef_server }}</td>
                  </tr>
                  <tr *ngIf="activeReport.chef_tags?.length">
                    <th>Chef Tags</th>
                    <td>
                      <ng-container *ngIf="activeReport.chef_tags.length === 1">{{ activeReport.chef_tags[0] }}</ng-container>
                      <ng-container *ngIf="activeReport.chef_tags.length > 1">{{ activeReport.chef_tags.length | number }} tags</ng-container>
                    </td>
                  </tr>
                  <tr>
                    <th>Environment</th>
                    <td>{{ activeReport.environment }}</td>
                  </tr>
                  <tr *ngIf="activeReport.profiles?.length">
                    <th>Profiles</th>
                    <td>
                      {{ activeReport.profiles.length | number }} profiles
                      <ng-container *ngIf="profilesByStatus(activeReport.profiles, 'skipped'); let skipped">
                        <span id="skipped-count" *ngIf="skipped.length > 0">
                          ({{ skipped.length | number }} Skipped <chef-icon>info</chef-icon>)
                          <chef-tooltip id="skip-tooltip" for="skipped-count">
                            <p>Skipped profile<span *ngIf="skipped.length > 1">s</span>:</p>
                            <ul>
                              <li *ngFor="let profile of skipped"><strong>{{ profile.name }}</strong> <span *ngIf="profile.status_message != ''">({{ profile.status_message }})</span></li>
                            </ul>
                          </chef-tooltip>
                        </span>
                      </ng-container>
                      <ng-container *ngIf="profilesByStatus(activeReport.profiles, 'failed'); let failed">
                        <span id="failed-count" *ngIf="failed.length > 0">
                          ({{ failed.length | number }} Failed <chef-icon>info</chef-icon>)
                          <chef-tooltip id="fail-tooltip" for="failed-count">
                            <p>Failed profile<span *ngIf="failed.length > 1">s</span>:</p>
                            <ul>
                              <li *ngFor="let profile of failed"><strong>{{ profile.name }}</strong> <span *ngIf="profile.status_message != ''">({{ profile.status_message }})</span></li>
                            </ul>
                          </chef-tooltip>
                        </span>
                      </ng-container>
                    </td>
                  </tr>
                  <tr *ngIf="activeReport.projects?.length">
                    <th>Projects</th>
                    <td>
                      <ng-container *ngIf="activeReport.projects.length === 1">{{ activeReport.projects[0] }}</ng-container>
                      <ng-container *ngIf="activeReport.projects.length > 1">{{ activeReport.projects.length | number }} tags</ng-container>
                    </td>
                  </tr>
                </table>
              </div>
            </chef-expander>
          </div>
        </div>

        <chef-phat-radio
          class="nodes-list-status-filters"
          [value]="activeStatusFilter"
          (change)="onFilterControlStatusClick($event, $event.target.value)">
          <chef-option class="filter all" value='all'>
            <span class="filter-label">Total Controls</span>
            <span class="filter-total">
              <chef-icon class="filter-icon">storage</chef-icon> {{activeReport.controls.total | number}}
            </span>
          </chef-option>
          <chef-option class="filter failed" value='failed'>
            <span class="filter-label">Failed Controls</span>
            <span class="filter-total">
              <chef-icon class="filter-icon">report_problem</chef-icon> {{activeReport.controls.failed.total | number}}
            </span>
          </chef-option>
          <chef-option class="filter passed" value='passed'>
            <span class="filter-label">Passed Controls</span>
            <span class="filter-total">
              <chef-icon class="filter-icon">check_circle</chef-icon> {{activeReport.controls.passed.total | number}}
            </span>
          </chef-option>
          <chef-option class="filter skipped" value='skipped'>
            <span class="filter-label">Skipped Controls</span>
            <span class="filter-total">
              <chef-icon class="filter-icon">help</chef-icon> {{activeReport.controls.skipped.total | number}}
            </span>
          </chef-option>
          <chef-option class="filter waived" value='waived'>
            <span class="filter-label">Waived Controls</span>
            <span class="filter-total">
              <div class="filter-icon waived-icon"></div> {{activeReport.controls.waived.total | number}}
            </span>
          </chef-option>
        </chef-phat-radio>

        <div class="metadata-container err-container" *ngIf="activeReport.status == 'failed' && activeReport.status_message.length">
          <div class="metadata failed err-failed-container">
            <span class="metadata-title err-color">
              <chef-icon id="err-icon-id">{{ statusIcon('failed') }}</chef-icon>
              <b class="err-bold">Execution Error:</b> {{activeReport.status_message}}
            </span>
          </div>
        </div>

        <chef-table class="controls-table" *ngIf="activeReport.controls.total > 0">
          <chef-thead>
            <chef-tr>
              <chef-th>Control</chef-th>
              <chef-th>Severity</chef-th>
              <chef-th>Root Profile</chef-th>
              <chef-th>Test Results</chef-th>
              <chef-th></chef-th>
            </chef-tr>
          </chef-thead>
          <chef-tbody>
            <ng-container *ngFor="let profile of filteredProfiles(activeReport.profiles, activeStatusFilter)">
              <ng-container *ngFor="let control of filteredControls(profile.controls, activeStatusFilter)">
                <chef-tr>
                  <chef-td >
                    <chef-icon *ngIf="control.status !== 'waived'" class="status-icon" [ngClass]="control.status">
                      {{ statusIcon(control.status) }}
                    </chef-icon>
                    <div *ngIf="control.status === 'waived'" class="status-icon waived-icon"></div>
                    <span><strong>{{ control.id }}:</strong> {{ control.title }}</span>
                  </chef-td>
                  <chef-td class="impact-status " [ngClass]="impactStatus(control)">
                    {{ impactStatus(control) | uppercase }} ({{ control.impact | number: '1.1' }})
                  </chef-td>
                  <chef-td >{{profile.name}}</chef-td>
                  <chef-td >{{control.results.length | number}}</chef-td>
                  <chef-td >
                    <chef-button secondary (click)="toggleControl(control)">
                      <chef-icon *ngIf="!isOpenControl(control)">add</chef-icon>
                      <chef-icon *ngIf="isOpenControl(control)">remove</chef-icon>
                    </chef-button>
                  </chef-td>
                </chef-tr>
                <div class="control-detail" *ngIf="isOpenControl(control)">
                  <p *ngIf="control.desc.length">{{ control.desc }}</p>
                  <chef-toggle
                    [value]="openControls[control.id]?.pane"
                    (change)="showControlPane(control, $event.target.value)">
                    <chef-option value='results'>Results</chef-option>
                    <chef-option value='source'>Source</chef-option>
                  </chef-toggle>
                  <ng-container [ngSwitch]="openControlPane(control)">
                    <div *ngSwitchCase="'results'">
                      <div *ngIf="control.status === 'waived'">
                        <p>This control was waived.</p>
                        <dl class="waiver-details">
                          <dt>Expires:</dt>
                          <dd>{{ control.waiver_data.expiration_date | datetime: RFC2822 }}</dd>
                          <dt>Reason:</dt>
                          <dd>{{ control.waiver_data.justification }}</dd>
                        </dl>
                      </div>
                      <!-- show results of control even if waived -->
                      <div class="result-item" *ngFor="let result of control.results">
                        <div class="result-item-header">
                          <chef-icon class="status-icon" [ngClass]="result.status">{{ statusIcon(result.status) }}</chef-icon>
                          <p>{{ result.code_desc }}</p>
                        </div>
                        <div class="result-item-body" *ngIf="result.message.length || result.skip_message.length">
                          <chef-snippet [code]="result.message + result.skip_message"></chef-snippet>
                        </div>
                      </div>
                      <!-- display message when there are no results -->
                      <div class="result-item" *ngIf="control.results.length === 0">
                        <div class="result-item-header">
                          <p>No tests were executed</p>
                        </div>
                      </div>
                    </div>
                    <chef-snippet
                      class="source"
                      *ngSwitchCase="'source'"
                      [code]="control.code"
                      lang="ruby">
                    </chef-snippet>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </chef-tbody>
        </chef-table>

        <chef-scroll-top></chef-scroll-top>
      </ng-container>

      <chef-side-panel class="reporting-profile-side-panel" [visible]="showScanHistory">
        <div class="side-panel-header">
          <chef-icon class="header-icon">restore</chef-icon>
          <div class="header-text">
            <h2 class="display4"><strong>Scan history for node:</strong></h2>
            <p>{{ activeReport?.node_name }}</p>
          </div>
          <div class="download-report">
            <chef-button class="dropdown-toggle" secondary (click)="toggleDownloadDropdown()" >
              <chef-icon>cloud_download</chef-icon>
            </chef-button>
            <chef-dropdown class="dropdown" [visible]="downloadOptsVisible">
              <chef-click-outside omit="dropdown-toggle">
                <chef-button tertiary (click)="onDownloadNodeReport('json')">JSON</chef-button>
                <chef-button tertiary (click)="onDownloadNodeReport('csv')">CSV</chef-button>
              </chef-click-outside>
            </chef-dropdown>
          </div>
          <chef-button secondary (click)="onHistoryCloseClick($event)">
            <chef-icon>close</chef-icon>
          </chef-button>
        </div>
        <div class="side-panel-body">
          <div class="side-panel-body-header">
            <p>Tap on a scan to view results on that date</p>
          </div>
          <ul class="results-profile-list">
            <li
              *ngFor="let report of filteredReports(reports, activeReportStatus)"
              class="results-profile-list-item"
              [class.selected]="isReportSelected(report)">
              <div class="list-item-summary">
                <chef-icon class="status-icon list-item-icon" [ngClass]="report.status">{{ statusIcon(report.status) }}</chef-icon>
                <div class="list-item-text">
                  <p class="node-name">
                    <strong><app-time [time]='report.end_time'></app-time></strong>
                  </p>
                  <p>{{formatDaysAgo(report.end_time)}}</p>
                </div>
                <chef-button secondary (click)="onReportItemClick($event, report)">
                  <chef-icon>chevron_right</chef-icon>
                </chef-button>
              </div>
            </li>
          </ul>
          <div class="side-panel-footer">
            <app-page-picker
              [perPage]="pageSize"
              [total]="totalReports"
              [page]="page"
              (pageChanged)="onPageChanged($event)">
            </app-page-picker>
          </div>
        </div>
      </chef-side-panel>
      <chef-modal
      id="download-modal"
      title="download-title"
      [visible]="downloadStatusVisible"
      (closeModal)="hideDownloadStatus()">
        <ng-container *ngIf="downloadInProgress">
          <h2 id="download-report" class="display4" slot="title">Downloading report...</h2>
        </ng-container>
        <ng-container *ngIf="downloadFailed">
          <h2 id="download-failed" class="display4" slot="title">Download failed.</h2>
        </ng-container>
      <chef-loading-spinner *ngIf="downloadInProgress" size="50"></chef-loading-spinner>
    </chef-modal>
      <chef-loading-spinner *ngIf="reportLoading" size="100"></chef-loading-spinner>
    </main>
  </div>
</div>
