<div class="content-container">
  <div class="container">
    <main>
      <chef-page-header>
        <chef-heading>Reports</chef-heading>
        <chef-subheading>Compliance reports describe the status of scanned infrastructure. Filtering by a profile, or a profile and one associated control, will enable deep filtering, which will also reflect on the status of the node.</chef-subheading>
      </chef-page-header>

      <div class="reporting-header">
        <app-reporting-searchbar
          [date]="endDate$ | async"
          [filters]="filters$ | async"
          [last24h]="(reportQuery.state | async).last24h"
          [filterTypes]="availableFilterTypes"
          [filterValues]="availableFilterValues"
          (suggestValues)="onSuggestValues($event)"
          (filtersCleared)="onFiltersClear($event)"
          (filterRemoved)="onFilterRemoved($event)"
          (filterAdded)="onFilterAdded($event)"
          (dateChanged)="onEndDateChanged($event)"
          (last24Selected)="onLast24Selected()">
        </app-reporting-searchbar>
        <div class="download-report">
          <chef-button class="dropdown-toggle" secondary (click)="toggleDownloadDropdown()">
            <chef-icon>cloud_download</chef-icon>
          </chef-button>
          <chef-dropdown class="dropdown" [visible]="downloadOptsVisible">
            <chef-click-outside (clickOutside)="hideDownloadDropdown()" omit="dropdown-toggle">
              <chef-button tertiary (click)="onDownloadOptPressed('json')">Download JSON</chef-button>
              <chef-button tertiary (click)="onDownloadOptPressed('csv')">Download CSV</chef-button>
            </chef-click-outside>
          </chef-dropdown>
        </div>
        <div class="copy-dropdown">
          <chef-button class="dropdown-toggle" secondary (click)="toggleShareDropdown()">
            <chef-icon>share</chef-icon>
          </chef-button>
          <chef-dropdown class="dropdown" [visible]="shareOptsVisible">
            <chef-click-outside (clickOutside)="hideShareDropdown()" omit="dropdown-toggle">
              <p>Copy this private URL to share:</p>
              <div class="copy-input">
                <input type="text" aria-label="URL" [value]="shareUrl" readonly />
                <chef-clipboard [value]="shareUrl"></chef-clipboard>
              </div>
            </chef-click-outside>
          </chef-dropdown>
        </div>
      </div>

      <!--Reporting Summary-->
      <div class="reporting-summary">
        <div
          *ngIf="reportData.reportingSummaryEmpty"
          class="empty-summary">
          <p>
            There are no compliance scans to display report metadata. Learn how to start your first <a href="https://docs.chef.io/automate/data_collection" target="_blank">compliance scan</a>.
          </p>
        </div>
        <div
          *ngIf="!reportData.reportingSummaryEmpty && !!reportData.reportingSummary"
          class="summary"
          [ngClass]="reportData.reportingSummary.status">
          <div class="summary-toggle" (click)="toggleSummary()">
            <p>
              <chef-icon>{{ getIcon(reportData.reportingSummary.status) }}</chef-icon>
              <span>Your System is {{ formatSummaryPhrase(reportData.reportingSummary.status) }}</span>
            </p>
            <p>
              <span>Report Metadata</span>
              <chef-icon *ngIf="!showSummary">add</chef-icon>
              <chef-icon *ngIf="showSummary">remove</chef-icon>
            </p>
          </div>
          <div class="summary-body" *ngIf="showSummary">
            <table>
              <tr>
                <th>
                  Nodes
                </th>
                <td>{{ reportData.reportingSummary.stats.nodes | number }}</td>
              </tr>
              <tr>
                <th id="report-date-label">
                  Report Date
                  <chef-tooltip for="report-date-label">Latest information available for everything at this date.</chef-tooltip>
                </th>
                <td>
                  <app-time [time]="(endDate$ | async)"></app-time>
                </td>
              </tr>
              <tr>
                <th>
                  Status
                </th>
                <td>{{ reportData.reportingSummary.status | titlecase }}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th>
                  Platform
                </th>
                <td>
                  {{ reportData.reportingSummary.stats.platforms | number }}
                  {{ reportData.reportingSummary.stats.platforms | i18nPlural: {'=1': 'Platform', 'other': 'Platforms'} }}
                </td>
              </tr>
              <tr>
                <th>
                  Environment
                </th>
                <td>
                  {{ reportData.reportingSummary.stats.environments | number }}
                  {{ reportData.reportingSummary.stats.environments | i18nPlural: {'=1': 'Environment', 'other': 'Environments'} }}
                </td>
              </tr>
              <tr>
                <th>
                  Profiles
                </th>
                <td>
                  {{ reportData.reportingSummary.stats.profiles | number }}
                  {{ reportData.reportingSummary.stats.profiles | i18nPlural: {'=1': 'Profile', 'other': 'Profiles'} }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!--Tabs (Overview, Nodes, Profiles)-->
      <ul class="nav-tabs-list">
        <li class="nav-tabs-item">
          <a class="nav-tab" routerLink="/compliance/reports/overview" routerLinkActive="active" queryParamsHandling="preserve">Overview</a>
        </li>
        <li class="nav-tabs-item">
          <a class="nav-tab" routerLink="/compliance/reports/nodes" routerLinkActive="active" queryParamsHandling="preserve">
            {{reportData.reportingSummary?.stats.nodes | number }} Nodes
          </a>
        </li>
        <li class="nav-tabs-item">
          <a class="nav-tab" routerLink="/compliance/reports/profiles" routerLinkActive="active" queryParamsHandling="preserve">
            {{reportData.reportingSummary?.stats.profiles | number }} Profiles
          </a>
        </li>
        <li class="nav-tabs-item">
          <a class="nav-tab" routerLink="/compliance/reports/controls" routerLinkActive="active" queryParamsHandling="preserve">
            {{reportData.reportingSummary?.stats.controls | number }} Controls
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>

      <chef-modal
        id="download-modal"
        title="download-title"
        [visible]="downloadStatusVisible"
        (closeModal)="hideDownloadStatus()">
        <ng-container *ngIf="downloadInProgress">
          <h2 id="download-report" class="display4" slot="title">Downloading report...</h2>
        </ng-container>
        <ng-container *ngIf="downloadFailed">
          <h2 id="download-failed" class="display4" slot="title">Download failed.</h2>
        </ng-container>
        <chef-loading-spinner *ngIf="downloadInProgress" size="50"></chef-loading-spinner>
      </chef-modal>
    </main>
  </div>
</div>
