<div class="content-container">
  <div class="container">
    <main>
        <chef-page-header>
          <chef-heading>Teams</chef-heading>
          <chef-subheading>Chef Automate only displays local teams.</chef-subheading>
        </chef-page-header>

      <app-create-object-modal
        [visible]="createModalVisible"
        [creating]="creatingTeam"
        [conflictErrorEvent]="conflictErrorEvent"
        objectNoun="team"
        [createForm]="createTeamForm"
        [assignableProjects]="dropdownProjects"
        (close)="closeCreateModal()"
        (createClicked)="createTeam()">
      </app-create-object-modal>

      <app-delete-object-modal
        [visible]="deleteModalVisible"
        objectNoun="team"
        [objectName]="teamToDelete?.name"
        (close)="closeDeleteModal()"
        (deleteClicked)="deleteTeam()"
        objectAction="Delete">
      </app-delete-object-modal>

      <div class="page-body">
        <ng-container *ngIf="(sortedTeams$ | async)?.length > 0">
          <section>
            <chef-toolbar>
              <app-authorized [allOf]="['/iam/v2/teams', 'post']">
                <chef-button primary (click)="openCreateModal()" data-cy="team-create-button">Create Team</chef-button>
              </app-authorized>
            </chef-toolbar>
            <div id="table-container">
              <chef-table-new>
                <chef-table-header>
                  <chef-table-row>
                    <chef-table-header-cell class="id-column">Name</chef-table-header-cell>
                    <chef-table-header-cell class="name-column">ID</chef-table-header-cell>
                    <chef-table-header-cell class="projects-column">Projects</chef-table-header-cell>
                    <chef-table-header-cell class="three-dot-column"></chef-table-header-cell>
                  </chef-table-row>
                </chef-table-header>
                <chef-table-body>
                  <chef-table-row *ngFor="let team of sortedTeams$ | async">
                    <chef-table-cell class="id-column">
                      <a [routerLink]="['/settings/teams', team.id]">{{ team.name }}</a>
                    </chef-table-cell>
                    <chef-table-cell class="name-column">{{ team.id }}</chef-table-cell>
                    <chef-table-cell class="projects-column">
                      <ng-container *ngIf="team.projects.length === 0">{{ unassigned }}</ng-container>
                      <ng-container *ngIf="team.projects.length === 1">{{ team.projects[0] }}</ng-container>
                      <ng-container *ngIf="team.projects.length > 1">{{ team.projects.length }} projects</ng-container>
                    </chef-table-cell>
                    <chef-table-cell class="three-dot-column">
                      <!-- TODO: Need to account for v1 / v2 in the app-authorized path -->
                      <!-- <app-authorized [allOf]="['/iam/v2/teams/{id}', 'delete', team.id]"> -->
                      <mat-select panelClass="chef-control-menu">
                        <mat-option (onSelectionChange)="startTeamDelete($event, team)">Delete Team</mat-option>
                      </mat-select>
                      <!-- <app-authorized -->
                    </chef-table-cell>
                  </chef-table-row>
                </chef-table-body>
              </chef-table-new>
            </div>
          </section>
        </ng-container>
        <ng-container *ngIf="(sortedTeams$ | async)?.length === 0">
            <app-authorized [allOf]="['/iam/v2/teams', 'post']">
              <div class="empty-case-container">
                <p>Create the first team to get started!</p>
              </div>
              <div class="empty-case-container">
                  <chef-button primary (click)="openCreateModal()">Create Team</chef-button>
              </div>
            </app-authorized>
            <app-authorized not [allOf]="['/iam/v2/teams', 'post']">
              <div class="empty-case-container">
                <p>It looks like no one has created any teams yet and you<br/>
                  don't have permission to create them.<br/><br/>
                  If this is a mistake, then reach out to your administrator.
                </p>
              </div>
            </app-authorized>
        </ng-container>
      </div>
    </main>
  </div>
</div>
