@import "~styles/variables";
@import '../infra_shared/slide-panel';

.sidenav-header {
  .back-button {
    margin-left: 0;
  }
}

.sidenav-body {

  .id-margin {
    height: 75vh;

    span .text {
      font-weight: normal;
      font-size: 16px;
    }
  }
}

chef-form-field {
  label {
    .Keylabel {
      font-weight: bold;
      font-size: 14px;
    }

    textarea {
      height: 24vh;
      margin-top: 10px;
    }

  }
}

.button-bar {
  display: flex;
  justify-content: flex-end;
}
