<aside role="complementary" class="sidebar">
  <div role="region" class="sidebar-selector" aria-label="Filter Buttons">
    <ng-content select=".select-items"></ng-content>
  </div>
  <nav role="navigation" class="sidebar-nav">
    <div class="nav-items">
      <span *ngFor="let menuGroup of menuGroups$ | async">
        <div
          *ngIf="isGroupVisible(menuGroup)"
          class="menu-item-groups"
        >
          <div class="group">{{ menuGroup.name }}</div>
          <span *ngFor="let menuItem of menuGroup.items">
            <span *ngIf="menuItem.visible && !menuItem.authorized">
              <chef-sidebar-entry
                [route]="menuItem.route"
                [icon]="menuItem.icon"
                [openInNewPage]="menuItem.openInNewPage"
              >{{ menuItem.name }}</chef-sidebar-entry>
            </span>
            <span *ngIf="menuItem.visible && menuItem.authorized && menuItem.authorized.anyOf">
              <app-authorized
                [menuItem.authorized.name]
                [anyOf]="menuItem.authorized.anyOf"
              >
                <chef-sidebar-entry
                  [route]="menuItem.route"
                  [icon]="menuItem.icon"
                  [openInNewPage]="menuItem.openInNewPage"
                >{{ menuItem.name }}</chef-sidebar-entry>
              </app-authorized>
            </span>
            <span *ngIf="menuItem.visible && menuItem.authorized && menuItem.authorized.allOf">
                <app-authorized
                  [menuItem.authorized.name]
                  [allOf]="menuItem.authorized.allOf"
                >
                  <chef-sidebar-entry
                    [route]="menuItem.route"
                    [icon]="menuItem.icon"
                    [openInNewPage]="menuItem.openInNewPage"
                  >{{ menuItem.name }}</chef-sidebar-entry>
                </app-authorized>
              </span>
          </span>
        </div>
      </span>
    </div>

    <ng-content select=".nav-items"></ng-content>
  </nav>
</aside>
