<aside role="complementary" class="sidebar">
  <div role="region" class="sidebar-selector" aria-label="Filter Buttons">
    <ng-content select=".select-items"></ng-content>
  </div>
  <nav role="navigation" class="sidebar-nav">
    <div class="nav-items">
      <span *ngFor="let menuGroup of menuGroups$ | async">
        <div
          *ngIf="(menuGroup.visible | async) || hasAuthroizedMenuItems(menuGroup)"
          class="menu-item-groups"
        >
          <div class="group">{{ menuGroup.name }}</div>
          <span *ngFor="let menuItem of menuGroup.items">
            <span *ngIf="!menuItem.authorized && (menuItem.visible | async)">
              <chef-sidebar-entry
                [route]="menuItem.route"
                [icon]="menuItem.icon"
                [openInNewPage]="menuItem.openInNewPage"
              >{{ menuItem.name }}</chef-sidebar-entry>
            </span>
            <span *ngIf="menuItem.authorized && (menuItem.visible | async)">
                <app-authorized
                  [anyOf]="menuItem.authorized.anyOf"
                  [allOf]="menuItem.authorized.allOf"
                  (isAuthorized)="isAuthorized($event, menuItem)"
                >
                  <chef-sidebar-entry
                    [route]="menuItem.route"
                    [icon]="menuItem.icon"
                    [openInNewPage]="menuItem.openInNewPage"
                  >{{ menuItem.name }}</chef-sidebar-entry>
                </app-authorized>
              </span>
          </span>
        </div>
      </span>
    </div>

    <ng-content select=".nav-items"></ng-content>
  </nav>
</aside>
