<table mat-table [dataSource]="dataSource">
  <div *ngFor="let column of displayedColumns; first as isFirst;">
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'vertical-separator': options.verticalSeparator}">
        <p *ngIf="column !== 'name'">
          {{options.capitalisedHeader ? (column | titlecase) : column}}
        </p>
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'vertical-separator': options.verticalSeparator}">
        <div *ngIf="isFirst">
          <div class="value-cell">
            <div [class]="'child-step-'+(element.depth)"></div>
            <mat-icon [ngStyle]="{'visibility': element.children.length ? 'visible' : 'hidden'}" (click)="onNodeClick(element, $event)">
              {{element.isExpanded ? 'remove' : 'add'}}
            </mat-icon>
            <div [ngClass]="{'hasChildren': element.children.length}">{{element.value[column]}}</div>
          </div>
        </div>
        <div *ngIf="!isFirst">
          {{element.value[column]}}
        </div>
      </td>
    </ng-container>
  </div>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'highlight-on-hover': options.highlightRowOnHover}" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
