@import "~styles/variables";

table {
  width: 100%;
}

.value-cell {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: pointer;
}

.highlight-on-hover:hover {
  background-color: $chef-light-grey-3;
}

.skipped {
  color: $chef-gray-skipped;

  img {
    filter: opacity(0.5);
  }
}

tr.mat-row {
  height: 19px;
}

.error {
  background-color: $chef-pink-error;
}

td.mat-cell:first-of-type {
  padding-left: 16px;
}

td.mat-cell:last-of-type {
  padding-right: 0px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

td div {
  word-break: break-all;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-style: none;
}

.mat-icon {
  display: inline-block;
  background-repeat: no-repeat;
  fill: currentColor;
  height: 24px;
  width: 24px;
  font-size: 15px;
  margin-top: 8px;
  font-weight: 600;
}

.hasChildren {
  font-weight: 600;
}

th.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  color: $chef-primary-dark;
}

.error-icon {
  color: #DC267F;
  width: 16px;
  height: 16px;
}

.mat-elevation-z5 {
  box-shadow: none;
}

.value-cell {
  .child-step-1 {
    padding-left: 15px;
  }

  .child-step-2 {
    padding-left: 30px;
  }

  .child-step-3 {
    padding-left: 45px;
  }

  .child-step-4 {
    padding-left: 60px;
  }

  .child-step-5 {
    padding-left: 75px;
  }

  .child-step-6 {
    padding-left: 90px;
  }

  .child-step-7 {
    padding-left: 105px;
  }
}

img {
  margin-right: 9px;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 143px;
  background-color: black;
  color: $chef-white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
