@import "~styles/variables";

chef-page {

  chef-modal {
    #{--modal-width}: 777px;

    h2 {
      text-align: center;
    }

    #modal-content-container {
      margin: 1.5em auto 0;
      width: 40%;
      min-width: 300px;

      chef-form-field {
        padding-bottom: 1em;

        select {
          width: 100%;
        }

        .label {
          font-size: 14px;
          font-weight: 600;
          padding-bottom: 0;
        }

        .select {
          width: 340px;
          max-width: 340px;
        }
      }

      .note {
        font-size: 11px;
      }

      #expression-output {
        display: inline;
      }

      #buttons-container {
        text-align: center;
      }

    }
  }

  /* Custom dropdown */
  .custom-dropdown {
    position: relative;
    vertical-align: middle;

    & select {
      margin: 0;
      background-color: $chef-white;
      color: $chef-primary-dark;
      font-size: inherit;
      padding: 12px;
      padding-right: 16px;
      height: 45px;
      border-radius: 4px;
      border: solid 1px $chef-grey;
      text-indent: 0.01px;
      text-overflow: '';
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.2px;
      outline: none;
      /* Hiding the select arrow for firefox */
      -moz-appearance: none;
      /* Hiding the select arrow for chrome */
      -webkit-appearance: none;
      /* Hiding the select arrow default implementation */
      appearance: none;
    }

    & select [disabled] {
      color: $chef-dark-grey;
      border: solid 1px $chef-grey;
      background-color: $chef-grey;
    }

    & select:focus {
      border: solid 1px $chef-primary-bright;
    }

    /* Hiding the select arrow for IE10 */

    & select::-ms-expand {
      display: none;
    }
  }

  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .custom-dropdown::after {
    /* Custom dropdown arrow */
    content: "⌄";
    height: 1em;
    font-size: 18px;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
    color: $chef-primary-dark;
  }

  #no-members-container {
    position: relative;
    top: 70px;
    text-align: center;
  }

  #table-container {

    #members-selected {
      font-size: 12px;
      color: $chef-dark-grey;
      margin-bottom: 5px;
    }

    #inner-container {
      chef-table {
        chef-tbody {
          height: calc(100vh - 350px);
          overflow-y: scroll;
        }

        .checkbox-row {
          max-width: 50px;
        }
      }
    }
  }
}
