@import "~styles/variables";

chef-page {

  small {
    color: $chef-dark-grey;
    font-size: 14px;

    &.help {
      font-size: 12px;
    }
  }

  form {
    height: calc(100vh - 350px);
    overflow-y: scroll;
  }

  chef-input {
    height: 45px;
    width: 100%;
  }

  #create-name,
  #create-id,
  #create-type,
  #create-type-dropdown {
    width: 340px;
    max-width: 340px;
  }

  #create-name {
    padding-top: 9px;
  }

  #create-id,
  #create-id-static {
    padding-top: 26px;
  }

  #create-type {
    padding-top: 20px;
  }

  #condition-section {
    margin: 1rem 0;
    padding-top: 7px;

    small {
      display: block;
      font-size: 12px;
    }

    chef-button {
      margin-left: 0;
    }
  }

  .label, .key-label {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 0;
  }

  .key-label {
    display: inline-block;
  }

  .key-value {
    font-size: 14px;
  }

  .condition-item {
    margin-bottom: 20px;
  }

  chef-form-field {
    label {
      padding-bottom: 0;
    }

    &.attribute-field {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 27%;

      .label {
        color: $chef-dark-grey;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 200;
      }

      chef-select,
      chef-input {
        min-width: 0;
        width: 95%;
      }
    }
  }

  .end-row-items {
    display: inline-block;
    margin-top: 21px; // match labels in other columns
    height: 45px; // match "values" input height
    vertical-align: middle;
    width: 18%;

    span {
      display: inline-block;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 200;
    }

    chef-button {
      margin-top: 2px;
      float: right;

      chef-icon {
        color: $chef-primary-dark;
        font-size: 1.2rem;
      }
    }
  }

}
