<section class="cookbooks">
  <chef-loading-spinner *ngIf="cookbooksListLoading" size="50"></chef-loading-spinner>
  <chef-toolbar *ngIf="authFailure">
      <div class="empty-state">
        <p>Unable to show cookbooks because admin key is invalid.</p>
      </div>
      <div class="empty-state">
        <chef-button primary (click)="ResetKeyTabRedirection()">Reset Admin Key</chef-button>
      </div>
  </chef-toolbar>
  <ng-container  *ngIf="!cookbooksListLoading && !authFailure">
    <chef-table>
      <chef-thead>
        <chef-tr>
          <chef-th>Cookbook Name</chef-th>
          <chef-th>Cookbook Version</chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let cookbook of cookbooks">
          <chef-td>
            <a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'cookbooks', cookbook.name]">{{ cookbook.name }}</a>
          </chef-td>
          <chef-td>{{ cookbook.version }}</chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</section>
