<section class="cookbooks">
  <chef-loading-spinner *ngIf="cookbooksListLoading" size="50"></chef-loading-spinner>
  <ng-container  *ngIf="!cookbooksListLoading">
    <chef-table>
      <chef-thead>
        <chef-tr>
          <chef-th>Cookbook Name</chef-th>
          <chef-th>Cookbook Version</chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let cookbook of cookbooks">
          <chef-td>
            <a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'cookbooks', cookbook.name]">{{ cookbook.name }}</a>
          </chef-td>
          <chef-td>{{ cookbook.version }}</chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</section>
