<div class="project-card card">
  <div class="card-content">
    <header>
      <h2 class="card-title">
        <a ui-sref="main.enterprise.organizations.organization.project({ org: org.name, project: project.name })">{{ project.name }}</a>
      </h2>
      <button class="button square secondary edit-project" icon-button="pencil" ng-click="toggleEditForm()" title="Edit Project"></button>
      <div class="scm-type" ng-if="project.scm.type !== 'local'">
        <div bs-tooltip data-delay="200" data-placement="top" data-title="{{ scmTypeToolTipText() }}">
          <a ng-if="project.scm.url" class="scm-link" href="{{ project.scm.url }}" target="_blank">
            <i class="fa fa-{{scmIcon()}} scm-icon" aria-hidden="true"></i>
          </a>
          <i ng-if="!project.scm.url" class="fa fa-{{scmIcon()}} scm-icon" aria-hidden="true"></i>
        </div>
      </div>
    </header>
  </div>
  <form class="edit-project-form" ng-if="showEditForm" name="editProjectForm">
    <fieldset>
      <legend>Source Code Provider</legend>
      <div class="field">
        <div
           class="button-bar"
           ng-model="editProject.scm.type"
           cd-scm-configs="scmProviders"
           cd-scm-types="project.scm.type"
           name="projectScmType"
           ng-model-options="{allowInvalid: true}"
           >
          <a
             ng-repeat="provider in scmProviders track by provider.type"
             class="button secondary small"
             ng-class="{'active': editProjectForm.projectScmType.isActive(provider.type)}"
             ng-click="editProjectForm.projectScmType.toggle(provider.type)">
            {{ provider.name }}
          </a>
        </div>
      </div>
      <div class="providers">
        <!-- this is where the error message is -->
        <div ng-switch on="editProjectForm.projectScmType.$invalid">
          <div ng-switch-when="true" class="project-scm-instructions field">
            <div ng-show="editProjectForm.projectScmType.$error.supportedTransition">
              <p>{{ editProjectForm.projectScmType.messages.supportedTransition(project.scm.type, editProject.scm.type) }}</p>
            </div>
            <div ng-show="editProjectForm.projectScmType.$error.scmConfigured">
              <p>{{ editProjectForm.projectScmType.messages.scmConfigured(editProject.scm.type) }} <a ui-sref="main.admin.scm_setup">SCM Setup</a>.</p>
            </div>
          </div>
          <div ng-switch-default>
            <div ng-switch on="editProject.scm.type">
              <div ng-switch-when="github">
                <fieldset>
                  <div class="field">
                    <input type="text" ng-model="editProject.scm.repoOwner" placeholder="GitHub Owner/Organization">
                  </div>
                </fieldset>
                <fieldset>
                  <div class="field">
                    <input type="text" ng-model="editProject.scm.repoName" placeholder="GitHub Repository Name">
                  </div>
                </fieldset>
              </div>
              <div ng-switch-when="bitbucket">
                <fieldset>
                  <div class="field">
                    <input type="text" ng-model="editProject.scm.projectKey" placeholder="Bitbucket Project Key">
                  </div>
                </fieldset>
                <fieldset>
                  <div class="field">
                    <input type="text" ng-model="editProject.scm.repoName" placeholder="Bitbucket Repository Name">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="slack-webhook-form">
        <div class="heading">
          <legend>Slack Notifications</legend>
        </div>
        <div class="webhook-name field" ng-class="{'invalid':editProjectForm.webhookName.$invalid}">
          <span class="little-title">Slack Integration Name</span>
          <span class="checkbox-list">
            <label ng-disabled="!webhook.url" class="small">
              <input type="checkbox" ng-model="webhook.enabled" ng-init="webhook.enabled=true" ng-disabled="!webhook.url">
              Enabled
            </label>
          </span>
          <input name="webhookName" type="text" placeholder="My Slack Team" ng-model="webhook.name" ng-required="webhook.url">
          <span ng-if="editProjectForm.webhookName.$error.required" class="field-message">
            Please provide a name for the webhook.
          </span>
        </div>
        <div class="webhook-url">
          <div class="field">
            <div class="little-title">Slack Webhook URL</div>
            <input name="webhookUrl" type="text" placeholder="https://hooks.slack.com/services/T00000000" ng-model="webhook.url">
          </div>
          <div class="webhook-test">
            <button type="button" class="button small tertiary" ng-click="testWebhook(webhook)" ng-disabled="!webhook.url">Send Test</button>
            <span class="result" ng-switch="testResult">
              <span class="success" ng-switch-when="success">
                <span icon="checkmark"></span>
                <span class="message">It worked!</span>
              </span>
              <span class="error" ng-switch-when="error-any">
                <span icon="x"></span>
                <span class="message">Slack didn't respond with this URL. Please doublecheck it and try again.</span>
              </span>
              <span class="error" ng-switch-when="error-504">
                <span icon="x"></span>
                <span class="message">Slack doesn't appear to be reachable from the Chef Automate server.</span>
              </span>
            </span>
          </div>
        </div>
        <div class="field">
          <a class="webhook-link" href="https://my.slack.com/services/new/incoming-webhook" target="_blank">Get a Slack Webhook</a>
          <button class="button square secondary destroy"
                  icon-button="trash"
                  ng-click="openModal()"
                  title="Remove Slack Integration"
                  ng-if="initialWebhook.url"></button>
        </div>
      </div>
    </fieldset>
    <div class="form-controls">
      <button type="submit" class="button primary" ng-click="saveAndClose(webhook)" ng-disabled="editProjectForm.$invalid">Save &amp; Close</button>
      <button type="button" class="button secondary" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
