<div class="content-container">
  <div class="container">
    <main>
      <chef-loading-spinner *ngIf="loading$ | async" size='50' fixed></chef-loading-spinner>
      <app-delete-object-modal
        [visible]="deleteModalVisible"
        objectNoun="role"
        [objectName]="roleToDelete?.name"
        (close)="closeDeleteModal()"
        (deleteClicked)="deleteRole()"
        objectAction="Delete">
      </app-delete-object-modal>
      <chef-page-header>
        <chef-heading>Roles</chef-heading>
        <chef-subheading>
          Roles are named groups of actions used to define policies.
        </chef-subheading>
      </chef-page-header>
      <section class="page-body">
        <app-authorized [allOf]="['/iam/v2/roles', 'get']">
          <chef-table-new>
            <chef-table-header>
              <chef-table-row>
                <chef-table-header-cell>Name</chef-table-header-cell>
                <chef-table-header-cell></chef-table-header-cell>
                <chef-table-header-cell>Type</chef-table-header-cell>
                <chef-table-header-cell class="three-dot-column"></chef-table-header-cell>
              </chef-table-row>
            </chef-table-header>
            <chef-table-body>
              <chef-table-row *ngFor="let role of sortedRoles$ | async">
                  <chef-table-cell>
                    <a [routerLink]="['/settings/roles', role.id]">{{ role.name }}</a>
                  </chef-table-cell>
                  <chef-table-cell></chef-table-cell>
                  <chef-table-cell>{{ role.type | iamType }}</chef-table-cell>
                  <chef-table-cell class="three-dot-column">
                    <!-- <app-authorized [allOf]="[`/iam/v2/roles/{id}`, 'delete', role.id]"> -->
                    <mat-select panelClass="chef-control-menu" *ngIf="(role.type | iamType).toLowerCase() === 'custom'">
                      <mat-option data-cy="delete" (onSelectionChange)="startRoleDelete($event, role)">Delete Role</mat-option>
                    </mat-select>
                    <!-- </app-authorized> -->
                  </chef-table-cell>
              </chef-table-row>
            </chef-table-body>
          </chef-table-new>
        </app-authorized>
      </section>
    </main>
  </div>
</div>
