<div class="content-container">
  <div class="header">
    <div class="heading">
      <h2 class="heading-title">Daily Check-in</h2>
      <h6 class="heading-time">Updated {{ lastUpdatedMessage }}</h6>
    </div>
    <app-chart-progress-bar size="large" [value]="unknownCount" [max]="totalCount"></app-chart-progress-bar>
  </div>
  <chef-phat-radio>
    <chef-option value='unknown' tabindex="0">
      <div class="title">Unknown</div>
      <div class="total">{{ unknownCount }}</div>
    </chef-option>
    <chef-option value='checked-in' tabindex="0">
      <div class="title">Checked-in</div>
      <div class="total">{{ checkedInCount }}</div>
    </chef-option>
    <chef-option value='total' tabindex="0">
      <div class="title">Total</div>
      <div class="total">{{ totalCount }}</div>
    </chef-option>
  </chef-phat-radio>
</div>
