<div class="content-container">
  <div class="container">
    <main>
      Daily Check-in
      <div>
        <div>
          <div class="title">Unknown %</div>
          <div class="total">{{ unknownPercentage }}%</div>
        </div>
        <div>
          <div class="title">Checked-in %</div>
          <div class="total">{{ checkedInPercentage }}%</div>
        </div>
        <div>
          <div class="title">Checked-in Count</div>
          <div class="total">{{ checkedInCount }}</div>
        </div>
        <div>
          <div class="title">Unknown Count</div>
          <div class="total">{{ unknownCount }}</div>
        </div>
        <div>
          <div class="title">Total Count</div>
          <div class="total">{{ totalCount }}</div>
        </div>
      </div>
    </main>
  </div>
</div>
