@import "~styles/variables";
@import "@carbon/layout/scss/layout";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

app-chart-progress-bar {
  margin: $spacing-07 0 $spacing-09 0;
}

chef-phat-radio {
  display: flex;

  @include carbon--breakpoint-down(md) {
    flex-direction: column;

    chef-option {
      margin: 0 0 $spacing-03 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  chef-option {
    flex: 1;
    display: flex;
    height: auto;
    width: auto;
    box-shadow: none;
    border: 1px solid $chef-grey;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .total {
      font-size: 32px;
      font-weight: bold;

      &::after {
        content: 'Desktop';
        padding-left: 4px;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}
