<chef-loading-spinner *ngIf="(serviceGroupStatus$ | async) == 'loading'" size='50' fixed></chef-loading-spinner>
<chef-page-header>
  <chef-heading>Service Groups</chef-heading>
  <chef-subheading>Group of Habitat services running the same package and configuration.</chef-subheading>
</chef-page-header>
<div class="page-body">
  <chef-status-filter-group [value]="selectedStatus$ | async">
    <chef-option class="filter general" value="total" (click)="statusFilter('total')" selected>
      <chef-icon class="filter-icon">group_work</chef-icon>
      <div class="filter-label">Total</div>
      <div class="filter-total">{{ sgHealthSummary["total"] }}</div>
    </chef-option>
    <chef-option class="filter critical" value='critical' (click)="statusFilter('critical')">
      <chef-icon class="filter-icon">warning</chef-icon>
      <div class="filter-label">Critical</div>
      <div class="filter-total">{{ sgHealthSummary["critical"] }}</div>
    </chef-option>
    <chef-option class="filter warning" value='warning' (click)="statusFilter('warning')">
      <chef-icon class="filter-icon">error</chef-icon>
      <div class="filter-label">Warning</div>
      <div class="filter-total">{{ sgHealthSummary["warning"] }}</div>
    </chef-option>
    <chef-option class="filter success" value='ok' (click)="statusFilter('ok')">
      <chef-icon class="filter-icon">check_circle</chef-icon>
      <div class="filter-label">OK</div>
      <div class="filter-total">{{ sgHealthSummary["ok"] }}</div>
    </chef-option>
    <chef-option class="filter unknown" value='unknown' (click)="statusFilter('unknown')">
      <chef-icon class="filter-icon">help</chef-icon>
      <div class="filter-label">Unknown</div>
      <div class="filter-total">{{ sgHealthSummary["unknown"] }}</div>
    </chef-option>
  </chef-status-filter-group>
  <chef-table class="service-group-list" *ngIf="(serviceGroupStatus$ | async) == 'loadingSuccess'">
    <chef-thead>
        <chef-tr>
          <chef-th class="health sort" (click)="onToggleSort('percent_ok')">
            Health<i class="sort-icon {{sortIcon('percent_ok')}}"></i>
          </chef-th>
          <chef-th class="services">
            Services
          </chef-th>
          <chef-th class="name sort" (click)="onToggleSort('name')">
            Name <i class="sort-icon {{sortIcon('name')}}"></i>
          </chef-th>
          <chef-th class="release">
            Release
          </chef-th>
        </chef-tr>
    </chef-thead>

    <chef-tbody>
      <chef-tr
        tabindex="0"
        class="{{serviceGroup.status}} sg-row"
        [ngClass]="{'selected': (selectedServiceGroupId === serviceGroup.id)}"
        (click)="onServiceGroupClick(serviceGroup.id)"
        *ngFor="let serviceGroup of serviceGroups$ | async">
        <chef-td class="{{serviceGroup.status}} health">
          <chef-icon class="{{serviceGroup.status}}">{{ serviceGroup.status | serviceStatusIcon }}</chef-icon>
          <chef-pill class="{{serviceGroup.status}}">
            <div class="skinny-pill">{{ serviceGroup.health_percentage }}%</div>
          </chef-pill>
        </chef-td>
        <chef-td class="services">
          {{ serviceGroup.services_health_counts.ok }} of {{ serviceGroup.services_health_counts.total }} OK
        </chef-td>
        <chef-td class="name">
          {{ serviceGroup.name }}
        </chef-td>
        <chef-td class="release">
          {{ serviceGroup.release }}
        </chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>
  <app-page-picker
    [total]="totalServiceGroups"
    [perPage]="pageSize"
    [page]="currentPage"
    (pageChanged)="onPageChange($event)">
  </app-page-picker>
  <div class="empty-status" *ngIf="(serviceGroups$ | async)?.length === 0">
    <div class="status-statement">
      <h3>No service groups available</h3>
      <p>Use habitat to run your services and view the group health status here.</p>
      <chef-button primary>Learn More</chef-button>
    </div>
  </div>
</div>
<app-services-sidebar
  [serviceGroupId]="selectedServiceGroupId"
  class="services-sidebar-container">
</app-services-sidebar>
