<chef-modal [visible]="visible" (closeModal)="closeCreateModal()">
  <div class="text-right">
    <h2 slot="title">Create Environment</h2>
  </div>
  <div class="flex-container">
    <div class="main pages-body">
      <app-infra-tab-change class="tabs-row" (tabChange)="tabChange($event)">
        <app-infra-tab tabTitle="Details" [active]="detailsTab" [disabled]="false">
          <form [formGroup]="detailsFormGroup">
            <div class="input-margin">
              <chef-form-field>
                <label>
                  <span class="label">Name <span aria-hidden="true">*</span></span>
                  <input
                    chefInput
                    firstFocus
                    formControlName="name"
                    type="text"
                    id="name-input"
                    (keyup)="handleInput($event)"
                    autocomplete="off"/>
                </label>
                <chef-error
                  *ngIf="detailsFormGroup.get('name').hasError('required') && detailsFormGroup.get('name').dirty">
                  Name is required.
                </chef-error>
                <chef-error *ngIf="conflictError">
                  Environment "{{detailsFormGroup.get('name').value}}" already exists.
                </chef-error>
                <chef-error
                  *ngIf="detailsFormGroup.get('name').hasError('pattern') && detailsFormGroup.get('name').dirty">
                  Name can only contain 'a-z', '0-9', 'A-Z', '_', '-'.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="input-margin">
              <chef-form-field>
                <label class="description-scroll">
                  <span class="label">Description <span aria-hidden="true">*</span></span>
                  <textarea
                    chefInput
                    name="description"
                    id="description"
                    formControlName="description"
                    autofocus>
                  </textarea>
                </label>
                <chef-error
                  *ngIf="(detailsFormGroup.get('description').hasError('required') || detailsFormGroup.get('description').hasError('pattern')) && detailsFormGroup.get('description').dirty">
                  Description is required.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="button-bar-box">
              <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()">Cancel1</chef-button>
              <chef-button
                [disabled]="!detailsFormGroup?.valid || conflictError || defaultAttrParseError || overrideAttrParseError || creating"
                primary
                id="create-button-object-modal"
                (click)="createEnvironment()">
                <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
                <span *ngIf="!creating">Create</span>
                <span *ngIf="creating">Creating...</span>
              </chef-button>
            </div>
          </form>
        </app-infra-tab>
        <app-infra-tab tabTitle="Constraints" [active]="constraintsTab" [disabled]="!detailsFormGroup?.valid">
          <div *ngIf="showConstraint">
            <app-infra-environment-constraint
              [constraintKeys]="constraintKeys"
              (constraintValues)="constraintItemsHandler($event)"
              [cookbookConstraints]="cookbookConstraints"
              [name_id]="name_id"
              [nameKeys]="nameKeys"
              [constraintFormGroup]="constraintFormGroup"
              [selectedCookbookNames]="selectedCookbookNames">
            </app-infra-environment-constraint>
          </div>
          <div class="button-bar-box">
            <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()">Cancel</chef-button>
            <chef-button
              [disabled]="!constraints.length || conflictError || cookbookVersionError || defaultAttrParseError || overrideAttrParseError || creating" 
              primary
              id="create-button-object-modal-1"
              (click)="createEnvironment()">
              <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
              <span *ngIf="!creating">Create</span>
              <span *ngIf="creating">Creating...</span>
            </chef-button>
          </div>
        </app-infra-tab>
        <app-infra-tab tabTitle="Default Attributes" [active]="defaultTab" [disabled]="!detailsFormGroup?.valid">
          <form [formGroup]="defaultAttrFormGroup">
            <chef-form-field>
              <textarea
                chefInput
                name="default"
                id="default"
                formControlName="default"
                (keyup)="onChangeDefaultJson($event)">
              </textarea>
              <chef-error *ngIf="defaultAttrParseError">
                Must be a valid JSON object
              </chef-error>
            </chef-form-field>
            <div class="button-bar-box">
              <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()">Cancel</chef-button>
              <chef-button
                [disabled]="!defaultAttrFormGroup?.valid || conflictError || defaultAttrParseError || overrideAttrParseError || creating"
                primary
                id="create-button-object-modal-2"
                (click)="createEnvironment()">
                <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
                <span *ngIf="!creating">Create</span>
                <span *ngIf="creating">Creating...</span>
              </chef-button>
            </div>
          </form>
        </app-infra-tab>
        <app-infra-tab tabTitle="Override Attributes" [active]="overrideTab" [disabled]="!detailsFormGroup?.valid">
          <form [formGroup]="overrideAttrFormGroup">
            <ng-template matStepLabel>Override Attributes</ng-template>
            <chef-form-field>
              <textarea
                chefInput
                name="override"
                id="override"
                formControlName="override"
                autofocus
                (keyup)="onChangeOverrideJson($event)">
              </textarea>
              <chef-error *ngIf="overrideAttrParseError">
                Must be a valid JSON object
              </chef-error>
            </chef-form-field>
            <div class="button-bar-box">
              <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()">Cancel</chef-button>
              <chef-button
                [disabled]="!overrideAttrFormGroup?.valid || conflictError || overrideAttrParseError || defaultAttrParseError || creating" 
                primary 
                id="create-button-object-modal-3"
                (click)="createEnvironment()">
                <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
                <span *ngIf="!creating">Create</span>
                <span *ngIf="creating">Creating...</span>
              </chef-button>
            </div>
          </form>
        </app-infra-tab>
      </app-infra-tab-change>
    </div>
  </div>
</chef-modal>
