<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <main>
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/settings/tokens']">API Tokens</chef-breadcrumb>
      {{ token?.name }}
    </chef-breadcrumbs>
    <chef-page-header>
      <chef-heading>{{ token?.name }}</chef-heading>
      <table>
        <thead>
          <tr class="detail-row">
            <th class="header-column">ID</th>
            <th class="header-column">Date Created</th>
            <th class="header-column">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="detail-row">
            <td class="header-column">{{ token?.id }}</td>
            <td class="header-column">{{ token?.created_at | datetime:'ddd, MMMM D, YYYY [at] H:mm a' }}</td>
            <td class="header-column">{{ status | capitalize }}</td>
          </tr>
        </tbody>
      </table>
        <chef-tab-selector [value]="tabValue">
          <chef-option value='details'>Details</chef-option>
        </chef-tab-selector>
      </chef-page-header>
    <section class="page-body">
      <form [formGroup]="updateForm">
        <chef-form-field>
          <label>Name *</label>
          <input chefInput formControlName="name" type="text">
          <chef-error *ngIf="(nameCtrl.hasError('required') || nameCtrl.hasError('pattern')) && nameCtrl.dirty">
            Name is required.<!-- drop period? -->
          </chef-error>
        </chef-form-field>
        <chef-form-field>
          <label>Status *</label>
          <chef-phat-radio ngDefaultControl formControlName="status">
            <chef-option value="active">Active</chef-option>
            <chef-option value="inactive">Inactive</chef-option>
          </chef-phat-radio>
        </chef-form-field>
      </form>
      <div id="save">
      <chef-button primary [disabled]="!updateForm.valid || !updateForm.dirty || saveInProgress" (click)="saveChange()">
        <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
        <span *ngIf="saveInProgress">Saving...</span>
        <span *ngIf="!saveInProgress">Save</span>
      </chef-button>
      <span id="saved-note" *ngIf="!firstLoad && !updateForm.dirty">All changes saved.</span>
      </div>
    </section>
  </main>
</div>
