@import "~styles/variables";

chef-page-header {
  padding-bottom: 0;
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }
}

chef-tab-selector {
  chef-option {
    margin-right: 16px;
    color: $chef-primary-dark;
  }
}

form {

  #update-name {
    width: 240px;
  }

  input {
    font-size: 1em;
    width: 240px;
  }

  input[type="text"]:disabled {
    opacity: 0.5;
    background-color: $chef-grey;
    border: none;
  }

  #changes-not-allowed {
    font-size: 12px;
  }

  #button-bar {
    margin-top: 15px;

    span#saved-note {
      display: inline-block;
      margin-top: 5px;
      font-size: 12px;
    }

    chef-button {
      margin-top: 0;
      margin-left: 0;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }
}

chef-table-new {
  .controls {
    text-align: right;
  }
}

.empty-case-container {
  margin-top: 42px;
  //display: flex;
  justify-content: center;
  //flex-direction: column;
  text-align: center;

  .empty-case-entry {
    margin-top: 18px;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
  }
}
