<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <main>
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/settings/projects']">Projects</chef-breadcrumb>
      {{ project?.name }}
    </chef-breadcrumbs>
    <chef-page-header>
      <chef-heading>{{ project?.name }}</chef-heading>
      <table>
        <thead>
          <tr class="detail-row">
            <th class="id-column">ID</th>
          </tr>
        </thead>
        <tbody>
          <tr class="detail-row">
            <td class="id-column">{{ project?.id }}</td>
          </tr>
        </tbody>
      </table>
      <chef-tab-selector [value]="tabValue" (change)="onSelectedTab($event)">
        <chef-option value='rules'>Ingest Rules</chef-option>
        <chef-option value='details'>Details</chef-option>
      </chef-tab-selector>
    </chef-page-header>
    <section class="page-body" *ngIf="tabValue === 'details'">
      <form [formGroup]="projectForm">
        <chef-form-field id="update-name">
          <label>
            <span class="label">Name <span aria-hidden="true">*</span></span>
            <input chefInput formControlName="name" type="text"
              [attr.disabled]="(isChefManaged || isLoading) ? true : null"
              (keyup)="keyPressed()">
          </label>
          <chef-error
            *ngIf="(projectForm.get('name').hasError('required') || projectForm.get('name').hasError('pattern')) && projectForm.get('name').dirty">
            Name is required.
          </chef-error>
        </chef-form-field>
        <span [hidden]="!isChefManaged" id="changes-not-allowed">
          Name changes are not allowed for the default project.
        </span>
        <div id="button-bar" *ngIf="!isChefManaged">
          <chef-button [disabled]="isLoading || !projectForm.valid || projectForm.controls['name'].value === project?.name"
            primary inline (click)="saveProject()">
            <chef-loading-spinner *ngIf="saving"></chef-loading-spinner>
            <span *ngIf="saving">Saving...</span>
            <span *ngIf="!saving">Save</span>
          </chef-button>
          <span *ngIf="saveSuccessful" id="save-note">All changes saved.</span>
        </div>
      </form>
    </section>
    <section class="page-body" *ngIf="tabValue === 'rules'">
      <ng-container *ngIf="showRulesTable()">
        <chef-toolbar>
          <app-authorized [allOf]="['/iam/v2beta/projects', 'post']">
            <chef-button [routerLink]="['/settings', 'projects', project?.id, 'rules']" id="create-button" primary>Create Rule</chef-button>
          </app-authorized>
          <small *ngIf="showProjectLink()">Edits pending, update <a [routerLink]="['/settings/projects']">projects</a> to apply edits.</small>
        </chef-toolbar>
        <app-authorized [allOf]="['/iam/v2beta/projects', 'get']">
          <chef-table id="project-rules-table">
            <chef-thead>
              <chef-tr>
                <chef-th>Name</chef-th>
                <chef-th>ID</chef-th>
                <chef-th>Resource Type</chef-th>
                <chef-th>Conditions</chef-th>
                <chef-th>Edits</chef-th>
                <chef-th class="controls"></chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody>
              <chef-tr *ngFor="let rule of rules">
                <chef-td>
                  <a [routerLink]="['/settings', 'projects', project?.id, 'rules', rule.id]">{{ rule.name }}</a>
                </chef-td>
                <chef-td>{{ rule.id }}</chef-td>
                <chef-td>{{ rule.type | titlecase }}</chef-td>
                <chef-td>{{ rule.conditions.length | pluralize : 'condition' : 'conditions' }}</chef-td>
                <chef-td>{{ getEditStatus(rule) }}</chef-td>
                <chef-td class="controls">
                  <app-authorized [allOf]="['/iam/v2beta/projects/{id}', 'delete', project?.id]">
                    <chef-control-menu>
                      <chef-option *ngIf="showDeleteRule()" class="delete-rule" (click)="startRuleDelete(rule)">Delete Rule</chef-option>
                    </chef-control-menu>
                  </app-authorized>
                </chef-td>
              </chef-tr>
            </chef-tbody>
          </chef-table>
        </app-authorized>
      </ng-container>
      <ng-container *ngIf="showFirstRuleMessage()">
        <app-authorized [allOf]="['/iam/v2beta/projects', 'post']">
          <div class="empty-case-container">
            <p>Create the first ingest rule to get started!</p>
          </div>
          <div class="empty-case-container">
              <chef-button primary [routerLink]="['/settings', 'projects', project?.id, 'rules']">Create Rule</chef-button>
          </div>
        </app-authorized>
      </ng-container>
    </section>

    <app-delete-object-modal
      [visible]="deleteModalVisible"
      objectNoun="rule"
      [objectName]="ruleToDelete?.name"
      (close)="closeDeleteModal()"
      (deleteClicked)="deleteRule()">
    </app-delete-object-modal>

  </main>
</div>
