<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <main>
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/settings/projects']">Projects</chef-breadcrumb>
      {{ project?.name }}
    </chef-breadcrumbs>
    <chef-page-header>
      <chef-heading>{{ project?.name }}</chef-heading>
      <table>
        <thead>
          <tr class="detail-row">
            <th class="id-column">ID</th>
            <th class="type-column">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr class="detail-row">
            <td class="id-column">{{ project?.id }}</td>
            <td class="type-column">{{ project?.type | iamType }}</td>
          </tr>
        </tbody>
      </table>
      <chef-tab-selector>
        <chef-option value='details'>Details</chef-option>
      </chef-tab-selector>
    </chef-page-header>
    <section class="page-body">
      <form [formGroup]="projectForm">
        <chef-form-field>
          <label>
            <span class="label">Name
              <span aria-hidden="true">*</span>
            </span>
            <input chefInput formControlName="name" type="text"
              [attr.disabled]="(isChefManaged || isLoading) ? true : null"
              (keyup)="keyPressed()">
          </label>
        </chef-form-field>
        <span *ngIf="isChefManaged" id="changes-not-allowed">
          Name changes are not allowed for the default project.
        </span>
        <div id="button-bar" *ngIf="!isChefManaged">
          <chef-button [disabled]="isLoading || !projectForm.valid || projectForm.controls['name'].value === project?.name"
            primary inline (click)="saveProject()">
            <chef-loading-spinner *ngIf="saving"></chef-loading-spinner>
            <span *ngIf="saving">Saving...</span>
            <span *ngIf="!saving">Save</span>
          </chef-button>
          <span *ngIf="saveSuccessful" id="save-note">All changes saved.</span>
        </div>
      </form>
    </section>
  </main>
</div>
