<div class="content-container">
    <div class="container">
      <main>
          <chef-page-header>
            <chef-heading>Policies</chef-heading>
            <chef-subheading>
              Policies manage the resources and actions used by identities.
            </chef-subheading>
          </chef-page-header>
          <section class="page-body">
            <app-authorized [allOf]="['/apis/iam/v2/policies', 'get']">
              <chef-table>
                <chef-thead>
                  <chef-tr>
                    <chef-th class="name-column">Name</chef-th>
                    <chef-th class="id-column">ID</chef-th>
                    <chef-th class="type-column">Type</chef-th>
                    <chef-th class="status-column">Status</chef-th>
                    <chef-th class="three-dot-column"></chef-th>
                  </chef-tr>
                </chef-thead>
                <chef-tbody>
                  <chef-tr *ngFor="let policy of sortedPolicies$ | async">
                      <chef-td class="name-column">
                        <a [routerLink]="['/settings/policies', policy.id]">{{ policy.name }}</a>
                      </chef-td>
                      <chef-td class="id-column">{{ policy.id }}</chef-td>
                      <chef-td class="type-column">{{ policy.type | iamType }}</chef-td>
                      <chef-td class="status-column">{{ status(policy) | capitalize }}</chef-td>
                      <chef-td class="three-dot-column">
                      <!-- <app-authorized [allOf]="[`/apis/iam/v2/policies/{id}`, 'delete', policy.id]"> -->
                        <mat-select panelClass="chef-control-menu" *ngIf="policy.type !== 'CHEF_MANAGED'">
                          <mat-option (onSelectionChange)="startPolicyDelete($event, policy)">Delete Policy</mat-option>
                        </mat-select>
                      <!-- </app-authorized> -->
                      </chef-td>
                  </chef-tr>
                </chef-tbody>
              </chef-table>
            </app-authorized>
          </section>

          <app-delete-object-modal
            [visible]="deleteModalVisible"
            objectNoun="policy"
            [objectName]="policyToDelete?.id"
            [moreDetails]="inUseMessage()"
            (close)="closeDeleteModal()"
            (deleteClicked)="deletePolicy()"
            objectAction="Delete">
          </app-delete-object-modal>
        </main>
  </div>
</div>
