<div class="content-container">
    <div class="container">
      <main>
          <chef-page-header>
            <chef-heading>Policies</chef-heading>
            <chef-subheading>
              Policies manage the resources and actions used by identities.
            </chef-subheading>
          </chef-page-header>
          <section class="page-body">
            <app-authorized [allOf]="['/iam/v2/policies', 'get']">
              <chef-table-new>
                <chef-table-header>
                  <chef-table-row>
                    <chef-table-header-cell class="name-column">Name</chef-table-header-cell>
                    <chef-table-header-cell class="type-column">Type</chef-table-header-cell>
                    <chef-table-header-cell class="status-column">Status</chef-table-header-cell>
                    <chef-table-header-cell class="three-dot-column"></chef-table-header-cell>
                  </chef-table-row>
                </chef-table-header>
                <chef-table-body>
                  <chef-table-row *ngFor="let policy of sortedPolicies$ | async">
                      <chef-table-cell class="name-column">
                        <a [routerLink]="['/settings/policies', policy.id]">{{ policy.name }}</a>
                      </chef-table-cell>
                      <chef-table-cell class="type-column">{{ policy.type | iamType }}</chef-table-cell>
                      <chef-table-cell class="status-column">{{ status(policy) | capitalize }}</chef-table-cell>
                      <chef-table-cell class="three-dot-column">
                      <!-- <app-authorized [allOf]="[`/iam/v2/policies/{id}`, 'delete', policy.id]"> -->
                        <mat-select panelClass="chef-control-menu" *ngIf="policy.type !== 'CHEF_MANAGED'">
                          <mat-option (onSelectionChange)="startPolicyDelete($event, policy)">Delete Policy</mat-option>
                        </mat-select>
                      <!-- </app-authorized> -->
                      </chef-table-cell>
                  </chef-table-row>
                </chef-table-body>
              </chef-table-new>
            </app-authorized>
          </section>

          <app-delete-object-modal
            [visible]="deleteModalVisible"
            objectNoun="policy"
            [objectName]="policyToDelete?.id"
            [moreDetails]="inUseMessage()"
            (close)="closeDeleteModal()"
            (deleteClicked)="deletePolicy()"
            objectAction="Delete">
          </app-delete-object-modal>
        </main>
  </div>
</div>
