@import "~styles/variables";

chef-snippet ::ng-deep pre {
  background-color: $chef-grey;
  border-radius: 4px;
  font-size: 9pt;
  margin-top: 3px;
}

chef-page-header {
  padding-bottom: 0;
}

chef-tab-selector {
  chef-option {
    margin-right: 16px;
    color: $chef-primary-dark;
  }
}

chef-table-new {
  .three-dot-entry {
    text-align: right;
  }
}

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}
