**/binstubs
.DS_Store
.tmp
.ssh
.secrets
**/results
!results/.gitkeep
.studio/personal
**/src
!src/
package-lock.json
inspec.lock
.terraform/
.vscode
*.swp
backups
**/vendor
*.aib
manifest.json
automate_cluster_ctl.log
