<div class="login-wrapper local" id="reset-password">
  <div class="login-container local">
    <div class="login-form-container normal">
      <form class="login-form" *ngIf="!success">
        <h3>Create a new Chef Automate password.</h3>
        <div class="message error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="inputs" *ngIf="canTryAgain">
          <div class="form-group"
            [class.valid]="newPasswordValue()">
            <span class="icon icon-lock"></span>
            <input
              class="form-control"
              type="password"
              name="password1"
              placeholder="New Password"
              [(ngModel)]="password"
              required>
          </div>
          <div class="form-group"
            [class.error]="invalidConfirmationPassword()"
            [class.valid]="newConfirmationPasswordValue()">
            <span class="icon icon-lock"></span>
            <input
              type="password"
              placeholder="Confirm New Password"
              name="password2"
              [(ngModel)]="passwordConfirmation"
              required>
          </div>
        </div>
        <div class="form-group additionals"></div>
        <button
          class="button"
          type="submit"
          [disabled]="!validPassword() || !canTryAgain"
          (click)="submit()"
          >
          Set New Password
        </button>
      </form>
    </div>
  </div>
</div>
