@import "/../../stylesheets/mixins/_colors.scss";

#reset-password {
  .login-container {
    height: 450px;
  }

  .error-message, .success-message {
    text-align: center;
    color: $redlight;
  }

  .button {
    width: 100%;
    font-weight: normal;
    letter-spacing: normal;

    &[disabled] {
      background-color: $gray-light;
      color: $white;
    }
  }

  h3 {
    margin-bottom: 50px;
    font-weight: normal;
  }
}
