<div id="services-panel" class="services-panel">
  <chef-page-header>
    <chef-heading>
      <chef-icon>grain</chef-icon>
      Services in
      <span *ngIf="serviceGroupId">{{ serviceGroupName$ | async }}</span>
      <span *ngIf="!serviceGroupId">Group</span>
    </chef-heading>
    <chef-subheading>Services run by each Habitat Supervisor on a node.</chef-subheading>
  </chef-page-header>
  <div class="services-panel-body" *ngIf="serviceGroupId">
    <div class="status-filter-bar">
      <chef-status-filter-group [value]="selectedHealth" lean>
        <chef-option class="filter general" value="total" (click)="updateHealthFilter('total')" selected>
          <chef-icon class="filter-icon">group_work</chef-icon>
          <div class="filter-label">Total</div>
          <div class="filter-total">{{ servicesHealthSummary.total }}</div>
        </chef-option>
        <chef-option class="filter critical" value='critical' (click)="updateHealthFilter('critical')">
          <chef-icon class="filter-icon">warning</chef-icon>
          <div class="filter-label">Critical</div>
          <div class="filter-total">{{ servicesHealthSummary.critical }}</div>
        </chef-option>
        <chef-option class="filter warning" value='warning' (click)="updateHealthFilter('warning')">
          <chef-icon class="filter-icon">error</chef-icon>
          <div class="filter-label">Warning</div>
          <div class="filter-total">{{ servicesHealthSummary.warning }}</div>
        </chef-option>
        <chef-option class="filter success" value='ok' (click)="updateHealthFilter('ok')">
          <chef-icon class="filter-icon">check_circle</chef-icon>
          <div class="filter-label">OK</div>
          <div class="filter-total">{{ servicesHealthSummary.ok }}</div>
        </chef-option>
        <chef-option class="filter unknown" value='unknown' (click)="updateHealthFilter('unknown')">
          <chef-icon class="filter-icon">help</chef-icon>
          <div class="filter-label">Unknown</div>
          <div class="filter-total">{{ servicesHealthSummary.unknown }}</div>
        </chef-option>
      </chef-status-filter-group>
    </div>
    <ul>
      <li class="service-item" *ngFor="let service of services$ | async">
        <div class="header">
          <div class ="fqdn-line"><chef-icon>storage</chef-icon> {{ service.fqdn || "- -"}}</div>
          <div class ="supervisor-line"><b>Supervisor:</b> {{ service.supervisor_id }}</div>
          <div class ="site-line"><b>Site:</b> {{ service.site  || "- -"}}</div>
        </div>
        <div class="body">
          <div class ="release-line"><chef-icon>grain</chef-icon>{{ service.release }}</div>
          <div class ="channel-line">
            <chef-badge general *ngIf="service.channel !== ''">{{ service.channel | uppercase }}</chef-badge>
            <chef-badge no-data *ngIf="service.channel === ''">NO CHANNEL</chef-badge>
          </div>
          <div class ="health-line">
            <chef-icon class="{{ service.health_check }}">{{ service.health_check | serviceStatusIcon }}</chef-icon>
            {{ healthCheckStatus(service) }}
          </div>
        </div>
      </li>
    </ul>
    <div class="no-services" *ngIf="(services$ | async)?.length === 0">
      No available services with <b>{{ selectedHealth }}</b> status
    </div>
    <app-page-picker
      [total]="totalServices"
      [perPage]="pageSize"
      [page]="currentPage"
      (pageChanged)="updatePageNumber($event)">
    </app-page-picker>
  </div>
  <div class="services-panel-body no-services" *ngIf="!serviceGroupId">
    Add service groups to see more service details
  </div>
</div>
