@import "~styles/variables";
@import "~styles/mixins";

:host {
  display: block;
  position: fixed;
  width: 450px;
  top: 70px;
  right: 0;
  bottom: 0;
  background: $chef-white;
  border-left: 1px solid $chef-grey;
  overflow: auto;
}

ul {
  margin-top: 5px;
}

app-page-picker {
  padding-left: 35px;
  padding-bottom: 35px;
}

chef-alert {
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
}

.service-item {
  @include modal-box();
  display: block;
  box-shadow: none;
  background-color: #F2F5F7;
  margin-bottom: 1em;
  margin-right: 35px;
  margin-left: -5px;
  padding: 0em;
  position: relative;
  transition: all .2s;
  border-radius: 4px;

  .body {
    display: block;
    background-color: #FFFFFF;
    padding: 1em;
    position: relative;
    width: 100%;
    font-size: .8em;
    border-radius: 4px;
  }

  .header {
    display: block;
    padding: 1em;
    width: 100%;
    position: relative;
  }

  .fqdn-line {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .supervisor-line {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;

    b {
      margin-right: 4px;
    }
  }

  .site-line {
    display: flex;
    align-items: center;
    font-size: 12px;

    b {
      margin-right: 4px;
    }
  }

  .release-line {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .health-line {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .channel-line {
    padding-left: 18px;
    margin-bottom: 8px;
  }

  chef-icon {
    font-size: 16px;
    margin-right: 8px;

    &.OK {
      color: $chef-success;
    }

    &.WARNING {
      color: $chef-primary;
    }

    &.UNKNOWN {
      color: $chef-dark-grey;
    }

    &.CRITICAL {
      color: $chef-critical;
    }
  }
}

.no-services {
  display: block;
  padding-top: 17em;
  position: relative;
  text-align: center;
}

.status-filter-bar {
  padding-left: 35px;
  padding-right: 35px;
}
