<chef-modal [visible]="visible" (close)="closeEvent()">
  <h2 slot="title">Create {{ objectNoun | titlecase }}</h2>
    <div class="flex-container">
      <form [formGroup]="createForm">
        <div class="margin">
          <chef-form-field>
            <label>
              <span class="label">Name <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="name" type="text" (keyup)="handleNameInput($event)" id="name-input" data-cy="create-name" autocomplete="off">
            </label>
            <chef-error *ngIf="(createForm.get('name').hasError('required') || createForm.get('name').hasError('pattern')) && createForm.get('name').dirty">
              Name is required.
            </chef-error>
          </chef-form-field>
          <span class="detail">Don't worry, {{ objectNoun }} names can be changed later.</span>
        </div>
        <div *ngIf="modifyID" class="margin">
          <chef-form-field>
            <label>
              <span class="label">ID <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="id" type="text" (keyup)="handleIDInput($event)" id="id-input" data-cy="create-id" autocomplete="off"/>
            </label>
            <chef-error *ngIf="createForm.get('id').hasError('maxlength') && createForm.get('id').dirty">
              ID must be 64 characters or less.
            </chef-error>
            <chef-error *ngIf="createForm.get('id').hasError('required') && createForm.get('id').dirty">
              ID is required.
            </chef-error>
            <chef-error *ngIf="createForm.get('id').hasError('pattern') && createForm.get('id').dirty">
              Only lowercase letters, numbers, hyphens, and underscores are allowed.
            </chef-error>
            <chef-error *ngIf="conflictError">
              {{ objectNoun | titlecase }} ID "{{createForm.get('id').value}}" already exists.
            </chef-error>
          </chef-form-field>
          <span class="detail">{{ objectNoun | titlecase }} IDs are unique, permanent, and cannot be changed later.</span>
        </div>
        <div *ngIf="!modifyID" class="margin">
          <div id="id-fields">
            <span class="key-label">ID:&nbsp;</span>
            <span data-cy="id-label">{{ this.createForm?.value.id }}</span>
          </div>
          <chef-toolbar>
            <chef-button tertiary (click)="modifyID = true" id="edit-button-object-modal" data-cy="edit-button">Edit ID</chef-button>
          </chef-toolbar>
        </div>
        <div *ngIf="showProjectsDropdown">
          <app-projects-dropdown
            [projects]="assignableProjects"
            (onSelection)="projectsDropdownAction($event)"
            [disabled]="assignableProjects.length === 0">
          </app-projects-dropdown>
        </div>
        <div id="button-bar">
          <chef-button primary id="create-button-object-modal" data-cy="save-button"
            [disabled]="!createForm?.valid || creating || conflictError" (click)="createObject()">
            <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
            <span *ngIf="!creating">Create {{ objectNoun | titlecase }}</span>
            <span *ngIf="creating">Creating {{ objectNoun | titlecase }}...</span>
          </chef-button>
          <chef-button tertiary (click)="closeEvent()">Cancel</chef-button>
        </div>
      </form>
    </div>
</chef-modal>
