@import "colors";

// GLOBAL COLOR CONFIGS
// Ok to use around app
//primary
$chef-primary: $chef-orange;
$chef-primary-dark: $ebony-clay;
$chef-primary-bright: $royal-blue;
$chef-primary-light: $malibu;
$chef-primary-hover: $blue;
$chef-critical-hover: $maroon;
//secondary
$chef-critical: $pink;
$chef-critical-dark: $dark-pink;
$chef-critical-light: $light-grayish-pink;
$chef-warning: $atomic-tangerine;
$chef-major: $violet;
$chef-minor: $indigo;
$chef-success: $science-blue;
$chef-info-alert: $fuchsia;
$chef-info-alert-light: $fuchsia-light;
$chef-info-alert-dark: $fuchsia-dark;
//greyscale
$chef-dark-grey: $sirocco;
$chef-darker: $darksea;
$chef-darkest: $charcoal;
$chef-med-grey: $steel;
$chef-grey: $iron;
$chef-light-grey: $mystic;
$chef-light-grey-2: $gray-light-2;
$chef-lightest-grey: $haze;
$chef-white: $white;
$chef-black: $black;
$chef-azureish-gray: $azureish-gray;
$transparent-white: rgba(255, 255, 255, 0.85);
//status
$status-error: $rose;
$status-success: $winter-green;
$status-unknown: $lavender-dark-3;
//chart
$chef-ok: $blue-de-france;
$chef-unknown: $gray;
$chef-light-purple: $orchid;
$chef-dark-purple: $cornflower;
$chef-purple-gradient: linear-gradient(315deg, $chef-dark-purple, $chef-light-purple);

// logos
$default-logo: url('/assets/img/logos/AutomateLogo-default.svg');
$preview-logo: url('/assets/img/logos/AutomateLogo-preview.svg');
$beta-logo: url('/assets/img/logos/AutomateLogo-beta.svg');

// desktop
$chef-desktop-light: $lavender-light-2;

//Tab Hover
$chef-tab-hover: $lavender-light-8;

//Key tab
$chef-key-tab: $lavender-light-9;

// ------------------------------------------------------------------------------------- //
//Size Settings
$size_4: 4px;
$size_16: 16px;
$size_40: 40px;
$size_45: 45px;
$size_shrink: 80%;
$size_60: 1.6em;

$monospace: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;

// ------------------------------------------------------------------------------------- //
// SETTINGS
// height of header
$navigation-height: 70px;
$license-height: 39px;
$process-progress-bar-height: 54px;
$pending-edits-bar-height: 52px;
$header-max-height: 110px;
$modal-z-index: 99;
$sidebar-width: 200px;
$sidebar-top: 70px; // required space to accommodate header
$sidebar-small-width: 70px;
$global-radius: 4px;
// width used for run-history sidebar
$sidebar-right-width: 200px;
// the padding on the content pane, besides the left sidebar
$content-container-padding: 35px;
// common border radius
$chef-border-radius: var(--chef-border-radius);
