header {
  padding: 1em 0 0 35px;
}

chef-td.controls {
  justify-content: flex-end;
}

.column-date {
  flex-basis: 140%;
}

.display4 {
  margin-bottom: 12px;
  font-size: 16px;
}

chef-card {
  margin-bottom: 35px;
}

#delete-prompt {
  text-align: center;

  #delete-prompt-title {
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 12px;
  }

  .options {
    margin-top: 30px;
  }

  p {
    font-size: 16px;
  }
}
