header {
  padding: 1em 0 0 35px;
}

chef-td.controls {
  justify-content: flex-end;
}

.column-date {
  flex-basis: 140%;
}

.display4 {
  margin-bottom: 12px;
  font-size: 16px;
}

chef-card {
  margin-bottom: 35px;
}
