<div class="app-main-container">
  <div class="container">
    <main>
      <div class="sticky-notifications">
        <div class="sticky-inner">
          <app-notification
            *ngIf="downloadErrorVisible"
            type="error"
            timeout="5"
            (dismissed)="hideDownloadError()">
            Failed to install profile. Please try again later.
          </app-notification>
          <app-notification
            *ngIf="authErrorVisible"
            type="error"
            timeout="5"
            (dismissed)="hideAuthError()">
            You are not authorized to create compliance profiles.
          </app-notification>
        </div>
      </div>

      <chef-page-header class="profiles-header">
        <chef-heading>Profiles</chef-heading>
        <chef-subheading>Compliance profiles manage security and compliance scans.</chef-subheading>

        <div class="profiles-search" *ngIf="!profilesEmpty || isAvailableProfilesVisible"
        [class.active]="formActive">
          <input
            #search_box
            chefInput
            type="text"
            aria-label="Search profiles"
            placeholder="Search profiles..."
            autocomplete="off"
            (focus)="toggleFocus()"
            (blur)="toggleFocus()"/>
          <button
          type="submit"
          class="primary"
          primary
          (click)="onSearchInput(search_box.value)">
            <span aria-hidden="true" class="hidden">Submit Search</span>
            <chef-icon>search</chef-icon>
          </button>
        </div>

        <chef-tab-selector *ngIf="isAvailableProfilesVisible" class="profiles-tabs" [value]="selectedTab" (change)="onTabChange($event)">
          <chef-option value='installed'>
            <span *ngIf="userProfilesDataLoaded">{{ filteredProfiles.length }}</span> Profiles
          </chef-option>
          <chef-option value='available'>
            <span *ngIf="availableProfilesDataLoaded">{{ filteredAvailableProfiles.length }}</span> Available
          </chef-option>
        </chef-tab-selector>
      </chef-page-header>

      <div class="empty-help setup-help" *ngIf="!profilesEnabled">
        <img class="help-icon" src="/assets/img/services.svg" alt="">
        <div class="help-msg">
          <p>You will need to enable the compliance profile asset store to use this feature.</p>
          <p>Enable the service by adding this line:</p>
          <chef-snippet code="compliance_profiles['enable'] = true" lang="ruby"></chef-snippet>
          <p>into <code>/etc/delivery/delivery.rb</code> and running <code>automate-ctl reconfigure</code>. The <code>automate-ctl status</code> command should now list the status of the compliance_profiles service.</p>
        </div>
      </div>

        <!--only show content if profile store is enabled-->
      <div *ngIf="profilesEnabled" class="profiles-content">

          <!--profiles tab-->
        <div *ngIf="selectedTab === 'installed'">

          <chef-modal
            id="upload-modal"
            [visible]="uploadModalVisible"
            (closeModal)="hideUploadModal()">
            <h2 id="upload-modal-title" slot="title">Upload an archived profile (.tar.gz or .zip)</h2>
            <p id="upload-modal-subtitle">See the <a href="https://www.inspec.io/docs/reference/cli/#archive" target="_blank">Inspec CLI documentation</a> for more info on creating a profile archive.</p>
            <chef-table class="file-upload-list">
              <ng-container *ngFor="let file of fileUploads; trackBy: trackBy">
                <chef-tr>
                  <chef-td>
                    <chef-icon class="failed" *ngIf="file.failed">report_problem</chef-icon>
                    <chef-icon class="passed" *ngIf="file.loaded">check_circle</chef-icon>
                    <chef-loading-spinner size="14" *ngIf="file.loading"></chef-loading-spinner>
                    <span>{{ file.name }}</span>
                  </chef-td>
                  <chef-td>
                    <span *ngIf="file.loading && file.percent < 100" class="upload-percent">{{ file.percent }}%</span>
                    <span *ngIf="file.loading && file.percent === 100" class="upload-percent">Verifying...</span>
                    <chef-button *ngIf="file.failed" caution secondary (click)="toggleUploadResult(file)">
                      <chef-icon>report_problem</chef-icon>
                    </chef-button>
                  </chef-td>
                </chef-tr>
                <div class="result-detail" *ngIf="isOpenUploadResult(file)">
                  <pre>{{ file.response }}</pre>
                </div>
            </ng-container>
            </chef-table>
            <div class="actions">
              <label class="custom-file-input">
                Select Files
                <input class="custom-file-input" (change)="onFilesSelected($event)" type="file" accept=".gz,.zip,.tar" multiple>
              </label>
              <chef-button tertiary (click)="hideUploadModal()">Cancel</chef-button>
            </div>
          </chef-modal>

          <app-authorized [allOf]="['streaming::/compliance/profiles', 'post']">
            <chef-toolbar>
              <div *ngIf="profilesEmpty" class="empty-state">
                  <div *ngIf="isAvailableProfilesVisible" >
                    <p>Get a profile from the <a (click)="selectTab('available')">Available tab</a> or upload your own profile to get started!</p>
                  </div>
                  <div *ngIf="!isAvailableProfilesVisible" >
                    <p>Upload a profile to get started!</p>
                  </div>
                  <chef-button class="upload-button" primary (click)="showUploadModal()" >
                    <chef-icon>cloud_upload</chef-icon>
                    <span>Upload Profile</span>
                  </chef-button>
              </div>
              <div *ngIf="!profilesEmpty">
                  <chef-button class="upload-button" primary (click)="showUploadModal()" >
                    <chef-icon>cloud_upload</chef-icon>
                    <span>Upload Profile</span>
                  </chef-button>
              </div>
            </chef-toolbar>
          </app-authorized>
          <app-authorized not [allOf]="['streaming::/compliance/profiles', 'post']">
            <div *ngIf="profilesEmpty" class="empty-state">
              <p>It looks like no one has uploaded any profiles yet and you don't have permission to upload them. <br/>
              If this is a mistake, then reach out to your administrator.</p>
            </div>
          </app-authorized>

          <!--profiles list-->
          <chef-table
            *ngIf="!profilesEmpty && !viewAvailableUpdatesList"
            class="profiles-table installed">
            <chef-thead>
              <chef-tr>
                <chef-th>Profile</chef-th>
                <chef-th>Version</chef-th>
                <chef-th>Identifier</chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody *ngIf="!profilesListLoading">
              <chef-tr *ngIf="profileUpdatesAvailable.length" class="empty new-row">
                <span class="cta">{{ profileUpdatesAvailable.length }} Available Updates</span>
                <span class="action">
                  <chef-button secondary (click)="showAvailableUpdates()">
                    <chef-icon>inbox</chef-icon>
                    <span>View</span>
                  </chef-button>
                </span>
              </chef-tr>
              <chef-tr *ngFor="let profile of filteredProfiles">
                <chef-td >
                  <a
                    [routerLink]="['/compliance/compliance-profiles/profile-details']"
                    [queryParams]="{name: profile.name, version: profile.version, owner: user}">
                    {{ profile.title }}
                  </a>
                </chef-td>
                <chef-td >{{ profile.version }}</chef-td>
                <chef-td >
                  <chef-clipboard value="{{ user }}/{{ profile.name }}"></chef-clipboard>
                  {{ user }}/{{ profile.name }}
                </chef-td>
              </chef-tr>
            </chef-tbody>
            <chef-loading-spinner *ngIf="profilesListLoading" size="50"></chef-loading-spinner>
          </chef-table>

          <!--available updates list (sub-view of profiles tab)-->
          <chef-table
            *ngIf="viewAvailableUpdatesList"
            class="profiles-table available">
            <chef-thead>
              <chef-tr>
                <chef-th>Profile</chef-th>
                <chef-th>Version</chef-th>
                <chef-th></chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody>
              <chef-tr class="empty new-row">
                <span class="cta">Select a profile to preview the update and select "Update" to install it.</span>
                <span class="action">
                  <chef-button secondary (click)="hideAvailableUpdates()">
                    <chef-icon>chevron_left</chef-icon>
                    <span>Go Back</span>
                  </chef-button>
                </span>
              </chef-tr>
              <chef-tr *ngFor="let profile of profileUpdatesAvailable">
                <chef-td>
                  <a
                    [routerLink]="['/compliance/compliance-profiles/profile-details']"
                    [queryParams]="{name: profile.name, version: profile.version}">
                    {{ profile.title }}
                  </a>
                </chef-td>
                <chef-td>{{ profile.version }}</chef-td>
                <chef-td>
                  <chef-button secondary (click)="getProfiles([profile])">
                    Update
                  </chef-button>
                </chef-td>
              </chef-tr>
            </chef-tbody>
          </chef-table>
        </div>

        <!-- available profiles tab-->
        <div *ngIf="selectedTab === 'available'">
          <chef-table class="profiles-table available">
            <chef-thead>
              <chef-tr>
                <chef-th>Profile</chef-th>
                <chef-th>Version</chef-th>
                <chef-th></chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody *ngIf="!availableListLoading">
              <chef-tr *ngFor="let profile of filteredAvailableProfiles">
                <chef-td>
                  <a
                    [routerLink]="['/compliance/compliance-profiles/profile-details']"
                    [queryParams]="{name: profile.name, version: profile.version}">
                    {{ profile.title }}
                  </a>
                </chef-td>
                <chef-td>{{ profile.version }}</chef-td>
                <chef-td class="text-right">
                  <chef-button secondary (click)="getProfiles([profile])">
                    <chef-icon>get_app</chef-icon>
                    <span>Get</span>
                  </chef-button>
                </chef-td>
              </chef-tr>
            </chef-tbody>
            <chef-loading-spinner *ngIf="availableListLoading" size="50"></chef-loading-spinner>
          </chef-table>
        </div>
      </div>

      <chef-scroll-top></chef-scroll-top>

    </main>
  </div>
</div>
