@import "~styles/variables";

:host {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  color: $chef-white;
  background-color: $chef-dark-grey;
  padding: 0.5em;
  padding-right: 1.5em;
  overflow: hidden;

  p {
    margin: 0;
    color: $chef-white;
  }

  a {
    color: $chef-white;
  }

  &.info {
    background-color: $chef-success;

    &::before {
      font-family: "Material Icons";
      content: "\E86C";
      color: currentColor;
      padding-right: 0.5em;
    }
  }

  &.error {
    background-color: $chef-critical;

    &::before {
      font-family: "Material Icons";
      content: "\E002";
      color: currentColor;
      padding-right: 0.5em;
    }
  }

  chef-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: linear-gradient(110deg, rgba(255, 255, 255, 0) 22%,
      rgba(255, 255, 255, .11) 50%, rgba(255, 255, 255, 0) 83%);
    animation: shine 3s infinite cubic-bezier(.17, .71, .05, .98);
    animation-delay: 500ms;
    cursor: none;
  }
}

@keyframes shine {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(500%);
  }
}
