@import "~styles/variables";

.notifications,
.license-banner {
  a {
    color: $chef-white;
  }

  button.link {
    background: none;
    border: 0;
    color: $chef-white;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
  }
}
