<ng-container *ngFor="let notification of notifications$ | async">
  <chef-notification *ngIf="notification.type === 'license'"
    [className]="'license-banner'"
    [type]="'error'"
    [timeout]="notification.timeout" (dismissed)="handleNotificationDismissal(notification.id)">
    {{ notification.message }}
    <ng-container>
      <a href="https://www.chef.io/contact-us/" target="_blank">Get a license from Chef</a>
      or
      <span class="link" (click)="onTriggerBannerLicenseApply()">apply a license</span>
      if you already have one.
    </ng-container>
  </chef-notification>
</ng-container>
