@import "~styles/variables";

chef-table {
  .controls {
    justify-content: flex-end;
  }
}

.empty-case-container {
  display: flex;
  justify-content: center;

  p {
    margin-top: 42px;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
  }

  chef-button {
    margin-top: 18px;
  }
}

#confirm-update-start-modal {
  text-align: center;

  [slot=title] {
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 12px;
  }

  .modal-content {
    width: 70%;
    margin: auto;

    .options {
      margin-top: 30px;
    }
  }
}
