<app-admin-sidebar></app-admin-sidebar>
<chef-loading-spinner *ngIf="loading$ | async" size='50' fixed></chef-loading-spinner>

<div class="container">
  <main>
    <chef-page-header>
      <chef-heading>Projects</chef-heading>
      <chef-subheading>
        Projects group resources together. Max of {{ MAX_PROJECTS }} projects allowed.
      </chef-subheading>
    </chef-page-header>
    <section *ngIf="(iamMajorVersion$ | async) === 'v1' || (iamMinorVersion$ | async) === 'v0'" class="page-body">
      Currently, you are using IAM {{ iamMajorVersion$ | async }}. Projects are only available when using IAM v2.1.
    </section>

    <section *ngIf="(iamMinorVersion$ | async) === 'v1'" class="page-body">
      <ng-container *ngIf="(sortedProjects$ | async)?.length > 0">
        <chef-toolbar>
          <app-authorized [allOf]="['/iam/v2beta/projects', 'post']">
            <chef-button [disabled]="(sortedProjects$ | async)?.length >= MAX_PROJECTS" id="create-button" primary (click)="openCreateModal()">Create Project</chef-button>
          </app-authorized>
        </chef-toolbar>
        <app-authorized [allOf]="['/iam/v2beta/projects', 'get']">
          <chef-table>
            <chef-thead>
              <chef-tr>
                <chef-th>Name</chef-th>
                <chef-th>ID</chef-th>
                <chef-th>Ingest Rules</chef-th>
                <chef-th>Project Update Status</chef-th>
                <chef-th class="controls"></chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody>
              <chef-tr *ngFor="let project of sortedProjects$ | async">
                <chef-td>
                  <a [routerLink]="['/settings/projects', project.id]">{{ project.name }}</a>
                </chef-td>
                <chef-td>{{ project.id }}</chef-td>
                <chef-td>Edits pending</chef-td>
                <chef-td>Needs updating</chef-td>
                <chef-td class="controls">
                  <app-authorized [allOf]="['/iam/v2beta/projects/{id}', 'delete', project.id]">
                    <chef-control-menu>
                      <chef-option (click)="startProjectDelete(project)">Delete Project</chef-option>
                    </chef-control-menu>
                  </app-authorized>
                </chef-td>
              </chef-tr>
            </chef-tbody>
          </chef-table>
        </app-authorized>
      </ng-container>
      <ng-container *ngIf="(sortedProjects$ | async)?.length === 0">
        <app-authorized [allOf]="['/iam/v2beta/projects', 'post']">
          <div class="empty-case-container">
            <p>Create the first project to get started!</p>
          </div>
          <div class="empty-case-container">
              <chef-button primary (click)="openCreateModal()">Create Project</chef-button>
          </div>
        </app-authorized>
        <app-authorized not [allOf]="['/iam/v2beta/projects', 'post']">
          <div class="empty-case-container">
            <p>It looks like no one has created any projects yet and you<br/>
              don't have permission to create them.<br/><br/>
              If this is a mistake, then reach out to your administrator.
            </p>
          </div>
        </app-authorized>
      </ng-container>
    </section>

    <app-create-object-modal
      [visible]="createModalVisible"
      [creating]="creatingProject"
      [conflictErrorEvent]="conflictErrorEvent"
      objectNoun="project"
      [createForm]="createProjectForm"
      (close)="closeCreateModal()"
      (createClicked)="createProject()">
    </app-create-object-modal>

    <app-delete-object-modal
      [visible]="deleteModalVisible"
      objectNoun="project"
      [objectName]="projectToDelete?.id"
      [moreDetails]="inUseMessage()"
      (close)="closeDeleteModal()"
      (deleteClicked)="deleteProject()">
    </app-delete-object-modal>
  </main>
</div>
