{{ $data_path := index $.Site.Data (split (.Get "data_path") "/") }}
{{ range $data_path }}
{{ $id := urlize .name }}
{{ $command := strings.TrimPrefix "chef-automate " .name }}
<h3 id="{{ $id }}">{{ .name }}</h3>

<p>{{ .description | markdownify }}</p>

<h4 id="{{ $id }}-supported-on">Supported on</h4>

{{ if (eq .compatible_with "AutomateHA") }}
  <p>Command available on Chef Automate high availability deployments.</p>
{{ else if (eq .compatible_with "Automate") }}
  <p>Command available on standalone Chef Automate deployments.</p>
{{ else }}
  <p>Command available on standalone and high availability Chef Automate deployments.</p>
{{ end }}

{{ if (eq .supported_on "Bastion" )}}
  <p>In high availability Chef Automate deployments, this command is supported on the bastion host.</p>
{{ else if (eq .supported_on "FrontEnd" ) }}
  <p>In high availability Chef Automate deployments, this command is only supported on Chef Automate and Chef Infra Server frontend nodes.</p>
{{ else if (eq .supported_on "Automate" )}}
  <p>In high availability Chef Automate deployments, this command is only supported on Chef Automate nodes.</p>
{{ end }}

<h4 id="{{ $id }}-usage">Usage</h4>

<pre><code>{{ .usage }}</code></pre>

<h4 id="{{ $id }}-flags">Flags</h4>

<dl>
  {{ $flags := slice }}
  {{ range .options }}
    {{ $flags = $flags | append . }}
  {{ end }}
  {{ range .inherited_options }}
    {{ $flags = $flags | append . }}
  {{ end }}

  {{ range sort $flags "name" }}
    {{ if .shorthand }}<dt><code>-{{ .shorthand }}</code></dt>{{ end }}
    <dt><code>--{{ .name }}</code></dt>
    <dd>{{.usage}}</dd>
    {{ if (eq .compatible_with_options "Automate") }}
      <dd>Flag only available on standalone Chef Automate deployments.</dd>
    {{ else if (eq .compatible_with_options "AutomateHA") }}
      <dd>Flag only available on high availability Chef Automate deployments.</dd>
    {{ end }}
    <dd></dd>
    {{ with .default_value }}<dd>Default value: <code>{{ . }}</code></dd>{{ end }}
  {{ end }}

</dl>

{{ if ne .name "chef-automate" }}
  <h4 id="{{ $id }}-see-also">Related Commands</h4>
  <ul>
    {{ range .see_also }}
      {{ $sa_bits := split . " - " }}
      {{ $sa_id := index $sa_bits 0 }}

      {{ $sa_command := "" }}
      {{ $sa_command_id := "" }}

      {{ if ( hasPrefix $id (urlize $sa_id ) )}}

        {{ $sa_command_id = urlize $sa_id }}
        {{ $sa_command = strings.TrimPrefix "chef-automate " $sa_id }}

      {{ else }}

        {{ $sa_command_id = urlize (print $id "-" $sa_id) }}
        {{ $sa_command = print $command " " $sa_id }}

      {{ end }}

      {{ if ne $sa_id "chef-automate" }}
        <li><a href="#{{ $sa_command_id }}"><code>chef-automate {{ $sa_command }}</code></a></li>
      {{ end }}
    {{ end }}
  </ul>

{{ end }}
{{ end }}
