<chef-modal [visible]="visible" (close)="closeEvent()">
  <h2 slot="title">Create Team</h2>
    <div class="flex-container">
      <form [formGroup]="createForm">
        <div class="margin">
          <chef-form-field>
            <label>
              <span class="label">Name <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="name" type="text" (keyup)="handleNameInput($event)" id="name-input">
            </label>
            <chef-error *ngIf="(createForm.get('name').hasError('required') || createForm.get('name').hasError('pattern')) && createForm.get('name').dirty">
              Name is required.
            </chef-error>
            <chef-error *ngIf="conflictError">
              Name must be unique-- Team with name "{{createForm?.controls['name'].value}}" already exists.
            </chef-error>
          </chef-form-field>
        </div>
        <div class="margin">
          <chef-form-field>
            <label>
              <span class="label">Description <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="description" type="text" (keyup)="handleDescriptionInput($event)">
            </label>
            <chef-error *ngIf="createForm?.controls['description'].hasError('maxlength')">
              Description must be 64 characters or less.
            </chef-error>
            <chef-error *ngIf="createForm?.controls['description'].hasError('required') && createForm.get('description').dirty">
              Description is required.
            </chef-error>
          </chef-form-field>
        </div>
        <div id="button-bar">
          <chef-button primary id="create-button-object-modal"
            [disabled]="!createForm?.valid || creating || conflictError" (click)="createV1Team()">
            <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
            <span *ngIf="!creating">Create Team</span>
            <span *ngIf="creating">Creating Team ...</span>
          </chef-button>
          <chef-button tertiary (click)="closeEvent()">Cancel</chef-button>
        </div>
      </form>
    </div>
</chef-modal>
