@import "~styles/variables";

#process-progress-bar {
  background-color: $chef-primary-bright;
  color: $chef-white;
  height: 48px;
  padding: 7px 10px;
  position: relative;

  .info {
    font-size: 14px;
    font-weight: 500;

    chef-icon {
      vertical-align: middle;
    }
  }

  button {
    border: 1px $chef-white solid;
    margin: 5px 5px 0 0;
    line-height: 26px;
    position: absolute;
    right: 0;
    top: 0;
  }

  button:hover,
  button:focus {
    background-color: #174af0;
  }

  mat-progress-bar {
    border-radius: 5px;
    height: 6px;
    margin-top: 5px;

    .mat-progress-bar-fill::after {
      background-color: rgba(255, 255, 255, .7);
    }

    .mat-progress-bar-buffer {
      background-color: rgba(255, 255, 255, .5);
    }

    /* remove animation and the dots*/
    .mat-progress-bar-background {
      animation: none;
      background-color: $chef-primary-bright;
      fill: $chef-primary-bright;
    }
  }
}
