<div id="process-progress-bar" [hidden]="!layoutFacade.layout.userNotifications.updatesProcessing">
  <span class="info">Updating resources across all projects ({{ displayPercent() }})</span>
  <app-authorized [allOf]="['/apis/iam/v2/apply-rules', 'delete']">
    <button mat-button (click)="openConfirmUpdateStopModal()">Stop Project Update</button>
  </app-authorized>
  <mat-progress-bar
        class="process-progress-bar"
        [mode]="mode"
        [value]="percentageComplete"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
</div>

<app-confirm-apply-stop-modal
  [visible]="confirmApplyStopModalVisible"
  [applyRulesStatus]="projects.applyRulesStatus$ | async"
  [stopRulesInProgress]="cancelRulesInProgress"
  (confirm)="confirmApplyStop()"
  (cancel)="cancelApplyStop()">
</app-confirm-apply-stop-modal>
