@import "~styles/variables";

chef-modal {

  [slot=title] {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 12px;
  }

  .flex-container {
    display: flex;
    justify-content: center;

    .margin {
      margin-bottom: 30px;
    }

    form {
      flex-basis: 61%;

      input {
        font-size: 1em;
      }

      label {
        padding-bottom: 0;
      }
    }

    #button-bar {
      text-align: center;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }

  .url-failed {
    font-size: 13px;
    text-align: center;
    background-color: #DC267F;
    color: #FFF;
    border-radius: 4px;
    padding: 2px;
  }

  .url-success {
    font-size: 13px;
    text-align: center;
    background-color: #1074C4;
    color: #FFF;
    border-radius: 4px;
    padding: 2px;
  }

  .url-success-icon {
    margin: 2px;
    background-color: #FFF;
    color: rgb(56, 100, 242);
    border-radius: 50px;
  }
}

.input-desc {
  font-size: 10px;
  font-weight: 100;
}

.i-desc {
  font-size: 12px;
  font-weight: 300;
}

chef-select {
  width: 100%;
  font-weight: 100;
}

img {
  width: 15px;
  margin-right: 5px;
  margin-bottom: -3px;
}

chef-modal ::ng-deep .modal {
  height: 95%;
  overflow-x: hidden;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CCC;
}

chef-checkbox ::ng-deep .check-wrap {
  color: $chef-dark-grey;
  border: 1px solid;
}

.small:first-of-type {
  margin-top: 10px;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 999999999;
}

::ng-deep [panelClass="chef-dropdown"] {
  font-size: inherit;
  font-weight: 100;
}
