@import "~styles/variables";
@import 'app/page-components/json-tree/json-tree.component.scss';
@import "~styles/mixins";
@import '../infra_shared/shared';

chef-page-header {
  padding-bottom: 0;
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }
}

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

.detail-row {
  display: flex;
  color: $chef-primary-dark;
}

.id-column {
  width: 33%;
  padding-top: 0px;
  padding-left: 0px;
}

.type-column {
  width: 66%;
  padding-top: 0px;
  padding-left: 0px;
}

chef-table {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.page-body {
  padding-top: 0;

  chef-loading-spinner {
    display: block;
    margin: 100px auto;
    width: 100px;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.empty-section {
  margin-top: 130px;
  text-align: center;
}

img {
  width: 70px;
}

.key-tab {
  padding: 2em 0px;

  .key-tab-details {
    @include base-box-shadow();
    background: $chef-white;
    border-radius: $global-radius;
    border: 0.5px solid $chef-key-tab;
  }

  .key-tab-body {
    display: flex;
    padding: 1.5em;
    background: $chef-white;

    chef-snippet {
      width: 100%;
    }

  }

  .key-tab-body-top {
    margin: 0 10px;
    background: $chef-white;
    border-bottom: 0.5px solid $chef-key-tab;
    text-align: right;
  }

  .key-tab-head {
    padding: 1em;

    p {
      margin: 0;
      font-weight: bold;
      line-height: 20px;
      color: $chef-black;
    }
  }

}
