<p class="instruction">Choose up to 5 attributes to display in the table:</p>
<div>
  <ul>
    <ng-container *ngFor="let option of options">
      <li class="filter-button" (click)="handleSelect($event)"
      tabindex="0" role="button" [attr.aria-pressed]="false" [attr.data-filtervalue]="option.id">
        <span>{{ option.name }}<i class="check">&#x2713;</i></span>
      </li>
    </ng-container>
  </ul>
</div>
<div class="button-row">
  <chef-checkbox [checked]="saveAsDefault" (change)="handleDefaultChange($event.detail)">
    Save as default
  </chef-checkbox>

  <div>
    <chef-button tertiary (click)="handleCancel()">Cancel</chef-button>
    <chef-button primary (click)="handleUpdate()">Update</chef-button>
  </div>
</div>