<app-client-runs-sidebar></app-client-runs-sidebar>

<div class="container">
    <main>
      <chef-page-header>
        <chef-heading>Chef Servers</chef-heading>
        <chef-subheading>Manage Chef Servers with Chef Automate</chef-subheading>
      </chef-page-header>
      <div class="page-body">
        <chef-toolbar>
          <chef-button primary>Add Chef Server</chef-button>
        </chef-toolbar>
        <chef-table>
          <chef-thead>
            <chef-tr>
              <chef-th>Chef Server Name</chef-th>
              <chef-th>FQDN</chef-th>
              <chef-th>IP Address</chef-th>
              <chef-th># of Orgs</chef-th>
              <chef-th class="controls"></chef-th>
            </chef-tr>
          </chef-thead>
          <chef-tbody>
              <chef-tr *ngFor= "let server of serverMockList">
                  <chef-td>
                    <a [routerLink]="['/infrastructure/chef-servers', server.name]">{{ server.name }}</a>
                  </chef-td>
                  <chef-td>{{ server.fqdn }}</chef-td>
                  <chef-td>{{ server.ip_address }}</chef-td>
                  <chef-td>{{ server.orgs }}</chef-td>
                  <chef-td class="controls">
                    <app-authorized>
                      <chef-control-menu>
                        <chef-option>Remove Server</chef-option>
                      </chef-control-menu>
                    </app-authorized>
                  </chef-td>
              </chef-tr>
          </chef-tbody>
        </chef-table>
      </div>
    </main>
</div>  
