<chef-click-outside omit="run-history-button" (clickOutside)="closeRunHistory()">
  <chef-side-panel id="run-history-panel" tabindex="0" [visible]="visible">
    <div class="side-panel-header">
      <chef-icon class="header-icon">restore</chef-icon>
      <div class="header-text">
        <h4><strong>Run history for node:</strong></h4>
        <p>{{ nodeName }}</p>
      </div>
      <chef-button secondary label="close" (click)="closeRunHistory()">
        <chef-icon>close</chef-icon>
      </chef-button>
    </div>

    <div class="side-panel-body">
      <div class="side-panel-body-header">
        <div>
          <p>Select a run below to view results on that date</p>
        </div>

        <div class="filter-selectors">
          <button class="selector all" (click)="onStatusChange(selectedStatus.All)" [ngClass]="{active: selected == selectedStatus.All}">
              <chef-icon>list</chef-icon>
              <div>{{stats(selectedStatus.All)}}</div>
          </button>
          <button class="selector failed" (click)="onStatusChange(selectedStatus.Failure)" [ngClass]="{active: selected == selectedStatus.Failure}">
            <chef-icon>warning</chef-icon>
            <div>{{stats(selectedStatus.Failure)}}</div>
          </button>
          <button class="selector successful" (click)="onStatusChange(selectedStatus.Success)" [ngClass]="{active: selected == selectedStatus.Success}">
            <chef-icon>check_circle</chef-icon>
            <div>{{stats(selectedStatus.Success)}}</div>
          </button>
          <div class="date-selector">
            <app-date-selector (select)="dateSelected($event)" [initialDateTerm]="defaultSelectionTerm"> </app-date-selector>
          </div>
          <chef-button secondary (click)="onDownloadRunsReport()">
            <chef-icon>cloud_download</chef-icon>
          </chef-button>
        </div>
      </div>

      <ul class="run-history-list">
        <li *ngFor="let history of nodeHistory" 
            class="run-history-list-item"
            [class.selected]="history.runId === activeRunId">
          <div class="list-item-summary">
            <chef-icon [ngClass]="history.status">{{ history.status | chefStatusIcon }}</chef-icon>
            <div class="list-item-text">
              <p>
                <strong>
                  <app-time [time]="history.startTime"></app-time>
                </strong>
              </p>
              <p><span>Duration: </span>{{ getDuration(history.startTime, history.endTime) }}</p>
            </div>
            <chef-button secondary (click)="onSelect(history)">
              <chef-icon>chevron_right</chef-icon>
            </chef-button>
          </div>
        </li>
        <li class="no-runs-small" *ngIf="stats(selected) == 0">
          <span>There are no runs for this node that match the criteria selected.</span>
        </li>
      </ul>

      <app-page-picker
        class="history-pagination"
        [total]="stats(selected)"
        [perPage]="pageSize"
        [page]="currentPage"
        [maxSelectablePages]="3"
        (pageChanged)="updatePageNumber($event)">
      </app-page-picker>
    </div>
  </chef-side-panel>
</chef-click-outside>
