@import "~styles/variables";

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

chef-table-new {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
  height: 100%;
}

.full-screen-spinner {
  display: flex;
  margin: auto;
  margin-top: 238px;
  background-color: $chef-white;
  opacity: 0.7;
  width: initial;
  height: 100%;
}

.clients-list-paging {
  margin: 0 0 35px;
}

.three-dot-column {
  text-align: right;
}

chef-button button {
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 8px 16px;

  &:focus {
    outline: none;
  }
}

.clients-list-paging {
  margin: 0 0 35px;
}

.create-client {
  margin: 18px 0px 0px 0px;
  float: right;
}

::ng-deep {
  .clients .search-items app-infra-search-bar .search-wrapper {
    float: left;
    margin-top: 10px;
    width: calc(100% - 145px);
    margin-right: 32px;
  }
}

chef-toolbar chef-button:first-child {
  margin: 18px 0px 0px 0px;
  float: right;
}

.empty-section {
  text-align: center;
}

img {
  margin-top: 130px;
  margin-left: 44PX;
  width: 70px;
}
