<section class="clients">
  <chef-loading-spinner *ngIf="clientsListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="clients" (resetKeyRedirection)="resetKeyTabRedirection($event)"></app-empty-state>
  <ng-container *ngIf="!clientsListLoading && !authFailure">
    <div class="search-items">
      <app-infra-search-bar (searchButtonClick)="toggleFilters($event)" placeHolder="Clients">
      </app-infra-search-bar>
    </div>
    <chef-loading-spinner class="full-screen-spinner" *ngIf="searching && !clients.length" size="50" fixed></chef-loading-spinner>
    <div class="empty-section" *ngIf="!searching && !clients.length">
      <img alt="No preview" src="/assets/img/no_preview.gif" />
      <p *ngIf="searchText === ''">No results found for "{{searchText}}".</p>
      <p *ngIf="searchText != ''">No client available.</p>
    </div>
    <chef-table *ngIf="clients.length">
      <chef-thead>
        <chef-tr>
          <chef-th>Clients Name</chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let client of clients">
          <chef-td>
            <a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'clients', client.name]">{{ client.name }}</a>
          </chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</section>
