@import "~styles/variables";

chef-modal.create-client-modal {

  [slot=title] {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding-bottom: 30px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    line-height: 20px;
    letter-spacing: 0.25px;

    .input-margin {
      margin-bottom: 30px;
    }

    form {
      width: 100%;

      input {
        font-size: 13px;
        height: 36px;
        padding: 10px;
      }

      label {
        font-size: 16px;
        padding-bottom: 0;
      }

      label .label {
        font-weight: normal;
      }

      .key-tab-body {
        display: flex;
        background: $chef-white;
        border: 0.5px solid $chef-key-tab;
        height: 300px;

        chef-snippet {
          height: 298px;
          width: 100%;
        }
      }

      chef-checkbox {
        margin-top: 16px;
      }

      .detail {
        background: $chef-success;
        color: $white;
        font-size: 12px;
        line-height: 20px;
        padding: 9px;
        margin-bottom: 32px;

        .icon-wrap {
          display: inline-block;
          position: relative;
          width: 40px;

          i {
            display: block;
            height: 16px;
            width: 16px;
            background-image: url('/assets/img/icon-check-circle.png');
            position: absolute;
            top: -30px;
            left: 8px;
          }

        }

        p {
          display: inline-block;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.25px;
          width: calc(100% - 45px);
          color: $white;
          margin-bottom: 0;
        }

      }

    }

    #button-bar {
      text-align: right;
      padding-top: 24px;

      chef-button {
        margin-bottom: 0;
      }

      #create-button-object-modal, #download-button-object-modal {
        margin-right: 0;
      }

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }

  ::ng-deep {
    .modal {
      box-shadow: 0px 0px 30px 0px $light-grey;
      max-width: 528px;
      min-width: 528px;
      outline: none;

      chef-button {
        &.close {
          border: none;
          color: $chef-black;
          margin-right: 22px;
          margin-top: 16px;

          &:hover, &:focus {
            background: none;
            outline: none;
          }
        }

        button {
          line-height: 20px;
          letter-spacing: 0.5px;

          &:focus {
            outline: none;
            border: 0.5px solid $chef-primary-bright;
            border-radius: 4px;
          }
        }

        .cancel-button.hydrated {
          background: none;
        }
      }

      chef-checkbox {
        &[aria-checked=false] .check-wrap {
          border-color: $chef-primary-bright;
        }

        &:focus {
          outline: none;
          border: 0.5px solid $chef-primary-bright;
          border-radius: 4px;
        }

        .label-wrap {
          margin-left: 8px;
        }

        .check-wrap {
          width: 16px;
          min-width: 16px;
          height: 16px;
        }
      }
    }

    .modal-overlay {
      background-color: $chef-white;
      opacity: 0.5;
    }

    chef-snippet pre {
      font-size: 12px;
      height: 297px;
      width: 100%;
      line-height: 20px;
      letter-spacing: 0.05px;
      padding: 1.5em;
    }
  }
}
