<div class="content-container">
  <div *ngIf="permissionDenied" class="permission-denied-banner">
    <p>You do not have permission to view everything on this page.</p>
    <p>Please contact an administrator for permission.</p>
  </div>
  <div class="container">
    <main>
      <chef-page-header>
        <chef-heading>Notifications</chef-heading>
        <chef-subheading>Notifications for Inspec compliance scans and Chef client runs.</chef-subheading>
      </chef-page-header>

      <div class="page-body">
        <chef-alert type="error" *ngIf="errorLoading">There was an error loading notifications.</chef-alert>

        <chef-toolbar>
          <app-authorized [anyOf]="['/notifications/rules', 'post']">
            <div *ngIf="(rules$ | async)?.length === 0" class="empty-state">
              <p>Create the first notification to get started!</p>
            </div>
            <div [ngClass]="(rules$ | async)?.length === 0 ? 'empty-state' : ''">
              <chef-button primary [routerLink]="['/settings/notifications/form']">Create Notification</chef-button>
            </div>
          </app-authorized>
        </chef-toolbar>
        <app-authorized [anyOf]="['/notifications/rules', 'get']">
          <chef-table-new *ngIf="(rules$ | async)?.length > 0" id="notifications-list">
            <chef-table-header>
              <chef-table-row>
                <chef-table-header-cell class="sort">
                  <button class="toggle-sort" (click)="toggleSort('node_name')">Notification Name
                    <chef-icon aria-hidden="true" id="{{sortIcon('node_name')}}" class="sort-icon">arrow_drop_up</chef-icon>
                  </button>
                </chef-table-header-cell>
                <chef-table-header-cell>Alert Type</chef-table-header-cell>
                <chef-table-header-cell aria-hidden="true" class="three-dot-column"></chef-table-header-cell>
              </chef-table-row>
            </chef-table-header>

            <chef-table-body>
            <chef-table-row tabindex="0" *ngFor="let rule of rules$ | async |
              slice:(pageSize * (currentPage - 1)):(pageSize * (currentPage - 1)) + pageSize">
              <chef-table-cell class="{{rule.targetType}}">
                <img src="assets/img/logo-{{rule.targetType}}.svg" alt="{{rule.targetType}} logo" />
                <a [routerLink]="['/settings/notifications/form', rule.id]">{{ rule.name }}</a>
              </chef-table-cell>
              <chef-table-cell>
                {{rule.AlertTypeLabels[rule.ruleType]}}
              </chef-table-cell>
              <chef-table-cell class="actions three-dot-column">
                <mat-select panelClass="chef-control-menu">
                  <mat-option (onSelectionChange)="deleteRule(rule)">Delete Notification</mat-option>
                </mat-select>
              </chef-table-cell>
            </chef-table-row>
            </chef-table-body>
          </chef-table-new>
        </app-authorized>

        <app-page-picker
          [total]="(rules$ | async)?.length"
          [perPage]="pageSize"
          [page]="currentPage"
          (pageChanged)="currentPage = $event">
        </app-page-picker>

      </div><!--page-body-->
    </main>
  </div><!--notifications-container-->
</div>
