<div class="content-container">
 <div class="container">
    <main>
      <chef-page-header>
        <chef-heading>Notifications</chef-heading>
        <chef-subheading>Webhook notifications for Infra Client run failures and InSpec compliance scan failures.</chef-subheading>
      </chef-page-header>

      <div class="page-body">
        <chef-alert type="error" *ngIf="errorLoading">There was an error loading notifications.</chef-alert>

        <chef-toolbar>
          <app-authorized [anyOf]="['/api/v0/notifications/rules', 'post']">
            <div *ngIf="(rules$ | async)?.length === 0" class="empty-state">
              <p>Create the first notification to get started!</p>
            </div>
            <div [ngClass]="(rules$ | async)?.length === 0 ? 'empty-state' : ''">
              <chef-button primary [routerLink]="['/settings/notifications/form']">Create Notification</chef-button>
            </div>
          </app-authorized>
        </chef-toolbar>
        <app-authorized [anyOf]="['/api/v0/notifications/rules', 'get']">
          <chef-table *ngIf="(rules$ | async)?.length > 0" id="notifications-list">
            <chef-thead>
              <chef-tr>
                <chef-th class="sort"
                  role="button"
                  (keyup.enter)="toggleSort('name')"
                  (click)="toggleSort('name')">
                  <span>Name</span>
                  <chef-sort-toggle sort="name" [order]="sortIcon('')"></chef-sort-toggle>
                </chef-th>
                <chef-th class="sort"
                  role="button"
                  (keyup.enter)="toggleSort('alert_type')"
                  (click)="toggleSort('alert_type')">
                  <span>Webhook Type</span>
                  <chef-sort-toggle sort="alert_type" [order]="sortIcon('')"></chef-sort-toggle>
                </chef-th>
                <chef-th class="sort"
                  role="button"
                  (keyup.enter)="toggleSort('failure_type')"
                  (click)="toggleSort('failure_type')">
                  <span>Failure Type</span>
                  <chef-sort-toggle sort="failure_type" [order]="sortIcon('')"></chef-sort-toggle>
                </chef-th>
                <chef-th class="sort"
                  role="button"
                  (keyup.enter)="toggleSort('webhook_url')"
                  (click)="toggleSort('webhook_url')">
                  <span>Webhook URL</span>
                  <chef-sort-toggle sort="webhook_url" [order]="sortIcon('')"></chef-sort-toggle>
                </chef-th>
                <chef-th aria-hidden="true" class="three-dot-column"></chef-th>
              </chef-tr>
            </chef-thead>

            <chef-tbody>
              <chef-tr *ngFor="let rule of rules$ | async |
                slice:(pageSize * (currentPage - 1)):(pageSize * (currentPage - 1)) + pageSize">
                <chef-td>
                  <a [routerLink]="['/settings/notifications', rule.id]">{{ rule.name }}</a>
                </chef-td>
                <chef-td class="{{rule.targetType}}">
                  <img src="assets/img/logo-{{rule.targetType}}.png" alt="{{rule.targetType}} logo" />
                  {{ rule.targetType.slice(0, -5) }}
                </chef-td>
                <chef-td>
                  {{ rule.AlertTypeLabels[rule.ruleType] }}
                </chef-td>
                <chef-td>
                  {{ rule.targetUrl }}
                </chef-td>
                <chef-td class="actions three-dot-column">
                  <mat-select panelClass="chef-control-menu">
                    <mat-option (onSelectionChange)="startNotificationDelete($event, rule)" data-cy="remove-notification">Delete Notification</mat-option>
                  </mat-select>
                </chef-td>
              </chef-tr>
            </chef-tbody>
          </chef-table>
        </app-authorized>
        <app-delete-object-modal
          [visible]="deleteModalVisible"
          objectNoun="notification"
          [objectName]="notificationToDelete?.name"
          (close)="closeDeleteModal()"
          (deleteClicked)="deleteNotification()"
          objectAction="Delete">
        </app-delete-object-modal>
        <app-page-picker
          [total]="(rules$ | async)?.length"
          [perPage]="pageSize"
          [page]="currentPage"
          (pageChanged)="currentPage = $event">
        </app-page-picker>

      </div><!--page-body-->
    </main>
  </div><!--notifications-container-->
</div>
