#!/bin/bash

#
# The below are used for running the service inside the studio
#
export HAB_DOCKER_OPTS="-p 2015:2015"
export HAB_UPDATE_STRATEGY_FREQUENCY_MS=1000

##############################################################
#
# Tells the karma Safari plugin to use our custom script instead of launching
# Safari directly. This was needed to workaround issues encountered while
# running the unit tests with Safari where it wouldn't properly cleanup after
# itself and would report test failures with an obscure error message.
#
export SAFARI_BIN="$(pwd)/scripts/safari_launcher"
