<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Infra Servers</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId]">Organizations</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId, 'organizations', orgId]">Policy files</chef-breadcrumb>
          {{PolicyFile?.name}}
      </chef-breadcrumbs>
      <chef-page-header>
        <chef-heading data-cy="policy-file-head">{{PolicyFile?.name}}</chef-heading>
        <div class="meta-box" *ngIf="!policyFileDetailsLoading">
          <div class="summary-body">
            <table>
              <tr>
                <th>
                  <p class="meta-head policy-meta">POLICY FILE INFORMATION</p>
                </th>
              </tr>
              <tr>
                <th>
                  Policy Group
                </th>
                <td data-cy="policy-file-env">{{PolicyFile?.policy_group === '' ? '--' : PolicyFile?.policy_group}}</td>
              </tr>
              <tr>
                <th>
                  Revision Id
                </th>
                <td>{{PolicyFile?.revision_id}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th>
                  <p class="meta-head">METADATA</p>
                </th>
              </tr>
              <tr>
                <th>
                  Chef Server
                </th>
                <td data-cy="policy-file-server">
                  {{serverId}}
                </td>
              </tr>
              <tr>
                <th>
                  Chef Organization
                </th>
                <td data-cy="policy-file-org">
                  {{orgId}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <chef-tab-selector [value]="tabValue" (change)="onSelectedTab($event)">
          <chef-option value='details' data-cy="details-tab">Content</chef-option>
          <!-- <chef-option value='attributes' data-cy="attributes-tab">Attributes</chef-option> -->
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <chef-loading-spinner class="top-spinner" *ngIf="policyFileDetailsLoading" size="50"></chef-loading-spinner>
        <div class="details-tab" *ngIf="!policyFileDetailsLoading">
          <div class="spinner">
            <chef-loading-spinner *ngIf="policyFileDetailsLoading" size="50" fixed></chef-loading-spinner>
          </div>
          <ng-container *ngIf="!policyFileDetailsLoading">
            <ul id="accordion" class="accordion" >
              <li class="items" [class.active]="showIncludedPolicies">
                <div class="menu" (click)="handlePolicyFileSelected()">
                  <div class="data-bag-name" data-cy="included-policy">
                    Included Policies
                  </div>
                  <chef-icon class="arrows">keyboard_arrow_down</chef-icon>
                </div>
                <div class="submenu" [ngClass]="showIncludedPolicies ? activeIncludedPolicies : ''"> 
                  <div class="item-details">
                    <div data-cy="empty-list" class="empty-section" *ngIf="!included_policy_locks.length">
                      <img alt="No preview" src="/assets/img/no_preview.gif" />
                      <p>No policy files available</p>
                    </div>
                    <div id="included-policy-table-container" *ngIf="included_policy_locks.length" data-cy="included-policy-table-container">
                      <chef-table>
                        <chef-thead>
                          <chef-tr class="no_border_tr">
                            <chef-th class="no_border_th">Policy Files</chef-th>
                            <chef-th class="no_border_th">Revision ID</chef-th>
                            <chef-th class="no_border_th"></chef-th>
                            <chef-th class="no_border_th three-dot-column"></chef-th>
                          </chef-tr>
                        </chef-thead>
                        <chef-tbody>
                          <chef-tr *ngFor="let included_policy_lock of included_policy_locks">
                            <chef-td>
                              {{included_policy_lock.name}}
                            </chef-td>
                            <chef-td>{{included_policy_lock.revision_id}}</chef-td>
                            <chef-td></chef-td>
                            <chef-td class="three-dot-column"></chef-td>
                          </chef-tr>
                        </chef-tbody>
                      </chef-table>
                    </div>
                  </div>  
                </div>
              </li>
            </ul>
            <ul id="accordion1" class="accordion" >
              <li class="items" [class.active]="showRunList">
                <div class="menu" (click)="handleRunListSelected()">
                  <div class="data-bag-name"  data-cy="run-list">
                    Run List
                  </div>
                  <chef-icon class="arrows">keyboard_arrow_down</chef-icon>
                </div>
                <div class="submenu" [ngClass]="showRunList ? activeRunlist : ''"> 
                  <div class="item-details">
                    <div data-cy="empty-list" class="empty-section" *ngIf="!cookbook_locks.length">
                      <img alt="No preview" src="/assets/img/no_preview.gif" />
                      <p>No policy files available</p>
                    </div>
                    <div id="run-list-table-container" *ngIf="cookbook_locks.length" data-cy="run-list-table-container">
                      <chef-table>
                        <chef-thead>
                          <chef-tr class="no_border_tr">
                            <chef-th class="no_border_th">Run Items</chef-th>
                            <chef-th class="no_border_th">Current Version</chef-th>
                            <chef-th class="no_border_th">Source</chef-th>
                            <chef-th class="no_border_th three-dot-column"></chef-th>
                          </chef-tr>
                        </chef-thead>
                        <chef-tbody>
                          <chef-tr *ngFor="let cookbook_lock of cookbook_locks">
                            <chef-td>
                              {{cookbook_lock.name}}
                            </chef-td>
                            <chef-td>{{cookbook_lock.version}}</chef-td>
                            <chef-td>{{cookbook_lock.source}}</chef-td>
                            <chef-td class="three-dot-column"></chef-td>
                          </chef-tr>
                        </chef-tbody>
                      </chef-table>
                    </div>
                  </div>  
                </div>
              </li>
            </ul>
          </ng-container>
        </div>
      </section>
      <!-- <section class="page-body attributes" *ngIf="tabValue === 'attributes'">
      </section> -->
    </main>
  </div>
</div>
