@import "~styles/variables";
@import "@carbon/grid/scss/grid";

:host {
  display: flex;
  align-items: center;

  chef-button {
    margin: 0 0.5em 0 0;
  }

  // desktop styles
  &.forDesktop {
    @extend .bx--grid;
    justify-content: space-between;
    background: $chef-white;
    padding-left: 0;
    padding-right: 0;

    .bx--row {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .column {
      @extend .bx--col-lg-8;
      @extend .bx--col-md-4;
      @extend .bx--col-sm-4;
      display: flex;
      padding-left: 0;
      padding-right: 0;

      &.column2 {
        justify-content: flex-end;

        @include carbon--breakpoint-down(md) {
          margin-top: 15px;
        }
      }
    }
    
    .arrow-field-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      height: 49px;
      border-radius: $chef-border-radius;
      // box-shadow: 2px 2px 4px 0 #C5C7D1, -2px -2px 12px 0 #ECF0F9;

      .arrow-field-item {
        display: flex;
      }
    }

    .information-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 14px;
    }

    .per-page-container {
      display: none;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-right: 16px;
      height: 49px;
      min-width: 193px;
      border-radius: $chef-border-radius;
      // box-shadow: 2px 2px 4px 0 #C5C7D1, -2px -2px 12px 0 #ECF0F9;

      span.items-per {
        padding: 16px 4px 15px 16px;
      }
    }

    .of-pages-container {
      span {
        padding: 16px 16px 15px 4px;
        font-size: 14px;
      }
    }

  // full screen styles
  &.fullScreened {
    .per-page-container {
      display: flex;

      @include carbon--breakpoint-down(lg) {
        display: none;
      }
    }
  }


  ::ng-deep {
    
    mat-form-field {

      .mat-form-field-infix {
        border-top: 0;
        padding: 0;
        width: unset;
      }

      .mat-form-field-wrapper {
        padding: 0;
      }
    }

    .mat-select-panel {
      min-width: 100%;
    }
  }

    chef-button {
      // overwrites
      // margin: 0;
      // border-radius: 0;
      // border: none;
      // styles
      width: 49px;
      height: 49px;
      // border-left: 1px solid #DEE6F7;

      &:last-child {
        border-bottom-right-radius: $chef-border-radius;
        border-top-right-radius: $chef-border-radius;
      }

      &:focus-within {
        position: relative;
        z-index: 2;
      }
    }

    [panelClass="chef-dropdown"] {
      height: 49px;
      width: 60px; // old style
      // border-color: transparent;

      &:focus {
        border-color: #3864F2;
        outline: none;
      }
    }

    .arrow-field-item [panelClass="chef-dropdown"] {
      // width: 60px;
      padding: 16px 4px 17px 16px;
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
    }

    .information-container [panelClass="chef-dropdown"] {
      // width: 69px;
      padding: 16px 12px 15px 4px;
      // border-top-left-radius: 0;
      // border-bottom-left-radius: 0;
    }

  } // end desktop
}
