@import "~styles/variables";
@import 'app/page-components/json-tree/json-tree.component.scss';
@import '../infra_shared/shared';

chef-page-header {
  padding-bottom: 0;
}

chef-loading-spinner {
  margin-top: 188px;
  z-index: 199;
  background-color: $chef-white;
  opacity: 0.7;
}

.page-body {

  .details-row {
    display: flex;
  }

  .item-details {
    chef-loading-spinner.spinner {
      display: flex;
      margin: auto auto;
      width: 100%;
      position: relative;
    }

    ::ng-deep chef-loading-spinner svg {
      width: 25px;
    }

    flex-basis: 70%;
    padding: 1em;
    border: 1px solid $chef-light-grey;
    background-color: $chef-white;
  }

  .empty-section {
    margin-top: 130px;
    text-align: center;
  }

  img {
    width: 70px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    &:hover, &.selected {
      color: $chef-primary-bright;

      .arrow {
        display: inline;
      }
    }

    .arrow {
      display: none;
      margin-top: 4px;
      float: right;
      font-size: 14px;
    }
  }
}

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

.detail-row {
  display: flex;
  color: $chef-primary-dark;
}

.id-column {
  width: 33%;
  padding-top: 0px;
  padding-left: 0px;
}

.type-column {
  width: 66%;
  padding-top: 0px;
  padding-left: 0px;
}

.json-tree-container {
  font-size: 14px;
}

.expand-collapse.edited {
  border-bottom: 0.5px solid $chef-key-tab;
  font-size: 14px;
  color: $royal-blue;
  margin-bottom: 10px;
  padding: 4px 0;
  padding-left: 17px;

  chef-button {
    margin: 0;
    height: 25px;
  }

}

.jsontree_tree .jsontree_label {
  color: $royal-blue;
}

.search-create-container {
  display: flex;
  margin: 24px 0 18px;
  flex-direction: row;

  app-infra-search-bar {
    flex-grow: 2;
  }

  chef-button {
    margin: 0;
    margin-left: 16px;
    height: 36px;
    margin-top: 4px;
  }
}

// CSS for accordion

.accordion {
  margin: auto;
  border-radius: 4px;
  padding-inline-start: 0px;
  width: 100%;
}

.accordion {
  ul {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
}

.accordion .menu {
  background-color: $chef-white;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid $chef-light-grey-2;
  border-bottom: none;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  position: relative;
  padding: 10px 10px 10px 15px;
  transition: all 0.4s ease;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li .arrows {
  right: 1rem;
  left: auto;
  float: right;
}

.accordion li .data-bag-name {
  float: left;
  font-size: 12px;
  font-weight: 400;
}

.accordion li.active .arrows {
  transform: rotate(180deg);
}

.accordion li.active .menu {
  background: #DEE5FD;
}

.submenu {
  background-color: $chef-white;
  border: 1px solid $chef-light-grey-2;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  font-size: 12px;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.submenu .item-details {
  padding: 0 15px 15px;
}

.accordion .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.autoHeight {
  height: auto;
}

.items-list-paging {
  margin: 0 0 35px;
}

.full-screen-spinner {
  margin: -34px;
  margin-top: -20px;
}

.right-button-box {
  float: right;

  .material-icons {
    font-size: 16px;
  }
}

.dataBagItems {
  .page-body {
    padding: 0 25px 30px;
    position: relative;
  }
}
