<div class="content-container">
  <div class="container">
    <main>
      <app-delete-infra-object-modal
        [visible]="deleteModalVisible"
        objectNoun="data bag item"
        [objectName]="dataBagItemToDelete?.name"
        (close)="closeDeleteModal()"
        (deleteClicked)="deleteDataBagItem()"
        objectAction="Delete">
      </app-delete-infra-object-modal>
      <chef-loading-spinner *ngIf="dataBagsDetailsLoading" size="50" fixed></chef-loading-spinner>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Servers</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId]">Organizations</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId, 'organizations', orgId]">Data Bags
        </chef-breadcrumb>
        {{ dataBagName }}
      </chef-breadcrumbs>
      <chef-page-header>
        <table>
          <thead>
            <tr class="detail-row">
              <th class="id-column">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr class="detail-row">
              <td class="id-column">{{ dataBagName }}</td>
            </tr>
          </tbody>
        </table>
        <chef-tab-selector [value]="tabValue">
          <chef-option value='details' data-cy="details-tab">Details</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <div class="search-items">
          <app-infra-search-bar (searchButtonClick)="searchDataBagItems($event)" placeHolder="data bag items"></app-infra-search-bar>
        </div>
        <div class="section-container" *ngIf="dataBagItems">
          <chef-loading-spinner *ngIf="searching" size="50" fixed class="full-screen-spinner"></chef-loading-spinner>
          <div class="empty-section" *ngIf="!searching && !dataBagItems.length">
            <img alt="No preview" src="/assets/img/no_preview.gif" />
            <p *ngIf="searchValue === ''">No data bag items available</p>
            <p *ngIf="searchValue != ''">No results found for "{{searchValue}}".</p>
          </div>
          <div *ngIf="dataBagItems.length">
            <ul id="accordion" class="accordion" >
              <li *ngFor="let item of dataBagItems; let i = index" [class.active]="item.active" class="items">
                <div class="menu" (click)="handleItemSelected(item.name, i)">
                  <div class="data-bag-name">
                    {{ item.name }}
                  </div>
                  <!-- <i class="fa fa-chevron-down"></i> -->
                  <chef-icon class="arrows">keyboard_arrow_down</chef-icon>
                </div>
                <div class="submenu" [ngClass]="item.active ? activeClassName : ''"> 
                  <div class="item-details">
                    <chef-loading-spinner *ngIf="item.active && dataBagsItemDetailsLoading" size="50" fixed></chef-loading-spinner>
                    <div *ngIf="!dataBagsItemDetailsLoading && selectedItemDetails">
                      <div class="expand-collapse">
                        <span class="action" (click)="tree.expand()">
                          <chef-icon>add_circle</chef-icon>
                          <span>Expand All</span>
                        </span>
                        <span class="separator">|</span>
                        <span class="action" (click)="tree.collapse()">
                          <chef-icon>remove_circle</chef-icon>
                          <span>Collapse All</span>
                        </span>
                        <a class="float-right" (click)="startDataBagItemDelete(item)">
                          <span class="material-icons del-item">delete</span>
                          <span class="del-text">Delete</span>
                        </a>
                      </div>
                      
                      <app-json-tree-table class="json-tree-container" #tree [json]="selectedItemDetails"></app-json-tree-table>
                    </div>
                  </div>  
                </div>
              </li>
            </ul>
          </div>
          <app-page-picker
            class="item-list-paging"
            [total]="total"
            [perPage]="per_page"
            [page]="page"
            (pageChanged)="onPageChange($event)">
          </app-page-picker>
        </div>
      </section>
    </main>
  </div>
</div>