// vendor imports
@import "normalize";
@import "~node-bourbon/assets/stylesheets/bourbon";
@import "~sass-flex-mixin/flex";

// neat settings
$max-width: 100%;
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: #6bb2e2;
@import "~node-neat/assets/stylesheets/neat";

// breakpoints
$laptop-down: new-breakpoint(max-width 1440px 12);
$medium-down: new-breakpoint(max-width 1024px 12);
$small-down: new-breakpoint(max-width 670px 12);

// chef imports
@import "variables";
@import "mixins/mixins";
@import "mixins/fonts";
@import "mixins/colors";
@import "mixins/buttons";
@import "mixins/logos";
@import "mixins/icons";
@import "mixins/inputs";
@import "mixins/tables";
@import "chef-normalize";

// directives
@import "directives/cd-info";
@import "directives/cd-menu";
@import "directives/cd-flash";
@import "directives/cd-modal";
@import "directives/cd-tabset";
@import "directives/cd-text-expander";
@import "directives/cd-change-card";
@import "directives/cd-change-buttons";
@import "directives/cd-patchset-card";
@import "directives/cd-modal-buttons";
@import "directives/cd-select";
@import "directives/cd-markdown";
@import "directives/cd-embedly";
@import "directives/cd-file-comments";
@import "directives/cd-organizations";
@import "directives/cd-page-drawer";
@import "directives/cd-pipeviz";
@import "directives/cd-log";
@import "directives/cd-project-row";
@import "directives/cd-user-dropdown";
@import "directives/cd-compliance";
@import "directives/cd-team";

// page imports
@import "login";
@import "main";
@import "main/audits";
@import "main/tabbed_view";
@import "main/enterprise";
@import "main/dashboard";
@import "main/newproject";
@import "main/newuser";
@import "main/cardview";
@import "main/project";
@import "main/change";
@import "main/review";
@import "main/reviews";
@import "main/runners";
@import "main/organization";

// modals
@import "modals/pipelines";
@import "modals/logs";
@import "modals/delete-confirmation";
@import "modals/approve-confirmation";
@import "modals/deliver-confirmation";
@import "modals/confirm-deleted";
@import "modals/remove-scm-confirmation";

// component imports
@import "components/navigation";
@import "components/header";
@import "components/navbar";
@import "components/form";
@import "components/details-header";
@import "components/comments";
@import "components/diff";
@import "components/diff_stats";
@import "components/breadcrumb";
@import "components/nocards";
@import "components/quick_find";
@import "components/sidebar";
@import "components/tooltip";
@import "components/feature_flags";
@import "components/grouped_phase_list";

// misc
@import "style_guide";
@import "syntax";
@import "components/ace";
@import "components/emoji";
