@import "~styles/variables";
@import "~styles/mixins";

.notification-add-main {
  position: relative;

  .invalid {
    border: 1px solid $chef-critical;
  }

  .chef-input,
  label {
    font-size: 13px;
  }
}

chef-loading-spinner {
  display: block;
  text-align: center;
}

.notification-back {
  display: block;
  width: 100%;
  background: $chef-primary-light;
  padding: 11px 40px;
  color: $chef-white;
  text-decoration: none;
  font-size: 13px;
  box-sizing: border-box;

  & > chef-icon {
    position: relative;
    top: 2px;
  }
}

.notification-buttons {
  margin: 3em 0 0 -0.4em;

  @media (min-width: 1024px) {
    margin: 0;
    position: absolute;
    top: 74px;
    right: 40px;
  }

  & > button[cancel] {
    min-width: auto;
  }
}

.notification-form {
  max-width: 560px;

  & .asterisk {
    color: $chef-critical;
    font-size: inherit;
  }

  & label span {
    font-size: inherit;
  }

  ::ng-deep .mat-input-infix {
    background-color: $chef-white;
    padding-top: 0px;
    padding-left: 1em;
  }

  ::ng-deep .mat-input-underline {
    display: none;
  }
}

.notification-form-heading {
  color: $chef-primary-dark;
  font-weight: bold;
  font-size: 13px;
}

.notification-type-label {
  display: inline-block;
  padding: 14px 20px;
  margin-bottom: 2em;
  border: 1px solid $chef-light-grey;
  border-radius: $global-radius;
  background: $chef-white;

  & + & {
    margin-left: 10px;
  }
}

.notification-type-radio {
  display: none;
  width: auto;
  vertical-align: middle;
}

.notification-type-checkbox {
  @include base-box-shadow;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid $chef-light-grey;
  background: $chef-white;
  border-radius: $global-radius;
  transition: background 0.4s ease;

  .notification-type-radio:checked + & {
    background: $chef-primary-bright;
  }

  & > chef-icon {
    position: relative;
    left: 3px;
    color: $chef-white;
  }
}

.notification-type-logo {
  margin-left: 10px;
  height: 25px;
  max-width: 100px;
  vertical-align: middle;
}

.check-icon {
  bottom: 11px;
}

::ng-deep chef-form-field {
  margin-bottom: 1em;
}

.notification-select-menu {
  width: calc(100% - 20px);
  margin-bottom: 1em;

  ::ng-deep .selected-value,
  chef-option {
    font-size: 13px;
    padding: 0.8em 3.5em 0.8em 0.8em;
  }
}

.label-link {
  margin: 0;
  float: right;
  font-weight: normal;
}

chef-modal {
  #{--modal-width}: 500px;

  .status-modal {
    text-align: center;

    chef-button {
      margin-top: 20px;
    }
  }
}

.status-icon {
  margin: 0 auto 10px;
  padding: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  &.failure {
    background: $chef-critical;
  }

  &.success {
    background: $chef-success;
  }

  & > chef-icon {
    color: $chef-white;
  }
}

.status-heading {
  text-align: center;

  &.failure {
    color: $chef-critical;
  }

  &.success {
    color: $chef-success;
  }
}
