<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Servers</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', org?.server_id]">Organizations</chef-breadcrumb>
        {{ org?.name }}
      </chef-breadcrumbs>
      <chef-page-header>
        <chef-heading>{{ org?.name }}</chef-heading>
        <table>
          <thead>
            <tr class="detail-row">
              <th class="projects-column">Projects</th>
            </tr>
          </thead>
          <tbody>
            <tr class="detail-row">
              <td class="projects-column" data-cy="organization-details-projects" [ngSwitch]="org?.projects.length">
                <ng-container *ngSwitchCase="0">{{ unassigned }}</ng-container>
                <ng-container *ngSwitchCase="1">{{ org?.projects[0] }}</ng-container>
                <ng-container *ngSwitchDefault>{{ org?.projects.length }} projects</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </chef-page-header>
      <div class="main page-body">
        <app-tabs class="tabs-row" (tabChange)="tabChange($event)">
          <app-tab tabTitle="Cookbooks" #cookbooks_tab [active]="cookbooksTab">
            <app-cookbooks *ngIf="cookbooks_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-cookbooks>
          </app-tab>
          <app-tab tabTitle="Roles" #roles_tab  [active]="rolesTab">
            <app-infra-roles *ngIf="roles_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-infra-roles>
          </app-tab>
          <app-tab tabTitle="Environments" #environments_tab  [active]="environmentsTab">
            <app-environments *ngIf="environments_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-environments>
          </app-tab>  
          <app-tab tabTitle="Data Bags" #data_bags_tab  [active]="dataBagsTab">
            <app-data-bags-list *ngIf="data_bags_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-data-bags-list>
          </app-tab>
          <app-tab tabTitle="Clients" #clients_tab  [active]="clientsTab">
            <app-clients *ngIf="clients_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-clients>
          </app-tab>
          <app-tab tabTitle="Policyfiles" #policyFiles_tab  [active]="policyFilesTab">
            <app-policy-files *ngIf="policyFiles_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-policy-files>
          </app-tab>
          <app-tab tabTitle="Nodes" #nodes_tab  [active]="nodesTab">
            <app-infra-nodes *ngIf="nodes_tab.active" [serverId]="serverId" [orgId]="orgId" (resetKeyRedirection)="resetAdminKeyRedirection($event)"></app-infra-nodes>
          </app-tab>
          <app-tab tabTitle="Details" #details_tab [active]="false">
            <app-org-edit *ngIf="details_tab.active" [serverId]="serverId" [orgId]="orgId"></app-org-edit> 
          </app-tab>
          <app-tab tabTitle="Reset Admin Key" #resetkey_tab [active]="resetKeyTab">
            <app-reset-admin-key *ngIf="resetkey_tab.active" [serverId]="serverId" [orgId]="orgId"></app-reset-admin-key>
          </app-tab>
        </app-tabs>
        <chef-scroll-top></chef-scroll-top>
      </div>
    </main>
  </div>
</div>
