@import "~styles/variables";

chef-page-header {
  padding-bottom: 0;
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }
}

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

.detail-row {
  display: flex;
  color: $chef-primary-dark;
}

.id-column {
  width: 33%;
  padding-top: 0px;
  padding-left: 0px;
}

.type-column {
  width: 66%;
  padding-top: 0px;
  padding-left: 0px;
}

.projects-column {
  width: 33%;
  padding-top: 0px;
  padding-left: 0px;
}

chef-table {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.page-body {
  padding-top: 0;

  chef-loading-spinner {
    display: block;
    margin: 100px auto;
    width: 100px;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}
