<div id="pending-edits-bar" [hidden]="!showPendingEditsBar">
  <span class="info">Project edits pending, update <a [routerLink]="['/settings/projects']">projects</a> to apply changes.</span>
  <app-authorized [allOf]="['/iam/v2/apply-rules', 'post']">
    <button mat-button (click)="openConfirmUpdateStartModal()">Update Projects</button>
  </app-authorized>
</div>

<app-confirm-apply-start-modal
  [visible]="confirmApplyStartModalVisible"
  (confirm)="confirmApplyStart()"
  (cancel)="cancelApplyStart()">
</app-confirm-apply-start-modal>