@import "~styles/variables";

#pending-edits-bar {
  background-color: $chef-primary-bright;
  color: $chef-white;
  padding: 7px 10px;
  position: relative;

  .info {
    font-size: 14px;
    font-weight: 500;

    a {
      color: inherit;
    }
  }

  button {
    border: 1px $chef-white solid;
    margin: 5px 5px 0 0;
    line-height: 26px;
    position: absolute;
    right: 0;
    top: 0;
  }

  button:hover,
  button:focus {
    background-color: #174af0;
  }
}

