@import "~styles/variables";

#pending-edits-bar {
  background-color: $chef-primary-bright;
  color: $chef-white;
  padding: 16px 10px;
  position: relative;

  .info {
    font-size: 16px;
    font-weight: 500;

    a {
      color: inherit;
    }
  }

  button {
    margin: 8px;
    border: 1px solid $chef-white;
    position: absolute;
    right: 0;
    top: 0;
  }

  button:hover,
  button:focus {
    background-color: #174AF0;
  }
}

