@import "~styles/variables";

chef-page-header {
  padding-bottom: 0;
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }

  chef-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    float: right;
    width: 150px;
    height: 36px;
    top: 268px;
    background: #3864F2;
    border-radius: 4px;
  }
}

chef-tab-selector {
  chef-option {
    margin-right: 4px;
    color: $chef-primary-dark;
  }

  ::ng-deep .selected {
    background-color: #F3F6F8;
  }

  ::ng-deep .selected::before {
    height: 4px;
    background-color: #3864F2;
  }

  chef-option:focus {
    outline: none;
  }

  ::ng-deep chef-option::before {
    height: 4px;
    background-color: #E7E9E9;
  }

}

form {

  chef-form-field {
    width: 300px;
    margin-bottom: 15px;
  }

  input {
    font-size: 1em;
  }

  input[type="text"]:disabled {
    opacity: 0.5;
    background-color: $chef-grey;
    border: none;
  }

  #changes-not-allowed {
    font-size: 12px;
  }

  #button-bar {
    margin-top: 15px;

    span#saved-note {
      display: inline-block;
      margin-top: 5px;
      font-size: 12px;
    }

    chef-button {
      margin-top: 0;
      margin-left: 0;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }
}

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

.detail-row {
  display: flex;
  color: $chef-primary-dark;
}

.id-column {
  width: 33%;
  padding-top: 0px;
  padding-left: 0px;
}

.type-column {
  width: 66%;
  padding-top: 0px;
  padding-left: 0px;
}

chef-table {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  .no_border_th {
    border: none;
    font-size: 12px;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

