@import "~styles/variables";
@import '../infra_shared/shared';

chef-page-header {
  padding-bottom: 0;
}

.meta-box {
  border: 0.5px solid $chef-key-tab;
  border-radius: 4px;
  margin-bottom: 4em;
  padding: 1em 0 2em;
  background: $chef-white;

  .summary-body {
    display: inline-block;
    font-size: 14px;
    padding: 0 1em;

    &.first {
      width: 40%;

      .heading {
        display: inline-block;
        font-weight: bold;
        width: 30%;
      }

      .server-entity-value {
        width: 70%;
      }
    }

    &.middle {
      width: 45%;

      .heading {
        display: inline-block;
        font-weight: bold;
        width: 30%;
      }

      .server-entity-value {
        width: 70%;
      }
    }

    &.last {
      width: 14%;
    }

    .meta-head {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      color: $chef-black;
    }

    ul {
      color: $chef-primary-dark;
      list-style: none;
      padding: 0;

      li {
        display: flex;
        margin-bottom: 15px;
        height: 20px;

        span {
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.2px;

          &.webUIKeyStatus {
            text-transform: uppercase;
          }

          &.update-link {
            padding-left: 10px;
            text-decoration: underline;

            a {
              cursor: pointer;
            }
          }
        }

        img {
          margin: 2.5px 5.5px 0px 0px;
          width: 14px;
          height: 13.5px;
        }
      }
    }

    .sync-button {
      float: right;
      margin-bottom: -16px;

      .img-inline {
        width: 17px;
        height: 17px;
        margin-right: 5px;
      }
    }
  }
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }

  chef-button {
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    float: right;
    background: $chef-primary-bright;
    border-radius: 4px;
    height: 36px;
  }
}

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
  height: 50px;
}

.detail-row {
  display: flex;
  color: $chef-primary-dark;
}

.id-column {
  width: 33%;
  padding-top: 0px;
  padding-left: 0px;
}

.type-column {
  width: 66%;
  padding-top: 0px;
  padding-left: 0px;
}

chef-table {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  chef-th {
    font-size: 12px;
  }
}

.spinner {
  chef-loading-spinner {
    width: auto;
    z-index: 199;
    background-color: $chef-white;
    opacity: 0.7;
  }
}

.empty-section {
  margin-top: 130px;
  text-align: center;
}

img {
  width: 70px;
}

::ng-deep chef-button button:focus {
  outline: none;
}

.version-dropdown {
  color: $chef-primary-dark;
  margin-bottom: 30px;

  ::ng-deep label {
    display: inline;
    color: $chef-primary-dark;
    font-size: 15px;
    margin-right: 15px;
  }

  chef-select {
    font-size: 14px;
    font-weight: normal;
  }

  ::ng-deep chef-select .selected-value {
    height: 45px;
    width: 309px;
    background: $chef-white;
    padding: 1em;
    border: 1px solid $chef-form-input;
    box-sizing: border-box;
    border-radius: 4px;
  }

  ::ng-deep chef-select chef-dropdown {
    border: 1px solid $chef-key-tab;
    box-sizing: border-box;
    border-radius: 4px;
  }

  ::ng-deep chef-select chef-option {
    height: 32px;
    padding: 0.4em;
  }

  ::ng-deep chef-select .selected {
    background: $chef-primary-bright;
    border-radius: 4px;
  }
}

.circular-chart {
  display: inline-block;
  width: 30px;
  justify-content: space-around ;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle {
  stroke: #3864F1;
}

.svg-block {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
}

.status-icon-completed {
  position: absolute;
  margin-top: 0px;

  &::before {
    font-family: "Material Icons";
    content: "\E86C";  // circle-check icon - https://material.io/resources/icons/?icon=check_circle&style=baseline
    color: #3864F1;
    padding-right: 0.5em;
    font-size: 17px;
  }
}
.status-icon-failed {
  position: absolute;
  margin-top: 0px;

  &::before {
    font-family: "Material Icons";
    content: "\e000";  // circle-check icon - https://material.io/resources/icons/?icon=check_circle&style=baseline
    color: #E0408A;
    padding-right: 0.5em;
    font-size: 17px;
  }
}

.status-text {
  margin-left: 25px;
}
