@import "~styles/variables";
@import "~styles/mixins";

.reporting-search {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid $chef-light-grey;
  border-radius: $global-radius;

  .reporting-search-input {
    padding: 1.25em;
    width: 100%;
    border: none;
    border-radius: $global-radius;
    background-color: $chef-white;
    font-family: inherit;
    font-size: 13px;
  }

  .reporting-search-prefix {
    display: flex;
    position: relative;
    padding: 0.5em 0 0.5em 1em;
    white-space: nowrap;

    strong {
      font-size: 14px;
    }
  }

  .reporting-search-suffix {
    display: flex;
    position: relative;
    padding: 0.5em 1em 0.5em 0;

    chef-button {
      margin: 0 0 0 0.5em;

      &:first-child {
        margin-left: 0;
      }
    }

    chef-dropdown {
      top: 100%;
      right: 0;
      padding: 0.5em;
    }
  }
}

.filters-list {
  @include base-box-shadow();
  background: $chef-white;
  border: 1px solid $chef-grey;
  border-radius: $global-radius;
  padding: 0.5em;
}

.input-dropdown {
  @include base-box-shadow();
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: $white;
  position: absolute;
  z-index: 99;
  width: 232px;
  font-size: 13px;
  top: 171px;

  &.categories {
    width: 232px;
  }

  &.suggestions {
    width: 400px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 8px 10px;
    border-bottom: 1px solid lightGrey;

    &.list-item {
      &.selected {
        color: $white;
        cursor: pointer;
        background-color: $chef-primary-bright;

        &:last-child {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }

        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        &.category::after {
          color: $white;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.suggestion-status {
      color: $chef-dark-grey;
    }

    &.no-category-items {
      font-size: 13px;
      color: $chef-critical;
    }

    chef-icon {
      color: $chef-primary-bright;
      float: right;
    }
  }
}

::placeholder {
  color: lightgray;
}

:-ms-input-placeholder {
  color: lightgray;
}

::-ms-input-placeholder {
  color: lightgray;
}
