%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [
  {getopt, ".*",  %% use a catch all regex and peg with a tag if needed
    {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}}
 ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{dev_only_deps,
 [
  {meck, ".*",
   {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
  {hoax, ".*",
   {git, "git://github.com/xenolinguist/hoax.git", {branch, "master"}}}
 ]}.

%% Set this to true if you will build OTP releases of this project via
%% `make rel` and want to include the rebar_lock_deps_plugin. You can
%% also specify `{branch, Branch}' or `{tag, Tag}' to use a specific
%% build of the plugin.
{use_lock_deps, false }.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, true}.

{cover_enabled, true}.
{escript_name, "enterprise_ctl"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_incl_apps, [getopt]}.
