<app-authorized [allOf]="getPermissionsPath" [overrideVisible]="overridePermissionsCheck">
  <ng-container *ngIf="showEmptyMessage">
    <div class="empty-state">
      <p>Add some users to get started!</p>
    </div>
  </ng-container>
  <chef-toolbar>
    <app-authorized [allOf]="createPermissionsPath" [overrideVisible]="overridePermissionsCheck">
      <div *ngIf="showEmptyMessage || showTable" [ngClass]="showEmptyMessage ? 'empty-state' : ''">
        <chef-button primary data-cy="app-user-table-add-button" [disabled]="!addButtonEnabled" (click)="addClicked.emit($event)"> {{ addButtonText }}
        </chef-button>
      </div>
    </app-authorized>
  </chef-toolbar>
  <ng-container *ngIf="showTable">
    <chef-table-new>
      <chef-table-header>
        <chef-table-row>
          <chef-table-header-cell class="name-column">Display Name</chef-table-header-cell>
          <chef-table-header-cell class="username-column">Username</chef-table-header-cell>
          <chef-table-header-cell class="three-dot-column"></chef-table-header-cell>
        </chef-table-row>
      </chef-table-header>
      <chef-table-body>
        <chef-table-row *ngFor="let user of users">
          <chef-table-cell class="name-column">
            <a [routerLink]="['/settings', 'users', user.id]">{{ user.name }}</a>
          </chef-table-cell>
          <chef-table-cell class="username-column">
            {{ user.id }}
          </chef-table-cell>
          <chef-table-cell class="three-dot-column">
            <!-- <app-authorized [allOf]="['/iam/v2/users/{id}', 'delete', user.id]"> -->
            <mat-select panelClass="chef-control-menu" data-cy="select">
              <mat-option data-cy="delete" (onSelectionChange)="deleteUser($event, user)">{{ removeText }}</mat-option>
            </mat-select>
            <!-- </app-authorized> -->
          </chef-table-cell>
        </chef-table-row>
      </chef-table-body>
    </chef-table-new>
  </ng-container>
</app-authorized>
