<app-authorized [allOf]="getPermissionsPath">
  <ng-container *ngIf="showEmptyMessage">
    <app-authorized [allOf]="createPermissionsPath">
      <div class="empty-state">
        <p>Add some users to get started!</p>
      </div>
    </app-authorized>
    <app-authorized not [allOf]="createPermissionsPath">
      <div class="empty-state">
        <ng-content></ng-content>
     </div>
    </app-authorized>
  </ng-container>
  <chef-toolbar>
    <app-authorized [allOf]="createPermissionsPath">
      <div *ngIf="showEmptyMessage || showTable" [ngClass]="showEmptyMessage ? 'empty-state' : ''">
        <chef-button primary data-cy="app-user-table-add-button" [disabled]="!addButtonEnabled" (click)="addClicked.emit($event)"> {{ addButtonText }}
        </chef-button>
      </div>
    </app-authorized>
  </chef-toolbar>
  <ng-container *ngIf="showTable">
    <chef-table>
      <chef-thead>
        <chef-tr>
          <chef-th class="name-column">Display Name</chef-th>
          <chef-th class="username-column">Username</chef-th>
          <chef-th class="three-dot-column"></chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let user of users">
          <chef-td class="name-column">
            <a [routerLink]="['/settings', 'users', user.id]">{{ user.name }}</a>
          </chef-td>
          <chef-td class="username-column">
            {{ user.id }}
          </chef-td>
          <chef-td class="three-dot-column">
            <!-- <app-authorized [allOf]="['/apis/iam/v2/users/{id}', 'delete', user.id]"> -->
            <mat-select panelClass="chef-control-menu" data-cy="select">
              <mat-option data-cy="delete" (onSelectionChange)="deleteUser($event, user)">{{ removeText }}</mat-option>
            </mat-select>
            <!-- </app-authorized> -->
          </chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</app-authorized>
