<div class="user-card card">
  <div class="card-content">
    <header>
      <button class="button square secondary" icon-button="pencil" ng-click="toggleEditForm()" title="Edit User"></button>
      <h2 class="card-title">{{ user.name }}</h2>
    </header>
  </div>
  <form class="edit-user-form" ng-if="showEditForm">
    <fieldset>
      <legend>User Authentication Type</legend>
      <div class="field">
        <div class="button-bar">
          <a class="button small secondary" ng-disabled="internalDisabled" ng-class="{ active: user.userType === 'internal' }" ng-click="switchUserType('internal')">Chef Automate</a>
          <a class="button small secondary" ng-disabled="externalDisabled" ng-class="{ active: user.userType === 'external' }" ng-click="switchUserType('external')">LDAP</a>
          <a class="button small secondary" ng-disabled="samlDisabled" ng-class="{ active: user.userType === 'saml' }" ng-click="switchUserType('saml')">SAML</a>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>User Details</legend>
      <div class="field">
        <div class="little-title">First Name</div>
        <em ng-if="user.userType === 'internal'" class="required-indicator">*</em>
        <input ng-disabled="user.userType != 'internal'" type="text" placeholder="Jane" ng-model="user.first">
      </div>
      <div class="field">
        <div class="little-title">Last Name</div>
        <em ng-if="user.userType === 'internal'" class="required-indicator">*</em>
        <input ng-disabled="user.userType != 'internal'" type="text" placeholder="Smith" ng-model="user.last">
      </div>
      <div class="field">
        <div class="little-title">Email</div>
        <em ng-if="user.userType === 'internal'" class="required-indicator">*</em>
        <input ng-disabled="user.userType != 'internal'" type="text" placeholder="jsmith@example.com" ng-model="user.email">
      </div>
    </fieldset>
    <fieldset>
      <legend>Security Information</legend>
      <div class="field">
        <div class="little-title">Username</div>
        <em class="required-indicator">*</em>
        <input type="text" placeholder="jsmith" ng-model="user.name">
      </div>
      <div class="field" ng-if="user.links.changePassword && user.userType == 'internal'">
        <div class="little-title">Password</div>
        <em class="required-indicator">*</em>
        <input type="password" placeholder="Password" ng-model="user.password">
      </div>
      <div class="field-tooltip icon-circle-question"
        bs-tooltip data-title="Public SSH key is mandatory if you wish to clone or push to repos."
        data-trigger="hover">
      </div>
      <div class="field">
        <div class="little-title">SSH Key</div>
        <textarea placeholder="(Optional)" ng-model="user.sshPubKey"></textarea>
      </div>
    </fieldset>
    <fieldset class="roles" ng-if="user.roles">
      <legend>Roles Within the Enterprise</legend>
      <div class="field checkbox-list" cd-roles-field></div>
    </fieldset>
    <div class="form-controls">
      <button class="button primary" ng-click="saveAndClose()">Save &amp; Close</button>
      <button class="button secondary" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
