<app-admin-sidebar *ngIf="isAdminView"> </app-admin-sidebar>
<app-profile-sidebar *ngIf="!isAdminView"> </app-profile-sidebar>

<div class="container">
  <main *ngIf="isAdminView || user.id">
    <app-delete-object-modal
      [visible]="modalVisible"
      objectNoun="user"
      [objectName]="user.name"
      (close)="closeDeleteConfirmationModal()"
      (deleteClicked)="deleteUser()">
    </app-delete-object-modal>
    <chef-breadcrumbs *ngIf="isAdminView">
      <chef-breadcrumb [link]="['/settings/users']">Users</chef-breadcrumb>
      {{ user.name }}
    </chef-breadcrumbs>

    <chef-page-header>
      <div class="detail-row">
        <div class="name-column">
          <ng-container *ngIf="!editMode">
            <div class="display3">{{ user.name }}</div>
          </ng-container>
          <ng-container *ngIf="editMode">
            <form [formGroup]="editForm">
              <chef-form-field class="display3">
                <label>
                  <span class="label">Full Name <span aria-hidden="true">*</span></span>
                  <chef-input ngDefaultControl formControlName="fullName"></chef-input>
                </label>
                <chef-error *ngIf="(editForm.get('fullName').hasError('required') || editForm.get('fullName').hasError('pattern')) && editForm.get('fullName').dirty">
                  Full Name is required.
                </chef-error>
              </chef-form-field>
            </form>
          </ng-container>
          <div class="container-big-header inline-container">
            <span class="text"> {{ user.id }}</span>
          </div>
        </div>
        <div class="button-column">
          <ng-container *ngIf="!editMode">
            <chef-button secondary class="edit-button" (click)="setEditMode(true)">
              <chef-icon>mode_edit</chef-icon>
              <span>Edit</span>
            </chef-button>
            <chef-button *ngIf="isAdminView" secondary caution class="delete-button" (click)="openDeleteConfirmationModal()">
              <chef-icon>delete</chef-icon>
              <span>Delete user</span>
            </chef-button>
          </ng-container>
          <ng-container *ngIf="editMode">
            <chef-button primary class="save-button" (click)="updateFullName()">
              <span>Save</span>
            </chef-button>
            <chef-button tertiary (click)="setEditMode(false)">Cancel</chef-button>
          </ng-container>
        </div>
      </div>
      <chef-tab-selector>
        <chef-option value='password'>Password</chef-option>
      </chef-tab-selector>
    </chef-page-header>
    <section class="page-body">
      <div *ngIf="!isAdminView" id="password-description">
        Update your password below. It must have a minimum of 8 characters and contain at least 3 distinct characters.
      </div>
      <form [formGroup]="passwordForm">
        <chef-form-field *ngIf="!isAdminView" class="password">
          <label>
            <span class="label">Old Password <span aria-hidden="true">*</span></span>
            <chef-input ngDefaultControl formControlName="oldPassword" type="password"></chef-input>
          </label>
          <chef-error *ngIf="passwordForm.get('oldPassword').hasError('required') && passwordForm.get('oldPassword').dirty">
            Old Password is required.
          </chef-error>
          <chef-error *ngIf="passwordForm.get('oldPassword').hasError('minlength') && passwordForm.get('oldPassword').dirty">
            Old Password must be at least 8 characters.
          </chef-error>
        </chef-form-field>
         <chef-form-field class="password">
          <label>
            <span class="label">New Password <span aria-hidden="true">*</span></span>
            <chef-input ngDefaultControl formControlName="newPassword" type="password"></chef-input>
          </label>
          <chef-error *ngIf="(passwordForm.get('newPassword').hasError('required') || passwordForm.get('newPassword').hasError('pattern')) && passwordForm.get('newPassword').dirty">
            New Password is required.
          </chef-error>
          <chef-error *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').dirty">
            New Password must be at least 8 characters.
          </chef-error>
        </chef-form-field>
        <chef-form-field class="password">
          <label>
            <span class="label">Confirm New Password <span aria-hidden="true">*</span></span>
            <chef-input ngDefaultControl formControlName="confirmPassword" type="password"></chef-input>
          </label>
          <chef-error *ngIf="passwordForm.get('confirmPassword').hasError('noMatch') && passwordForm.get('confirmPassword').dirty">
            Passwords must match.
          </chef-error>
        </chef-form-field>
        <chef-button [disabled]="!passwordForm.valid" class="update-password-button" primary (click)="updatePassword()">
          <span>Update Password</span>
        </chef-button>
      </form>
    </section>
  </main>
</div>
