<chef-page
  subheading="Only local users can be added to teams."
  [attr.secondary-btn-show]="showSecondary"
  [attr.heading]="getHeading()"
  [attr.confirm-btn-text]="getConfirmBtnText()"
  [attr.page-loading]="loading$ | async"
  [attr.confirm-loading]="addingUsers"
  [attr.disable-confirm]="usersToAddValues().length === 0"
  [attr.error-message]="getErrorMessage()"
  (confirm)="addUsers()"
  (close)="closePage()">
  <div *ngIf="!(loading$ | async)">
    <app-create-user-modal [openEvent]="openUserModal"></app-create-user-modal>
    <div id="no-users-container" *ngIf="usersNotFiltered().length === 0">
      <app-authorized not [allOf]="['/iam/v2/users', 'post']">
        <p>All local users have already been added.</p>
      </app-authorized>
      <app-authorized [allOf]="['/iam/v2/users', 'post']">
        <p>All local users have already been added; create some more!</p>
        <chef-button primary (click)="openModal()">Create User</chef-button>
      </app-authorized>
    </div>
    <div id="table-container" *ngIf="usersNotFiltered()?.length > 0">
      <div id="table-controls">
        <app-authorized [allOf]="['/iam/v2/users', 'post']">
          <chef-button primary (click)="openModal()">Create User</chef-button>
        </app-authorized>
        <div id="users-selected">
          {{ usersToAddValues().length | pluralize : 'user' : '+s' }} selected
        </div>
      </div>
      <div id="inner-container">
        <chef-table-new>
          <chef-table-header>
            <chef-table-row>
              <chef-table-header-cell class="checkbox-row"></chef-table-header-cell>
              <chef-table-header-cell>Name</chef-table-header-cell>
              <chef-table-header-cell>Username</chef-table-header-cell>
            </chef-table-row>
          </chef-table-header>
          <chef-table-body>
            <chef-table-row *ngFor="let user of usersNotFiltered()">
              <chef-table-cell class="checkbox-row">
                <chef-checkbox (change)="addOrRemoveQueuedUser($event.detail, user)" [checked]="isUserChecked(user)"></chef-checkbox>
              </chef-table-cell>
              <chef-table-cell>
                <a [routerLink]="['/settings', 'users', user.id]" target="_blank">
                  {{ user.name }}
                </a>
              </chef-table-cell>
              <chef-table-cell>
                {{ user.id }}
              </chef-table-cell>
            </chef-table-row>
          </chef-table-body>
        </chef-table-new>
      </div>
    </div>
  </div>
</chef-page>
