@import "~styles/variables";

.sub-sidebar {
  width: 260px;
  position: fixed;
  top: $sidebar-top;
  bottom: 0;
  left: $sidebar-width + 1px;
  background-color: $white;
  z-index: 100;
  box-shadow: 3px 0 14px $gray-less-pale;
  overflow-y: auto;
  padding: 1em;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  &.active {
    transform: translateX(0);
  }

  .close {
    margin: 0 0 1em;
    float: right;
  }

  .pos-relative {
    position: relative;
  }
}

@media screen and (max-width: 769px) {
  .sub-sidebar {
    left: $sidebar-small-width + 1px;
  }
}
