<chef-sidebar>
  <div class="select-items">
    <button class="sub-sidebar-button" id="server-sub-sidebar-button" (click)="openSidebar('server')"
      [ngClass]="{selected: serverBarActive, 'server-org-sidebar-button': true}">
      <chef-sidebar-entry>All Chef servers</chef-sidebar-entry>
    </button>
    <button class="sub-sidebar-button" id="org-sub-sidebar-button" (click)="openSidebar('org')"
      [ngClass]="{'selected': orgBarActive, 'server-org-sidebar-button': true}">
      <chef-sidebar-entry>All Chef server orgs</chef-sidebar-entry>
    </button>
  </div>
  <div class="nav-items">
    <ng-content></ng-content>
  </div>
</chef-sidebar>

<chef-click-outside omit="server-org-sidebar-button" (clickOutside)="closeSidebar()">
  <div class="sub-sidebar" [ngClass]="{'active': subSidebarActive}">
    <chef-button id="sub-sidebar-close" secondary label="close" class="close" (click)="closeSidebar()">
      <chef-icon>close</chef-icon>
    </chef-button>
    <app-sidebar-select-list
      *ngIf="serverBarActive"
      [allItemsObs]="servers"
      [label]="'Servers'"
      [selectedItemsObs]= "selectedServers"
      (selected)="filter('servers', $event)">
    </app-sidebar-select-list>
    <app-sidebar-select-list
      *ngIf="orgBarActive"
      [allItemsObs]="organizations"
      [label]="'Organizations'"
      [selectedItemsObs]= "selectedOrganizations"
      (selected)="filter('organizations', $event)">
    </app-sidebar-select-list>
  </div>
</chef-click-outside>
