<div class="content-container">
  <div class="container">
    <main *ngIf="isAdminView || user?.id">
      <chef-breadcrumbs *ngIf="isAdminView">
        <chef-breadcrumb [link]="['/settings/users']">Users</chef-breadcrumb>
        {{ user?.name }}
      </chef-breadcrumbs>
  
      <chef-page-header>
        <div class="detail-row">
          <div class="name-column">
            <div class="header-user-name">{{ user?.name }}</div>
            <div class="header-user-id-label">Username</div>
            <div class="header-user-id">{{ user?.id }}</div>
          </div>
        </div>
        <chef-tab-selector (change)="onSelectedTab($event)" [value]="tabValue">
          <chef-option value='details'>Details</chef-option>
          <chef-option value='password'>Reset Password</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <form [formGroup]="displayNameForm">
          <chef-form-field>
            <label>Display Name <span aria-hidden="true">*</span></label>
            <input chefInput formControlName="displayName" type="text" [resetOrigin]="saveSuccessful" autocomplete="off"
              data-cy="user-details-name-input">
            <chef-error
              *ngIf="(displayNameForm.get('displayName').hasError('required') || displayNameForm.get('displayName').hasError('pattern')) && displayNameForm.get('displayName').dirty">
              Display Name is required.
            </chef-error>
          </chef-form-field>
        </form>
        <chef-button [disabled]="(loading$ | async) || !displayNameForm.valid || !displayNameForm.dirty" primary inline
          (click)="saveDisplayName()" data-cy="user-details-submit-button">
          <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
          <span *ngIf="saveInProgress">Saving...</span>
          <span *ngIf="!saveInProgress">Save</span>
        </chef-button>
        <span id="saved-note" *ngIf="saveSuccessful && !displayNameForm.dirty">All changes saved.</span>
      </section>
      <section class="page-body" *ngIf="tabValue === 'password'">
        <form [formGroup]="passwordForm">
          <chef-form-field *ngIf="!isAdminView" class="password">
            <label>
              <span class="label">Previous Password <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="previousPassword" type="password"/>
            </label>
            <chef-error
              *ngIf="passwordForm.get('previousPassword').hasError('required') && passwordForm.get('previousPassword').dirty">
              Previous Password is required.
            </chef-error>
            <chef-error
              *ngIf="passwordForm.get('previousPassword').hasError('minlength') && passwordForm.get('previousPassword').dirty">
              Previous Password must be at least 8 characters.
            </chef-error>
          </chef-form-field>
          <chef-form-field class="password">
            <label>
              <span class="label">New Password <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="newPassword" type="password"/>
            </label>
            <chef-error
              *ngIf="(passwordForm.get('newPassword').hasError('required') || passwordForm.get('newPassword').hasError('pattern')) && passwordForm.get('newPassword').dirty">
              New Password is required.
            </chef-error>
            <chef-error
              *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').dirty">
              New Password must be at least 8 characters.
            </chef-error>
          </chef-form-field>
          <p class="password-description">
            Must be a minimum of 8 total characters with at least 3 distinct characters. <br/>
            May include both upper and lower case letters, punctuation marks, and symbols.
          </p>
          <chef-form-field class="password">
            <label>
              <span class="label">Confirm New Password <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="confirmPassword" type="password"/>
            </label>
            <chef-error
              *ngIf="passwordForm.get('confirmPassword').hasError('noMatch') && passwordForm.get('confirmPassword').dirty">
              Passwords must match.
            </chef-error>
          </chef-form-field>
        </form>
        <chef-button [disabled]="!passwordForm.valid" class="update-password-button" primary (click)="savePassword()">
          <span>Reset Password</span>
        </chef-button>
      </section>
    </main>
  </div>
</div>
