<div class="content-container">
  <div class="container">
    <main *ngIf="!loading">
      <chef-breadcrumbs *ngIf="userDetails.showBreadcrumbs">
        <chef-breadcrumb [link]="['/settings/users']">Users</chef-breadcrumb>
        {{ userDetails.user?.name }}
      </chef-breadcrumbs>

      <chef-page-header>
        <div class="detail-row">
          <div class="name-column">
            <div class="header-user-name">{{ userDetails.user?.name }}</div>
            <div class="header-user-id-label">Username</div>
            <div class="header-user-id">{{ userDetails.user?.id }}</div>
          </div>
        </div>
        <chef-tab-selector (change)="onSelectedTab($event)" [value]="tabValue">
          <chef-option value='details'>Details</chef-option>
          <chef-option value='password' *ngIf="isResetPwdTab">Reset Password</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <form [formGroup]="userDetails.displayNameForm">
          <!-- displayname is shown for saml & ldap users in future -->
          <chef-form-field class="chef-form-field" *ngIf="userType === 'local'">
            <label for="displayName">Display Name <span aria-hidden="true">*</span></label>
            <input id="displayName" chefInput formControlName="displayName" type="text" [resetOrigin]="userDetails.saveSuccessful" autocomplete="off"
              data-cy="user-details-name-input" [readonly]="!isDisplayNameEditable">
            <chef-error
              *ngIf="(userDetails.displayNameForm.get('displayName').hasError('required') || userDetails.displayNameForm.get('displayName').hasError('pattern')) && userDetails.displayNameForm.get('displayName').dirty">
              Display Name is required.
            </chef-error>
          </chef-form-field>
          <chef-form-field class="timezone-field chef-form-field">
            <label for="timeformat">Time Format</label>
            <mat-select 
              #timeformat 
              panelClass="chef-dropdown"
              [value]="userDetailsFormControl.timeformat" 
              (selectionChange)="handleTimeFormatChange($event)" 
              data-cy="timeformat-dropdown">
                <mat-option *ngFor="let timeformatValue of userDetailsFormControl.timeformatValues" [value]="timeformatValue">
                  {{ timeformatValue }}
                </mat-option>
            </mat-select>
          </chef-form-field>
          <chef-form-field class="telemetry-checkbox-field">
            <app-telemetry-checkbox></app-telemetry-checkbox>
          </chef-form-field>
        </form>
        <chef-button 
          [disabled]="((userDetails.loading$ | async) || !userDetails.displayNameForm.valid || !userDetails.displayNameForm.dirty) && !userDetailsFormControl.isTimeformatDirty && !userDetailsFormControl.isTelemetryCheckboxDirty" 
          primary inline 
          (click)="userDetails.saveUserPreference(timeformat, userDetailsFormControl)" 
          data-cy="user-details-submit-button">
            <chef-loading-spinner *ngIf="userDetails.saveInProgress"></chef-loading-spinner>
            <span *ngIf="userDetails.saveInProgress">Saving...</span>
            <span *ngIf="!userDetails.saveInProgress">Save</span>
        </chef-button>
        <span id="saved-note" *ngIf="userDetails.saveSuccessful && !userDetails.displayNameForm.dirty">All changes saved.</span>
      </section>
      <section class="page-body" *ngIf="tabValue === 'password'">
        <form [formGroup]="userDetails.passwordForm">
          <chef-form-field *ngIf="userDetails.showPreviousPassword" class="password chef-form-field">
            <label>
              <span class="label">Previous Password <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="previousPassword" type="password"/>
            </label>
            <chef-error
              *ngIf="userDetails.passwordForm.get('previousPassword').hasError('required') && userDetails.passwordForm.get('previousPassword').dirty">
              Previous Password is required.
            </chef-error>
            <chef-error
              *ngIf="userDetails.passwordForm.get('previousPassword').hasError('minlength') && userDetails.passwordForm.get('previousPassword').dirty">
              Previous Password must be at least 8 characters.
            </chef-error>
          </chef-form-field>
          <chef-form-field class="password chef-form-field">
            <label>
              <span class="label">New Password <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="newPassword" type="password" (keyup)="handlePasswordInput()" />
            </label>
            <chef-error
              *ngIf="(userDetails.passwordForm.get('newPassword').hasError('required') || userDetails.passwordForm.get('newPassword').hasError('pattern')) && userDetails.passwordForm.get('newPassword').dirty">
              New Password is required.
            </chef-error>
            <chef-error
              *ngIf="userDetails.passwordForm.get('newPassword').hasError('minlength') && userDetails.passwordForm.get('newPassword').dirty">
              New Password must be at least 8 characters.
            </chef-error>
          </chef-form-field>
          <p class="password-description">
            Must be a minimum of 8 total characters with at least 3 distinct characters. <br/>
            May include both upper and lower case letters, punctuation marks, and symbols.
          </p>
          <chef-form-field class="password chef-form-field">
            <label>
              <span class="label">Confirm New Password <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="confirmPassword" type="password"/>
            </label>
            <chef-error
              *ngIf="userDetails.passwordForm.get('confirmPassword').hasError('noMatch') && userDetails.passwordForm.get('confirmPassword').dirty">
              Passwords must match.
            </chef-error>
          </chef-form-field>
        </form>
        <chef-button [disabled]="!userDetails.passwordForm.valid" class="update-password-button" primary (click)="userDetails.savePassword()">
          <span>Reset Password</span>
        </chef-button>
      </section>
    </main>
  </div>
</div>
