@import '../table.component';

:host {
  display: inline-block;
  padding: $size_16;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid $chef-grey;
  border-top: 1px solid $chef-grey;
  overflow: hidden;
  // text-overflow: ellipsis;

  &.text-right {
    text-align: right;
  }
}

:host:first-child {
  border-left: 1px solid $chef-grey;
  border-radius: $global-radius 0 0 $global-radius;
}

:host:last-child {
  border-right: 1px solid $chef-grey;
  border-radius: 0 $global-radius $global-radius 0;
}
