@import "~styles/variables";

.manager-header {
  display: flex;
  align-items: center;

  .manager-toggle,
  .manager-type {
    margin-right: 1em;
  }

  .manager-type {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    padding: 0.25em;
    border: 1px solid $chef-grey;
    border-radius: 4px;
  }

  .manager-title {
    p {
      margin: 0;
      color: $chef-dark-grey;
    }

    .selected-count::before {
      display: inline-block;
      margin: 0 0.5em;
      content: '-';
    }
  }
}

.manager-body {
  display: flex;
  border-top: 1px solid $chef-grey;
  margin-top: 1em;
  padding-top: 1em;

  .manager-nodes-select {
    flex: 1;
    margin-right: 1em;
  }

  .manager-nodes-preview {
    margin: -1em 0;
    position: relative;
    flex: 1;
    max-height: 638px;
    overflow: auto;

    .loading-overlay {
      display: flex;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      transition: opacity 0.4s;

      &[aria-hidden='true'] {
        opacity: 0;
      }
    }

    chef-table {
      margin-top: 0.5em;
    }
  }

  fieldset {
    margin: 1em 0;
    padding: 0;
    border: none;

    &:first-child {
      margin: 0;
    }
  }
}

chef-form-field {
  width: auto;
  min-width: 230px;
}

.field {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;

  select,
  chef-form-field,
  chef-button {
    margin: 2px;
  }

  select {
    font-size: 0.75em;
    border: 1px solid $chef-light-grey;
    height: 39px;
  }

  chef-button {
    padding: 2px;
  }
}

.values-group {
  flex: 1;

  .value-group {
    display: flex;
    align-items: flex-start;
  }
}
