@use '@angular/material' as mat;
@import './_chef_material_palettes.scss';
@import './mixins';

mat.$theme-ignore-duplication-warnings: true;

@include mat.core();

// This is a theme for our components wrapping Angular Material.

// Currently we are passing accent colors in for both primary
// and accent colors because we are actually not using the
// chef primary colors much in the micro actions. If that changes,
// we should revist

$chef-primary: mat.m2-define-palette($chef-mat-primary);
$chef-accent:  mat.m2-define-palette($chef-mat-primary);

// The warn palette is pink and yellow
$chef-warn:    mat.m2-define-palette($chef-mat-warn);

// Create the theme object (a Sass map containing all of the palettes).
$chef-theme: mat.m2-define-light-theme((
  color: (
    primary: $chef-primary,
    accent: $chef-accent,
    warm: $chef-warn
  )
));

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.m2-define-typography-config(
  $font-family:   'Muli',
  $headline-1:    mat.m2-define-typography-level(112px, 112px, 300),
  $headline-2:    mat.m2-define-typography-level(56px, 56px, 400),
  $headline-3:    mat.m2-define-typography-level(45px, 48px, 400),
  $headline-4:    mat.m2-define-typography-level(34px, 40px, 400),
  $headline-5:    mat.m2-define-typography-level(24px, 32px, 400),
  $headline-6:    mat.m2-define-typography-level(20px, 32px, 500),
  $subtitle-1:    mat.m2-define-typography-level(16px, 28px, 400),
  $subtitle-2:    mat.m2-define-typography-level(15px, 24px, 400),
  $body-2:        mat.m2-define-typography-level(14px, 24px, 500),
  $body-1:        mat.m2-define-typography-level(14px, 20px, 400),
  $caption:       mat.m2-define-typography-level(12px, 20px, 400),
  $button:        mat.m2-define-typography-level(14px, 14px, 500),
  $overline:      mat.m2-define-typography-level(inherit, 1.125, 400)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat.all-component-typographies($custom-typography);

// Include theme styles for core and each component used in your app.
// In Angular Material 19, use the correct theme mixin
@include mat.all-component-themes($chef-theme);
