@import '../../../../../styles/variables.scss';

#library-main {
  flex: 1 100%;
}

::ng-deep .component-name {
  margin-top: 0px;
}

::ng-deep h3 {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
}

::ng-deep code strong {
  background-color: lightblue;
}

::ng-deep pre strong {
  background-color: lightblue;
}
