/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

html, 
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  background-color: #F3F6F8;

  color: #212334;
  font-family: Muli, Helvetica, sans-serif;
}

a {
  color: #3C6DF0;
  text-decoration: none;
}

a:hover {
  color: #648FFF;
}