<chef-loading-spinner *ngIf="isLoading" size="50"></chef-loading-spinner>
<section class="reset-admin-key">
  <ng-container>
      <form [formGroup]="resetKeyForm">
        <chef-form-field>
          <label>
            <span class="label">New Admin Key<span aria-hidden="true">*</span></span>
            <textarea rows="27" cols="10" chefInput placeholder="-----BEGIN RSA PRIVATE KEY -----"
            formControlName="admin_key" data-cy="update-org-admin-key"></textarea> 
          </label>
          <chef-error
            *ngIf="(resetKeyForm.get('admin_key').hasError('required') || resetKeyForm.get('admin_key').hasError('pattern')) && resetKeyForm.get('admin_key').dirty">
            Admin key is required.
          </chef-error>
        </chef-form-field>
        <chef-form-field>
          <div id="button-bar">
            <chef-button [disabled]="isLoading || !resetKeyForm.valid || !resetKeyForm.dirty" primary
            inline (click)="saveNewKey()">
              <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
              <span *ngIf="saveInProgress">Saving...</span>
              <span *ngIf="!saveInProgress">Reset Admin Key</span> 
            </chef-button>
            <span id="saved-note" *ngIf="saveSuccessful && !resetKeyForm.dirty">All changes
            saved.</span>
          </div>
        </chef-form-field>
      </form>
  </ng-container>
</section>
