@import "~styles/variables";
@import '../infra_shared/shared';

chef-page-header {
  padding-bottom: 0;
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }
}

.reset-admin-key {

  textarea {
    height: 200px;
  }

  .chef-error {
    margin-top: -6px;
  }
}

.reset-admin-key {
  .spinner {
    chef-loading-spinner {
      width: auto;
      z-index: 199;
      background-color: $chef-white;
      opacity: 0.7;
    }
  }
}
