@import "~styles/variables";

chef-page-header {
  padding-bottom: 0;
}

chef-toolbar {
  display: block;
  position: relative;
  margin-bottom: 5px;

  small {
    bottom: 2px;
    color: $chef-dark-grey;
    position: absolute;
    right: 0;
  }
}

form {
  chef-form-field {
    width: 300px;
    margin-bottom: 15px;
  }

  textarea {
    height: 200px;
  }

  input[type="text"]:disabled {
    opacity: 0.5;
    background-color: $chef-grey;
    border: none;
  }

  .chef-error {
    margin-top: -6px;
  }

  #button-bar {
    margin-top: 15px;

    chef-button {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}
