@import "~styles/variables";

:host {
  display: block;
  background-color: $white;
  height: $navigation-height;
  border-bottom: 1px solid $chef-grey;
}

header {
  position: relative;
}

.navigation-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .logo-wrapper {
    margin-left: 16px;

    a.logo {
      display: block;
      background: $default-logo transparent no-repeat center;
      width: 160px;
      height: $navigation-height;
    }
  }

  .navigation-menu {
    display: flex;
    align-items: center;

    app-authorized {
      display: block;
    }

    .nav-link {
      padding-left: 35px;

      a {
        color: $chef-primary-dark;
        text-decoration: none;
      }

      a:hover, a.active {
        color: $chef-primary-bright;
      }
    }
  }

  .right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 16px;
  }
}

@media (max-width: 66rem) {
  .navigation-wrapper {
    flex-flow: row wrap;

    .logo-wrapper a.logo {
      height: $navigation-height / 2;
    }

    .navigation-menu {
      order: 3;
      width: 100%;
      height: ($navigation-height / 2) - 2px;
      line-height: ($navigation-height / 2) - 2px;
      border-top: 1px solid $chef-grey;
      // background: $chef-lightest-grey;
      overflow-x: auto;

      .nav-link {
        padding-left: 16px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}
