<header role="banner">
  <nav role="navigation" class="navigation-wrapper">
    <div class="left-nav"  role="menubar">
      <div role="menuitem" class="logo-wrapper">
        <a tabindex="0" routerLink="/" class="logo" title="logo link to homepage"></a>
      </div>
      <div class="navigation-menu">
        <div role="menuitem" class="nav-link"><a routerLink="/dashboards/event-feed" routerLinkActive="active" tabindex="0">Dashboards</a></div>

        <app-authorized [allOf]="[['/applications/services', 'get'], ['/applications/service-groups', 'get']]">
          <div role="menuitem" class="nav-link"><a routerLink="/applications/service-groups" routerLinkActive="active" tabindex="0">Applications</a></div>
        </app-authorized>

        <app-authorized [allOf]="[['/cfgmgmt/nodes', 'get'], ['/cfgmgmt/stats/node_counts', 'get']]">
          <div role="menuitem" class="nav-link"><a routerLink="/infrastructure" routerLinkActive="active" tabindex="0">Infrastructure</a></div>
        </app-authorized>

        <app-authorized
          [anyOf]="[['/compliance/reporting/stats/summary', 'post'], ['/compliance/reporting/stats/failures', 'post'], ['/compliance/reporting/stats/trend', 'post'],
            ['/compliance/scanner/jobs', 'post'], ['/compliance/scanner/jobs/search', 'post'], ['/compliance/profiles/search', 'post']]">
          <div role="menuitem" class="nav-link"><a routerLink="/compliance" routerLinkActive="active" tabindex="0">Compliance</a></div>
        </app-authorized>

        <app-authorized
          [anyOf]="[['/datafeed/destinations', 'post'], ['/notifications/rules', 'get'], ['/secrets/search', 'post'], ['/nodemanagers/search', 'post'], ['/retention/nodes/status', 'get'],
            ['/auth/users', 'get'], ['/iam/v2/teams', 'get'], ['/auth/tokens', 'get'], ['/iam/v2/tokens', 'get'],
            ['/iam/v2/policies', 'get'], ['/iam/v2/roles', 'get'], ['/iam/v2/projects', 'get']] ">
          <div role="menuitem" class="nav-link"><a routerLink="/settings" routerLinkActive="active" tabindex="0">Settings</a></div>
        </app-authorized>
      </div>
    </div>
    <div class="right-nav" role="menubar">
      <app-projects-filter></app-projects-filter>
      <app-profile></app-profile>
    </div>
  </nav>
</header>
