@import "~styles/variables";

header {

  .cl-link {
    display: flex;
    position: fixed;
    align-items: center;
    color: $white;
    bottom: 0;
    right: 0;
    background-color: $chef-primary;
    padding: 0.25em 1em 0.25em 0.5em;
    border-radius: $global-radius 0 0 0;
    opacity: 0.5;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    span {
      padding-left: 0.5em;
    }
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2px 36px 0 0;
    background-color: $white;
    box-shadow: 0 0 6px $gray-pale;
    box-sizing: padding-box;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navigation-height;

    .left-nav {
      display: flex;
    }

    .right-nav {
      display: flex;
      align-items: center;
      padding-right: 16px;
    }

    .logo-wrapper {
      margin: 0 21px 0 20px;

      a.logo {
        display: block;
        background: $default-logo transparent no-repeat center;
        width: 160px;
        height: $navigation-height;
      }
    }

    .navigation-menu {
      display: flex;
      align-items: center;
    }

    .nav-link {
      padding-left: 35px;

      a {
        color: $chef-primary-dark;
        text-decoration: none;
      }

      a:hover, a.active {
        color: $chef-primary-bright;
      }
    }
  }

  .nav-icon-link {
    display: inline-block;
    margin: 0 0 0 16px;
    padding: 0.36em 0;
    text-align: center;
    color: $chef-primary-bright;
    font-size: 18px;
    height: 32px;
    width: 32px;
    border: 1px solid $chef-primary-bright;
    border-radius: 50%;

    &.active {
      background-color: $chef-primary-bright;
      color: $chef-white;
    }

    &.key-icon {
      padding: 0.42em 0;
      font-size: 16px;
    }
  }
}

chef-tooltip {
  font-size: 14px;
}

.rotated-icon {
  transform: rotate(90deg) scaleX(1);
  -webkit-transform: rotate(90deg) scaleX(1);
}
