<section class="users">
  <chef-loading-spinner class="spinner" *ngIf="usersListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="users" (resetKeyRedirection)="resetKeyTabRedirection($event)">
  </app-empty-state>
  <app-reset-user-key
        [openEvent]="openNotificationModal"
        [serverId]="serverId"
        [orgId]="orgId"
        [name]="name"></app-reset-user-key>
  <ng-container *ngIf="!usersListLoading && !authFailure">
    <div class="wrapper">
      <div class="search-create-container">
        <app-paginator [length]="total" [pageSize]="per_page" [pageIndex]="current_page"
          (changePage)="onUpdatePage($event)"></app-paginator>
      </div>
      <div class="empty-section" cy-data="empty-list" *ngIf="!loading && !users.length && current_page === 1">
        <img alt="No preview" src="/assets/img/no_preview.gif" />
        <p>No users available.</p>
      </div>
      <chef-table data-cy=orgUsers-table-container *ngIf="users.length">
        <chef-thead>
          <chef-tr class="no_border_tr">
            <chef-th class="no_border_th">Chef Server User Name</chef-th>
            <chef-th class="no_border_th">Automate Name</chef-th>
            <chef-th class="no_border_th">Email</chef-th>
            <chef-th class="no_border_th three-dot-column"></chef-th>
          </chef-tr>
        </chef-thead>
        <chef-tbody>
          <chef-tr *ngFor="let user of users">
            <chef-td>{{user.infra_server_username}}</chef-td>
            <chef-td>{{user.automate_user_id}}</chef-td>
            <chef-td>{{user.email_id}}</chef-td>
            <chef-td class="three-dot-column">
              <app-authorized [allOf]="['/api/v0/infra/servers/{server_id}/orgs/{id}', 'delete', [server?.id, org.id]]">
                <mat-select panelClass="chef-control-menu">
                  <mat-option data-cy="resetPEMKey" (onSelectionChange)="resetPEMKey(user.infra_server_username)">Reset User Key</mat-option>
                </mat-select>
              </app-authorized>
            </chef-td>
          </chef-tr>
        </chef-tbody>
      </chef-table>
      <app-page-picker *ngIf="!loading" class="users-list-paging" [total]="total" [perPage]="per_page"
        [page]="current_page" (pageChanged)="onPageChange($event)">
      </app-page-picker>
    </div>
  </ng-container>
</section>
