@import "~styles/variables";

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

chef-table-new {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

chef-loading-spinner.spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
  height: 100%;
}

.wrapper {
  position: relative;
}

.full-screen-spinner {
  margin: -34px;
  margin-top: -20px;
}

.users-list-paging {
  margin: 0 0 35px;
}

.three-dot-column {
  text-align: right;
}

chef-button button {
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 8px 16px;

  &:focus {
    outline: none;
  }
}

.users-list-paging {
  margin: 0 0 35px;
}

.empty-section {
  text-align: center;
}

img {
  margin-top: 130px;
  margin-left: 44PX;
  width: 70px;
}
