.deliver-confirmation-modal {

  h4 {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid $lightgray;
  }

  .changelog-list {
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 1px $lightgray;
    background: #fafafa;
    list-style: none;
    counter-reset: changelog;
    max-height: 300px;
    overflow: auto;
  }

  .changelog-item {
    padding: 10px 15px;
    border-bottom: 1px solid $lightgray;
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }

    &::before {
      counter-increment: changelog;
      content: counter(changelog)'.';
      display: block;
      float: left;
      width: 2%;
    }

    .item {
      float: left;
      padding-left: 15px;
      width: 98%;
    }

    .item-title {
      margin-bottom: 1em;

      span {
        margin-left: 5px;
        color: $textgray;
      }
    }

    .item-description {
      padding: 0;
    }
  }
}
