@import "~styles/variables";

:host {
  display: block;
  height: 100%;
}

.full-height {
  height: 100%;
}

.scrollable {
  overflow: auto;
}

app-top-errors,
app-daily-check-in,
app-check-in-time-series,
app-unknown-desktop-duration-counts,
app-insight,
app-desktop-detail {
  display: block;
  padding: 1rem;
  background: $chef-white;
  border: 1px solid $chef-grey;
  border-radius: $global-radius;
  margin: 1rem 0;
  @media (min-width: 66rem) {
    height: calc(100% - 2rem);
  }
}

app-top-errors,
app-unknown-desktop-duration-counts {
  margin-bottom: 2rem;

  @media (min-width: 66rem) {
    height: calc(100% - 3rem);
  }
}

app-unknown-desktop-duration-counts {
  @media (max-width: 66rem) {
    margin-bottom: 1rem;
  }
}

.insight-visible {
  app-top-errors,
  app-daily-check-in,
  app-check-in-time-series,
  app-unknown-desktop-duration-counts,
  app-insight,
  app-desktop-detail {
    height: auto;
  }

  app-insight,
  app-desktop-detail {
    margin: 2rem 0;
  }
}

@media (max-width: 66rem) {
  .full-height {
    height: auto;
  }

  .scrollable {
    overflow: visible;
  }

  .insight-visible {
    app-top-errors {
      margin-bottom: 1rem;
    }

    app-insight {
      margin: 1rem 0 2rem 0;
    }
  }

}

chef-heading::ng-deep {
  display: block;
  margin-top: 3rem;

  .page-title {
    display: flex;
    align-items: center;
    margin: 0;

    chef-icon {
      margin-right: 0.5rem;
    }
  }
}
