<div class="content-container">
  <div class="container">
    <main>
      <app-daily-check-in
      [unknownPercentage] = "unknownPercentage$ | async"
      [checkedInPercentage] = "checkedInPercentage$ | async"
      [totalCount] = "totalCount$ | async"
      [unknownCount] = "unknownCount$ | async"
      [checkedInCount] = "checkedInCount$ | async"
      ></app-daily-check-in>
      <app-check-in-time-series
      [days] = "days$ | async"
      [selectedDaysAgo] = "selectedDaysAgo"
      (daysAgoChanged)="handleDaysAgoChange($event)"
      >
      </app-check-in-time-series>
    </main>
  </div>
</div>
