<div class="content-container">
  <div
    class="dashboard-grid"
    [ngClass]="{
      'desktop-list-visible': desktopListVisible,
      'desktop-list-fullscreened': desktopListFullscreened,
      'desktop-detail-visible': desktopDetailVisible,
      'desktop-detail-fullscreened': desktopDetailFullscreened
    }">
    <div class="dashboard-grid-row">
      <div
        *ngIf="!desktopListFullscreened && !desktopDetailVisible"
        class="dashboard-overview-column">
        <div class="dashboard-overview-grid">
          <div class="dashboard-overview-row">
            <div class="dashboard-overview-header">
              <h1>
                <chef-icon>dashboard</chef-icon> Desktop Management Dashboard
              </h1>
            </div>
          </div>
          <div class="dashboard-overview-row">
            <div class="dashboard-overview-col">
              <app-daily-check-in
                *ngIf="last24HourCheckInCount$ | async as last24HourCheckInCount"
                [unknownPercentage]="unknownPercentage$ | async"
                [checkedInPercentage]="checkedInPercentage$ | async"
                [totalCount]="totalCount$ | async"
                [unknownCount]="unknownCount$ | async"
                [lastUpdated]="checkInCountCollectedUpdated$ | async"
                [checkedInCount]="checkedInCount$ | async"
                [selectedStatus]="selectedCheckInStatus"
                (statusSelected)="onDailyStatusSelected($event, last24HourCheckInCount)">
              </app-daily-check-in>
            </div>
            <div class="dashboard-overview-col">
              <app-check-in-time-series
                [days]="days$ | async"
                [selectedDaysAgo]="selectedDaysAgo$ | async"
                [lastUpdated]="checkInCountCollectedUpdated$ | async"
                (daysAgoChanged)="handleDaysAgoChange($event)">
              </app-check-in-time-series>
            </div>
          </div>
          <div class="dashboard-overview-row">
            <div class="dashboard-overview-col">
              <app-unknown-desktop-duration-counts
                [countedDurationItems]="unknownDesktopCountedDurationItems$ | async"
                [lastUpdated]="unknownDesktopCountedDurationUpdated$ | async"
                [selectedDuration]="selectedDuration"
                (durationSelected)="onDurationSelected($event)">
              </app-unknown-desktop-duration-counts>
            </div>
            <div class="dashboard-overview-col">
              <app-top-errors
                [topErrorsItems]="topErrorsItems$ | async"
                [lastUpdated]="topErrorsUpdated$ | async"
                [selectedError]="selectedError"
                (errorSelected)="onErrorSelected($event)">
              </app-top-errors>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="desktopListVisible && !desktopDetailFullscreened"
        class="dashboard-list-column">
        <app-insight
          [titleText]="desktopListTitle$ | async"
          [desktops]="desktops$ | async"
          [selectedDesktop]="selectedDesktop"
          [desktopColumnOptions]="desktopListColumns$ | async"
          [desktopColumnOptionsSaveAsDefault]="desktopListColumnsSaveAsDefault$ | async"
          [totalDesktops]="totalDesktopCount$ | async"
          [pageSize]="pageSize$ | async"
          [currentPage]="currentPage$ | async"
          [termFilters]="termFilters$ | async"
          [nodeMetadataCounts]="nodeMetadataCounts$ | async"
          [fullscreened]="desktopListFullscreened"
          (pageChange)="onPageChange($event)"
          (pageSizeChange)="onPageSizeChange($event)"
          (termFilterAdded)="onTermFilterAdded($event)"
          (termFilterRemoved)="onTermFilterRemoved($event)"
          (desktopSelected)="onDesktopSelected($event)"
          (closed)="onDesktopListClose()"
          (fullscreenToggled)="onDesktopListFullscreen()"
          (sortChange)="onSortChange($event)"
          (desktopColumnOptionsUpdated)="onDesktopColumnOptionsUpdated($event)">
        </app-insight>
      </div>
      <div
        *ngIf="desktopDetailVisible && !desktopListFullscreened"
        class="dashboard-detail-column">
        <app-desktop-detail
          [desktop]="selectedDesktop"
          [nodeRun]="selectedNodeRun$ | async"
          [fullscreened]="desktopDetailFullscreened"
          [checkInHistory]="checkInHistory$ | async"
          [checkInNumDays]="checkInNumDays"
          (checkInNumDaysChanged)="onCheckInNumDaysChanged($event)"
          (closed)="onDesktopDetailClose()"
          (fullscreenToggled)="onDesktopDetailFullscreen()">
        </app-desktop-detail>
      </div>
    </div>
  </div>
</div>
