<section id="cards" class="cards padding-bottom">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y" data-equalizer>
      <div class="cell small-12">
        <div class="header-content">
          <h2>Change How You Automate Everything in the Stack</h2>
        </div>
      </div>
      <div class="cell medium-6" data-equalizer-watch>
        <i class="fas fa-search fa-2x"></i>
        <h3 class="h6"><a href="">Maintain Operational Visibility</a></h3>
        <p>Dig into the causes of compliance failures or configuration errors across your entire fleet, or filtered by the systems that matter most. Use Chef Automate’s trend graphs, rich query language and other sophisticated interfaces to quickly sift through the noise and prioritize solutions. </p>
      </div>
      <div class="cell medium-6" data-equalizer-watch>
        <i class="fas fa-clock fa-2x"></i>
        <h3 class="h6"><a href="">Detect and Respond in Real-Time</a></h3>
        <p>Get a real-time view of all changes happening in your environment, whether user- or machine-initiated. See how configuration and compliance policy changes impact each other over time. Get notified immediately by chat or webhook of any failures.</p>
      </div>
      <div class="cell medium-6" data-equalizer-watch>
        <i class="fas fa-history fa-2x"></i>
        <h3 class="h6"><a href="">Quickly Audit Configuration & Compliance History</a></h3>
        <p>Examine past failures and trends to identify areas for targeted process improvement. Use reports to satisfy auditors’ questions about current and historical compliance.</p>
      </div>
      <div class="cell medium-6" data-equalizer-watch>
        <i class="fas fa-server fa-2x"></i>
        <h3 class="h6"><a href="">Scan More than Just Servers</a></h3>
        <p>Use Automate’s built-in InSpec-based scanner to scan both individual machines and cloud APIs for policy conformance without installing any agents. Use one of Automate’s 90+ built-in compliance baselines to get started quickly with evaluating and correcting your fleet’s security posture.</p>
      </div>
      <div class="cell medium-6" data-equalizer-watch>
        <i class="fas fa-cogs fa-2x"></i>
        <h3 class="h6"><a href="">Integrate with Chef’s Open Source Projects</a></h3>
        <p>Automate is powered by Chef’s three open-source engines: Chef for infrastructure automation, Habitat for application automation, and InSpec for compliance and security automation. You can integrate Automate with any or all of these open-source tools to consolidate their data for actionable insights.</p>
      </div>
      <div class="cell small-12 text-center">
        <p>
          <a class="button-animated" href="/docs/quickstart">
            <span class="text">Install Automate</span>
            <span class="line -right-top"></span>
            <span class="line -right-bottom"></span>
            <span class="line -top-left"></span>
            <span class="line -top-right"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
