<section class="policy-groups">
  <chef-loading-spinner *ngIf="policyGroupsListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="policyGroups" (resetKeyRedirection)="resetKeyTabRedirection($event)">
  </app-empty-state>
  <ng-container *ngIf="!policyGroupsListLoading && !authFailure">
    <div data-cy="empty-list" class="empty-section" *ngIf="!policyGroups.length">
      <img alt="No preview" src="/assets/img/no_preview.gif" />
      <p>No policy groups available</p>
    </div>

    <div id="policy-group-table-container" *ngIf="policyGroups.length" data-cy="policy-group-table-container">
      <app-policy-groups-list
        [policyGroups]= "policyGroups"
        [policyGroupsListLoading]= "policyGroupsListLoading">
      </app-policy-groups-list>
    </div>
  </ng-container>
</section>
