<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/settings/teams']">Teams</chef-breadcrumb>
        <span>{{ team?.name }}</span>
      </chef-breadcrumbs>

      <chef-page-header>
        <chef-heading>{{ team?.name }}</chef-heading>
        <table>
          <thead>
            <tr class="detail-row">
              <th class="id-column">ID</th>
              <th class="projects-column">Projects</th>
            </tr>
          </thead>
          <tbody>
            <tr class="detail-row">
              <td class="id-column">{{ team?.id }}</td>
              <td class="projects-column" data-cy="team-details-projects">
                <ng-container *ngIf="team?.projects.length === 0">
                  {{ unassigned }}
                </ng-container>
                <ng-container *ngIf="team?.projects.length === 1">
                  {{ team?.projects[0] }}
                </ng-container>
                <ng-container *ngIf="team?.projects.length > 1">
                  {{ team?.projects.length }} projects
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>

        <chef-tab-selector (change)="onSelectedTab($event)" [value]="tabValue">
          <chef-option value='users'>Users</chef-option>
          <chef-option value='details' data-cy="team-details-tab-details">Details</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="team?.id && (tabValue === 'users')">
        <div id="users-list">
          <div>
            <app-user-table
              [addButtonText]="addButtonText"
              [removeText]="removeText"
              [users]="users"
              [baseUrl]="'/apis/iam/v2/teams/' + team?.id"
              [createPermissionsPath]="['/apis/iam/v2/teams/{id}', 'put', team?.id]"
              [showTable]="showUsersTable()"
              [showEmptyMessage]="showEmptyStateMessage()"
              (addClicked)="toggleUserMembershipView()"
              (removeClicked)="removeUser($event)">
              <p>It looks like this team has no users and you<br/>
                don't have permission to add them.<br/><br/>
                If this is a mistake, then reach out to your administrator.
              </p>
            </app-user-table>
          </div>
        </div>
      </section>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <form [formGroup]="updateForm">
          <chef-form-field>
            <label for="name">Name <span aria-hidden="true">*</span></label>
            <input id="name" chefInput formControlName="name" type="text" [resetOrigin]="saveSuccessful" autocomplete="off"
              data-cy="team-details-name-input">
            <chef-error
              *ngIf="(updateForm.get('name').hasError('required') || updateForm.get('name').hasError('pattern')) && updateForm.get('name').dirty">
              Name is required.
            </chef-error>
          </chef-form-field>
          <chef-form-field id='projects-container'>
            <app-projects-dropdown
              [checkedProjectIDs]="team?.projects"
              (onDropdownClosing)="onProjectDropdownClosing($event)">
            </app-projects-dropdown>
          </chef-form-field>
        </form>
        <chef-button [disabled]="isLoadingTeam || !updateForm.valid || !updateForm.dirty" primary inline
          (click)="saveTeam()" data-cy="team-details-submit-button">
          <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
          <span *ngIf="saveInProgress">Saving...</span>
          <span *ngIf="!saveInProgress">Save</span>
        </chef-button>
        <span id="saved-note" *ngIf="saveSuccessful && !updateForm.dirty">All changes saved.</span>
      </section>
    </main>
  </div>
</div>
