<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/settings/teams']">Teams</chef-breadcrumb>
        <span>{{ team?.name }}</span>
      </chef-breadcrumbs>

      <chef-page-header>
        <chef-heading>{{ team?.name }}</chef-heading>
        <table>
          <thead>
            <tr class="detail-row">
              <th class="id-column">ID</th>
              <th class="projects-column">Projects</th>
            </tr>
          </thead>
          <tbody>
            <tr class="detail-row">
              <td class="id-column">{{ team?.id }}</td>
              <td class="projects-column" data-cy="team-details-projects">
                <ng-container *ngIf="team?.projects.length === 0">
                  {{ unassigned }}
                </ng-container>
                <ng-container *ngIf="team?.projects.length === 1">
                  {{ team?.projects[0] }}
                </ng-container>
                <ng-container *ngIf="team?.projects.length > 1">
                  {{ team?.projects.length }} projects
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>

        <chef-tab-selector (change)="onSelectedTab($event)" [value]="tabValue">
          <chef-option value='users'>Users</chef-option>
          <chef-option value='details' data-cy="team-details-tab-details">Details</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="team?.id && (tabValue === 'users')">
        <div id="users-list">
          <div>
            <!-- TODO remove [overridePermissionsCheck]=true once the UI is able to check specific objects
            since the path to permission on here is /iam/v2/teams/:id/users we'll have to show everything for now. -->
            <app-user-table [addButtonText]="addButtonText" [removeText]="removeText" [users]="users"
              [baseUrl]="'/auth/users/' + team?.id" [overridePermissionsCheck]=true [showTable]="showUsersTable()"
              [showEmptyMessage]="showEmptyStateMessage()" (addClicked)="toggleUserMembershipView()"
              (removeClicked)="removeUser($event)">
            </app-user-table>
          </div>
        </div>
      </section>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <form [formGroup]="updateNameForm">
          <chef-form-field>
            <label>Name <span aria-hidden="true">*</span></label>
            <input chefInput formControlName="name" type="text" [resetOrigin]="saveSuccessful" autocomplete="off"
              data-cy="team-details-name-input">
            <chef-error
              *ngIf="(updateNameForm.get('name').hasError('required') || updateNameForm.get('name').hasError('pattern')) && updateNameForm.get('name').dirty">
              Name is required.
            </chef-error>
          </chef-form-field>
          <div id='projects-container'>
            <app-projects-dropdown [projects]="projects" (onProjectChecked)="onProjectChecked($event)"
              [disabled]="dropdownDisabled()">
            </app-projects-dropdown>
          </div>
        </form>
        <chef-button [disabled]="isLoadingTeam || !updateNameForm.valid || !updateNameForm.dirty" primary inline
          (click)="saveTeam()" data-cy="team-details-submit-button">
          <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
          <span *ngIf="saveInProgress">Saving...</span>
          <span *ngIf="!saveInProgress">Save</span>
        </chef-button>
        <span id="saved-note" *ngIf="saveSuccessful && !updateNameForm.dirty">All changes saved.</span>
      </section>
    </main>
  </div>
</div>
