---
project:
  alias: automate

# Slack channel in Chef Software slack to send notifications about build failures, etc
slack:
  notify_channel: a2-notify

github:
  delete_branch_on_merge: true

# At the given time, trigger the following scheduled workloads
# https://expeditor.chef.io/docs/getting-started/subscriptions/#scheduling-workloads
schedules:
  - name: nightly_tests
    description: "Run nightly tests against development environment"
    cronline: "0 6 * * *"

# These are our Buildkite pipelines where deploys take place
pipelines:
  - verify:
      description: Pull Request validation tests
      public: true
  - verify_private:
      description: Pull Request validation tests requiring access keys
  - habitat/build:
      description: Build the Habitat packages for Chef Automate
  - nightly:
      description: Nightly tests against master
      definition: .expeditor/nightly.pipeline.yml
  - deploy/dev:
      description: Deploy changes to a2-dev.cd.chef.co instances
      definition: .expeditor/deploy.pipeline.yml
      env:
        - CHANNEL: dev
  - deploy/acceptance:
      description: Deploy changes to a2-acceptance.cd.chef.co instances
      definition: .expeditor/deploy.pipeline.yml
      env:
        - CHANNEL: acceptance
  - deploy/automate-chef-io:
      description: Deploy automate.chef.io
      definition: .expeditor/deploy_automate_chef_io.pipeline.yml
  - deploy/ui-library:
      description: Deploy ui-library.cd.chef.co
      definition: .expeditor/deploy_ui_library.pipeline.yml
  - deploy/proxy:
      description: Deploy a2 proxy test environment
      definition: .expeditor/proxy.pipeline.yml
      env:
        - CHANNEL: dev
  - code_coverage:
      description: Generate code coverage reports and upload them to data store
      definition: .expeditor/coverage.pipeline.yml
      env:
        - CHANNEL: dev
  - a1-migration/dev:
      description: all-in-one A1 -> A2 migration test of dev artifacts
      definition: .expeditor/a1-migration.pipeline.yml
      env:
        - CHANNEL: dev
  - basic-a1/dev:
      description: A1 -> A2 migration test of dev artifacts, standard A1 config
      definition: .expeditor/basic-a1.pipeline.yml
      env:
        - CHANNEL: dev
  - test-license-usage/dev:
      description: Test the license usage CLI command.
      definition: .expeditor/test-license-usage.pipeline.yml
      env:
        - CHANNEL: dev

# These actions are taken when `/expeditor promote` is run from Slack
promote:
  action:
    - bash:.expeditor/promote-hab-pkgs-and-cli.sh:
        post_commit: true
    - bash:.expeditor/publish-release-notes.sh:
        post_commit: true
        only_if_conditions:
          - value_one: "{{target_channel}}"
            operator: equals
            value_two: current
    - bash:.expeditor/purge-cdn.sh:
        post_commit: true
    - bash:.expeditor/announce-release.sh:
        post_commit: true
        only_if_conditions:
          - value_one: "{{target_channel}}"
            operator: equals
            value_two: current
    - bash:.expeditor/announce-acceptance.sh:
        post_commit: true
        only_if_conditions:
          - value_one: "{{target_channel}}"
            operator: equals
            value_two: acceptance
    - trigger_pipeline:deploy/acceptance:
        only_if_conditions:
          - value_one: "{{target_channel}}"
            operator: equals
            value_two: acceptance
    - trigger_pipeline:deploy/automate-chef-io
  channels:
    - dev
    - acceptance
    - current
    - stable

staging_areas:
  - post_merge:
      workload: pull_request_merged:chef/automate:master:*

subscriptions:
  # These actions are taken, in order they are specified, anytime a Pull Request is merged.
  - workload: staged_workload_released:chef/automate:master:post_merge:*
    actions:
      - bash:.expeditor/generate-automate-cli-docs.sh:
          post_commit: false
          only_if_modified:
            - components/automate-cli/cmd/*
            - components/automate-cli/pkg/status/error_codes.go
      - bash:.expeditor/generate-automate-api-docs.sh:
          post_commit: false
          only_if_modified:
            - /api/external/**/*.swagger.json
            - components/automate-gateway/api/**/*.swagger.json
      - trigger_pipeline:habitat/build:
          post_commit: true
      - trigger_pipeline:code_coverage:
          post_commit: true
      - trigger_pipeline:deploy/ui-library:
          post_commit: true
          only_if_modified:
            - components/chef-ui-library/*
  # If a build in the habitat/build pipeline fails, unlock the staging area
  - workload: buildkite_build_failed:{{agent_id}}:habitat/build:*
    actions:
      - unlock_staging_area:post_merge:
          post_commit: true
          always_run: true
  # These actions are taken, in order they are specified, after the Habitat packages are successfully built
  - workload: buildkite_hab_build_group_published:{{agent_id}}:*
    actions:
      - built_in:promote_habitat_packages
      - bash:.expeditor/upload-files.sh:
          post_commit: true
      - trigger_pipeline:deploy/dev:
          post_commit: true
      - trigger_pipeline:deploy/automate-chef-io:
          post_commit: true
      - bash:.expeditor/purge-cdn.sh:
          post_commit: true
      - unlock_staging_area:post_merge:
          post_commit: true
          always_run: true
  # Update our compliance-profile pinnings when new profiles are released
  - workload: hab_package_published:unstable:chef/automate-compliance-profiles/*
    actions:
      - bash:.expeditor/update-compliance-profiles.sh:
          post_commit: false
  # Update our InSpec pinnings when a new version of Inspec is released
  - workload: hab_package_published:stable:chef/inspec/3.*
    actions:
      - bash:.expeditor/update-inspec-version.sh:
          post_commit: false
  # Update Habitat when it is released
  - workload: artifact_published:stable:habitat:*
    actions:
      - bash:.expeditor/update_habitat.sh:
          post_commit: false
  # Trigger various pipelines every night
  - workload: schedule_triggered:chef/automate:master:nightly_tests:*
    actions:
      - trigger_pipeline:a1-migration/dev
      - trigger_pipeline:deploy/proxy
      - trigger_pipeline:basic-a1/dev
      - trigger_pipeline:nightly
      - trigger_pipeline:test-license-usage/dev
  # When a new verification image is released, update the pinning
  - workload: docker_image_published:chefes/buildkite:*
    actions:
      - bash:.expeditor/update_docker_image_version_in_verify_pipeline.sh
