<button class="dropdown-label"
  id="projects-filter-button"
  aria-label="Projects filter"
  [attr.title]="selectionLabel"
  [disabled]="!dropdownCaretVisible"
  (click)="handleLabelClick()"
  *ngIf="filterVisible">
  <span class="selection-label">{{ selectionLabel }}</span>
  <span class="selection-count"
    *ngIf="selectionCountVisible"
    [ngClass]="{'active': selectionCountActive }">
    {{ selectionCount }}
  </span>
  <chef-icon *ngIf="dropdownCaretVisible" aria-hidden>keyboard_arrow_down</chef-icon>
</button>
<chef-click-outside omit="dropdown-label" (clickOutside)="handleEscape()">
  <chef-dropdown class="dropdown" id="projects-filter-dropdown" [attr.visible]="dropdownActive" (keydown.esc)="handleEscape()">

      <div class="dropdown-body">

        <div class="dropdown-content">
          <!-- @TODO turn this into reusable Filter Input component -->
          <input 
            chefInput
            #filterInput
            type="text"
            (keyup)=filterKeydown(filterInput.value);
            placeholder="Filter projects..." />
        </div>

        <div class="dropdown-content flex-row button-container">
          <chef-button
            primary
            [attr.disabled]="!optionsEdited"
            (click)="handleApplyClick()"
            id="projects-filter-apply-changes">
            Apply Changes
          </chef-button>
          <chef-button
          tertiary
          id="projects-filter-apply-changes">
          Clear Selection
          </chef-button>
        </div>

        <div class="dropdown-content">
          <chef-checkbox
            *ngFor="let option of editableOptions; index as i"
            [attr.title]="option.label"
            [checked]="option.checked"
            (change)="handleOptionChange($event, i)"
            (keydown.arrowup)="handleArrowUp($event)"
            (keydown.arrowdown)="handleArrowDown($event)">{{ option.label }}
          </chef-checkbox>
          <div class="no-projects" *ngIf="editableOptions.length < 1">
            <p>No projects found.</p>
            <p>You don't have access to any projects that match your search.</p>
          </div>
        </div>

        <div class="dropdown-content action-container">
          <button>Create New Project</button>
        </div>

        <div class="dropdown-content action-container">
          <button>Edit Projects</button>
        </div>

      </div> <!-- end dropdown body -->

  </chef-dropdown>
</chef-click-outside>
