<button class="dropdown-label"
  data-cy="projects-filter-button"
  aria-label="Projects filter"
  [attr.title]="selectionLabel"
  [disabled]="!dropdownCaretVisible"
  (click)="handleLabelClick()">
  <span class="selection-label">{{ selectionLabel }}</span>
  <span class="selection-count"
    *ngIf="selectionCountVisible"
    [ngClass]="{'active': selectionCountActive }">
    {{ selectionCount }}
  </span>
  <chef-icon *ngIf="dropdownCaretVisible" aria-hidden>keyboard_arrow_down</chef-icon>
</button>
<chef-click-outside omit="dropdown-label" (clickOutside)="handleEscape()">
  <chef-dropdown class="dropdown" data-cy="projects-filter-dropdown" [attr.visible]="dropdownActive" (keydown.esc)="handleEscape()">
    <div class="dropdown-body">
      <span class="optgroup-label">Projects</span>
      <chef-checkbox
        *ngFor="let option of editableOptions; index as i"
        [attr.title]="option.label"
        [checked]="option.checked"
        (change)="handleOptionChange($event, i)"
        (keydown.arrowup)="handleArrowUp($event)"
        (keydown.arrowdown)="handleArrowDown($event)">{{ option.label }}</chef-checkbox>
      <div class="dropdown-footer">
        <chef-button primary [attr.disabled]="!optionsEdited" (click)="handleApplyClick()">Apply Changes</chef-button>
      </div>
    </div>
  </chef-dropdown>
</chef-click-outside>
