@import "~styles/variables";
@import "~styles/mixins";

:host {
  display: block;
  position: relative;
  padding-left: 35px;
}

.dropdown-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  padding: 10px 0;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 600;

  // seems to be needed only for Safari
  &:active {
    color: $chef-primary-dark;
  }

  > chef-icon {
    font-size: 16px;
    color: $chef-primary-dark;
    margin-left: 8px;
  }

  .selection-label {
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal; // solves descender clipping due to overflow: hidden
  }

  .selection-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    background: $chef-grey;

    &.active {
      background: $chef-primary-bright;
      color: $chef-white;
    }
  }
}

.dropdown {
  display: block;
  position: absolute;
  right: -10px;
  max-width: 250px;
  border: 1px solid $chef-grey;
  font-size: 14px;
  z-index: 3;

  &::before {
    display: block;
    position: absolute;
    top: -6px;
    right: 12px;
    width: 10px;
    height: 10px;
    background: $chef-white;
    transform: rotate(45deg);
    border-left: 1px solid $chef-grey;
    border-top: 1px solid $chef-grey;
    content: '';
  }

  .dropdown-body {
    display: block;

    > span {
      display: block;
      color: $chef-dark-grey;
      text-transform: uppercase;
      font-size: 11px;
      padding: 9px 18px 0;
    }

    chef-checkbox {
      display: flex;
      padding: 9px 18px;
      align-items: start;
      font-weight: 600;

      &:first-child {
        padding-top: 18px;
      }

      &:last-child {
        padding-bottom: 18px;
      }

      ::ng-deep .label-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .dropdown-footer {
    display: flex;
    justify-content: center;
    padding: 0 8px 8px 8px;
  }
}
