@import "~styles/variables";

.scroll {
  max-height: 158px;
  overflow-y: auto;
  overflow-x: hidden;
}


.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: $chef-modal-scrollbar;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $chef-modal;
}
