<div ngClass="{slide : isSlideOpen}">
  <div class="sidenav-header">
    <h1 slot="title" data-cy="cookbook-dependencies-heading">Cookbook Dependencies</h1>
    <chef-button
      class="close"
      secondary
      (click)="closeCookbookDependencies()"
      data-cy="close-cookbook-button">
      <chef-icon>close</chef-icon>
    </chef-button>
  </div>
  <div class="sidenav-body">
    <ul id="dependency-rule-accordion" class="accordion" >
      <li class="items" [class.active]="showDependenciesRules">
        <div class="menu" (click)="handleDependenciesRules()">
          <div class="cookbook-name" data-cy="dependency-rule">
            Dependencies Rules
          </div>
          <chef-icon class="arrows" data-cy="dependency-rule-arrow">keyboard_arrow_down</chef-icon>
        </div>
        <div class="submenu" [ngClass]="showDependenciesRules ? activeDependenciesRules : ''">
          <div data-cy="empty-list" class="empty-section" *ngIf="!cookbookRules.length && !cookbookDependencies.length">
            <img alt="No preview" src="/assets/img/no_preview.gif" />
            <p>No Dependency Rule available</p>
          </div>
          <div class="item-details">
            <div id="cookbook-dependency-rule-table-container" data-cy="cookbook-dependency-rule-table-container" *ngIf="cookbookRules.length">
              <chef-table>
                <chef-thead>
                  <chef-tr class="no_border_tr">
                    <chef-th class="no_border_th">Cookbook</chef-th>
                    <chef-th class="no_border_th cookbook-margin">Operator</chef-th>
                    <chef-th class="no_border_th">Version</chef-th>
                  </chef-tr>
                </chef-thead>
                <chef-tbody>
                  <chef-tr *ngFor="let cookbookRule of cookbookRules">
                    <chef-td class="no_border_td">{{ cookbookRule.name }}</chef-td>
                    <chef-td class="cookbook-margin no_border_td cookbook-row">{{ cookbookRule.operator }}</chef-td>
                    <chef-td class="no_border_td">{{ cookbookRule.version }}</chef-td>
                  </chef-tr>
                </chef-tbody>
              </chef-table>
            </div>
          </div>
          <div class="item-details dependencies">
            <div data-cy="empty-list" class="empty-section" *ngIf="!cookbookDependencies.length && cookbookRules.length">
              <img alt="No preview" src="/assets/img/no_preview.gif" />
              <p>No Dependencies available</p>
            </div>
            <div id="dependency-rule-table-container" data-cy="dependency-rule-table-container" *ngIf="cookbookDependencies.length">
              <chef-table>
                <chef-thead>
                  <chef-tr class="no_border_tr">
                    <chef-th class="no_border_th">Cookbook</chef-th>
                    <chef-th class="no_border_th depend-margin">Depends On</chef-th>
                    <chef-th class="no_border_th">Operator</chef-th>
                    <chef-th class="no_border_th">Version</chef-th>
                  </chef-tr>
                </chef-thead>
                <chef-tbody>
                  <chef-tr class="no_border_tr" *ngFor="let cookbookDependency of cookbookDependencies">
                    <chef-td class="no_border_td">{{ cookbookDependency.name }} ({{ cookbookDependency.version }})</chef-td>
                    <chef-td class="depend-margin no_border_td depend-row">{{ cookbookDependency.dependName }}</chef-td>
                    <chef-td class="no_border_td">{{ cookbookDependency.dependOperator }}</chef-td>
                    <chef-td class="no_border_td">{{ cookbookDependency.dependVersion }}</chef-td>
                  </chef-tr>
                </chef-tbody>
              </chef-table>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul id="cookbook-accordion" class="accordion" >
      <li class="items" [class.active]="showCookbooks">
        <div class="menu" (click)="handleCookbooks()">
          <div class="cookbook-name"  data-cy="cookbook">
            Cookbooks
          </div>
          <chef-icon class="arrows">keyboard_arrow_down</chef-icon>
        </div>
        <div class="submenu" [ngClass]="showCookbooks ? activeCookbooks : ''">
          <div class="item-details">
            <div data-cy="empty-list" class="empty-section" *ngIf="!cookbooks.length">
              <img alt="No preview" src="/assets/img/no_preview.gif" />
              <p>No Cookbooks available</p>
            </div>
            <div id="cookbook-table-container" data-cy="cookbook-table-container" *ngIf="cookbooks.length">
              <chef-table>
                <chef-thead>
                  <chef-tr class="no_border_tr">
                    <chef-th class="no_border_th">Cookbooks</chef-th>
                    <chef-th class="no_border_th">Current Version</chef-th>
                    <chef-th class="no_border_th">Source</chef-th>
                    <chef-th class="no_border_th three-dot-column"></chef-th>
                  </chef-tr>
                </chef-thead>
                <chef-tbody>
                  <chef-tr *ngFor="let cookbook of cookbooks">
                    <chef-td>
                      <a
                      (click)="cookbooksDetails.slidePanel(cookbook.name, cookbook.version)"
                      class="cookbook-dependencies-link">
                      {{cookbook.name}}
                      </a>
                    </chef-td>
                    <chef-td>{{cookbook.version}}</chef-td>
                    <chef-td>{{cookbook.source === '' ? '--' : cookbook.source}}</chef-td>
                    <chef-td class="three-dot-column"></chef-td>
                  </chef-tr>
                </chef-tbody>
              </chef-table>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <app-cookbook-dependencies-details
      #cookbooksDetails
      [serverId]="serverId"
      [orgId]="orgId">
    </app-cookbook-dependencies-details>
  </div>
</div>
