@import "~styles/variables";

.schedule-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .schedule-title {
    display: flex;
    align-items: center;

    h6 {
      margin: 0;
      font-size: 16px;
      line-height: 1.5em;
    }

    chef-icon {
      margin-right: 0.5em;
    }
  }

  label {
    padding: 0;
  }
}

.schedule-body {
  border-top: 1px solid $chef-grey;
  margin-top: 1em;
  padding-top: 1em;

  fieldset {
    margin: 0 0 1em;
    padding: 0;
    border: none;
    max-width: 450px;

    &:last-child {
      margin-bottom: 0;
    }

    legend {
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
}

.field {
  display: flex;
  align-items: flex-start;

  select,
  span {
    &:not(:first-child) {
      margin-left: 1em;
    }
  }

  select {
    height: 39px;
    border: 1px solid $chef-light-grey;
  }

  .datetime {
    display: flex;
    align-items: center;
    justify-content: stretch;

    select {
      flex: 1;
    }
  }
}
