@import "~styles/variables";

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}

::ng-deep .chef-control-menu {
  position: relative;
  margin-top: 12px;
  right: 80px;
  width: 54px;
}
