@import "~styles/variables";

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}

::ng-deep .mat-select-panel {
  position: relative;
  margin-top: 36px;
  right: 62px;
  width: 54px;
}
