<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <base href="/bldr">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Habitat - Automation that travels with the app.</title>
    <meta name="description" content="Habitat allows automation to travel with your app, so you can be confident that what you build, deploy and manage will behave consistently in any runtime.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bldr/assets/app-BUILDER_API_PROXY_RELEASE.css">
  </head>
  <body>
    <hab-app>
    <script>
        let defaultConfig = { config: {  } };
        window.Habitat = defaultConfig;
        function habitatConfig(options) {
          window.Habitat.config = options || defaultConfig; 
        };
    </script>
    <script src="/bldr/habitat.conf.js"></script>
    <script src="/bldr/assets/app-BUILDER_API_PROXY_RELEASE.js"></script>
  </body>
</html>
