<app-authorized [allOf]="['/auth/users', 'get']">
  <chef-toolbar>
    <chef-button primary class="add-button" (click)="addEvent()"
      [disabled]="noUsersAddedOrAvailable()">Add Selected</chef-button>
    <chef-button tertiary (click)="cancelClicked.emit()">Cancel</chef-button>
  </chef-toolbar>
  <chef-table>
    <chef-thead>
      <chef-tr>
        <chef-th class="checkbox-row"></chef-th>
        <chef-th>Full Name</chef-th>
        <chef-th>Username</chef-th>
      </chef-tr>
    </chef-thead>
    <chef-tbody>
      <chef-loading-spinner *ngIf="loading(userStatus$ | async)" size='50'></chef-loading-spinner>
      <ng-container *ngIf="!loading(userStatus$ | async)">
        <ng-container *ngIf="noUsersAvailable()">
          <chef-tr class="empty no-users">There are no users to add</chef-tr>
        </ng-container>
        <chef-tr *ngFor="let user of usersNotFiltered()">
          <chef-td class="checkbox-row">
            <chef-checkbox (change)="addOrRemoveUser($event.detail, user)"></chef-checkbox>
          </chef-td>
          <chef-td>
            <a [routerLink]="userLink(user)">{{ user.name }}</a>
          </chef-td>
          <chef-td>
            {{ user.id }}
          </chef-td>
        </chef-tr>
      </ng-container>
    </chef-tbody>
  </chef-table>
</app-authorized>
