<chef-sidebar>
  <div class="nav-items">
    <chef-sidebar-entry route="/compliance/scanner" icon="wifi_tethering">Current jobs</chef-sidebar-entry>
  </div>
</chef-sidebar>

<div class="container">
  <main>
    <chef-page-header>
      <chef-heading>Current scan jobs</chef-heading>
      <chef-subheading>Add a new job to be scanned for compliance or modify an existing job</chef-subheading>
    </chef-page-header>

    <ul class="nav-tabs">
      <li class="nav-tab" routerLink="/compliance/scanner/jobs" routerLinkActive="active">
        {{jobsCount$ | async | number}} Scan jobs
      </li>
      <li class="nav-tab" routerLink="/compliance/scanner/nodes" routerLinkActive="active">
        {{nodesCount$ | async | number}} Nodes added
      </li>
    </ul>

    <div class="scanner-body">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
