<chef-sidebar>
  <div class="nav-items">
    <app-authorized [allOf]="[['/compliance/scanner/jobs', 'post'], ['/compliance/scanner/jobs/search', 'post']]">
      <chef-sidebar-entry route="/compliance/reports" icon="bar_chart">Reports</chef-sidebar-entry>
    </app-authorized>
    <app-authorized [allOf]="[['/compliance/scanner/jobs', 'post'], ['/compliance/scanner/jobs/search', 'post']]">
      <chef-sidebar-entry route="/compliance/scan-jobs" icon="wifi_tethering">Scan Jobs</chef-sidebar-entry>
    </app-authorized>
    <app-authorized [allOf]="[['/compliance/profiles/search', 'post']]">
      <chef-sidebar-entry route="/compliance/profiles" icon="library_books">Profiles</chef-sidebar-entry>
    </app-authorized>
  </div>
</chef-sidebar>

<div class="container">
  <main>
    <chef-page-header>
      <chef-heading>Scan jobs</chef-heading>
      <chef-subheading>Compliance scan jobs run inspec exec on a set of nodes.</chef-subheading>
    </chef-page-header>

    <ul class="nav-tabs">
      <li class="nav-tab" routerLink="/compliance/scan-jobs/jobs" routerLinkActive="active">
        {{jobsCount$ | async | number}} Scan jobs
      </li>
      <li class="nav-tab" routerLink="/compliance/scan-jobs/nodes" routerLinkActive="active">
        {{nodesCount$ | async | number}} Nodes added
      </li>
    </ul>

    <div class="scanner-body">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
