@import "~styles/variables";

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

chef-table-new {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

// chef-toolbar {
//   display: block;
//   position: relative;
//   margin-bottom: 5px;

//   chef-button {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 8px 16px;
//     float: right;
//     background: #3864F2;
//     border-radius: 4px;
//     height: 36px;
//     width: 150px;
//     top: 268px;

//   }
// }

.search-box {
  float: left;
  width: 96%;
}

.button-box {
  float: right;

  width: 4%;
}

.full-screen-spinner {
  display: flex;
  margin: auto;
  margin-top: 239px;
  background-color: $chef-white;
  opacity: 0.7;
  width: initial;
}

.empty-section {
  margin-top: 130px;
  text-align: center;
}

.environment-list-paging {
  margin: 0 0 35px;
}

img {
  width: 70px;
}

.three-dot-column {
  text-align: right;
}

#env-create {
  float: right;
  margin-left: 16px;
}

::ng-deep {
  .environments .search-input-wrapper {
    top: 15px;
    width: 87%;
  }
  
  chef-toolbar chef-button:first-child {
    margin: 22px 0px 0px 0px;
  }
}
