<section class="environments">
  <chef-loading-spinner *ngIf="environmentsListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="environments" (resetKeyRedirection)="resetKeyTabRedirection($event)"></app-empty-state>
  <ng-container *ngIf="!environmentsListLoading && !authFailure">
    <chef-table>
      <chef-thead>
        <chef-tr class="no_border_tr">
          <chef-th class="no_border_th">Name</chef-th>
          <chef-th class="no_border_th">Description</chef-th>
          <chef-th class="no_border_th"></chef-th>
          <chef-th class="no_border_th"></chef-th>
          <chef-th class="no_border_th"></chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let environment of environments">
          <chef-td>
            <a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'environments', environment.name]">{{ environment.name }}</a>
          </chef-td>
          <chef-td>
            {{ environment.description }}
          </chef-td>
          <chef-td></chef-td>
          <chef-td></chef-td>
          <chef-td></chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</section>
