<div class="constraint-margin">
  <div class="name-margin">
    <label>
      <span class="label">Name</span>
    </label>
    <div class="drop">
      <mat-select panelClass="chef-dropdown" [(value)]="name_id" [disabled]="!constraintKeys.length">
        <mat-option *ngFor="let key of cookbookKeys" [value]="key" [ngClass]="{'checkmark': key === name_id}">
          {{ key }}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="operator-margin">
    <label>
      <span class="label label-operator">Operator</span>
    </label>
    <div class="operator-dropdown">
      <mat-select panelClass="chef-dropdown" [(value)]="operator_id" [disabled]="!constraintKeys.length">
        <mat-option *ngFor="let key of operators" [value]="key" [ngClass]="{'checkmark': key === operator_id}">
          {{ key }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="version-margin">
    <label>
      <span class="label label-version">Version<span class="example-text">( example 1.2 )</span></span>
    </label>
    <form [formGroup]="constraintFormGroup">
      <chef-form-field>
        <input chefInput formControlName="version" id="name-input-constraint" (keyup)="handleInput($event)"
          autocomplete="off" />
      </chef-form-field>
    </form>
  </div>
  <div class="add">
    <chef-button primary (click)="addCookbookVersion()" [disabled]="!constraintFormGroup.valid || !constraintKeys.length">Add
    </chef-button>
  </div>
</div>
<div class="fixed-height">
  <div class="scroll">
    <div class="row-margin" *ngFor="let cookbook of cookbookConstraints; let i = index;">
      <div class="row-name-margin">
        <div class="name-dropdown">
          <mat-select #selectName panelClass="chef-dropdown" [(ngModel)]="cookbookConstraints[i].name"
            (ngModelChange)="handleEditName(selectName.value,i)">
            <ng-container *ngFor="let key of nameKeys">
              <mat-option *ngIf="selectName.value === key || !isSelected(key)" [value]="key" [ngValue]="key"
                [ngClass]="{'checkmark': key === cookbookConstraints[i].name}">
                {{ key}}
              </mat-option>
            </ng-container>
          </mat-select>
        </div>
      </div>
      <div class="row-operator-margin">
        <div class="operator-dropdown">
          <mat-select panelClass="chef-dropdown" [(ngModel)]="cookbookConstraints[i].operator"
            (ngModelChange)="handleEditOperator($event, i)">
            <mat-option *ngFor="let key of operators" [value]="key"
              [ngClass]="{'checkmark': key === cookbookConstraints[i].operator}">{{ key }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row-version-margin">
        <input
          chefInput
          type="text"
          (keyup)="handleInput($event)"
          (ngModelChange)="handleEditVersion($event, i)"
          autocomplete="off"
          [(ngModel)]="cookbookConstraints[i].version"/>
      </div>
      <div class="remove">
        <chef-button (click)="deleteCookbookVersion(i, cookbook)" secondary caution>Remove
        </chef-button>
      </div>
    </div>
  </div>
</div>
