<div class="content-container">
  <div class="description" >
    <h2 class="type">{{ contentItem.type | uppercase }}</h2>
    <div class="name">{{ contentItem.name }}</div>
    <div class="version">Version 9.2.1-1</div>
    <figcaption>{{ contentItem.description }}</figcaption>
    <div class="platform-label">SUPPORTED PLATFORMS</div>
    <div class="platform">Linux</div>
  </div>
  <div class="button-group">
    <chef-button class="action-button" secondary>
      GET CONTENT
    </chef-button>
    <chef-button class="action-button" secondary>
      DOWNLOAD
    </chef-button>
    <chef-button class="action-button" secondary>
      INSTALL
    </chef-button>
  </div>
</div>
