<chef-modal [visible]="visible" (closeModal)="closeEvent()">
  <h2 slot="title">Add Chef Server </h2>
    <div class="flex-container">
      <form [formGroup]="createForm">
        <div class="input-margin">
          <chef-form-field>
            <label>
              <span class="label">Name <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="name" type="text" id="name-input" (keyup)="handleInput($event)" autocomplete="off"/>
            </label>
            <chef-error
            *ngIf="(createForm.get('name').hasError('required') || createForm.get('name').hasError('pattern')) && createForm.get('name').dirty">
            Display Name is required.
          </chef-error>
          </chef-form-field>
        </div>
        <div class="input-margin">
          <chef-form-field>
            <label>
              <span class="label">Description<span aria-hidden="true">*</span></span>
              <input chefInput formControlName="description" type="text" id="description-input" (keyup)="handleInput($event)" autocomplete="off"/>
            </label>
            <chef-error
            *ngIf="(createForm.get('description').hasError('required') || createForm.get('description').hasError('pattern')) && createForm.get('description').dirty">
            Description is required.
          </chef-error>
          </chef-form-field>
        </div>
        <div class="input-margin">
          <chef-form-field>
            <label>
              <span class="label">FQDN <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="fqdn" type="text" id="fqdn-input" (keyup)="handleInput($event)" autocomplete="off"/>
            </label>
            <chef-error
            *ngIf="createForm.get('fqdn').hasError('required') && createForm.get('fqdn').dirty">
            FQDN is required.
            </chef-error>
            <chef-error
            *ngIf="createForm.get('fqdn').hasError('pattern')">
            FQDN is invalid.
            </chef-error>
          </chef-form-field>
        </div>
        <div class="input-margin">
          <chef-form-field>
            <label>
              <span class="label">IP Address <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="ip_address" type="text" id="ip-address-input" (keyup)="handleInput($event)" autocomplete="off"/>
            </label>
            <chef-error
              *ngIf="createForm.get('ip_address').hasError('required') && createForm.get('ip_address').dirty">
              IP Address is required.
            </chef-error>
            <chef-error
              *ngIf="createForm.get('ip_address').hasError('pattern')">
              IP Address is invalid.
            </chef-error>
          </chef-form-field>
        </div>
        <div id="button-bar">
          <chef-button [disabled]="!createForm?.valid || creating || conflictError"  primary id="create-button-object-modal" (click)="createChefServer()">
            <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
            <span *ngIf="!creating">Add Chef Server</span>
            <span *ngIf="creating">Adding Chef Server ...</span>
          </chef-button>
          <chef-button tertiary (click)="closeEvent()">Cancel</chef-button>
        </div>
      </form>
    </div>
</chef-modal>
