@import "~styles/variables";

.multi-list-container {
  border: solid 1px $chef-modal;
  margin-top: 10px;
}

.run-list-container {
  display: inline-block;
  margin: 0 25px 0px 50;
  max-width: 100%;
  vertical-align: top;
  width: 200px;
}

.role-list {
  display: block;
  max-height: 400px;
  min-height: 300px;
  background: $chef-white;
  height: 100%;
  overflow-y: scroll;
}

.run-list-box {
  display: flex;
  align-items: center;
  background: $chef-white;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  padding: 10px 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.run-list-box:last-child {
  border: none;
}

.select-box {
  width: 285px;
}

.margin {
  margin-top: 8px;
  height: 252px;
}

::ng-deep .role-list::-webkit-scrollbar {
  background-color: $chef-modal-scrollbar;
  width: 10px;
}

::ng-deep .role-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $chef-modal;
}

.heading-run-list {
  margin-left: 334px;
  width: 344px;
  height: 19px;
  left: 730px;
  top: 362px;

  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.25px;

  color: $chef-black;
}

::ng-deep mat-select {
  width: 277px;
}

::ng-deep  .cdk-overlay-pane .mat-select-panel-wrap  {
  flex-basis: auto;
  margin-top: 31px;
}

::ng-deep .cdk-overlay-pane .mat-select-panel .mat-option {
  line-height: 3em;
  font-size: 12px;
  height: 3em;
  border: 1px solid $chef-key-tab;
  height: 37px;
}

::ng-deep .cdk-overlay-pane .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: $chef-white;
  color: $chef-black;
}

::ng-deep .cdk-overlay-pane .mat-select-panel ng-container .mat-option {
  line-height: 3em;
  font-size: 12px;
  height: 3em;
  border: 1px solid $chef-key-tab;
  height: 37px;
}

::ng-deep [panelClass=chef-dropdown] {
  height: 36px;
  padding: 8px 12px 9px 16px;
  border: 1px solid $chef-form-input;
  box-sizing: border-box;
  border-radius: 4px;
}

::ng-deep [panelClass=chef-dropdown]:focus {
  border-color: $chef-form-input;
}

// sass-lint:disable no-important
::ng-deep .cdk-overlay-container .cdk-overlay-pane {
  margin-left: -12px !important;
  transform: none !important;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 999999999;
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
  display: inline-block;
  right: 10px;
  width: 0;
  height: 0;
  border-color: $chef-white transparent transparent transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  border: 6px solid $chef-primary-bright;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow:visited {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: $chef-black;
}
