@import "~styles/variables";

chef-modal ::ng-deep .modal::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CCC;
}

.small:first-of-type {
  margin-top: 10px;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 999999999;
}

::ng-deep [panelClass="chef-dropdown"] {
  font-size: inherit;
  font-weight: 100;
}

.run-list-container {
  width: 200px;
  max-width: 100%;
  margin: 0 25px 0px 50;
  display: inline-block;
  vertical-align: top;
}

.role-list {
  border: solid 1px #ccc;
  width: 250px;
  max-height: 400px;
  min-height: 400px;
  background: white;
  border-radius: 4px;
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.recipes-list {
  border: solid 1px #ccc;
  width: 250px;
  max-height: 400px;
  min-height: 400px;
  background: white;
  border-radius: 4px;
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.edit-list {
  border: solid 1px #ccc;
  width: 250px;
  max-height: 400px;
  min-height: 400px;
  background: white;
  border-radius: 4px;
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.run-list-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.run-list-box:last-child {
  border: none;
}

.run-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}