<div cdkDropListGroup>

  <table>
    <thead>
      <tr class="detail-row">
        <th class="id-column">
          <h2>Available Roles</h2>
        </th>
        <th class="id-column"><h2>Currents Run List</h2></th>

      </tr>
    </thead>
    <tbody>
      <tr class="detail-row">
        <td class="id-column">
          <div class="example-container">

            <div cdkDropList [cdkDropListData]="roles" class="example-list" cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of roles" cdkDrag>{{item.name}}</div>
            </div>
          </div>
        </td>
        <td class="id-column">
          <div class="examples-container">

            <div cdkDropList [cdkDropListData]="drops" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of drops" cdkDrag>{{item.name}}</div>
            </div>

          </div>
        </td>
      </tr>
      <tr class="detail-row">
        <td class="id-column">
          <h2>Available recipes</h2>

          <div class="example-container">

            <div cdkDropList [cdkDropListData]="recipes" class="example-list" cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of recipes" cdkDrag>{{item}}</div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
 
</div>
