<label>
  Projects
</label>
<div class="dropdown-wrap">
  <button class="dropdown-button"
    aria-label="Select projects"
    (click)="toggleDropdown($event)"
    [ngClass]="{'active': active}"
    [disabled]="disabled"
    (keydown.arrowup)="moveFocus($event)"
    (keydown.arrowdown)="moveFocus($event)">
    <div id="projects-selected">{{ (label.length &gt; 25)? (label | slice:0:25)+'...' : label }}</div>
    <chef-icon aria-hidden>keyboard_arrow_down</chef-icon>
  </button>
  <chef-click-outside (clickOutside)="closeDropdown()">
    <chef-dropdown [attr.visible]="active">
      <chef-checkbox
        *ngFor="let project of projectsArray();"
        [checked]="project.checked"
        [attr.title]="project.name"
        (change)="projectChecked($event.detail, project)"
        (keydown.enter)="closeColumnDropdown()"
        (keydown.esc)="closeColumnDropdown()"
        (keydown.arrowup)="moveFocus($event)"
        (keydown.arrowdown)="moveFocus($event)">{{ project['name'] }}</chef-checkbox>
    </chef-dropdown>
  </chef-click-outside>
</div>
<p class="help-text light">
  Projects group resources together for role-based access.<br/>
  Expecting more projects? Try adjusting your filters.
</p>
