@import "~styles/variables";

chef-page-header {
  padding-bottom: 0.1em;

  chef-form-field {
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
  }

  #create-id {
    width: 60%;
    max-width: 400px;
  }

  #create-name {
    width: 80%;
    max-width: 600px;
  }

  $min-input-width: 270px;

  chef-input {
    width: 100%;
    min-width: $min-input-width;
  }

  // You have to set the min-width on the actual .errors container in
  // the chef-error. chef-error doesn't respect min-width.
  ::ng-deep .errors {
    min-width: $min-input-width;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .form-container {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .button-container {
    justify-content: flex-end;
    flex-shrink: 0;
    margin-left: 20px;
  }
}

.page-body {
  .body-description {
    font-size: 14px;
    margin-bottom: 2em;
  }
}
