<app-admin-sidebar>
</app-admin-sidebar>

<div class="container">
  <main>
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/settings/teams']">Teams</chef-breadcrumb>
      Create a team
    </chef-breadcrumbs>

    <chef-page-header>
      <div class="flex-container">
        <div class="form-container">
          <form [formGroup]="teamCreateForm">
            <chef-form-field id="create-id">
              <label>
                <span class="label">Team {{ versionedNameOrId }}</span>
                <chef-input ngDefaultControl formControlName="teamId" type="text"></chef-input>
              </label>
              <chef-error *ngIf="teamCreateForm.get('teamId').hasError('required') && teamCreateForm.get('teamId').dirty">
                Team {{ versionedNameOrId }} is required.
              </chef-error>
              <chef-error *ngIf="teamCreateForm.get('teamId').hasError('pattern') && teamCreateForm.get('teamId').dirty">
                Only lowercase letters, numbers, and hyphens(-) are allowed.
              </chef-error>
              <chef-error *ngIf="teamCreateForm.get('teamId').hasError('maxlength') && teamCreateForm.get('teamId').dirty">
                {{ versionedNameOrId }} must be 64 characters or less.
              </chef-error>
            </chef-form-field>
            <chef-form-field id="create-name">
              <label>
                <span class="label">{{ versionedDescOrName | titlecase }}</span>
                <chef-input ngDefaultControl formControlName="teamName" type="text"></chef-input>
              </label>
               <chef-error *ngIf="(teamCreateForm.get('teamName').hasError('required') || teamCreateForm.get('teamName').hasError('pattern')) && teamCreateForm.get('teamName').dirty">
                  Team {{ versionedDescOrName }} is required.
                </chef-error>
            </chef-form-field>
          </form>
        </div>
        <div class="button-container">
          <chef-button primary disabled class="save-button" *ngIf="!this.teamCreateForm.valid">
            <span>Save</span>
          </chef-button>
          <chef-button primary class="save-button" (click)="saveTeam()" *ngIf="this.teamCreateForm.valid">
            <span>Save</span>
          </chef-button>
          <chef-button tertiary [routerLink]="['/settings/teams']">Cancel</chef-button>
        </div>
      </div>
      <chef-tab-selector> <!-- (change)="onSelectedTab($event)"> -->
        <chef-option value='users'>Users</chef-option>
        <!-- Uncomment when we implement policies
        <chef-option value='policies'>Policies</chef-option>
        -->
      </chef-tab-selector>
    </chef-page-header>
    <section class="page-body">
      <div class="body-description">You can add users after you provide a team {{ versionedNameOrId }} and {{ versionedDescOrName }}.</div>
    </section>
  </main>
</div>
