<chef-modal label="license-lockout-label" [locked]="modalLocked" [visible]="modalVisible" (closeModal)="closeModal()">
  <div class="license-wrapper">

    <ng-container *ngIf="!fetchStatusInternalError">
      <ng-container *ngIf="!trialLicenseApplied">
        <h2 id="license-lockout-label" class="title">Welcome to Chef Automate!</h2>
        <div class="subtitle">In order to use Chef Automate, you will require a license</div>
        <div class="subtitle">Please select an option to proceed.</div>
        <div class="error-container">
          <chef-alert type="error" *ngIf="fetchStatusInternalError">
            <span>
            Sorry but something went wrong. We are unable to verify license status.
            Contact an administrator or <a href="https://www.chef.io/support/" target="_blank" class="error-msg">Chef support</a>.
            </span>
          </chef-alert>
          <chef-alert type="error" *ngIf="permissionDenied">
          We're sorry, but you currently do not have permission to apply a license.
          Contact an administrator for permission.
          </chef-alert>
          <chef-alert type="error" *ngIf="trialRequestInternalError">
            <span>
            Sorry, but something went wrong. We are unable to get your trial license.
            Contact an administrator or <a href="https://www.chef.io/support/" target="_blank" class="error-msg">Chef support</a>.
            </span>
          </chef-alert>
          <chef-alert type="error" *ngIf="trialRequestConnectivityError">
            <span>
            Sorry, but Chef Automate was unable to contact the Chef trial license service.
            Contact an administrator or <a href="https://www.chef.io/support/" target="_blank" class="error-msg">Chef support</a>.
            </span>
          </chef-alert>
        </div>
        <div class="border-box">
          <a tertiary (click)="backToLicenseApply(); false">I have a license</a>
          <p>Enter the License key and proceed.</p>
          <a tertiary (click)="backToLicenseApply(); false">
            <chef-icon class="icon-right">chevron_right</chef-icon>
          </a>
        </div>
        <br>
        <div class="border-box">
          <a href="https://www.chef.io/license-generation-free-trial" target="_blank" rel="noopener">I don't have a license</a>
          <p>Generate a license key.</p>
          <a href="https://www.chef.io/license-generation-free-trial" target="_blank" rel="noopener">
            <chef-icon class="icon-right">chevron_right</chef-icon>
          </a>

        </div>
        <div class="spinner-container">
          <chef-loading-spinner *ngIf="requestingLicense" size="30"></chef-loading-spinner>
        </div>
        <div class="footer">
          <chef-button class="button" tertiary (click)="logout()">Sign out and do it later.</chef-button>
        </div>
      </ng-container>

      <!-- display confirmation once license applied -->
      <ng-container *ngIf="trialLicenseApplied">
        <div class="title">
          <chef-icon>check_circle</chef-icon> Trial license has been applied!
        </div>
        <div class="info">
          <div class="subtitle">Your trial license will expire on
            <strong class="date">{{ expirationDate }}</strong>.
          </div>
        </div>

        <h2>How can we help get you started?</h2>
        <ul>
          <li>
            <a href="https://docs.chef.io/automate" target="_blank">
              Chef Documentation
              <chef-icon>launch</chef-icon>
            </a>
          </li>
          <li>
            <a href="https://learn.chef.io/" target="_blank">
              Learn Chef Rally
              <chef-icon>launch</chef-icon>
            </a>
          </li>
        </ul>
        <chef-button primary (click)="closeModal()" class="confirmation" id="dismiss-help">Close</chef-button>
        <app-telemetry-checkbox></app-telemetry-checkbox>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="fetchStatusInternalError">
        <div class="title">Unable to Verify License</div>
        <div>
          Something went wrong. Verify your connectivity to the Chef Automate server.
          <br/>
          If this problem persists contact an administrator
          or <a href="https://www.chef.io/support/" target="_blank" class="error-msg">Chef support</a>.
        </div>
    <div class="button-container">
          <chef-button primary (click)="retryLicenseStatus()">Retry Connection</chef-button>
          <chef-button secondary (click)="logout()">Sign out</chef-button>
    </div>
    </ng-container>

  </div>
</chef-modal>
