<div class="content-container">
  <div class="container">
    <main>
      <chef-notification
        *ngIf="notificationVisible"
        [type]="notificationType"
        [timeout]="notificationTimeout()"
        (dismissed)="hideNotification()">
        {{ notificationMessage }}
      </chef-notification>

      <chef-page-header>
        <chef-heading>Data Lifecycle</chef-heading>
        <chef-subheading>Manage the retention of events, service groups, Chef Client runs, compliance reports and scans in Chef Automate.</chef-subheading>
      </chef-page-header>

      <div class="page-body">

        <div class="group-section">
          <chef-button primary [disabled]="noChanges()" (click)="applyChanges()">Save Changes</chef-button>
        </div>

        <div class="group-section">
          <h2>Event Feed</h2>
          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove event feed data after<input chefInput type="number" value="30" />days</p>
          </div>

          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove Chef Server actions after<input chefInput type="number" value="30" />days</p>
          </div>
        </div>

        <div class="group-section">
          <h2>Service Groups</h2>
          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>

            <p>When no health check reports have been received for a service in
              <input chefInput type="number" value="5" />
              <mat-form-field appearance="none">
                <mat-select panelClass="chef-dropdown">
                  <mat-option value="minutes">minutes</mat-option>
                  <mat-option value="hours">hours</mat-option>
                  <mat-option value="days">days</mat-option>
                </mat-select>
              </mat-form-field>
              , label the service as disconnected</p>
          </div>
          
          <div class="checkbox-row secondary-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove services labeled as disconnected after
              <input chefInput type="number" value="7" />
              <mat-form-field appearance="none">
                <mat-select panelClass="chef-dropdown">
                  <mat-option value="minutes">minutes</mat-option>
                  <mat-option value="hours">hours</mat-option>
                  <mat-option value="days">days</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
        </div>

        <div class="group-section">
          <h2>Client Runs</h2>
          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove data for Chef Client runs after<input chefInput type="number" value="30" />days</p>
          </div>

          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
          
            <p>When no Chef Client run data has been received from a node in
              <input chefInput type="number" value="30" />
              <mat-form-field appearance="none">
                <mat-select panelClass="chef-dropdown">
                  <mat-option value="minutes">minutes</mat-option>
                  <mat-option value="hours">hours</mat-option>
                  <mat-option value="days">days</mat-option>
                </mat-select>
              </mat-form-field>
              , label the node as missing
            </p>
          </div>

          <div class="checkbox-row secondary-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove nodes labeled as missing after<input chefInput type="number" value="30" />
            <mat-form-field appearance="none">
              <mat-select panelClass="chef-dropdown">
                <mat-option value="minutes">minutes</mat-option>
                <mat-option value="hours">hours</mat-option>
                <mat-option value="days">days</mat-option>
              </mat-select>
            </mat-form-field>
            </p>
          </div>
        </div>

        <div class="group-section">
          <h2>Compliance</h2>
          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove compliance reports after<input chefInput type="number" value="30" />days</p>
          </div>

          <div class="checkbox-row">
            <div class="checkbox-container">
              <chef-checkbox></chef-checkbox>
            </div>
            <p>Remove compliance scans after<input chefInput type="number" value="30" />days</p>
          </div>

        </div>


        <!-- <chef-table>
          <chef-tbody>
            <chef-tr [formGroup]="missingNodesForm">
              <chef-td><b>Missing Nodes</b></chef-td>
              <chef-td class="description">If no Chef Client runs have completed in the specified window, nodes will be marked as "Missing".</chef-td>
              <chef-td class="input">
                <chef-checkbox
                  [checked]="missingNodesForm.value.disable"
                  (change)="patchDisableValue(missingNodesForm, $event.detail)">
                  Never mark
                </chef-checkbox>
              </chef-td>
              <chef-td class="input">
                <input chefInput formControlName="threshold"/>
              </chef-td>
              <chef-td class="input">
                <chef-select ngDefaultControl formControlName="unit" (change)="patchUnitValue(missingNodesForm, $event)">
                  <chef-option value='m' [selected]="isUnitValue(missingNodesForm,'m')">Minutes</chef-option>
                  <chef-option value='h' [selected]="isUnitValue(missingNodesForm,'h')">Hours</chef-option>
                  <chef-option value='d' [selected]="isUnitValue(missingNodesForm,'d')">Days</chef-option>
                </chef-select>
              </chef-td>
            </chef-tr>
            <chef-tr [formGroup]="deleteMissingNodesForm">
              <chef-td><b>Delete Missing Nodes</b></chef-td>
              <chef-td class="description">Nodes set to missing will be removed at this interval.</chef-td>
              <chef-td class="input">
                <chef-checkbox
                  [checked]="deleteMissingNodesForm.value.disable"
                  (change)="patchDisableValue(deleteMissingNodesForm, $event.detail)">
                  Never delete
                </chef-checkbox>
              </chef-td>
              <chef-td class="input">
                <input chefInput formControlName="threshold"/>
              </chef-td>
              <chef-td class="input">
                <chef-select ngDefaultControl formControlName="unit" (change)="patchUnitValue(deleteMissingNodesForm, $event)">
                  <chef-option value='m' [selected]="isUnitValue(deleteMissingNodesForm,'m')">Minutes</chef-option>
                  <chef-option value='h' [selected]="isUnitValue(deleteMissingNodesForm,'h')">Hours</chef-option>
                  <chef-option value='d' [selected]="isUnitValue(deleteMissingNodesForm,'d')">Days</chef-option>
                </chef-select>
              </chef-td>
            </chef-tr>
          </chef-tbody>
        </chef-table> -->


      </div>
    </main>
  </div>
</div>
