@import "~styles/variables";

h2 {
  font-size: 16px;
  font-weight: 600;

  &.spaced-h2 {
    margin-top: 28px;
  }
}

.indent {
  margin-left: 37px;
}

.input {
  margin-top: 12px;
  margin-bottom: 12px;
}

.no-right-margin {
  margin-left: -8px;
}

chef-input {
  width: 60px;
}

chef-select {
  width: 120px;
}

chef-checkbox {
  font-size: 17px;
  width: 110px;

  ::ng-deep .mat-checkbox-layout {
    padding-bottom: 0;
  }
}
