<div class="content-container">
  <div class="container">
    <main>
      <chef-notification
        *ngIf="notificationVisible"
        [type]="notificationType"
        [timeout]="notificationTimeout()"
        (dismissed)="hideNotification()">
        {{ notificationMessage }}
      </chef-notification>

    <chef-page-header>
      <chef-heading>Data Lifecycle</chef-heading>
      <chef-subheading>Manage the retention of events, service groups, Chef Client runs, compliance reports and scans in
        Chef Automate.</chef-subheading>
    </chef-page-header>

    <div class="page-body">
      <div class="no-right-margin">
        <chef-button primary
        [disabled]="noChanges()"
        (click)="applyChanges()">Save Changes</chef-button>
      </div>
      <h2 class="spaced-h2">Event Feed</h2>
      <form [formGroup]="eventFeedForm">
        <div class="input">
          <chef-checkbox
            [checked]="eventFeedForm.value.disable"
            (change)="patchDisableValue(eventFeedForm, $event.detail)">
            Remove event feed data after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            days
          </chef-checkbox>
        </div>
        <div class="input">
          <chef-checkbox
            [checked]="eventFeedForm.value.disable"
            (change)="patchDisableValue(eventFeedForm, $event.detail)">
            Remove Chef Server actions after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            days
          </chef-checkbox>
        </div>
      </form>
      <h2 *ngIf="applicationsFeatureFlagOn" class="spaced-h2">Service Groups</h2>
      <form *ngIf="applicationsFeatureFlagOn" [formGroup]="missingNodesForm">
        <div class="input">
          <chef-checkbox
            [checked]="missingNodesForm.value.disable"
            (change)="patchDisableValue(missingNodesForm, $event.detail)">
            When no health check reports have been received for a service in
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            <chef-select ngDefaultControl formControlName="unit" (change)="patchUnitValue(missingNodesForm, $event)">
              <chef-option value='m' [selected]="isUnitValue(missingNodesForm,'m')">Minutes</chef-option>
              <chef-option value='h' [selected]="isUnitValue(missingNodesForm,'h')">Hours</chef-option>
              <chef-option value='d' [selected]="isUnitValue(missingNodesForm,'d')">Days</chef-option>
            </chef-select>
            , label the service as disconnected
          </chef-checkbox>
        </div>
      </form>
      <form [formGroup]="missingNodesForm">
        <div class="input indent">
          <chef-checkbox [checked]="missingNodesForm.value.disable"
            (change)="patchDisableValue(missingNodesForm, $event.detail)">
            Remove services labeled as disconnected after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            <chef-select ngDefaultControl formControlName="unit" (change)="patchUnitValue(missingNodesForm, $event)">
              <chef-option value='m' [selected]="isUnitValue(missingNodesForm,'m')">Minutes</chef-option>
              <chef-option value='h' [selected]="isUnitValue(missingNodesForm,'h')">Hours</chef-option>
              <chef-option value='d' [selected]="isUnitValue(missingNodesForm,'d')">Days</chef-option>
            </chef-select>
          </chef-checkbox>
        </div>
      </form>
      <h2 class="spaced-h2">Client Runs</h2>
      <form [formGroup]="clientRunsForm">
        <div class="input">
          <chef-checkbox
            [checked]="clientRunsForm.value.disable"
            (change)="patchDisableValue(clientRunsForm, $event.detail)">
            Remove data for Chef Client runs after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            days
          </chef-checkbox>
        </div>
      </form>
      <form [formGroup]="missingNodesForm">
        <div class="input">
          <chef-checkbox
            [checked]="missingNodesForm.value.disable"
            (change)="patchDisableValue(missingNodesForm, $event.detail)">
            When no Chef Client run data has been received from a node in
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            <chef-select ngDefaultControl formControlName="unit" (change)="patchUnitValue(missingNodesForm, $event)">
              <chef-option value='m' [selected]="isUnitValue(missingNodesForm,'m')">Minutes</chef-option>
              <chef-option value='h' [selected]="isUnitValue(missingNodesForm,'h')">Hours</chef-option>
              <chef-option value='d' [selected]="isUnitValue(missingNodesForm,'d')">Days</chef-option>
            </chef-select>
          </chef-checkbox>
        </div>
      </form>
      <form [formGroup]="deleteMissingNodesForm">
        <div class="input indent">
          <chef-checkbox
            [checked]="deleteMissingNodesForm.value.disable"
            (change)="patchDisableValue(deleteMissingNodesForm, $event.detail)">
            Remove nodes labeled as missing after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            <chef-select ngDefaultControl formControlName="unit"
              (change)="patchUnitValue(deleteMissingNodesForm, $event)">
              <chef-option value='m' [selected]="isUnitValue(deleteMissingNodesForm,'m')">Minutes</chef-option>
              <chef-option value='h' [selected]="isUnitValue(deleteMissingNodesForm,'h')">Hours</chef-option>
              <chef-option value='d' [selected]="isUnitValue(deleteMissingNodesForm,'d')">Days</chef-option>
            </chef-select>
          </chef-checkbox>
        </div>
      </form>
      <h2 class="spaced-h2">Compliance</h2>
      <form [formGroup]="complianceDataForm">
        <div class="input">
          <chef-checkbox
            [checked]="complianceDataForm.value.disable"
            (change)="patchDisableValue(complianceDataForm, $event.detail)">
            Remove compliance reports after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            days
          </chef-checkbox>
        </div>
        <div class="input">
          <chef-checkbox
            [checked]="complianceDataForm.value.disable"
            (change)="patchDisableValue(complianceDataForm, $event.detail)">
            Remove compliance scans after
            <chef-input ngDefaultControl formControlName="threshold"></chef-input>
            days
          </chef-checkbox>
        </div>
      </form>
    </div>

  </main>
</div>
