@import "~styles/variables";

.page-body {
  background-color: $chef-white;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

.group-section {
  margin-bottom: 30px;

  chef-button {
    margin: 0;
  }
}

.checkbox-row {
  display: flex;

  &+.checkbox-row {
    margin-top: 12px;

    &.secondary-row {
      margin-left: 69px;
    }
  }


  .checkbox-container {
    margin-top: 12px;
  }

  chef-checkbox {
    margin-right: 8px;
    font-size: 17px;
  }

  input {
    width: 60px;
  }

  p {
    margin: 0;
  }
}

.chef-input {
  margin: 0 8px;
}



// temporary - needs to go in theme file for material
mat-form-field {
  margin: 0 8px 0 0;
  width: 120px;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }

  ::ng-deep .mat-select-disabled {
    background-color: $chef-light-grey;
    opacity: 0.5;
  }
}

[panelClass="chef-dropdown"] {
  height: 45px;
  background-color: $chef-white;
  padding: 1em;
  font-size: 14px;
  border: 1px solid $chef-light-grey;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  transition: border 0.4s ease;

  &:focus,
  &:active {
    border-color: $chef-primary-bright;
    outline: none;
  }
}

// end temporary



chef-checkbox {
  ::ng-deep .mat-checkbox-layout {
    padding-bottom: 0;
  }
}
