@import "~styles/variables";

h2 {
  font-size: 16px;
  font-weight: 600;
}

.group-section {
  margin-bottom: 30px;

  chef-button {
    margin-left: 0;
  }
}

.checkbox-row {
  display: flex;
  
  & + .checkbox-row {
    margin-top: 12px;
  }

  .checkbox-container {
    margin-top: 15px;
  }

  chef-checkbox {
    margin-right: 8px;
    font-size: 17px;
  }

  input {
    width: 60px;
  }

  p {
    margin: 0;
  }

  &.secondary-row {
    margin-left: 69px;
  }
}

.chef-input {
  margin: 0 8px;
}



// temporary - needs to go in theme file for material
mat-form-field {
  width: 120px;
  margin: 0 8px 0 0;
}

// this is not working but it is the cause of our box misalignment
// .mat-form-field-infix {
//     padding: 0;
//     border-top: 0;
// }

[panelClass="chef-dropdown"] {
  height: 45px;
  background-color: #FFFFFF;
  padding: 1em;
  font-size: 14px;
  border: 1px solid #E6EBEE;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  transition: border 0.4s ease;
}

// end temporary



chef-checkbox {
  ::ng-deep .mat-checkbox-layout {
    padding-bottom: 0;
  }
}
