<div class="content-container">
  <div class="container">
    <main>
      <chef-notification
        *ngIf="notificationVisible"
        [type]="notificationType"
        [timeout]="notificationTimeout()"
        (dismissed)="hideNotification()">
        {{ notificationMessage }}
      </chef-notification>

      <chef-page-header>
        <chef-heading>Data Lifecycle</chef-heading>
        <chef-subheading>Manage the retention of events, service groups, Chef Client runs, compliance reports and scans in Chef Automate.</chef-subheading>
      </chef-page-header>

      <div class="page-body">

        <div class="group-section">
          <chef-button primary [disabled]="!formChanged" (click)="applyChanges()">Save Changes</chef-button>
        </div>

        <div class="group-section">
          <h2>Event Feed</h2>
          <div class="checkbox-row" [formGroup]="eventFeedRemoveData">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!eventFeedRemoveData.value.disabled"
              (change)="toggleInput(eventFeedRemoveData, $event.detail)">
            </chef-checkbox>
            </div>
              <p>Remove event feed data after
                <input chefInput type="number" min="1" formControlName="threshold" />days</p>
          </div>

          <div class="checkbox-row" [formGroup]="eventFeedServerActions">
            <div class="checkbox-container">
              <chef-checkbox
                [checked]="!eventFeedServerActions.value.disabled"
                (change)="toggleInput(eventFeedServerActions, $event.detail)">
              </chef-checkbox>
            </div>
            <p>Remove Chef Server actions after<input chefInput type="number" min="1" formControlName="threshold" />days</p>
          </div>
        </div>

        <div class="group-section">
          <h2>Service Groups</h2>
          <div class="checkbox-row" [formGroup]="serviceGroupNoHealthChecks">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!serviceGroupNoHealthChecks.value.disabled"
              disabled="true">
              <!-- this is currently not changeable by the user -->
              </chef-checkbox>
            </div>

            <p>When no health check reports have been received for a service in
              <input chefInput type="number" min="1" formControlName="threshold" />
              <mat-form-field appearance="none">
                <mat-select panelClass="chef-dropdown" formControlName="unit">
                  <mat-option value="m">minutes</mat-option>
                  <mat-option value="h">hours</mat-option>
                  <mat-option value="d">days</mat-option>
                </mat-select>
              </mat-form-field>
              , label the service as disconnected</p>
          </div>
          
          <div class="checkbox-row secondary-row" [formGroup]="serviceGroupRemoveServices">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!serviceGroupRemoveServices.value.disabled"
              (change)="toggleInput(serviceGroupRemoveServices, $event.detail)"
              disabled="true">
              </chef-checkbox>
            </div>
            <p>Remove services labeled as disconnected after
              <input chefInput type="number" min="1" formControlName="threshold" />
              <mat-form-field appearance="none">
                <mat-select panelClass="chef-dropdown" formControlName="unit">
                  <mat-option value="m">minutes</mat-option>
                  <mat-option value="h">hours</mat-option>
                  <mat-option value="d">days</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
        </div>

        <div class="group-section">
          <h2>Client Runs</h2>
          <div class="checkbox-row" [formGroup]="clientRunsRemoveData">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!clientRunsRemoveData.value.disabled"
              (change)="toggleInput(clientRunsRemoveData, $event.detail)">
              </chef-checkbox>
            </div>
            <p>Remove data for Chef Client runs after<input chefInput type="number" min="1" formControlName="threshold" />days</p>
          </div>

          <div class="checkbox-row" [formGroup]="clientRunsLabelMissing">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!clientRunsLabelMissing.value.disabled"
              (change)="toggleInput(clientRunsLabelMissing, $event.detail)">
              </chef-checkbox>
            </div>
          
            <p>When no Chef Client run data has been received from a node in
              <input chefInput type="number" min="1" formControlName="threshold" />
              <mat-form-field appearance="none">
                <mat-select panelClass="chef-dropdown" formControlName="unit">
                  <mat-option value="m">minutes</mat-option>
                  <mat-option value="h">hours</mat-option>
                  <mat-option value="d">days</mat-option>
                </mat-select>
              </mat-form-field>
              , label the node as missing
            </p>
          </div>

          <div class="checkbox-row secondary-row" [formGroup]="clientRunsRemoveNodes">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!clientRunsRemoveNodes.value.disabled"
              (change)="toggleInput(clientRunsRemoveNodes, $event.detail)">
              </chef-checkbox>
            </div>
            <p>Remove nodes labeled as missing after<input chefInput type="number" min="1" formControlName="threshold" /> days.
            <!-- <mat-form-field appearance="none">
              <mat-select panelClass="chef-dropdown" formControlName="unit">
                <mat-option value="m">minutes</mat-option>
                <mat-option value="h">hours</mat-option>
                <mat-option value="d">days</mat-option>
              </mat-select>
            </mat-form-field> -->
            </p>
          </div>
        </div>

        <div class="group-section">
          <h2>Compliance</h2>
          <div class="checkbox-row" [formGroup]="complianceRemoveReports">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!complianceRemoveReports.value.disabled"
              (change)="toggleInput(complianceRemoveReports, $event.detail)">
              </chef-checkbox>
            </div>
            <p>Remove compliance reports after<input chefInput type="number" min="1" formControlName="threshold" />days</p>
          </div>

          <div class="checkbox-row" [formGroup]="complianceRemoveScans">
            <div class="checkbox-container">
              <chef-checkbox
              [checked]="!complianceRemoveScans.value.disabled"
              (change)="toggleInput(complianceRemoveScans, $event.detail)">
              </chef-checkbox>
            </div>
            <p>Remove compliance scans after<input chefInput type="number" min="1" formControlName="threshold" />days</p>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>
