@import "~styles/variables";

h2 {
  font-size: 16px;
  font-weight: 600;
}

.group-section {
  margin-bottom: 30px;

  chef-button {
    margin-left: 0;
  }
}

.checkbox-row {
  display: flex;
  
  & + .checkbox-row {
    margin-top: 12px;
  }

  .checkbox-container {
    margin-top: 15px;
  }

  chef-checkbox {
    margin-right: 8px;
    font-size: 17px;
  }

  input {
    width: 60px;
  }

  p {
    margin: 0;
  }

  &.secondary-row {
    margin-left: 69px;
  }
}

.chef-input {
  margin: 0 8px;
}

// temporary - needs to go in theme file for material
mat-form-field {
  width: 120px;
  margin: 0 8px;
}
// chef-td {
//   &.description {
//     flex-basis: 45%;
//   }

//   &.input {
//     flex: none;
//   }
// }

// input {
//   width: 60px;
//   height: 100%;
// }

// chef-select {
//   width: 120px;
// }



chef-checkbox {
  // font-size: 17px;
  // width: 110px;

  ::ng-deep .mat-checkbox-layout {
    padding-bottom: 0;
  }
}
