<section class="infra-roles">
  <chef-loading-spinner *ngIf="rolesListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="roles" (resetKeyRedirection)="resetKeyTabRedirection($event)">
  </app-empty-state>
  <ng-container *ngIf="!rolesListLoading && !authFailure">
    <div class="search-items">
      <app-infra-search-bar (searchButtonClick)="searchRoles($event)" placeHolder="Roles....">
      </app-infra-search-bar>
    </div>
    <chef-loading-spinner class="full-screen-spinner" *ngIf="searching" size="50" fixed></chef-loading-spinner>
    <div class="empty-section" *ngIf="!searching && !roles.length">
      <img alt="No preview" src="/assets/img/no_preview.gif" />
      <p *ngIf="searchValue === ''">No roles available</p>
      <p *ngIf="searchValue != ''">No results found for "{{searchValue}}".</p>
    </div>
    <chef-table *ngIf="roles.length">
        <chef-thead>
          <chef-tr class="no_border_tr">
            <chef-th class="no_border_th">Name</chef-th>
            <chef-th class="no_border_th">Description</chef-th>
            <chef-th class="no_border_th">Environments</chef-th>
            <chef-th class="no_border_th"></chef-th>
            <chef-th class="no_border_th"></chef-th>
          </chef-tr>
        </chef-thead>
        <chef-tbody>
          <chef-tr *ngFor="let role of roles">
            <chef-td>
              <a [routerLink]="['/infrastructure','chef-servers', serverId,
              'organizations', orgId, 'roles', role.name]">{{ role.name }}</a>
            </chef-td>
            <chef-td>
              {{ (role.description.length &gt; 30)? (role.description | slice:0:30)+'...' : role.description }}
            </chef-td>
            <chef-td>{{ role.environments.join(", ") }}</chef-td>
            <chef-td></chef-td>
            <chef-td></chef-td>
          </chef-tr>
        </chef-tbody>
      </chef-table>

      <app-page-picker
      class="roles-list-paging"
      [total]="total"
      [perPage]="per_page"
      [page]="page"
      (pageChanged)="onPageChange($event)">
    </app-page-picker>
  </ng-container>
</section>