@import "~styles/variables";

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

chef-table-new {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.empty-section {
  text-align: center;
}

img {
  width: 70px;
  margin-top: 130px;
}

.full-screen-spinner {
  display: flex;
  margin: auto;
  margin-top: 239px;
  background-color: $chef-white;
  opacity: 0.7;
  width: initial;
  height: 100%;
}

.roles-list-paging {
  margin: 0 0 35px;
}

.three-dot-column {
  text-align: right;
}

.infra-roles {
  .search-items {
    margin-bottom: 18px;
    height: 55px;
  }

  chef-toolbar chef-button:first-child {
    margin: 4px 0px 0px 32px;
    float: right;
    button {
      padding: 7px 16px;
      letter-spacing: 0.5px;
    }
  }

  ::ng-deep {
    .search-items app-infra-search-bar .search-wrapper {
      float: left;
      width: calc( 100% - 135px);
    }
  }
}
