@import "~styles/variables";

thead {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $chef-primary-dark;
}

th {
  text-align: left;
  padding: 0px;
}

tbody > .detail-row {
  padding-top: 0px;
  padding-bottom: 15px;
}

chef-table-new {
  .controls {
    text-align: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.empty-section {
  text-align: center;
}

img {
  width: 70px;
  margin-top: 130px;

}

.full-screen-spinner {
  display: flex;
  margin: auto;
  margin-top: 239px;
  background-color: $chef-white;
  opacity: 0.7;
  width: initial;
  height: 100%;
}

.roles-list-paging {
  margin: 0 0 35px;
}

.three-dot-column {
  text-align: right;
}

#role-create {
  float: right;
  margin-left: 16px;
}

.search-box {
  float: left;
  width: 87%;
}

.button-box {
  float: right;
  width: 10%;
}

