<!-- rework of coreos login.html-->
<!-- rendered using https://golang.org/pkg/html/template/-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ issuer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url .ReqPath "static/main.css" }}" rel="stylesheet">
    <link href="{{ url .ReqPath "theme/styles.css" }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url .ReqPath "theme/scripts.js" }}"></script>
  </head>
  <body>
    {{ if "showBanner" | extra }} 
    <div class="warning-banner" style="background-color: #24d624;">
      <p class="warning-text" style="color: #000;">DYNAMIC CONTENT - HIGHEST POSSIBLE LEVEL OF CLASSIFICATION IS: UNCLASSIFIED</p>
    </div>
    {{ end }}
      <div class="theme-panel" role="main">
        <div class="logo">
          <img class="theme-navbar__logo" alt="Chef Automate" src="{{url .ReqPath "static/img/automate-blue-d9789f4b.svg" }}">
        </div>
        <h1>User Sign In</h1>
        <div>
          {{ range $c := .Connectors }}
          <div class="theme-form-row">
            <a href="{{ $c.URL }}" target="_self">
              <div class="dex-btn theme-btn-provider">
                  <span class="dex-btn-icon dex-btn-icon--{{ $c.ID }}"></span>
                  {{ if eq $c.ID "local" }}
                  <span class="dex-btn-text">Sign in as a local user</span>
                  {{ else }}
                  <span class="dex-btn-text">Sign in with {{ $c.Name }}</span>
                  {{ end }}
              </div>
            </a>
            {{ end }}
          </div>
        </div>
      </div>

    </div>

        {{/* if ...message should be shown */}}
          <div class="popup-wrapper open">
            <div class="popup">
              <div class="message">
                <h3>Warning</h3>
                {{/* message variable here */}}
                <p>convallis a cras semper auctor neque vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat id porta
                nibh venenatis cras sed felis eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer
                enim neque volutpat ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate
                eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar neque laoreet suspendisse interdum
                consectetur libero id faucibus nisl tincidunt eget nullam non nisi est sit amet facilisis magna etiam tempor orci eu
                lobortis elementum nibh tellus molestie nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum
                sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus risus at
                ultrices mi tempus imperdiet.
              
                convallis a cras semper auctor neque vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat id porta
                nibh venenatis cras sed felis eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer
                enim neque volutpat ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate
                eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar neque laoreet suspendisse interdum
                consectetur libero id faucibus nisl tincidunt eget nullam non nisi est sit amet facilisis magna etiam tempor orci eu
                lobortis elementum nibh tellus molestie nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum
                sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus risus at
                ultrices mi tempus imperdiet</p>

                <button class="accept-button">I Understand</button>
              </div>
            </div>
          </div>
        {{/* end ...message should be shown */}}
        
    <script type="text/javascript" src="{{ url .ReqPath "theme/scripts.js" }}"></script>
  </body>
</html>
