<!-- rework of coreos login.html-->
<!-- rendered using https://golang.org/pkg/html/template/-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ issuer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{{ url .ReqPath "static/main.css" }}' rel="stylesheet">
    <link href='{{ url .ReqPath "theme/styles.css" }}' rel="stylesheet">
    <link rel="stylesheet" href='{{ url .ReqPath "static/font-awesome-4.7.0/css/font-awesome.min.css" }}'>
  </head>
  <body>


    {{ if eq ("showBanner" | extra) "true" }}
    <div class="warning-banner" style='background-color: #{{ "bannerBackgroundColor" | extra }}'>
      <p class="warning-text" style='color: #{{ "bannerTextColor" | extra }}'>
        {{ "bannerMessage" | extra }}
      </p>
    </div>
    {{ end }}

    <main class="password">
      <a class="back" href="javascript:history.back()">
        <span>
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </span>
        Back
      </a>
      <div class="theme-panel">
        <div class="logo">
          <img class="theme-navbar__logo" alt="Chef Automate" src='{{url .ReqPath "static/img/automate-blue-d9789f4b.svg" }}'>
        </div>
        {{ if eq .UsernamePrompt "Email Address" }}
        <h1>Local User Sign In</h1>
        {{ else }}
        <h1>{{ .UsernamePrompt }} Sign In</h1>
        {{ end }}
        <form method="post" action="{{ .PostURL }}">
          <div class="theme-form-row">
            <label class="theme-form-label" for="login">Username</label>
            {{ if .Username }}
              <input autocomplete="off" required id="login" name="login" type="text" class="theme-form-input" value="{{ .Username }}" autofocus />
            {{ else }}
              <input autocomplete="off" required id="login" name="login" type="text" class="theme-form-input" autofocus />
            {{ end }}
          </div>
          <div class="theme-form-row">
            <label class="theme-form-label" for="password">Password</label>
            {{ if .Invalid }}
              <input autocomplete="off" required id="password" name="password" type="password" class="theme-form-input" autofocus />
              <i class="fa fa-eye-slash eye-position" id="togglePassword" aria-hidden="true"></i>
            {{ else }}
              <input autocomplete="off" required id="password" name="password" type="password" class="theme-form-input" />
              <i class="fa fa-eye-slash eye-position" id="togglePassword" aria-hidden="true"></i>
            {{ end }}
          </div>
          <button type="submit" class="sign-in dex-btn theme-btn--primary">Sign In</button>
        </form>
        {{ if .Invalid }}
        <div class="dex-error-box">
          <span><i class="fa fa-exclamation-triangle" style="color: #DC267F;" aria-hidden="true"></i></span>
          <p style="margin: 0; margin-left: 10px;"><span class="dex-error-text"></span></p>
        </div>
        <script nonce="**CSP_NONCE**">
          let invalidErrorMsg = "Username or password is incorrect.";
          let errorElement = document.getElementsByClassName("dex-error-text");
          
          if (JSON.parse("{{ .EnableInvalidLoginAttempts }}")) {
            let invalidLoginAttemptsCount =  parseInt("{{ .InvalidLoginAttemptsCount }}");
            let maxInvalidLoginAttemptsAllowed = parseInt("{{ .MaxInvalidLoginAttemptsAllowed }}");
            let blockedDurationInMinutes = parseInt("{{ .BlockedDurationInMinutes }}");
            let invalidLoginAttemptUpdatedAt = new Date("{{ .InvalidLoginAttemptUpdatedAt }}");

            let difference = new Date().getTime() - invalidLoginAttemptUpdatedAt.getTime();
            let remainingBlockedDurationInMinutes = blockedDurationInMinutes - Math.round(difference / 60000);

            if(invalidLoginAttemptsCount >= maxInvalidLoginAttemptsAllowed) {
              errorElement[0].innerHTML = 
              "<b>Too many failed attempts.</b>" + " <br><br> Try again in " + remainingBlockedDurationInMinutes + " minutes.";
            } else { 
              let attemptsLeft = maxInvalidLoginAttemptsAllowed - invalidLoginAttemptsCount;
              errorElement[0].innerHTML = 
              invalidErrorMsg + " <br> " + attemptsLeft + " attempts left.";
            }
          } else {
            errorElement[0].innerHTML = invalidErrorMsg;
          }
        </script>
        {{ end }} 
      </div>
      <script nonce="**CSP_NONCE**">
          const togglePassword = document.getElementById("togglePassword");
          const password = document.getElementById("password");

          togglePassword.addEventListener("click", function () {
              // toggle the type attribute
              const type = password.getAttribute("type") === "password" ? "text" : "password";
              password.setAttribute("type", type);
              
              // toggle the icon
             if(this.classList.contains("fa-eye-slash")) {
              this.classList.remove("fa-eye-slash");
              this.classList.add("fa-eye");
             } else {
              this.classList.add("fa-eye-slash");
              this.classList.remove("fa-eye");
             }
          });
      </script>
    </main>
  </body>
</html>
