<!-- rework of coreos login.html-->
<!-- rendered using https://golang.org/pkg/html/template/-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ issuer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url "static/main.css" }}" rel="stylesheet">
    <link href="{{ url "theme/styles.css" }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url "static/font-awesome-4.7.0/css/font-awesome.min.css" }}">
  </head>
  {{ if .BackLink }}
  <a class="back" href="javascript:history.back()">
    <span>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </span>
    Back
  </a>
  {{ end }}
  <div class="theme-panel">
    <div class="logo">
      <img class="theme-navbar__logo" src="{{url "static/img/automate-blue-d9789f4b.svg" }}">
    </div>
    {{ if .Invalid }}
    <div class="dex-error-box">
      <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
      <span class="dex-error-text">Username or password is incorrect.</span>
    </div>
    {{ end }}
    <form method="post" action="{{ .PostURL }}">
      <div class="theme-form-row">
        <div class="theme-form-label">
          <label for="userid">Username</label>
        </div>
        <input autocomplete="off" required id="login" name="login" type="text" class="theme-form-input" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
      </div>
      <div class="theme-form-row">
        <div class="theme-form-label">
          <label for="password">Password</label>
        </div>
        <input autocomplete="off" required id="password" name="password" type="password" class="theme-form-input" {{ if .Invalid }} autofocus {{ end }}/>
      </div>
      <button type="submit" class="dex-btn theme-btn--primary">Sign In</button>
    </form>
  </div>
</html>
