<div class="content-container">
  <div class="container">
    <main>
      <chef-page-header>
        <chef-heading>Data Feeds</chef-heading>
        <chef-subheading>Data Feed for bulk client data and compliance reports.</chef-subheading>
        <app-create-data-feed-modal
          [visible]="createModalVisible"
          [creating]="creatingDataFeed"
          [sending]="sendingDataFeed"
          [hookStatus]="hookStatus" 
          [createForm]="createDataFeedForm"
          (close)="closeCreateModal()"
          [conflictErrorEvent]="conflictErrorEvent"
          (createClicked)="createDataFeed()"
          (sendTestClicked)="sendTestForDataFeed()">
        </app-create-data-feed-modal>
        <app-delete-object-modal
          [visible]="deleteModalVisible"
          objectNoun="data-feed"
          [objectName]="dataFeedToDelete?.name"
          (close)="closeDeleteModal()"
          (deleteClicked)="deleteDataFeed()"
          objectAction="Delete">
        </app-delete-object-modal>
      </chef-page-header>
      <div class="page-body">
        <div *ngIf="(sortedDestinations$ | async)?.length === 0" class="empty-state">
          <p>Create a data feed to get started!</p>
        </div>
        <div [ngClass]="(sortedDestinations$ | async)?.length === 0 ? 'empty-state' : ''">
          <!-- <chef-button primary [routerLink]="['/settings/data-feed/form']">Create Data Feed</chef-button> -->
          <chef-button primary (click)="openCreateModal()">Create Data Feed</chef-button>
        </div>

        <chef-table *ngIf="(sortedDestinations$ | async)?.length !== 0">
          <chef-thead>
            <chef-tr>
              <chef-td>Name</chef-td>
              <chef-td class="three-dot-column"></chef-td>
            </chef-tr>
          </chef-thead>
          <chef-tbody>
            <chef-tr *ngFor= "let destination of sortedDestinations$ | async">
              <chef-td>
                <a [routerLink]="['/settings/data-feed/', destination.id]">{{ destination.name }}</a>
              </chef-td>
              <chef-modal label="url-modal-label" [visible]="urlStatusModalVisible" (closeModal)="closeModal('url')">
                <div class="status-modal">
                  <ng-container *ngIf="hookStatus === urlState.Failure">
                    <div class="status-icon failure">
                      <chef-icon>warning</chef-icon>
                    </div>
                    <h3 id="url-modal-label" class="status-heading display3 failure">
                      We were unable to connect to your destination {{ destination.name }}.
                    </h3>
                    <p>Please update your destination details and try again.</p>
                    <chef-button primary (click)="closeModal('url')">Close</chef-button>
                  </ng-container>
                  <ng-container *ngIf="hookStatus === urlState.Success">
                    <div class="status-icon success">
                      <chef-icon>done</chef-icon>
                    </div>
                    <h3 class="status-heading display3">Data feed test connected successfully for {{ destination.name }}!</h3>
                    <chef-button primary (click)="closeModal('url')">Close</chef-button>
                  </ng-container>
                </div>
              </chef-modal>
              <chef-td class="three-dot-column">
                <mat-select panelClass="chef-control-menu" id="menu-{{destination.id}}">
                  <mat-option (onSelectionChange)="startDataFeedSendTest($event, destination)" data-cy="test-data-feed">Test Data Feed</mat-option>
                  <mat-option (onSelectionChange)="startDataFeedDelete($event, destination)" data-cy="remove-data-feed">Delete Data Feed</mat-option>
                </mat-select>
              </chef-td>
            </chef-tr>
          </chef-tbody>
        </chef-table>
      </div>
    </main>
  </div>
</div>
