@import "~styles/variables";

.destinations-container {
  margin-left: 200px;
  margin-top: 80px;
}

chef-button:first-child {
  display: flex;
  float: right;
  align-items: center;
  margin-top: -360px;
}

.actions {
  padding: 8px 1em;

  chef-button[icon] {
    font-size: 18px;
    line-height: 32px;
    
    chef-icon {
      vertical-align: -3px;
    }
  }
}

.svg-inline--fa{
  width: 20px;
}

chef-subheading {
  max-width: 610px;
}

.empty-state {
  margin-top: 130px;
  text-align: center;
}

img {
  width: 70px;
}
