<div class="content-container">
  <div class="container">
    <main>
      <chef-page-header>
        <div class="header-class">
        <chef-heading>Data Feeds</chef-heading></div>
        <chef-subheading><strong>Disclaimer Text</strong>: We suggest no more than 5 Feeds, depending on your fleet size. Please check the
          reference matrix on recommended feed counts.</chef-subheading>
        <app-delete-object-modal
          [visible]="deleteModalVisible"
          objectNoun="data feed"
          [objectName]="dataFeedToDelete?.name"
          (close)="closeDeleteModal()"
          (deleteClicked)="deleteDataFeed()"
          objectAction="Delete">
        </app-delete-object-modal>
      </chef-page-header>
      <div class="page-body">
        <chef-button primary (click)="slidePanel()" data-cy="create-data-feed"><img alt="" class="svg-inline--fa" src="/assets/img/data-feed.svg">&nbsp;New Integration</chef-button>
        <app-data-feed-table [destinations]="sortedDestinations$ | async"
          [selectedFieldDirection]="fieldDirection$ | async"
          [selectedSortField]="sortField$ | async">
        </app-data-feed-table>
      </div>
      <app-data-feed-create
        [createForm]="createDataFeedForm"
        (saveDestinationEvent)="saveDestination($event)"
        (testDestinationEvent)="sendTestForDataFeed($event)"
        (checkEvent)="setCheck($event)">
      </app-data-feed-create>
    </main>
  </div>
</div>
