@import "~styles/variables";

.destinations-container {
  margin-left: 200px;
  margin-top: 80px;
}

.filter-button chef-button {
  margin-left: 0;
}

chef-button:first-child {
  margin-top: 0;
  margin-left: 0;
}

chef-icon#sort-desc {
  color: $chef-primary-dark;

  &::after {
    color: $chef-dark-grey;
  }
}

chef-icon#sort-asc {
  color: $chef-dark-grey;

  &::after {
    color: $chef-primary-dark;
  }
}

.actions {
  padding: 8px 1em;

  chef-button[icon] {
    min-height: 32px;
    font-size: 18px;
    line-height: 32px;

    chef-icon {
      vertical-align: -3px;
    }
  }
}

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}
