<chef-modal [visible]="visible" (closeModal)="closeEvent()" class="del-modal">
  <div class="left-box">
    <img class="del-icon" src="assets/img/infra-delete-icon.svg" alt="delete-icon" />
  </div>

  <div class="right-box">
    <div class="left-align">
      <div class="title-text">Delete {{objectNoun | titlecase}}?</div>
      <p class="object-name"> {{objectName}}</p>
      <ng-container *ngIf="custom === false">
        <div class="action-text">This action is irreversible.</div>
        <div *ngIf="validator" class="client-message">
          <span>You are about to delete a validation client.</span><br>
          <span>Without a validation client, you may have</span><br>
          <span>difficulties bootstrapping new nodes.</span>
        </div>
        <div *ngIf="objectNoun === 'node'" class="node-message">
          <span>Any associated clients will also be deleted.</span>
        </div>
      </ng-container>
    </div>

    <div class="options">
      <chef-button class="cancel-button" tertiary (click)="closeEvent()">Cancel</chef-button>
      <chef-button class="del-button" primary caution (click)="deleteObject()">
        {{objectAction}}
      </chef-button>
    </div>
  </div>
  <img class="del-vector" src="assets/img/delete_vector.png" alt="delete-vector-icon" />
</chef-modal>
