@import "~styles/variables";

chef-modal {
  text-align: center;

  .options {
    float: right;
    margin-top: 30px;
    
    .cancel-button {
      color: #dc267f;
    }
  }

  .left-box {
    float: left;
    height: auto;
    width: 40%;
  }
  
  .right-box {
    float: left;
    height: auto;
    width: 60%;
  }

  .title-text {
    font-size: 36px;
    font-weight: 900;
    margin-top: 52px;
    margin-bottom: 20px;
  }

  .action-text1, .action-text2 {
    font-size: 24px;
    font-weight: 900;
  }

  .action-text3 {
    font-size: 12px;
  }

  .left-align {
    line-height: 30px;
    margin-left: 43px;
    text-align: left;
  }

  .shade1, .shade2, .shade3 {
    color: #697272;
  }

}

::ng-deep {
  chef-modal .modal {
    box-shadow: 0px 0px 30px 0px #CCC;
    outline: none;
  }

  chef-modal .modal .close {
    border: none;
    color: black;
    margin-right: 22px;
    margin-top: 16px;
  }

  chef-button.close:hover {
    background: none;
    outline: none;
  }

  chef-button.cancel-button.hydrated {
    background: none;
  }

  chef-modal .modal-overlay {
    background-color: #E5E5E5;
    opacity: 0.5;
  }
}
