host = "{{cfg.service.host}}"
port = "{{cfg.service.port}}"
database = "chef_license_control_service"
migrations_path = "{{pkg.path}}/migrations"
license_token_path = "{{pkg.svc_data_path}}/license_token.jwt"
cert_path = "{{pkg.svc_config_path}}/service.crt"
key_path = "{{pkg.svc_config_path}}/service.key"
root_ca_path ="{{pkg.svc_config_path}}/root_ca.crt"
opt_out_path = "{{pkg.svc_data_path}}/opt_out"
url = "{{cfg.telemetry.url}}"
opt_out = "{{cfg.telemetry.opt_out}}"
