@import "~styles/variables";

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    width: 71%;

    .field-margin {
      margin-bottom: 30px;
    }

    input {
      font-size: 1em;
    }

    .detail {
      width: 100%;
      color: $chef-primary-dark;
      font-size: 12px;
      white-space: nowrap;
    }

    #username-fields {
      font-size: 0.75em;

      .key-label {
        font-weight: bold;
      }
    }
  }
}

