<chef-table class="jobs-list-table" (sort-toggled)="onSortToggled($event)">
  <chef-thead>
    <chef-tr>
      <chef-th>
        Job
        <chef-sort-toggle sort="name" [order]="orderFor('name')"></chef-sort-toggle>
      </chef-th>
      <chef-th>
        Nodes
      </chef-th>
      <chef-th>
        Last Scan
        <chef-sort-toggle sort="end_time" [order]="orderFor('end_time')"></chef-sort-toggle>
      </chef-th>
      <chef-th>
        Status
        <chef-sort-toggle sort="status" [order]="orderFor('status')"></chef-sort-toggle>
      </chef-th>
      <chef-th></chef-th>
    </chef-tr>
  </chef-thead>

  <chef-loading-spinner *ngIf="jobsList.loading" size="100"></chef-loading-spinner>

  <chef-tbody *ngIf="!jobsList.loading">
    <chef-tr class="empty new-row">
      <span class="cta">Create a new scan job with nodes and profiles</span>
      <span class="action">
        <chef-button primary [routerLink]="['/jobs/add']">Create new job</chef-button>
      </span>
    </chef-tr>
    <chef-tr *ngFor="let job of jobsList.items; trackBy: trackBy;">
      <chef-td *ngIf="isJobReport(job)">
        {{ job.name }}
      </chef-td>
      <chef-td *ngIf="!isJobReport(job)">
        <a [routerLink]="['/compliance', 'scanner', 'jobs', job.id, 'scans']">{{ job.name }}</a>
      </chef-td>
      <chef-td>{{ displayNodeCount(job.node_count | number, job.recurrence) }}</chef-td>
      <chef-td>{{ timeFromNow(job.end_time) }}</chef-td>
      <chef-td>{{ job.status }}</chef-td>
      <chef-td>
        <chef-button secondary
          *ngIf="job.status === 'completed'"
          (click)="viewReport(job.id)">
          Report
        </chef-button>
        <chef-button secondary caution
          *ngIf="job.status === 'failed'"
          (click)="onJobResultsShow($event, job.id)">
          Error
        </chef-button>
        <chef-button label="edit" secondary
          *ngIf="!isJobReport(job)"
          [routerLink]="['/jobs', job.id, 'edit']">
          <chef-icon>edit</chef-icon>
        </chef-button>
        <chef-button label="delete" secondary caution (click)="promptDeleteJob(job)">
          <chef-icon>delete</chef-icon>
        </chef-button>
      </chef-td>
    </chef-tr>
  </chef-tbody>
</chef-table>

<app-page-picker
  class="jobs-list-paging"
  [total]="jobsList.total"
  [perPage]="jobsList.per_page"
  [page]="jobsList.page"
  (pageChanged)="onPageChanged($event)">
</app-page-picker>

<chef-scroll-top></chef-scroll-top>

<chef-side-panel class="side-panel" [visible]="showJobResults">
  <div class="side-panel-header">
    <chef-icon class="header-icon">equalizer</chef-icon>
    <div class="header-text">
      <h4><strong>{{ (jobDetail$ | async)?.results?.length }} errors for job:</strong></h4>
      <p>{{ (jobDetail$ | async)?.name }}</p>
    </div>
    <chef-button secondary (click)="onJobResultsHide($event)">
      <chef-icon>close</chef-icon>
    </chef-button>
  </div>
  <div class="side-panel-body">
    <div class="side-panel-body-header">
      <p>Tap on a node to view the full backtrace for the error.</p>
    </div>
    <ul class="results-list">
      <li
        *ngFor="let result of (jobDetail$ | async)?.results"
        class="results-list-item">
        <div class="list-item-summary">
          <chef-icon class="list-item-icon" [ngClass]="result.status">{{ statusIcon(result.status) }}</chef-icon>
          <div class="list-item-text">
            <p class="node-name">
              <strong>Node:</strong> {{ result.node_id }}
            </p>
          </div>
          <chef-button secondary (click)="toggleResult(result)">
            <chef-icon>add</chef-icon>
          </chef-button>
        </div>
        <div class="list-item-detail" [ngClass]="result.status" *ngIf="isOpenResult(result)">
          <pre>{{ result.result }}</pre>
        </div>
      </li>
    </ul>
  </div>
</chef-side-panel>

<chef-modal
  *ngIf="jobDeletePrompt$ | async as prompt"
  id="delete-prompt"
  [visible]="prompt.visible"
  (close)="cancelDeleteJob(prompt.job)">
  <h2 id="delete-prompt-title" slot="title">Are you sure you want to delete this job?</h2>
  <div>
    <p>{{ prompt.job?.name }}</p>
    <div class="options">
      <chef-button label="confirm" primary caution (click)="confirmDeleteJob(prompt.job)">Delete it</chef-button>
      <chef-button label="cancel" tertiary (click)="cancelDeleteJob(prompt.job)">Cancel</chef-button>
    </div>
  </div>
</chef-modal>
