chef-card {
  display: block;
  width: 100%;

  .content {
    display: block;
    padding: 1em;
    background-color: chef-hsl(var(--chef-white));
    box-shadow: var(--chef-box-shadow);
    border-radius: var(--chef-border-radius);
  }

}
