<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/settings/node-credentials']">Node Credentials</chef-breadcrumb>
          {{ nodeCredential?.name }}
      </chef-breadcrumbs>
      <chef-page-header>
        <chef-heading>{{ nodeCredential?.name }}</chef-heading>
        <table>
          <thead>
            <tr class="detail-row">
              <th class="id-column">Credential Type</th>
              <th class="id-column">Last Modified</th>
            </tr>
          </thead>
          <tbody>
            <tr class="detail-row">
              <td class="id-column">{{nodeCredential?.type}}</td>
              <td class="id-column" *ngIf="nodeCredential && nodeCredential.last_modified == ''">'N/A'</td>
              <td class="id-column" *ngIf="nodeCredential && nodeCredential.last_modified !== ''"><app-time [time]='nodeCredential.last_modified'></app-time></td>
            </tr>
          </tbody>
        </table>
        <chef-tab-selector [value]="tabValue" (change)="onSelectedTab($event)">
          <chef-option value='details' data-cy="details-tab">Details</chef-option>
          <chef-option value='reset' data-cy="reset-tab">Reset Credentials</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'details'">
        <chef-loading-spinner *ngIf="nodeDetailsLoading" size="50"></chef-loading-spinner>
        <ng-container *ngIf="!nodeDetailsLoading" >
        <form [formGroup]="updateForm">
          <div class="name-margin">
            <chef-form-field>
              <label for="name">Name <span aria-hidden="true">*</span></label>
              <input id="name" chefInput formControlName="name" type="text" autocomplete="off"
                data-cy="update-sudo-name" [resetOrigin]="saveSuccessful">
              <chef-error
                *ngIf="(updateForm.get('name').hasError('required') || updateForm.get('name').hasError('pattern')) && updateForm.get('name').dirty">
                Name is required.
              </chef-error>
            </chef-form-field>
          </div>
          <ng-container *ngIf="nodeCredential?.type === 'sudo'">
            <form [formGroup]="sudoForms">
              <div class="name-margin">
                <chef-form-field>
                  <label for="command">Command Line Options </label>
                  <input id="command" chefInput formControlName="options" type="text" autocomplete="off"
                    data-cy="update-sudo-command" [resetOrigin]="saveSuccessful">
                </chef-form-field>
              </div>
            </form>
          </ng-container>
          <div class="button-bar">
            <chef-button [disabled]="isLoading || !updateForm.dirty "
            primary inline (click)="saveNodeCredential(updateForm.value)">
              <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
              <span *ngIf="saveInProgress">Saving...</span>
              <span *ngIf="!saveInProgress">Save</span></chef-button>
            <span class="saved-note" *ngIf="saveSuccessful && !updateForm.dirty">All changes saved.</span>
          </div>
        </form>
      </ng-container>
      </section>
      <section class="page-body" *ngIf="tabValue === 'reset'">
        <chef-loading-spinner *ngIf="nodeDetailsLoading" size="50"></chef-loading-spinner>
        <ng-container>
        <form [formGroup]="resetForm">
          <ng-container *ngIf="nodeCredential?.type === 'ssh'">
            <form [formGroup]="sshForms">
              <div class="name-margin">
                <chef-form-field>
                  <label for="sshUsername">SSH Username <span class="t-critical" aria-hidden="true">*</span></label>
                  <input chefInput id="sshUsername" formControlName="username" type="text" />
                  <chef-error *ngIf="checkError('username',sshForms)">
                    SSH Username is required.
                  </chef-error>
                </chef-form-field>
              </div>
              <div class="name-margin">
                <label for="version">SSH Credential Type</label>
                <div class="version-dropdown">
                  <chef-select #ty [value]="passwordSelected" (change)="selectChangeHandlers(ty.value)" >
                    <chef-option *ngFor="let type of types" [value]="type">{{ type }}</chef-option>
                  </chef-select>
                </div>
              </div>
              <div class="name-margin">
                <chef-form-field *ngIf="passwordSelected === 'Password'">
                  <label for="sshPassword">SSH password <span class="t-critical" aria-hidden="true">*</span></label>
                  <input chefInput id="sshPassword" formControlName="password" type="password" placeholder="password for private ssh" />
                  <chef-error *ngIf="checkError('password',sshForms)">
                    SSH Password is required.
                  </chef-error>
                </chef-form-field>
              </div>
              <div class="name-margin">
                <chef-form-field *ngIf="passwordSelected === 'RSA'">
                  <label for="key">RSA key <span class="t-critical" aria-hidden="true">*</span></label>
                  <textarea id="key" chefInput
                    rows="10" cols="100"
                    formControlName="key"></textarea>
                    <chef-error *ngIf="checkError('key',sshForms)">
                      RSA Key is required.
                    </chef-error>
                </chef-form-field>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="nodeCredential?.type === 'winrm'">
            <form [formGroup]="winrmForms">
              <div class="name-margin">
                <chef-form-field>
                  <label for="winrmUsername">WinRM Username <span class="t-critical" aria-hidden="true">*</span></label>
                  <input chefInput id="winrmUsername" formControlName="username" type="text" />
                  <chef-error *ngIf="checkError('username',winrmForms)">
                    WinRM Username is required.
                  </chef-error>
                </chef-form-field>
              </div>
              <div class="name-margin">
                <chef-form-field >
                  <label for="winrmPassword">WinRM password <span class="t-critical" aria-hidden="true">*</span></label>
                  <input chefInput id="winrmPassword" formControlName="password" type="password" placeholder="password for private ssh" />
                  <chef-error *ngIf="checkError('password',winrmForms)">
                    WinRM Password is required.
                  </chef-error>
                </chef-form-field>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="nodeCredential?.type === 'sudo'">
            <form [formGroup]="sudoForms">
              <div class="name-margin">
                <chef-form-field>
                  <label for="sudopassword">Sudo Password <span class="t-critical" aria-hidden="true">*</span></label>
                  <input chefInput id="sudopassword" formControlName="password" type="text" />
                  <chef-error *ngIf="checkError('password',sudoForms)">
                    Sudo Password is required.
                  </chef-error>
                </chef-form-field>
              </div>
            </form>
          </ng-container>
          <div class="button-bar">
            <chef-button [disabled]="isLoading  || !resetForm.dirty"
            primary inline (click)="saveNodeCredential(resetForm.value)">
              <chef-loading-spinner *ngIf="resetInProgress"></chef-loading-spinner>
              <span class="savingText" *ngIf="resetInProgress">Saving...</span>
              <span *ngIf="!resetInProgress">Save</span></chef-button>
            <span class="saved-note" *ngIf="resetSuccessful && !resetForm.dirty">All changes saved.</span>
          </div>
        </form>
        </ng-container>
      </section>
    </main>
  </div>
</div>
