chef-dropdown {
  position: absolute;
  display: none;
  box-shadow: var(--chef-box-shadow);
  border-radius: var(--chef-border-radius);
  background-color: var(--chef-white);

  &[visible] {
    display: block;
  }
}
