<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Chef UI Library</title>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script type="module" src="/build/chef.esm.js"></script>
  <script nomodule src="/build/chef.js"></script>
  <link href="/build/chef.css" rel="stylesheet">
  <link href="/styles/variables.example.css" rel="stylesheet">
  <link href="/styles/ui-lib-styles.css" rel="stylesheet">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
</head>
<body>
  <chef-library-app></chef-library-app>
</body>
</html>
