chef-heading {
  .page-title {
    color: chef-hsl(var(--chef-primary-dark));
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 18px;
  }
}
