@import "~styles/variables";

chef-modal {

  [slot=title] {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 12px;
  }

  .flex-container {
    justify-content: center;

    .input-margin {
      margin-bottom: 30px;
    }

    form {
      flex-basis: 61%;

      input {
        font-size: 1em;
      }

      label {
        padding-bottom: 0;
      }

      #description {
        height: 120px;
      }
    }

    .button-bar-box {
      text-align: center;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }
}

.input-desc {
  font-size: 10px;
  font-weight: 100;
}

.i-desc {
  font-size: 12px;
  font-weight: 300;
}

chef-select {
  width: 100%;
  font-weight: 100;
}

img {
  width: 15px;
  margin-right: 5px;
  margin-bottom: -3px;
}

chef-modal ::ng-deep .modal {
  height: 82%;
  overflow-x: hidden;
  padding: 5px;
  --default-modal-width: 800px;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CCC;
}

chef-checkbox ::ng-deep .check-wrap {
  color: $chef-dark-grey;
  border: 1px solid;
}

.small:first-of-type {
  margin-top: 10px;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 999999999;
}



.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.primary {
  background-color: #3864f2;
  border-color: #3864f2;
  color: var(--chef-white);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 14px;
  margin: 8px;
  min-height: 32px;
  min-width: 32px;
  text-align: center;
  white-space: nowrap;
  vertical-align: top
}

.primary[disabled] {
  background-color: #bdcbfb;
  border-color: #bdcbfb;
  color: var(--chef-white);
}

::ng-deep {
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    font-size: 13px !important;
    font-weight: bolder !important;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    padding: 3px 0 0 0;
    text-align: center;
  }
  
  .mat-step-header .mat-step-label.mat-step-label-active {
    color: rgba(0, 0, 0, 0.87);
  }
  
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
    padding: 25px 57px;
  }
  
  .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  .mat-step-header .mat-step-icon {
    background-color: #3864f2;
    color: white;
  }
}