<chef-modal [visible]="visible" (closeModal)="closeCreateModal()">
  <div class="text-right">
    <h2 slot="title">Create Role</h2>
  </div>
  <div class="flex-container">
    <div class="main pages-body">
      <app-infra-tab-change class="tabs-row" (tabChange)="tabChange($event)">
        <app-infra-tab tabTitle="Details" [active]="detailsTab" [disabled]="false">
          <form [formGroup]="detailsFormGroup">
            <div class="input-margin">
              <chef-form-field>
                <label>
                  <span class="label">Name <span aria-hidden="true">*</span></span>
                  <input 
                    chefInput
                    firstFocus
                    formControlName="name"
                    type="text"
                    id="name-input"
                    (keyup)="handleInput($event)"
                    data-cy="role-name"
                    autocomplete="off"/>
                </label>
                <chef-error
                  *ngIf="detailsFormGroup.get('name').hasError('required') && detailsFormGroup.get('name').dirty">
                  Name is required.
                </chef-error>
                <chef-error *ngIf="conflictError">
                  Role "{{detailsFormGroup.get('name').value}}" already exists.
                </chef-error>
                <chef-error
                  *ngIf="detailsFormGroup.get('name').hasError('pattern') && detailsFormGroup.get('name').dirty">
                  Name can only contain 'a-z', 'A-Z', '0-9', '_', '-'.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="input-margin">
              <chef-form-field>
                <label class="description-scroll">
                  <span class="label">Description <span aria-hidden="true">*</span></span>
                  <textarea
                    chefInput
                    name="description"
                    id="description"
                    formControlName="description"
                    data-cy="role-description"
                    autofocus>
                  </textarea>
                </label>
                <chef-error
                  *ngIf="(detailsFormGroup.get('description').hasError('required') || detailsFormGroup.get('description').hasError('pattern')) && detailsFormGroup.get('description').dirty">
                  Description is required.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="button-bar-box">
              <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()"  data-cy="cancel-button">Cancel</chef-button>
              <chef-button
                [disabled]="!detailsFormGroup?.valid || conflictError || creating"
                primary
                data-cy="add-button"
                id="create-button-object-modal"
                (click)="createRole()">
                <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
                <span *ngIf="!creating">Create</span>
                <span *ngIf="creating">Creating...</span>
              </chef-button>
            </div>
          </form>
        </app-infra-tab>
        <app-infra-tab tabTitle="Run List" [active]="constraintsTab" [disabled]="!detailsFormGroup?.valid">
          <div *ngIf="showdrag" class="drag-margin">
            <app-select-box id="myListBox"
              [serverId]="server"
              [orgId]="org"
              [list]="availablelist"
              search="true"
              [currentRunList]="currentRunList"
              [currentPage]="page"
              (selectedValues)="dragDropHandler($event)">
            </app-select-box>
          </div>
          <div class="button-bar-box">
            <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()" data-cy="cancel-run-list-button">Cancel</chef-button>
            <chef-button
              [disabled]="!selectedRunList?.length || conflictError || creating"
              primary
              id="create-button-object-modal-1"
              (click)="createRole()"
              data-cy="add-run-list-button">
              <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
              <span *ngIf="!creating">Create</span>
              <span *ngIf="creating">Creating...</span>
            </chef-button>
          </div>
        </app-infra-tab>
        <app-infra-tab tabTitle="Default Attributes" [active]="defaultTab" [disabled]="!detailsFormGroup?.valid">
          <form [formGroup]="defaultAttrFormGroup">
            <chef-form-field>
              <textarea
                chefInput
                name="default"
                id="default"
                formControlName="default"
                (keyup)="onChangeDefaultJson($event)"
                data-cy="role-deffault-attribute">
              </textarea>
              <chef-error *ngIf="defaultAttrParseError">
                Must be a valid JSON object
              </chef-error>
            </chef-form-field>
            <div class="button-bar-box">
              <chef-button tertiary [disabled]="creating"
               (click)="closeCreateModal()" data-cy="cancel-default-attribute-button">Cancel</chef-button>
              <chef-button
                [disabled]="!defaultAttrFormGroup?.valid || conflictError || defaultAttrParseError || creating"
                primary
                id="create-button-object-modal-2"
                (click)="createRole()"
                data-cy="add-default-attribute-button">
                <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
                <span *ngIf="!creating">Create</span>
                <span *ngIf="creating">Creating...</span>
              </chef-button>
            </div>
          </form>
        </app-infra-tab>
        <app-infra-tab tabTitle="Override Attributes" [active]="overrideTab" [disabled]="!detailsFormGroup?.valid">
          <form [formGroup]="overrideAttrFormGroup">
            <chef-form-field>
              <textarea
                chefInput
                name="override"
                id="override"
                formControlName="override"
                autofocus
                (keyup)="onChangeOverrideJson($event)"
                data-cy="role-override-attribute">
              </textarea>
              <chef-error *ngIf="overrideAttrParseError">
                Must be a valid JSON object
              </chef-error>
            </chef-form-field>
            <div class="button-bar-box">
              <chef-button tertiary [disabled]="creating" (click)="closeCreateModal()"
                data-cy="cancel-override-attribute-button">Cancel</chef-button>
              <chef-button
                [disabled]="!overrideAttrFormGroup?.valid || conflictError || overrideAttrParseError || creating"
                primary
                id="create-button-object-modal-3"
                (click)="createRole()"
                data-cy="add-override-attribute-button">
                <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
                <span *ngIf="!creating">Create</span>
                <span *ngIf="creating">Creating...</span>
              </chef-button>
            </div>
          </form>
        </app-infra-tab>
      </app-infra-tab-change>
    </div>
  </div>
</chef-modal>
