@import "~styles/variables";

chef-table {
  .id-column {
    flex-basis: 30%;
  }

  .name-column {
    flex-basis: 70%;
  }

  .button-column {
    justify-content: flex-end;
  }
}

.empty-case-container {
  display: flex;
  justify-content: center;

  p {
    margin-top: 42px;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
  }

  chef-button {
    margin-top: 18px;
  }
}
