<div class="content-container">
  <div class="cantainer sso-container">
    <main>
      <chef-page-header>
        <chef-heading>SSO Config</chef-heading>
        <chef-subheading> Sign-On configuration from the chef SAAS users.</chef-subheading>
      </chef-page-header>
      <div>
        <div>ca_contents: {{ssoConfig?.ca_contents}}</div>
        <div>sso_url: {{ssoConfig?.sso_url}}</div>
        <div>email_attr: {{ssoConfig?.email_attr}}</div>
        <div>groups_attr: {{ssoConfig?.groups_attr}}</div>
        <div>allowed_groups: {{ssoConfig?.allowed_groups}}</div>
        <div>entity_issuer: {{ssoConfig?.entity_issuer}}</div>
        <div>name_id_policy: {{ssoConfig?.name_id_policy}}</div>
      </div>
    </main>
  </div>
</div>
