---
grpc: {{ cfg.service.host }}:{{ cfg.service.port }}
log-level: {{ cfg.log.level }}
log-format: {{ cfg.log.format }}

tls:
  cert_path: {{pkg.svc_config_path}}/service.crt
  key_path: {{pkg.svc_config_path}}/service.key
  root_ca_path: {{pkg.svc_config_path}}/root_ca.crt

database: {{ cfg.storage.database }}
migrations-path: {{ pkg.svc_static_path }}/migrations
data-migrations-path: {{ pkg.svc_static_path }}/data-migrations

{{~#eachAlive bind.authz-service.members as |authz-service|}}
{{~#if @last}}
authz-address: {{authz-service.sys.ip}}:{{authz-service.cfg.port}}
{{~/if}}
{{~/eachAlive}}
