chef-read-me {

  chef-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main";
  }

  #readme-wrap {
    padding: 1em;
    margin: 0 auto;
    max-width: 30em;
  }

}
