<div class="content-container">
  <div class="header">
    <div class="heading">
      <div class="page-title">Desktop</div>
      <div class="update-time">{{ desktop.name }}</div>
    </div>
    <div class="heading-actions">
      <chef-button secondary (click)="fullscreenToggled.emit()">
        <chef-icon *ngIf="!fullscreened">fullscreen</chef-icon>
        <chef-icon *ngIf="fullscreened">fullscreen_exit</chef-icon>
      </chef-button>
      <chef-button secondary (click)="close()">
        <chef-icon>close</chef-icon>
      </chef-button>
    </div>
  </div>

  <h3>Check-in History</h3>
  <chef-table>
    <chef-tbody>
      <chef-tr>
        <chef-th>Status</chef-th>
        <chef-td>{{ desktop.status }}</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Last Check-in</chef-th>
        <chef-td>{{ desktop.checkin }}</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>

  <h3>Overview</h3>
  <chef-table>
    <chef-tbody>
      <chef-tr>
        <chef-th>Host Name</chef-th>
        <chef-td>{{ desktop.name }}</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Chef Infra Server</chef-th>
        <chef-td>fakechefserver.eastus.cloudapp.azure.com</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Node ID</chef-th>
        <chef-td>{{ desktop.id }}</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Platform Version</chef-th>
        <chef-td>{{ desktop.platform }}</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Total Memory</chef-th>
        <chef-td>16.64GB</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Domain</chef-th>
        <chef-td>chef.io</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>IP Address</chef-th>
        <chef-td>192.168.5.30</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>IPV6 Address</chef-th>
        <chef-td>fe80:20c:29ff:fe2a:76e5</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>MAC Address</chef-th>
        <chef-td>00:0C:29:2A:76:E5</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Uptime</chef-th>
        <chef-td>{{ desktop.uptimeSeconds }}</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Time Zone</chef-th>
        <chef-td>GMT</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>

  <h3>Chef Infra Client</h3>
  <chef-table>
    <chef-tbody>
      <chef-tr>
        <chef-th>Version</chef-th>
        <chef-td>{{ desktop.chefVersion }}</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Last Run End Time</chef-th>
        <chef-td>{{ desktop.checkin }}</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>

  <h3>System</h3>
  <chef-table>
    <chef-tbody>
      <chef-tr>
        <chef-th>Manufacturer</chef-th>
        <chef-td>LENOVO</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Serial Number</chef-th>
        <chef-td>R90QS96N</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>

  <h3>Virtualization</h3>
  <chef-table>
    <chef-tbody>
      <chef-tr>
        <chef-th>System</chef-th>
        <chef-td>vmware</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Role</chef-th>
        <chef-td>guest</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>

  <h3>Kernel</h3>
  <chef-table>
    <chef-tbody>
      <chef-tr>
        <chef-th>Version</chef-th>
        <chef-td>10.0.18362</chef-td>
      </chef-tr>
      <chef-tr>
        <chef-th>Release</chef-th>
        <chef-td>10.0.18362</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>
</div>
