@import "~styles/variables";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

.content-container {
  font-family: Muli;
  font-size: 13px;
  font-weight: 100;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  chef-button {
    margin: 0;
  }
}

h3 {
  margin-bottom: 1rem;
}

chef-table {
  border: 1px solid $chef-grey;
  border-radius: $global-radius;
  margin-bottom: 2rem;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  chef-tr {
    margin-bottom: 0;

    chef-th,
    chef-td,
    chef-th:first-child,
    chef-td:first-child,
    chef-th:last-child,
    chef-td:last-child  {
      border: none;
      border-radius: 0;
      background: $chef-white;
    }

    chef-th {
      font-weight: 400;
      text-transform: uppercase;
    }

    &:nth-child(odd) {
      chef-th,
      chef-td {
        background: $chef-lightest-grey;
      }
    }
  }
}
