@import "~styles/variables";


* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  //width: 100%;
  overflow: auto;
  //margin: 0px 33px 0px 32px;
}

.navbar a {
  float: left;
  padding: 12px;
  //background: #DEE5FD;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  width: 183px; /* Four links of equal widths */
  text-align: left;
  margin-left: 1px;
  background: #DEE5FD;

}

.navbar a:hover {
  background-color: #FFFFFF;
  color: $chef-primary-bright;
}

.navbar a.active {
    background: $chef-primary-bright;
    border: none;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
