@import "~styles/variables";

:host {
  display: block;
  width: 100%;
}

::ng-deep {
  svg {
    background: $chef-white;
    padding: .5em;
  }

  path,
  line,
  .tick,
  .grid {
      stroke: $eggplant-light-1;
      stroke-width: 1px;
    }

  .line {
    fill: transparent;
    stroke: black;
    stroke-width: 1px;
  }

  .y-axis {
    transform: translateX(50px);
  }

  .x-axis {
    .tick line {
      display: none;
    }

    .label-text {
      font-size: 10px;
      stroke: #222435;
      stroke-width: .1;
      text-anchor: middle;
      font-family: 'muli';
      transition: 1s;
      cursor: pointer;
      
      &.turnt {
        font-size: 8px;
        // potentially will need to be more flexible - so far ok
        transform: rotate(-45deg) translate(-15px, -3px);
      }
    }
  }

  circle.point {
    fill: $eggplant-dark-2;
  }

  .ring {
    position: absolute;
    stroke-width: 1;
    fill: none;
    stroke: url(#chef-gradient-purple);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    // transition: opacity 500ms, visibility 500ms ease-out 250ms;
    transition: 1s;
    
    &.active {
      opacity: 1;
      visibility: visible;
      // transition: opacity 500ms;
    }
  }

  .graph-button {
    position: absolute;
    z-index: 5;
    background: #3023AE;
    background: linear-gradient(315deg, #3023AE, #C86DD7);
    padding: 1px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    cursor: pointer;
    
    &.turnt {
      font-size: 8px;
      // potentially will need to be more flexible - so far ok
      transform: rotate(-45deg) translate(-8px, 10px);
    }
    
    .inner {
      border: none;
      border-radius: 3px;
      background: $chef-white;
      height: 16px;
      font-size: 10px;
      font-family: 'muli';
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      transition: 500ms;
    }

  }


  .graph-tooltip {
  position: absolute;
  min-height: 40px;
  font-size: 12px;
  padding: 8px 10px;
  padding-left: 16px; // extra 8px to account for ::before gradient
  background: $chef-white;
  border-radius: $chef-border-radius;

  opacity: 0;
  visibility: hidden;
  transition: 500ms;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      background: #3023AE;
      background: linear-gradient(315deg, #3023AE, #C86DD7);
      border-bottom-left-radius: $chef-border-radius;
      border-top-left-radius: $chef-border-radius;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
  }

      // lock styles
    circle.point.lock {
      fill: #3023AE;
      fill: url('#chef-gradient-purple');
    }

    .graph-button.lock {

     .inner {
        color: white;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
      }
    }

    .graph-tooltip.lock {
      opacity: 0;
      visibility: hidden;
    }

    .ring.lock  {
      opacity: 1;
      visibility: visible;
    }


}
