@import "~styles/variables";

:host {
  display: block;
  width: 100%;
}

::ng-deep {
  svg {
    background: $chef-white;
    padding: .5em;
  }

  path,
  line,
  .tick,
  .grid {
      stroke: $eggplant-light-1;
      stroke-width: 1px;
    }

  .line {
    fill: transparent;
    stroke: black;
    stroke-width: 1px;
  }

  .y-axis {
    transform: translateX(50px);
  }

  .x-axis {
    .tick line {
      display: none;
    }

    .label-text {
      font-size: 10px;
      stroke: #222435;
      stroke-width: .1;
      text-anchor: middle;
      font-family: 'muli';
      transition: 1s;
      cursor: pointer;
      
      &.turnt {
        font-size: 8px;
        // potentially will need to be more flexible - so far ok
        transform: rotate(-45deg) translate(-15px, -3px);
      }
    }
  }

  .circle {
    fill: $eggplant-dark-2;

    &.active {
      fill: #3023AE;
    }
  }

  .highlight {
    position: absolute;
    border: 2px solid #3023AE;
    width: 24px;
    height: 24px;
    border-radius: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms, visibility 500ms ease-out 250ms;
    
    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms;
    }

    // theHighlight lock styles
    &.lock,
    &.active.lock {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms;
    }
  }

  .tooltip {
    position: absolute;			
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  // styles the far right x-line
  .grid .tick:first-of-type line {
    stroke-dasharray: 2;
  }

  .rect-highlight {
    position: absolute;
    background: #3023AE;
    background: linear-gradient(315deg, #3023AE, #C86DD7);
    height: 22px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    .rect-inner {
      border-radius: 2px;
      background: $chef-white;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0ms;
    }

    &.active,
    &.lock,
    &.active .rect-inner {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms;
    }

    &.active .rect-inner {
      transition: opacity 0ms;
    }

    // lock styles
    &.lock,
    &.lock.active {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms;
    }

    &.lock .rect-inner,
    &.lock.active .rect-inner {
      color: white;
      background-color: transparent;
      opacity: 1;
      visibility: visible;
    }

  }

}



::ng-deep {
chef-tooltip {
  font-size: 10px;
  padding: 8px 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #3023AE;
    background: linear-gradient(315deg, #3023AE, #C86DD7);
    border-bottom-left-radius: $chef-border-radius;
    border-top-left-radius: $chef-border-radius;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
}