@import "~styles/variables";

:host {
  display: block;
  width: 100%;
}

::ng-deep {
  svg {
    background: $chef-white;
    padding: .5em;
  }

  path,
  line,
  .tick,
  .grid {
      stroke: $eggplant-light-1;
      stroke-width: 1px;
    }

  .line {
    fill: transparent;
    stroke: black;
    stroke-width: 1px;
  }

  .y-axis {
    transform: translateX(50px);
  }

  .circle {
    cursor: pointer;
  }

  .tooltip {
    position: absolute;			
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  // styles the far right x-line
  .tick:last-of-type line {
    stroke-dasharray: 2;
  }

}



::ng-deep {
chef-tooltip {
  font-size: 10px;
  padding: 8px 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #3023AE;
    background: linear-gradient(315deg, #3023AE, #C86DD7);
    border-bottom-left-radius: $chef-border-radius;
    border-top-left-radius: $chef-border-radius;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
}