<app-component-library-screen>
  <app-cl-section>
    <h3>Working Example</h3>

    <app-projects-dropdown
      [projects]="dropdownProjects"
      (onProjectChecked)="onProjectChecked($event)">
    </app-projects-dropdown>
    <app-projects-dropdown
      [disabled]="true"
      [projects]="dropdownProjects"
      (onProjectChecked)="onProjectChecked($event)">
    </app-projects-dropdown>
  </app-cl-section>

  <app-cl-code-section>
    <h3>Angular Template Code Example</h3>

    <pre>&lt;app-projects-dropdown
  [projects]="arrayOfProjects"
  (onProjectChecked)="someFunction($event)"&gt;
&lt;/app-projects-dropdown&gt;
</pre>
  </app-cl-code-section>

  <app-cl-code-section>
    <h3>Typescript Code Example</h3>

    <code>
      <pre>
import {{'{'}} Component {{'}'}} from '@angular/core';

@Component({{'{'}}
  selector: 'app-demo-projects-dropdown',
  templateUrl: './demo-projects-dropdown.component.html',
  styleUrls: []
{{'}'}})
export class DemoProjectsDropdownComponent {{'{'}}
  dropdownProjects = [{{'{'}}
    'name': 'Project 1',
    'id': 'project-1',
    'checked': false
  {{'}'}}, {{'{'}}
    'name': 'Project 2',
    'id': 'project-2',
    'checked': false
  {{'}'}}, {{'{'}}
    'name': 'Project 3',
    'id': 'project-3',
    'checked': false
  {{'}'}}, {{'{'}}
    'name': 'Project 4',
    'id': 'project-4',
    'checked': false
  {{'}'}}, {{'{'}}
    'name': 'Project 5',
    'id': 'project-5',
    'checked': false
  {{'}'}}, {{'{'}}
    'name':
    `Project 6 Has A Really Ridiculously Long Name and It should Stay on the same line
    Stay on the same line`,
    'id': 'project-6',
    'checked': false
{{'}'}}];


  onProjectChecked(project) {{'{'}}
    console.log('this project was checked or unchecked:');
    console.log(project);
  {{'}'}}
{{'}'}}
      </pre>
    </code>
  </app-cl-code-section>

  <app-cl-section>
    <h3>API</h3>

    <app-cl-api>
      <api-prop name="projects" type="[id: string]: ProjectChecked" required>
        The map of ProjectChecked by id. Any checked changes propagated via
        onProjectChecked. Updates should be applied to parent component state.
      </api-prop>

      <api-prop name="onProjectChecked" type="Function(ProjectChecked): void" required>
        Emits an updated project that has been checked or unchecked. Keep projects input
        up to date in parent.
      </api-prop>

      <api-prop name="disabled" type="Boolean" default="false">
        Specify whether the dropdown should be disabled.
      </api-prop>
    </app-cl-api>
  </app-cl-section>

  <app-cl-section>
    <h3>Accessibility</h3>

    <p>
      This component is keyboard accessible. You can use the tab key to navigate to the
      component and press enter/spacebar to open the dropdown. Then you can use the tab key
      (or shift+tab to move backwards) to navigate to the checkboxes in the dropdown.
      Use the space bar to check/uncheck the checkboxes. Use the enter key to close the
      dropdown.
    </p>
    <p>
      You can also navigate between the checkboxes using the up/down arrow keys. You cannot
      use the arrow keys to navigate between the button (the element that says 'select projects')
      and the checkboxes. The whole component will be navigable with arrow keys in future
      iterations.
    </p>
  </app-cl-section>
</app-component-library-screen>
