<chef-card class="filters-list" *ngIf="filters.length > 0">
  <chef-button secondary (click)="onClearClick()">Clear All</chef-button>
  <span *ngFor="let filter of filters; index as i; trackBy: trackBy;">
    <chef-button
      primary
      class="filter"
      [attr.id]="'filter'+i" 
      (click)="onRemoveFilterClick(filter)">
      <span>{{ filter.type }}: {{ filter.text }}</span>
      <chef-icon>close</chef-icon>
    </chef-button>
    <chef-tooltip
      [attr.for]="'filter'+i"
      position="top">
        {{ filter.type }}: {{ filter.text }}
    </chef-tooltip>
  </span>
</chef-card>
