<chef-modal [visible]="visible" (closeModal)="closeCreateModal()">
  <h2 slot="title">Create Credential</h2>
    <div class="flex-container">
      <form [formGroup]="createNodeCredForm">
        <div class="name-margin">
          <chef-form-field>
            <label>
              <span class="label">Name <span aria-hidden="true">*</span></span>
              <input chefInput formControlName="name"
                id="name-input"
                data-cy="create-name"
                type="text"
                (keyup)="handleNameInput($event)"
                autocomplete="off">
            </label>
            <chef-error *ngIf="(createNodeCredForm.get('name').hasError('required') ||
            createNodeCredForm.get('name').hasError('pattern')) && createNodeCredForm.get('name').dirty">
              Name is required.
            </chef-error>
          </chef-form-field>
          <span class="detail light">Don't worry, credential names can be changed later.</span>
        </div>

        <div class="name-margin">
          <chef-form-field id="create-type">
            <label>
              <span class="label"> Credential Type <span aria-hidden="true">*</span></span>
              <span class="custom-dropdown">
                <select id="expression-type-dropdown"
                  #cred
                  (change)="updateFormDisplay(cred.value)"
                  formControlName="type">
                  <option value='ssh'>SSH</option>
                  <option value='winrm'>WinRM</option>
                  <option value='sudo'>Sudo</option>
                </select>
              </span>
            </label>
          </chef-form-field>
        </div>

        <ng-container *ngIf="selected === 'ssh'">
          <form [formGroup]="sshForms">
            <div class="name-margin">
              <chef-form-field>
                <label for="sshUsername">SSH Username <span class="t-critical" aria-hidden="true">*</span></label>
                <input chefInput id="sshUsername" formControlName="username" type="text" (keyup)="handleInput($event)" autocomplete="off"/>
                <chef-error *ngIf="(sshForms.get('username').hasError('required') || sshForms.get('username').hasError('pattern')) && sshForms.get('username').dirty">
                  SSH Username is required.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="name-margin">
              <label for="version">SSH Credential Type</label>
              <div class="version-dropdown">
                <chef-select #ty [value]="passwordSelected" (change)="selectChangeHandlers(ty.value)" >
                  <chef-option *ngFor="let type of types" [value]="type">{{ type }}</chef-option>
                </chef-select>
              </div>
            </div>
            <div class="name-margin">
              <chef-form-field *ngIf="passwordSelected === 'Password'">
                <label for="sshPassword">SSH password <span class="t-critical" aria-hidden="true">*</span></label>
                <input chefInput id="sshPassword" formControlName="password" type="password" (keyup)="handleInput($event)" autocomplete="off"/>
                <chef-error *ngIf="(sshForms.get('password').hasError('required') || sshForms.get('password').hasError('pattern')) && sshForms.get('password').dirty">
                  SSH Password is required.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="name-margin">
              <chef-form-field *ngIf="passwordSelected === 'RSA'">
                <label for="key">RSA key <span class="t-critical" aria-hidden="true">*</span></label>
                  <textarea id="key" chefInput
                    rows="10" cols="100"
                  formControlName="key" (keyup)="handleInput($event)" autocomplete="off"></textarea>
                  <chef-error *ngIf="(sshForms.get('key').hasError('required') || sshForms.get('key').hasError('pattern')) && sshForms.get('key').dirty">
                    RSA Key is required.
                  </chef-error>
              </chef-form-field>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="selected === 'winrm'">
          <form [formGroup]="winrmForms">
            <div class="name-margin">
              <chef-form-field>
                <label><span class="label">WinRM Username <span aria-hidden="true">*</span></span></label>
                <input chefInput id="winrmUsername-input" formControlName="username" type="text" (keyup)="handleInput($event)" autocomplete="off"/>
                <chef-error *ngIf="(winrmForms.get('username').hasError('required') || winrmForms.get('username').hasError('pattern')) && winrmForms.get('username').dirty">
                  WinRM Username is required.
                </chef-error>
              </chef-form-field>
            </div>
            <div class="name-margin">
              <chef-form-field >
                <label><span class="label">WinRM password <span aria-hidden="true">*</span></span></label>
                <input chefInput id="winrmPassword-input" formControlName="password" type="password" placeholder="password for private WinRM" (keyup)="handleInput($event)" autocomplete="off"/>
                <chef-error *ngIf="(winrmForms.get('password').hasError('required') || winrmForms.get('password').hasError('pattern')) && winrmForms.get('password').dirty">
                  WinRM Password is required.
                </chef-error>
              </chef-form-field>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="selected === 'sudo'">
          <form [formGroup]="sudoForms">
            <div class="name-margin">
              <chef-form-field>
                <label><span class="label">Sudo Password <span aria-hidden="true">*</span></span></label>
                  <input chefInput id="sudoPassword-input" formControlName="password" type="password" (keyup)="handleInput($event)" autocomplete="off" placeholder="password for sudo"/>                              
                  <chef-error *ngIf="(sudoForms.get('password').hasError('required') || sudoForms.get('password').hasError('pattern')) && sudoForms.get('password').dirty">
                    Sudo Password is required.
                  </chef-error>
              </chef-form-field>
            </div>
            <div class="name-margin">
              <chef-form-field >
                <label><span class="label">Command Line options </span></label>
                <input chefInput id="command-input" formControlName="options" 
                  type="command" 
                  (keyup)="handleInput($event)" autocomplete="off"/> 
              </chef-form-field>
            </div>
          </form>
        </ng-container>

        <div id="button-bar">
          <chef-button primary
            id="create-button-object-modal"
            data-cy="save-button"
            [disabled]="!createNodeCredForm?.dirty"
            (click)="createUser()">
            <chef-loading-spinner *ngIf="creatingUser"></chef-loading-spinner>
            <span *ngIf="!creatingUser">Create Credential</span>
            <span *ngIf="creatingUser">Creating Credential...</span>
          </chef-button>
          <chef-button tertiary (click)="closeCreateModal()">Cancel</chef-button>
        </div>
      </form>
    </div>
</chef-modal>
