<div class="content-container">
  <div class="heading">
    <div class="heading-title-container">
      <h2 class="heading-title">Top 10 Errors</h2>
      <chef-icon id="top-errors-info">info_outline</chef-icon>
      <chef-tooltip for='top-errors-info'>
        <p class="tooltip-text">Most common error messages and classes returned from Chef Infra Client runs across all desktops.</p>
      </chef-tooltip>
    </div>
    <h6 class="heading-time" *ngIf="hasData">Updated {{ lastUpdatedMessage }}</h6>
  </div>
  <chef-table class="chart-list" *ngIf="hasData">
    <chef-tbody>
      <chef-tr
        *ngFor="let item of topErrorsItems"
        class="chart-list-item"
        [ngClass]="{'selected': item === selectedError}"
        tabindex="0"
        (click)="onErrorSelect(item)"
        (keyup.enter)="onErrorSelect(item)">
        <chef-td class="chart-list-item-label-cell">
          <div>{{ item.type }}: {{ item.message }}</div>
        </chef-td>
        <chef-td class="chart-list-item-count-cell">
          <span>
            {{ item.count }}
            <chef-icon>desktop_windows</chef-icon>
          </span>
        </chef-td>
        <chef-td class="chart-list-item-chart-cell">
          <app-chart-progress-bar
            size="small"
            [value]="item.count"
            [max]="item.count">
          </app-chart-progress-bar>
        </chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>
  <app-empty-data *ngIf="!hasData"></app-empty-data>
</div>
