@import "~styles/variables";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.content-container {
  font-family: Muli;
  font-size: 13px;
  font-weight: 100;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

td {
  margin-bottom: 8px;
}

td:not(:last-child) {
  border-top: 1px solid $chef-grey;
  border-bottom: 1px solid $chef-grey;
}

td:nth-child(1) {
  border-left: 1px solid $chef-grey;
  border-top-left-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
  width: 65%;
}

td:nth-child(2) {
  border-right: 1px solid $chef-grey;
  border-top-right-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  width: 10%;
  text-align: right;

  span {
    display: inline-flex;
    align-items: center;
  }

  chef-icon {
    margin-left: 8px;
  }
}

td:last-child {
  width: 25%;
  padding-right: 0;
}

chef-progress-bar {
  margin: 0;
}
