.reviews {

  .page-header {
    > div {

      .page-logo {
        background-color: $tealgreen;
        color: $darkteal;
        font-size: 75px;

        .icon {
          line-height: 100px;
        }
      }

      .card-count {
        color: $tealgreen;
      }
    }
  }

  .review-card-container {
    position: relative;

    .link {
      @include transition(all 0.25s ease-in-out);
      position: absolute;
      left: 100%;
      top: 0;
      background-color: $tealgreen;
      font-size: 16px;
      color: $white;
      height: 100%;
      width: 0;
      text-align: center;
      overflow: hidden;

      span {
        @include transform(translateY(-50%));
        height: 20px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

    &:hover {
      .link {
        width: 60px;
      }
    }

    .review-card {
      position: relative;
      padding: 10px 10px 10px 70px;
      background-color: $white;
      margin-bottom: 10px;
      box-shadow: 0 1px 0 $lightgrayblue;

      header {
        margin-bottom: 10px;
        @include clearfix();

        > .icon {
          position: absolute;
          left: 0;
          top: 0;
          width: 60px;
          height: 60px;
          display: block;
          background-color: $tealgreen;
          color: $darkteal;
          text-align: center;
          font-size: 40px;
          line-height: 60px;
          text-decoration: none;
        }

        .overview-header {
          width: 50%;
          float: left;

          .card-title {
            margin: 0;
            font-weight: 300;
            margin-bottom: 5px;

            a {
              text-decoration: none;
            }
          }

          .card-topic {
            font-size: 0.8em;

            .topic {
              font-family: $monospace;
              color: $regalblue;
              display: inline-block;
              background-color: $hoopblue;
              padding: 5px;
              vertical-align: middle;

              .icon {
                padding-right: 5px;
              }
            }

            .target {
              font-family: $monospace;
              color: $regalblue;
              display: inline-block;
              background-color: $hoopblue;
              padding: 5px;
              vertical-align: middle;
            }
          }
        }

        .overview-meta {
          float: right;

          strong {
            color: black;
          }

          .overview-updated-time,
          .overview-id {
            display: block;
            font-size: 14px;
            text-align: right;
            color: $grayblue;
          }
        }
      }

      .overview-body {
        display: inline-block;
        margin-left: 20px;
        height: 25px;
        cursor: pointer;

        .icon {
          display: inline-block;
          background-color: $iceblue;
          color: $white;
          padding-left: 5px;
          font-size: 20px;
          width: 25px;
          vertical-align: middle;
          line-height: 25px;
        }

        .project-label {
          display: inline-block;
          vertical-align: middle;
          background-color: $iceblue;
          color: $white;
          padding: 0 5px 0 5px;
          line-height: 25px;
        }

        .project-name {
          vertical-align: middle;
          font-weight: bold;
        }
      }
    }
  }
}
