@import "~styles/variables";

.license-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  chef-checkbox {
    white-space: normal;
    margin-bottom: 7px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: $chef-primary-bright;
    margin-bottom: 1em;
    margin-top: 20px;

    chef-icon {
      vertical-align: -4px;
    }
  }

  .alert {
    color: $chef-critical;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .button {
    margin-top: 1em;
    text-align: center;
  }

  .trial {
    width: 500px;

    .name-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      chef-form-field:first-of-type {
        margin-right: 20px;
      }
    }

    .email-container {
      margin-bottom: 20px;
    }

    span {
      display: block;
      margin-top: 20px;
      font-size: 12px;
      text-align: center;
    }
  }

  .info {
    margin-left: 50px;
    margin-right: 50px;
  }

  app-telemetry-checkbox {
    margin: 20px 50px 0;
  }

  button.confirmation {
    height: 32px;
    width: 245px;
    margin-bottom: 25px;
  }

  chef-button#dismiss-help {
    width: 210px;
  }

  .date {
    color: $chef-critical;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      height: 48px;
      align-items: center;
      background-color: transparent;
      border: 1px solid $gray-pale;
      border-radius: $global-radius;
      margin-bottom: 1em;
      padding: .5em 1em;
      position: relative;
      font-size: .875em;
      transition: background-color .2s;

      &:hover {
        background-color: $chef-grey;
        cursor: pointer;
        transition: background-color .2s;
      }
    }
  }

  chef-checkbox.confirmation {
    padding-top: 15px;
  }

  .footer {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;

    .active {
      cursor: pointer;
    }

    a:first-of-type {
      display: block;
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline;
      padding-bottom: 20px;
    }
  }

  textarea {
    font-size: 12px;
    min-width: 500px;
    max-width: 600px;
    min-height: 175px;
  }

  .spinner-container, .error-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    height: 60px;
  }

  chef-alert {
    width: 500px;
    margin-bottom: 16px;
    font-size: 13px;

    a.error-msg {
      color: $chef-white;
      text-decoration: underline;
    }
  }

  .note {
    font-style: italic;
    font-size: 12px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
  }
}
