<!DOCTYPE html>
<html>
  <head>
    <title>Chef Automate API Documentation</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/api-styles.css">
  </head>
  <body>
    <a class="return" href="/docs">Return to Docs</a>
    <ReDoc spec-url="/api-docs/all-apis.swagger.json" scroll-y-offset="34"></ReDoc>
    <script src="/redoc.standalone.js"></script>
  </body>
</html>
