@import "~styles/variables";

chef-table {
  .controls {
    justify-content: flex-end;
  }
}

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}
