<div class="content-container">
    <div class="cantainer sso-container">

        <main>
            <div class="sticky-notifications">
                <div class="sticky-inner">
                    <app-notification
                    *ngIf="notificationVisible"
                    type="error"
                    timeout="5"
                    (dismissed)="hideNotification()">
                        Failed to get config.Unauthorized
                    </app-notification>
                </div>
            </div>
            <chef-page-header>
                <chef-heading>SSO Config</chef-heading>
                <chef-subheading>Single Sign-On configuration from the chef SAAS users.</chef-subheading>
            </chef-page-header>
        </main>
    </div>
</div>