
<chef-select [value]='selectedValue' [disabled]='disabled' class='event-type-select'>
  <chef-option selected>
    <div class="event-type-name"> All Events </div>
    <div class="event-type-count"> {{getEventCount('total') | number}} events </div>
  </chef-option>
  <chef-option value='client'>
    <div class="event-type-name"> Clients </div>
    <div class="event-type-count"> {{getEventCount('client') | number}} events </div>
    <chef-icon> assignment_ind </chef-icon>
  </chef-option>
  <chef-option value='cookbook'>
    <div class="event-type-name"> Cookbooks </div>
    <div class="event-type-count"> {{getEventCount('cookbook') | number}} events </div>
    <chef-icon> chrome_reader_mode </chef-icon>
  </chef-option>
  <chef-option value='bag'>
    <div class="event-type-name"> Data Bags</div>
    <div class="event-type-count"> {{getEventCount('bag') | number}} events </div>
    <chef-icon> business_center </chef-icon>
  </chef-option>
  <chef-option value='environment'>
    <div class="event-type-name"> Environments </div>
    <div class="event-type-count"> {{getEventCount('environment') | number}} events </div>
    <chef-icon> public </chef-icon>
  </chef-option>
  <chef-option value='node'>
    <div class="event-type-name"> Nodes </div>
    <div class="event-type-count"> {{getEventCount('node') | number}} events </div>
    <chef-icon> storage </chef-icon>
  </chef-option>
  <chef-option value='policyfile'>
    <div class="event-type-name">Policyfiles</div>
    <div class="event-type-count"> {{getEventCount('policyfile') | number}} events</div>
    <chef-icon> add_to_photos </chef-icon>
  </chef-option>
  <chef-option value='profile'>
    <div class="event-type-name">Profiles</div>
    <div class="event-type-count"> {{getEventCount('profile') | number}} events</div>
    <chef-icon> library_books </chef-icon>
  </chef-option>
  <chef-option value='role'>
    <div class="event-type-name">Roles</div>
    <div class="event-type-count"> {{getEventCount('role') | number}} events</div>
    <chef-icon> book </chef-icon>
  </chef-option>
  <chef-option value='organization'>
    <div class="event-type-name">Organizations</div>
    <div class="event-type-count"> {{getEventCount('organization') | number}} events</div>
    <chef-icon> layers </chef-icon>
  </chef-option>
  <chef-option value='permission'>
    <div class="event-type-name">Permissions</div>
    <div class="event-type-count"> {{getEventCount('permission') | number}} events</div>
    <chef-icon> lock_open </chef-icon>
  </chef-option>
  <chef-option value='user'>
    <div class="event-type-name">Users</div>
    <div class="event-type-count"> {{getEventCount('user') | number}} events</div>
    <chef-icon> person </chef-icon>
  </chef-option>
  <chef-option value='group'>
    <div class="event-type-name">Groups</div>
    <div class="event-type-count"> {{getEventCount('group') | number}} events</div>
    <chef-icon> people </chef-icon>
  </chef-option>
  <chef-option value='scanjobs'>
      <div class="event-type-name">Scan Jobs</div>
      <div class="event-type-count"> {{getEventCount('scanjobs') | number}} events</div>
      <chef-icon> wifi_tethering </chef-icon>
    </chef-option>
</chef-select>
