<div class="content-container">
  <div class="container">
    <main>
      <chef-loading-spinner *ngIf="environmentDetailsLoading" size="50" fixed></chef-loading-spinner>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Infra Servers</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId]">Organizations</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', serverId, 'organizations', orgId]">Environments</chef-breadcrumb>
         {{environment?.name}}
      </chef-breadcrumbs>
      <chef-page-header>
        <chef-heading>{{environment?.name}}</chef-heading>
        <chef-tab-selector [value]="tabValue" (change)="onSelectedTab($event)">
          <chef-option value='cookbookConstraints' data-cy="cookbookConstraints-tab">Cookbook Constraints</chef-option>
          <chef-option value='attributes' data-cy="attributes-tab">Attributes</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <app-edit-environment-attribute-modal
        [jsonText]="jsonText"
        [openEvent]="openEnvironmentModal"
        [serverId]="serverId"
        [orgId]="orgId"
        [name]="name"
        [environment]="environment"
        [label]="label"
        [cookbookConstraints]="cookbookConstraints"
        [cookbookVersions]="cookbookVersions"
        [constraintKeys]="constraintKeys"
        [nameKeys]="nameKeys"
        [name_id]="name_id">
      </app-edit-environment-attribute-modal>
      <section class="page-body" *ngIf="tabValue === 'cookbookConstraints'">
        <div *ngIf="show">
          <div>
            <label>
              <span class="label constraint">Cookbook Constraints</span>
            </label>
            <div class="constraint-table">
              <div class="edit">
                <chef-button tertiary class="right-button-box" tabindex="1"
                  (click)="openEditAttributeModal(environment?.default_attributes, 'Constraints')">
                  <span class="material-icons edit-item">mode_edit</span>
                  <span class="edit-text">Edit</span>
                </chef-button>
              </div>
              <hr class="divider-constraint" />
              <div class="constraint-container" *ngIf="hasCookbookConstraints">
                <chef-table>
                  <chef-thead>
                    <chef-tr class="header-gap">
                      <chef-th class="no-border-th header-color">Name</chef-th>
                      <chef-th class="no-border-th header-color">Operator</chef-th>
                      <chef-th class="no-border-th header-color">Version</chef-th>
                    </chef-tr>
                  </chef-thead>
                  <chef-tbody>
                    <chef-tr *ngFor= "let version of cookbookVersions" class="row-gap">
                      <chef-td class="no-border-th">{{ version.name }}</chef-td>
                      <chef-td class="no-border-th">{{ version.operator }}</chef-td>
                      <chef-td class="no-border-th">{{ version.versionNumber }}</chef-td>
                    </chef-tr>
                  </chef-tbody>
                </chef-table>
              </div>
              <div *ngIf="!hasCookbookConstraints" class="empty-section">
                <img alt="No preview" src="/assets/img/no_preview.gif" />
                <p>Cookbook constraints are not available for the <b>{{environment.name}}</b> environment.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page-body" *ngIf="tabValue === 'attributes'">
        <label>
          <span class="label default">Default Attributes</span>
        </label>
        <div class="attr">
          <div class="expand-collapse">
            <chef-button tertiary class="action"
              [disabled]= !hasDefaultJson
              (click)="tree.expand()">
              <chef-icon>add_circle</chef-icon>
              <span>Expand All</span>
            </chef-button>
            <chef-button tertiary class="action"
              [disabled]= !hasDefaultJson
              (click)="tree.collapse()">
              <chef-icon>remove_circle</chef-icon>
              <span>Collapse All</span>
            </chef-button>
            <chef-button
              tertiary
              class="right-button-box"
              (click)="openEditAttributeModal(environment?.default_attributes, 'Default')">
              <span class="material-icons edit-item">mode_edit</span>
              <span class="edit-text">Edit</span>
            </chef-button>
          </div>
          <hr class="divider-constraints" />
          <div class="json-container">
            <div class="scroll">
              <app-json-tree-table
                class="json-tree-container"
                [hidden]="hasDefaultJson? false : true"
                #tree
                [json]="selectedAttrs?.default_attributes">
              </app-json-tree-table>
              <div *ngIf="!hasDefaultJson" class="img-section">
                <img alt="No preview" src="/assets/img/no_preview.gif" />
                <p>There are no items to display.</p>
              </div>
            </div>
          </div>
        </div>
        <label>
          <span class="label override">Override Attributes</span>
        </label>
        <div class="attr">
          <div class="expand-collapse">
            <chef-button tertiary class="action"
              [disabled]= !hasOverrideJson
              (click)="override.expand()">
              <chef-icon>add_circle</chef-icon>
              <span>Expand All</span>
            </chef-button>
            <chef-button tertiary class="action"
              [disabled]= !hasOverrideJson
              (click)="override.collapse()">
              <chef-icon>remove_circle</chef-icon>
              <span>Collapse All</span>
            </chef-button>
            <chef-button
              tertiary
              class="right-button-box"
              (click)="openEditAttributeModal(environment?.override_attributes, 'Override')">
              <span class="material-icons edit-item">mode_edit</span>
              <span class="edit-text">Edit</span>
            </chef-button>
          </div>
          <hr class="divider-constraints" />
          <div class="json-container">
            <div class="scroll">
              <app-json-tree-table
                class="json-tree-container"
                [hidden]="hasOverrideJson? false : true"
                #override
                [json]="selectedAttrs?.override_attributes">
              </app-json-tree-table>
              <div *ngIf="!hasOverrideJson" class="img-section">
                <img alt="No preview" src="/assets/img/no_preview.gif" />
                <p>There are no items to display.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
