<section class="databags">
  <chef-loading-spinner *ngIf="dataBagsListLoading" size="50"></chef-loading-spinner>
  <app-delete-infra-object-modal
    [visible]="deleteModalVisible"
    objectNoun="data bag"
    [objectName]="dataBagToDelete?.name"
    (close)="closeDeleteModal()"
    (deleteClicked)="deleteDataBag()"
    objectAction="Delete"
    class="delete-modal">
  </app-delete-infra-object-modal>
  <app-create-data-bag-modal
    [openEvent]="openDataBagModal"
    [server_Id]="serverId"
    [org_Id]="orgId">
  </app-create-data-bag-modal>
  <app-empty-state *ngIf="authFailure" moduleTitle="data bags" (resetKeyRedirection)="resetKeyTabRedirection($event)"></app-empty-state>
  <ng-container *ngIf="!dataBagsListLoading && !authFailure">
    <div class="search-create-container">
      <app-infra-search-bar (searchButtonClick)="searchDataBags($event)" placeHolder="data bags by name...">
      </app-infra-search-bar>
      <chef-button data-cy="create-databag-button" primary (click)="openCreateModal()">Create Data Bag</chef-button>
    </div>
    <chef-loading-spinner class="full-screen-spinner" *ngIf="searching || deleting" size="50" fixed></chef-loading-spinner>
    <chef-table *ngIf="dataBags.length" id="databags-table-container" data-cy="databags-table-container">
      <chef-thead *ngIf="!searchFlag || serachArr.length">
        <chef-tr class="no_border_tr">
          <chef-th class="no_border_th" data-cy="name">Name</chef-th>
          <chef-th class="no_border_th three-dot-column"></chef-th>
        </chef-tr>
      </chef-thead>
      <chef-tbody *ngIf="!searchFlag">
        <chef-tr *ngFor="let dataBag of dataBags">
          <chef-td><a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'data-bags', dataBag.name]">{{ dataBag.name }}</a></chef-td>
          <chef-td class="three-dot-column">
            <mat-select panelClass="chef-control-menu">
              <mat-option data-cy="delete" (onSelectionChange)="startDataBagDelete(dataBag)">Delete</mat-option>
            </mat-select>
          </chef-td>
        </chef-tr>
      </chef-tbody>
      <chef-tbody *ngIf="searchFlag">
        <chef-tr *ngFor="let dataBag of serachArr">
          <chef-td><a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'data-bags', dataBag.name]">{{ dataBag.name }}</a></chef-td>
          <chef-td class="three-dot-column">
            <mat-select panelClass="chef-control-menu">
              <mat-option data-cy="delete" (onSelectionChange)="startDataBagDelete(dataBag)">Delete</mat-option>
            </mat-select>
          </chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
  <div *ngIf="!authFailure">
    <div data-cy="empty-list" class="empty-section" *ngIf="!dataBagsListLoading && (dataBags.length === 0) || searchFlag && (serachArr.length === 0) ">
      <img alt="No preview" src="/assets/img/no_preview.gif"/>
      <p *ngIf="searchValue !== ''">No results found for "{{searchValue}}".</p>
      <p *ngIf="searchValue === ''">No Data Bags available.</p>
    </div>
  </div>
</section>
