@import "~styles/variables";

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.head-container p {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 20px;
}
