@import "~styles/variables";

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.empty-section {
  text-align: center;
}

img {
  margin-top: 130px;
  width: 70px;
}

.three-dot-column {
  text-align: right;
}

chef-toolbar chef-button:first-child {
  margin: 10px 0px 0px 0px;
  float: right;
}

.search-create-container {
  display: flex;
  margin: 24px 0 18px;
  flex-direction: row;

  app-infra-search-bar {
    flex-grow: 2;
  }

  chef-button {
    margin: 0;
    margin-left: 16px;
    height: 36px;
    margin-top: 4px;
  }
}

.databags {
  position: relative;

  .full-screen-spinner {
    display: flex;
    margin: auto;
    background-color: $chef-white;
    opacity: 0.7;
    width: calc(100% + 70px);
    margin-top: -20px;
    position: absolute;
    top: 0;
    left: -35px;
    bottom: 0%;
    right: 0%;
  }
}
