<section class="databags">
  <chef-loading-spinner *ngIf="dataBagsListLoading" size="50"></chef-loading-spinner>
  <app-empty-state *ngIf="authFailure" moduleTitle="data bags" (resetKeyRedirection)="resetKeyTabRedirection($event)"></app-empty-state>
  <ng-container  *ngIf="!dataBagsListLoading && !authFailure">
    <div class="empty-section" *ngIf="!dataBags.length">
      <img alt="No preview" src="/assets/img/no_preview.gif" />
      <p>No databags available</p>
    </div>
    <div class="head-container"  *ngIf="dataBags.length">
      <chef-tr class="no_border_tr">
        <chef-th class="no_border_th">Name</chef-th>
      </chef-tr>
    </div>
    <chef-table *ngIf="dataBags.length">
      <chef-thead>
      </chef-thead>
      <chef-tbody>
        <chef-tr *ngFor="let dataBag of dataBags">
          <chef-td><a [routerLink]="['/infrastructure','chef-servers', serverId, 'organizations', orgId, 'data-bags', dataBag.name]">{{ dataBag.name }}</a></chef-td>
        </chef-tr>
      </chef-tbody>
    </chef-table>
  </ng-container>
</section>
