@import "~styles/variables";

chef-loading-spinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.empty-section {
  text-align: center;
}

img {
  margin-top: 130px;
  margin-left: 130PX;
  width: 70px;
}

.three-dot-column {
  text-align: right;
}

chef-toolbar chef-button:first-child {
  margin: 10px 0px 0px 0px;
  float: right;
}

.no-margin-img {
  margin-left: 0px;
}
