<div class="content-container">
  <div class="container">
    <main>
      <chef-breadcrumbs>
        <chef-breadcrumb [link]="['/infrastructure/chef-servers']">Chef Server</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', org?.server_id]">Orgs</chef-breadcrumb>
        <chef-breadcrumb [routerLink]="['/infrastructure/chef-servers', org?.server_id, role?.name]">Roles</chef-breadcrumb>
         {{role?.name}}
      </chef-breadcrumbs>
      <chef-page-header>
        <chef-heading>{{role?.name}}</chef-heading>
        <table>
          <thead>
            <tr class="detail-row">
              <th class="id-column">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr class="detail-row">
              <td class="id-column">{{role?.description}}</td>
            </tr>
          </tbody>
        </table>
        <chef-tab-selector [value]="tabValue" (change)="onSelectedTab($event)">
          <chef-option value='runList' data-cy="runList-tab">Run List</chef-option>
        </chef-tab-selector>
      </chef-page-header>
      <section class="page-body" *ngIf="tabValue === 'runList'">
        <div *ngIf="show">
          <treetable 
              [tree]="arrayOfNodesTree"
                >
          </treetable>
      </div>
        
      </section>
      <section class="page-body" *ngIf="tabValue === 'attributes'">
        
      </section>
      <section class="page-body" *ngIf="tabValue === 'affectedNodes'">
        
      </section>
    </main>
  </div>
</div>
