<app-landing [routePerms]="routeList" [onNotFound]="SetPageCoverage"></app-landing>

<div class="no-permissions">
  <p>
    It looks like you do not have permission to access any data in Automate.
    <br/>
    Reach out to your administrator or
    contact <a href="https://www.chef.io/support/" target="_blank" class="error-msg">Chef support</a> for help.
  </p>
  <p>
    In the meantime, feel free to explore the
    <a href="https://docs.chef.io/automate" target="_blank" class="error-msg">Automate documentation</a>.
  </p>
</div>
