<app-admin-sidebar>
</app-admin-sidebar>

<div class="container">
  <main>
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/settings/teams']">Teams</chef-breadcrumb>
      {{ team?.id }}
    </chef-breadcrumbs>

    <chef-page-header>
      <chef-heading *ngIf="isV1">{{ team?.id }}</chef-heading>
      <chef-heading *ngIf="!isV1">{{ team?.name }}</chef-heading>
      <table>
        <thead>
          <tr class="detail-row">
            <th *ngIf="isV1" class="id-column">Description</th>
            <th *ngIf="!isV1" class="id-column">ID</th>
          </tr>
        </thead>
        <tbody>
          <tr class="detail-row">
            <td *ngIf="isV1" class="id-column">{{ team?.name }}</td>
            <td *ngIf="!isV1" class="id-column">{{ team?.id }}</td>
          </tr>
        </tbody>
      </table>

      <chef-tab-selector (change)="onSelectedTab($event)" [value]="tabValue">
        <chef-option value='users' routerLink="./" fragment="users">Users</chef-option>
        <chef-option value='details' routerLink="./" fragment="details">Details</chef-option>
      </chef-tab-selector>
    </chef-page-header>
    <ng-container *ngIf="tabValue === 'users'">
      <section class="page-body" *ngIf="team?.id">
        <div id="users-list">
          <div *ngIf="!teamMembershipView">
            <!-- TODO remove [overridePermissionsCheck]=true once the UI is able to check specific objects
            since the path to permission on here is /auth/teams/:id/users we'll have to show everything for now. -->
            <app-user-table
              [addButtonText]="addButtonText"
              [removeText]="removeText"
              [users$]="sortedUsers$"
              [addButtonEnabled]=true
              [baseUrl]="'/auth/users/' + team.id"
              [overridePermissionsCheck]=true
              (addClicked)="toggleUserMembershipView()"
              (removeClicked)="removeUser($event)">
            </app-user-table>
          </div>
          <div *ngIf="teamMembershipView">
            <app-user-team-membership-table
              [usersToFilter]="sortedUsers$"
              (addClicked)="addUsers($event)"
              (cancelClicked)="toggleUserMembershipView()">
            </app-user-team-membership-table>
          </div>
        </div>
      </section>
    </ng-container>
    <ng-container *ngIf="tabValue === 'details'">
      <section class="page-body">
        <form [formGroup]="updateNameForm">
          <chef-form-field>
            <label *ngIf="isV1">Description *</label>
            <label *ngIf="!isV1">Name *</label>
            <input chefInput formControlName="name" type="text" (keyup)="handleNameChange()">
          </chef-form-field>
        </form>
        <chef-button primary [disabled]="!updateNameForm.valid || disableSave || saveInProgress" (click)="saveNameChange()">
          <chef-loading-spinner *ngIf="saveInProgress"></chef-loading-spinner>
          <ng-container *ngIf="!saveInProgress">
            <span *ngIf="disableSave">Saved</span>
            <span *ngIf="!disableSave">Save</span>
          </ng-container>
          <span *ngIf="saveInProgress">Saving...</span>
        </chef-button>
      </section>
    </ng-container>
  </main>
</div>
