<app-admin-sidebar></app-admin-sidebar>

<div class="container">
  <main>
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/settings/teams']">Teams</chef-breadcrumb>
      <span  *ngIf="isMajorV1">{{ team.id }}</span>
      <span  *ngIf="!isMajorV1">{{ team.name }}</span>
    </chef-breadcrumbs>

    <chef-page-header>
      <chef-heading *ngIf="isMajorV1">{{ team.id }}</chef-heading>
      <chef-heading *ngIf="!isMajorV1">{{ team.name }}</chef-heading>
      <table>
        <thead>
          <tr class="detail-row">
            <th *ngIf="isMajorV1" class="id-column">Description</th>
            <th *ngIf="!isMajorV1" class="id-column">ID</th>
            <th *ngIf="!isMajorV1 && isMinorV1" class="projects-column">Projects</th>
          </tr>
        </thead>
        <tbody>
          <tr class="detail-row">
            <td *ngIf="isMajorV1" class="id-column">{{ team.name }}</td>
            <td *ngIf="!isMajorV1" class="id-column">{{ team.id }}</td>
            <td class="projects-column" *ngIf="!isMajorV1 && isMinorV1" data-cy="team-details-projects">
              <ng-container *ngIf="team.projects.length === 0">
                  {{ unassigned }}
              </ng-container>
              <ng-container *ngIf="team.projects.length === 1">
                  {{ team.projects[0] }}
              </ng-container>
              <ng-container *ngIf="team.projects.length > 1">
                  {{ team.projects.length }} projects
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>

      <chef-tab-selector (change)="onSelectedTab($event)" [value]="tabValue">
        <chef-option value='users'>Users</chef-option>
        <chef-option value='details'>Details</chef-option>
      </chef-tab-selector>
    </chef-page-header>
    <section class="page-body" *ngIf="team.id && (tabValue === 'users')">
      <div id="users-list">
        <div>
          <!-- TODO remove [overridePermissionsCheck]=true once the UI is able to check specific objects
          since the path to permission on here is /auth/teams/:id/users we'll have to show everything for now. -->
          <app-user-table
            [addButtonText]="addButtonText"
            [removeText]="removeText"
            [users$]="sortedUsers$"
            [addButtonEnabled]=true
            [baseUrl]="'/auth/users/' + team.id"
            [overridePermissionsCheck]=true
            (addClicked)="toggleUserMembershipView()"
            (removeClicked)="removeUser($event)">
          </app-user-table>
        </div>
      </div>
    </section>
    <section class="page-body" *ngIf="tabValue === 'details'">
      <form [formGroup]="updateNameForm">
        <chef-form-field>
          <label>{{ descriptionOrName | titlecase }} <span aria-hidden="true">*</span></label>
          <input chefInput formControlName="name" type="text" (keyup)="keyPressed()" autocomplete="off">
          <chef-error
            *ngIf="(updateNameForm.get('name').hasError('required') || updateNameForm.get('name').hasError('pattern')) && updateNameForm.get('name').dirty">
            {{ descriptionOrName | titlecase }} is required.
          </chef-error>
        </chef-form-field>
      </form>
      <chef-button [disabled]="isLoading || !updateNameForm.valid || updateNameForm.controls['name'].value === team.name"
        primary inline (click)="saveNameChange()">
        <chef-loading-spinner *ngIf="saving"></chef-loading-spinner>
        <span *ngIf="saving">Saving...</span>
        <span *ngIf="!saving">Save</span>
      </chef-button>
      <span *ngIf="saveSuccessful" id="save-note">All changes saved.</span>
    </section>
  </main>
</div>
