<div class="content-container">
  <div class="header">
    <div class="heading">
      <div class="page-title">Check-in History</div>
      <div class="update-time">Updated {{ lastUpdatedMessage }}</div>
    </div>
    <select (change)="dateChanged($event.target.value)">
      <option *ngFor="let selectableDaysAgo of selectableDaysAgoCollection" [value]="selectableDaysAgo"
        [selected]="selectableDaysAgo == selectedDaysAgo">
        Last {{ selectableDaysAgo }} Days
      </option>
    </select>
  </div>

  <chef-table>
    <!-- <chef-thead>
      <chef-tr>
        <chef-th>Days Ago</chef-th>
        <chef-th>Percentage of Total</chef-th>
      </chef-tr>
    </chef-thead> -->
    <chef-tbody>
      <chef-tr *ngFor="let day of days">
        <chef-td [ngSwitch]="day.daysAgo">
          <ng-container *ngSwitchCase="0">Today</ng-container>
          <ng-container *ngSwitchCase="1">Yesterday</ng-container>
          <ng-container *ngSwitchDefault>{{ day.daysAgo }} days ago</ng-container>
        </chef-td>
        <chef-td>{{ day.percentage | number:'1.0-0' }}%</chef-td>
      </chef-tr>
    </chef-tbody>
  </chef-table>
</div>
