<div class="content-container">
  <div class="container">
    <main>
      <div class="page-title">Last Check-in by Day</div>
      <div class="update-time">Updated {{ lastUpdatedMessage }}</div>
      <div>
        <select (change)="dateChanged($event.target.value)">
          <option *ngFor="let selectableDaysAgo of selectableDaysAgoCollection"
            [value]="selectableDaysAgo" [selected]="selectableDaysAgo == selectedDaysAgo">
            Last {{ selectableDaysAgo }} Days
          </option>
        </select>
      </div>

      <!-- <div *ngIf="days && days.length > 0"> -->
          <app-simple-line-graph
          [data]="fakeData"
          ></app-simple-line-graph>
      <!-- </div> -->

    </main>
  </div>
</div>
