@import "~styles/variables";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

.content-container {
  margin: 10px;
  padding: 10px;
  font-family: Muli;
  font-size: 13px;
  font-weight: 100;
  width: 500px;
  background-color: var(--chef-badge-primary-border);
  border: 1px solid $chef-blue-medium;
  border-radius: 4px;
}
