@import "~styles/variables";

.page-title {
  color: var(--chef-primary-dark);
  margin-top: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 18px;
}

.update-time {
  color: var(--chef-primary-dark);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 10px;
}

.content-container {
  font-family: Muli;
  font-size: 13px;
  font-weight: 100;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  select {
    display: block;
  }
}

chef-tr:last-child {
  margin-bottom: 0;
}
