@import "~styles/variables";
@import "~styles/mixins";

.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
  font-size: 1em;
  color: $chef-primary-dark;
}

button {
  box-shadow: 0 1px 14px #E6EBEE;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background: #E6EBEE;
  cursor: pointer;
  width: 45px;
}

input {
  border-radius: 4px 0px 0px 4px;
  width: 100%;
}

::ng-deep .chef-input:active {
  border-width: 0.5px;
}

.search-items {
  margin-bottom: 25px;
  width: 100%;
}

chef-icon {
  margin-top: 6px;
  margin-left: 3px;
}

.hidden-label {
  padding: 0;
}
