@import "~styles/variables";
@import "~styles/mixins";

form {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 1em;
  color: $chef-primary-dark;
  border-radius: $chef-border-radius;
  overflow: hidden;

  &.active {
    box-shadow: 0px 0px 0px 1px $chef-primary-bright; // Mimic default outline
  }

  .hidden {
    display: none;
  }
}

input {
  border-radius: 4px 0px 0px 4px;
  transition: 0s; // Remove default transition

  &:focus {
    border: 0; // Accessibility is being noted around containing form
  }
}

button {
  background: #E6EBEE;
  width: 45px;
  box-shadow: 0 1px 14px #E6EBEE;
  border: 0px solid transparent;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;

  &:focus {
    outline: none;
    border: 1px solid $chef-primary-bright;
  }

  &[disabled] {
    cursor: auto;
  }
}

chef-icon {
  margin-top: 6px;
}

chef-error {
  background-color: $chef-critical;
  color: $chef-white;
  border-radius: 0 0 4px 4px;
}
