<app-compliance-reporting-sidebar></app-compliance-reporting-sidebar>

<div class="container">
  <main class="job-add">
    <chef-breadcrumbs>
      <chef-breadcrumb [link]="['/compliance/scan-jobs/jobs']">Scan jobs</chef-breadcrumb>
      Edit job
    </chef-breadcrumbs>

    <div class="job-add-header">
      <chef-stepper>
        <chef-step
          [selected]="isCurrentStep(Step['add-nodes'], (step$ | async))">
          <a routerLink="./" fragment="add-nodes">Add Nodes</a>
        </chef-step>
        <chef-step
          [selected]="isCurrentStep(Step['add-profiles'], (step$ | async))"
          [disabled]="!isStepValid(Step['add-nodes'])">
          <a routerLink="./" fragment="add-profiles">Add Profiles</a>
        </chef-step>
        <chef-step 
          [selected]="isCurrentStep(Step['add-schedule'], (step$ | async))"
          [disabled]="!isStepValid(Step['add-nodes']) || !isStepValid(Step['add-profiles'])">
          <a routerLink="./" fragment="add-schedule">Add Schedule</a>
        </chef-step>
      </chef-stepper>

      <div class="job-add-actions">
        <ng-container [ngSwitch]="isLastStep(step$ | async)">
          <chef-button
            *ngSwitchCase="false"
            primary
            routerLink="./"
            [disabled]="!isStepValid(step$ | async)"
            fragment="{{nextStepFragment(step$ | async)}}">Next</chef-button>
          <chef-button
            *ngSwitchCase="true"
            primary
            [disabled]="!isStepValid(step$ | async)"
            (click)="submit(form)">Save</chef-button>
        </ng-container>
        <chef-button routerLink="/jobs" tertiary>Cancel</chef-button>
      </div>
    </div>

    <form [formGroup]="form" class="job-add-form" novalidate>
      <ng-container [ngSwitch]="step$ | async">
        <chef-job-nodes-form
          *ngSwitchCase="Step['add-nodes']"
          [form]="form.get('nodesGroup')">
        </chef-job-nodes-form>
        <chef-job-profiles-form
          *ngSwitchCase="Step['add-profiles']"
          [form]="form.get('profilesGroup')">
        </chef-job-profiles-form>
        <chef-job-schedule-form
          *ngSwitchCase="Step['add-schedule']"
          [form]="form.get('scheduleGroup')">
        </chef-job-schedule-form>
      </ng-container>
    </form>
  </main>
</div>
