@import "~styles/variables";

.job-add {
  display: block;
}

chef-breadcrumbs {
  padding-bottom: 25px;
}

.job-add-header {
  display: flex;
  margin: 2em;
  justify-content: space-between;
  align-items: center;

  chef-step {
    margin: 0;

    a {
      display: inline-block;
      text-decoration: none;
      line-height: 30px;
    }
  }

  chef-step + chef-step {
    margin-left: 20px;
  }
}

.job-add-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  chef-button {
    margin: 0;
  }

  chef-button + chef-button {
    margin-left: 1em;
  }
}

.job-add-form {
  margin: 2em;

  ::ng-deep {
    chef-card {
      margin-bottom: 1em;
    }

    chef-button {
      margin: 0;
    }

    h3 {
      margin-bottom: 1em;
    }
  }
}
