<div class="container">
  <main>
    <chef-page-header>
      <chef-heading>Node Credentials</chef-heading>
      <chef-subheading>SSH, WinRM, and sudo credentials to remotely access nodes.</chef-subheading>
    </chef-page-header>

    <div class="credentials-list-body">
      <chef-toolbar>
        <app-authorized [anyOf]="['/secrets', 'post']">
          <div *ngIf="credentialsList.items.length === 0" class="credentials-empty-state">
            <p>Create the first credential to get started!</p>
          </div>
          <div [ngClass]="credentialsList.items.length === 0 ? 'credentials-empty-state' : ''">
            <chef-button primary [routerLink]="['/settings/node-credentials/add']">
              Add Credential
            </chef-button>
          </div>
        </app-authorized>
      </chef-toolbar>
      <app-authorized [anyOf]="['/secrets/search' , 'post']">
        <chef-table *ngIf="credentialsList.items.length > 0" class="credentials-list-table" (sort-toggled)="onSortToggled($event)">
          <chef-thead>
            <chef-tr>
              <chef-th>
                Name
                <chef-sort-toggle sort="name" [order]="orderFor('name')"></chef-sort-toggle>
              </chef-th>
              <chef-th>
                Type
                <chef-sort-toggle sort="type" [order]="orderFor('type')"></chef-sort-toggle>
              </chef-th>
              <chef-th>
                Last Modified
                <chef-sort-toggle sort="last_modified" [order]="orderFor('last_modified')"></chef-sort-toggle>
              </chef-th>
              <chef-th></chef-th>
            </chef-tr>
          </chef-thead>
  
          <chef-tbody>
            <app-credentials-list-row
              *ngFor="let credential of credentialsList.items"
              [credential]="credential"
              (deleteCredential)="deleteCredential.emit($event)">
            </app-credentials-list-row>
          </chef-tbody>
        </chef-table>
      </app-authorized>

      <app-page-picker
        class="credentials-list-paging"
        [total]="credentialsList.total"
        [perPage]="credentialsList.per_page"
        [page]="credentialsList.page"
        (pageChanged)="onPageChanged($event)">
      </app-page-picker>

      <chef-scroll-top></chef-scroll-top>
    </div>
  </main>
</div>
