<ng-container *ngIf="credential">
  <label>Type</label>
  <chef-select (change)="handleCredentialTypeChange($event)" >
    <chef-option [value]="0">SSH</chef-option>
    <chef-option [value]="1">WinRM</chef-option>
    <chef-option [value]="2">Sudo</chef-option>
  </chef-select>

  <ng-container *ngIf="credential.type === 'ssh'">
    <chef-alert type="error"
      *ngIf="credentialsLogic.lastSubmittedFormTypeIsSSH(lastSubmittedFormType) && saveErrorOccurred">
      An error occurred saving your credential.  {{ saveErrorMessage }}
    </chef-alert>

    <form [formGroup]="sshForm" novalidate [ngClass]="{'credentials-form__form-error': saveErrorOccurred, 'credentials-form__form': true}">
      <chef-form-field>
        <label>Assign a unique name for your key<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="name" type="text" placeholder="friendly name for credential" />
        <chef-error *ngIf="credentialsLogic.showFormControlValidationError(sshForm.get('name'))">
          Credential name is required
        </chef-error>
      </chef-form-field>

      <chef-form-field>
        <label>SSH Username<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="username" type="text" placeholder="username for private ssh" />
        <chef-error *ngIf="credentialsLogic.showFormControlValidationError(sshForm.get('username'))">
          Username is required
        </chef-error>
      </chef-form-field>

      <chef-form-field>
        <label>SSH password<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="password" type="password" placeholder="password for private ssh" />
        <chef-error *ngIf="credentialsLogic.showSSHPasswordOrSSHPublicKeyFormControlValidationError(sshForm.get('password'), sshForm.get('key'))">
          SSH Password or RSA Key is required
        </chef-error>
      </chef-form-field>

      <chef-form-field>
        <label>RSA key<span class="t-critical">&nbsp;*</span></label>
        <textarea rows="10" cols="100" chefInput
        placeholder="-----BEGIN RSA PRIVATE KEY -----"
        formControlName="key"></textarea>
        <chef-error *ngIf="credentialsLogic.showSSHPasswordOrSSHPublicKeyFormControlValidationError(sshForm.get('password'), sshForm.get('key'))">
          SSH Password or RSA Key is required
        </chef-error>
      </chef-form-field>
    </form>
  </ng-container>

  <ng-container *ngIf="credential.type === 'winrm'">
    <chef-alert type="error"
      *ngIf="credentialsLogic.lastSubmittedFormTypeIsWinRM(lastSubmittedFormType) && saveErrorOccurred">
      An error occurred saving your credential.  {{ saveErrorMessage }}
    </chef-alert>

    <form [formGroup]="winRMForm" novalidate [ngClass]="{'credentials-form__form-error': saveErrorOccurred}">
      <chef-form-field>
        <label>Assign a unique name for your key<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="name" type="text" placeholder="friendly name for credential" />
        <chef-error *ngIf="credentialsLogic.showFormControlValidationError(winRMForm.get('name'))">
          Credential name is required
        </chef-error>
      </chef-form-field>

      <chef-form-field>
        <label>WinRM username<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="username" type="text" placeholder="username for WinRM" />
        <chef-error *ngIf="credentialsLogic.showFormControlValidationError(winRMForm.get('username'))">
          Username is required
        </chef-error>
      </chef-form-field>

      <chef-form-field>
        <label>WinRM password<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="password" type="password" placeholder="password for WinRM" />
        <chef-error *ngIf="credentialsLogic.showFormControlValidationError(winRMForm.get('password'))">
          WinRM Password is required
        </chef-error>
      </chef-form-field>
    </form>
  </ng-container>

  <ng-container *ngIf="credential.type === 'sudo'">
    <chef-alert type="error"
      *ngIf="credentialsLogic.lastSubmittedFormTypeIsSudo(lastSubmittedFormType) && saveErrorOccurred">
      An error occurred saving your credential.  {{ saveErrorMessage }}
    </chef-alert>

    <form [formGroup]="sudoForm" novalidate [ngClass]="{'credentials-form__form-error': saveErrorOccurred}">
      <chef-form-field>
        <label>Assign a unique name for your key<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="name" type="text" placeholder="friendly name for credential" />
        <chef-error *ngIf="credentialsLogic.showFormControlValidationError(sudoForm.get('name'))">
          Credential name is required
        </chef-error>
      </chef-form-field>

      <chef-form-field>
        <label>Sudo password<span class="t-critical">&nbsp;*</span></label>
        <input chefInput formControlName="password" type="password" placeholder="password for sudo" />
      </chef-form-field>

      <chef-form-field>
        <label>Sudo options<span class="t-critical">&nbsp;*</span></label>
        <input chefInput
              formControlName="options"
              type="text"
              placeholder="same as the sudo command line options you use in the terminal, e.g: -n -u ubuntu" />
      </chef-form-field>
    </form>
  </ng-container>

  <chef-button primary (click)="handleFormSubmit(form.value)">Save</chef-button>
</ng-container>
