<app-delete-object-modal
  [visible]="deleteModalVisible"
  (close)="closeDeleteModal()"
  objectNoun="credential"
  [objectName]="credential.name"
  (deleteClicked)="deleteCredential.emit(credential)"
  ObjectAction="Remove">
</app-delete-object-modal>
<chef-tr>
  <chef-td>
    <a [routerLink]="['/settings', 'node-credentials', credential.id, 'edit']">
      {{ credential.name }}
    </a>
  </chef-td>
  <chef-td>{{ credentialsLogic.formatKeyType(credential.type) }}</chef-td>
  <chef-td>{{ getLastModified(credential.last_modified) }}</chef-td>
  <chef-td>
    <chef-control-menu>
      <chef-option (click)="startCredentialDelete()" data-cy="delete">Remove Credential</chef-option>
    </chef-control-menu>
  </chef-td>
</chef-tr>
