@import "~styles/variables";

.credentials-list-body {
  margin: $content-container-padding;
}

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 70px;
  }
}
