<app-delete-object-modal
  [visible]="deleteModalVisible"
  (close)="closeDeleteModal()"
  objectNoun="credential"
  [objectName]="credential.name"
  (deleteClicked)="deleteCredential.emit(credential)"
  objectAction="Remove">
</app-delete-object-modal>

<chef-tr>
  <chef-td>
    <a [routerLink]="['/settings', 'node-credentials', credential.id, 'edit']">
      {{ credential.name }}
    </a>
  </chef-td>
  <chef-td>{{ credentialsLogic.formatKeyType(credential.type) }}</chef-td>
  <chef-td>{{ getLastModified(credential.last_modified) }}</chef-td>
  <chef-td class="three-dot-column">
    <mat-select panelClass="chef-control-menu">
      <mat-option (onSelectionChange)="startCredentialDelete()" data-cy="delete">Remove Credential</mat-option>
    </mat-select>
  </chef-td>
</chef-tr>
