@import "~styles/variables";

.page-body {
  padding-top: 1px;
  background-color: $page-body-background;
}

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}
