<app-delete-object-modal
  [visible]="deleteModalVisible"
  (close)="closeDeleteModal()"
  objectNoun="credential"
  [objectName]="credential.name"
  (deleteClicked)="deleteCredential.emit(credential)"
  objectAction="Remove">
</app-delete-object-modal>

<chef-table-row>
  <chef-table-cell>
    <a [routerLink]="['/settings', 'node-credentials', credential.id, 'edit']">
      {{ credential.name }}
    </a>
  </chef-table-cell>
  <chef-table-cell>{{ credentialsLogic.formatKeyType(credential.type) }}</chef-table-cell>
  <chef-table-cell>{{ getLastModified(credential.last_modified) }}</chef-table-cell>
  <chef-table-cell class="three-dot-column">
    <mat-select panelClass="chef-control-menu">
      <mat-option (onSelectionChange)="startCredentialDelete()" data-cy="delete">Remove Credential</mat-option>
    </mat-select>
  </chef-table-cell>
</chef-table-row>
