<chef-modal [visible]="visible" (closeModal)="closeEvent()">
  <h2 slot="title">Add Chef Organization</h2>
  <div class="flex-container">
    <form [formGroup]="createForm">
      <div class="input-margin">
        <chef-form-field>
          <label>
            <span class="label">Name <span aria-hidden="true">*</span></span>
            <input
              chefInput
              firstFocus
              name="name"
              formControlName="name"
              type="text"
              (keyup)="handleNameInput($event)"
              data-cy="org-name"
              autocomplete="off">
          </label>
          <chef-error
            *ngIf="(createForm.get('name').hasError('required') || createForm.get('name').hasError('pattern')) && createForm.get('name').dirty">
            Name is required.
          </chef-error>
        </chef-form-field>
      </div>
      <div *ngIf="modifyID" class="id-margin">
        <chef-form-field>
          <label>
            <span class="label">ID <span aria-hidden="true">*</span></span>
            <input
              chefInput
              formControlName="id"
              type="text"
              (keyup)="handleInput($event)"
              id="id-input"
              data-cy="add-id"
              autocomplete="off"/>
          </label>
          <chef-error *ngIf="createForm.get('id').hasError('maxlength') && createForm.get('id').dirty">
            ID must be 64 characters or less.
          </chef-error>
          <chef-error *ngIf="createForm.get('id').hasError('required') && createForm.get('id').dirty">
            ID is required.
          </chef-error>
          <chef-error *ngIf="createForm.get('id').hasError('pattern') && createForm.get('id').dirty">
            Only lowercase letters, numbers, hyphens, and underscores are allowed.
          </chef-error>
          <chef-error *ngIf="conflictError">
            Organization ID "{{createForm.get('id').value}}" already exists.
          </chef-error>
        </chef-form-field>
        <span class="detail light">Organization IDs are unique, permanent, and cannot be changed later.</span>
      </div>
      <div *ngIf="!modifyID" class="id-margin">
        <div id="id-fields">
          <span class="key-label">ID:&nbsp;</span>
          <span data-cy="id-label" class="object-id">{{ this.createForm?.value.id }}</span>
        </div>
        <chef-toolbar>
          <chef-button tertiary (click)="modifyID = true" id="edit-button-object-modal" data-cy="edit-button">Edit ID</chef-button>
        </chef-toolbar>
      </div>
      <div class="input-margin">
        <app-projects-dropdown
          [checkedProjectIDs]="checkedProjectIDs"
          (onDropdownClosing)="onProjectDropdownClosing($event)"
          [projectsUpdated]="projectsUpdatedEvent">
        </app-projects-dropdown>
      </div>
      <div class="input-margin">
        <chef-form-field>
          <label>
            <span class="label">Admin User <span aria-hidden="true">*</span></span>
            <input
              chefInput
              name="admin_user"
              formControlName="admin_user"
              type="text"
              id="admin-input"
              data-cy="admin-user"
              autocomplete="off">
          </label>
          <chef-error
            *ngIf="(createForm.get('admin_user').hasError('required') || createForm.get('admin_user').hasError('pattern')) && createForm.get('admin_user').dirty">
            Admin User is required.
          </chef-error>
        </chef-form-field>
      </div>
      <div class="input-margin">
        <chef-form-field>
          <label>
            <span class="label">Admin Key <span aria-hidden="true">*</span></span>
            <textarea
              chefInput
              name="admin_key"
              id="admin_key"
              formControlName="admin_key"
              cols="54"
              rows="10"
              placeholder="-----BEGIN RSA PRIVATE KEY -----"
              data-cy="admin-key"
              autofocus></textarea>
          </label>
          <chef-error
            *ngIf="(createForm.get('admin_key').hasError('required') || createForm.get('admin_key').hasError('pattern')) && createForm.get('admin_key').dirty">
            Admin Key is required.
          </chef-error>
        </chef-form-field>
      </div>
      <div id="button-org">
        <chef-button id="cancel-org-popup" tertiary [disabled]="creating" (click)="closeEvent()" data-cy="cancel-button">Cancel</chef-button>
        <chef-button
          primary
          data-cy="add-button"
          id="create-org-modal-btn"
          [disabled]="!createForm?.valid || creating || conflictError"
          (click)="createServerOrg()">
          <chef-loading-spinner *ngIf="creating"></chef-loading-spinner>
          <span *ngIf="!creating">Add Chef Organization</span>
          <span *ngIf="creating">Adding Organization...</span>
        </chef-button>
      </div>
    </form>
  </div>
</chef-modal>
