@import "~styles/variables";

chef-modal {

  [slot=title] {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    padding-bottom: 12px;
  }

  .flex-container {
    display: flex;
    justify-content: center;

    .input-margin {
      margin-bottom: 30px;
    }

    form {

      input {
        font-size: 1em;
      }

      label {
        padding-bottom: 0;
      }

      .detail {
        color: $chef-primary-dark;
        font-size: 12px;
      }

      #id-fields {
        font-size: 0.75em;

        .key-label {
          font-weight: bold;
        }
      }
    }

    #button-org {
      text-align: center;
      padding-top: 30px;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }

    #admin_key {
      height: 45px;
    }
  }
}

chef-modal ::ng-deep .modal {
  height: 82%;
  overflow-x: hidden;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

chef-modal ::ng-deep .modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CCC;
}
