@import "~styles/variables";
@import "~styles/mixins";

.search-wrapper {
  width: 100%;
  font-size: 1em;
  color: $chef-primary-dark;
  padding-bottom: 25px;
}

.search-input-wrapper {
  position: relative;
  .search-button {
    box-shadow: 0 1px 14px #E6EBEE;
    border: 1px solid #E5E5E5;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    background: #E6EBEE;
    width: 45px;
    height: 43px;
    position: absolute;
    right: 1px;
    top: 1px;
  }

  .chef-input {
    border-radius: 4px 0px 0px 4px;
    // border-right: none;
    width: 100%;
  }

  .search-items {
    margin-bottom: 25px;
    width: 100%;
  }
}