@import "~styles/variables";

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 70px;
  }
}

.globalSpinner {
  display: block;
  margin: 100px auto;
  width: 100px;
  z-index: 199;
}

.elementSpinner {
  display: inline-block;
  margin: 0;
  width: auto;
}

.scroll-node {
  height: 100%;
  overflow: scroll;
}
