<div class="content-container">
  <div class="container">
    <main
      class="scroll-node"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      (scrolled)="onScrollDown()"
      [scrollWindow]="false">
      <chef-page-header>
        <chef-heading>Node Credentials</chef-heading>
        <chef-subheading>
          SSH, WinRM, and sudo credentials to remotely access nodes.
        </chef-subheading>
      </chef-page-header>
      <app-create-node-credential-modal
        [openEvent]="openUserModal"
        [sortParams]="params"></app-create-node-credential-modal>
      <app-delete-object-modal
        [visible]="deleteModalVisible"
        objectNoun="node Credential"
        [objectName]="nodeCredentialToDelete?.name"
        (close)="closeDeleteModal()"
        (deleteClicked)="deleteNodeCredential()"
        objectAction="Delete">
      </app-delete-object-modal>
      <section class="page-body">
        <chef-loading-spinner *ngIf="nodesListLoading" class="globalSpinner" size="50"></chef-loading-spinner>
        <ng-container *ngIf="!nodesListLoading">
          <app-authorized [allOf]="['/api/v0/secrets', 'post']">
            <chef-toolbar>
              <chef-button primary (click)="openCreateModal()" data-cy="team-create-button">Create Credential
              </chef-button>
            </chef-toolbar>
          </app-authorized>
          <app-authorized [allOf]="['/api/v0/secrets/search' , 'post']">
            <chef-table (sort-toggled)="handleSortToggle($event)">
              <chef-thead>
                <chef-tr>
                  <chef-th class="name-column">
                    Name
                    <chef-sort-toggle sort="name" [order]="orderFor('name')"></chef-sort-toggle>
                  </chef-th>
                  <chef-th class="type-column">
                    Credential Type
                    <chef-sort-toggle sort="type" [order]="orderFor('type')"></chef-sort-toggle>
                  </chef-th>
                  <chef-th class="status-column">
                    Last Modified
                    <chef-sort-toggle sort="last_modified" [order]="orderFor('last_modified')"></chef-sort-toggle>
                  </chef-th>
                  <chef-th class="three-dot-column"></chef-th>
                </chef-tr>
              </chef-thead>
              <chef-tbody>
                <chef-tr *ngFor="let credential of credentialArray">
                  <chef-td class="name-column">
                    <a [routerLink]="['/settings', 'node-credentials', credential.id, 'edit']">{{ credential.name }}</a>
                  </chef-td>
                  <chef-td>{{ formatKeyType(credential.type) }}</chef-td>
                  <chef-td><app-time [time]="credential.last_modified"></app-time></chef-td>
                  <chef-td class="three-dot-column">
                    <mat-select panelClass="chef-control-menu">
                      <mat-option (onSelectionChange)="startNodeCredentialDelete($event, credential)" data-cy="delete">Remove
                        Credential</mat-option>
                    </mat-select>
                  </chef-td>
                </chef-tr>
              </chef-tbody>
            </chef-table>
            <chef-separator *ngIf="scrollingLoader">
              <chef-pill>
                <chef-loading-spinner class="elementSpinner" size='14'></chef-loading-spinner>
                Loading...
              </chef-pill>
            </chef-separator>
          </app-authorized>
        </ng-container>
      </section>
    </main>
  </div>
</div>
