@import "~styles/variables";

chef-table {
  .name-column {
    flex-basis: 30%;
  }

  .username-column {
    flex-basis: 70%;
  }

  .garbage-column {
    justify-content: flex-end;
  }
}

#getting-started {
  margin: 8px 0;
  font-size: 14px;
  color: $chef-dark-grey;
}
