@import "~styles/variables";

chef-table {
  .name-column {
    flex-basis: 30%;
  }

  .username-column {
    flex-basis: 70%;
  }

  .garbage-column {
    justify-content: flex-end;
  }
}

.empty-state {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 42px;
  }
}
