[{sqerl, [
{{- if is_external_pg }}
    {{- if eq "password" .Platform.GetPlatform.GetExternalPostgresql.GetAuth.GetScheme.GetValue }}
           {db_pass, "{{ .Platform.GetPlatform.GetExternalPostgresql.GetAuth.GetPassword.GetDbuser.GetPassword.GetValue }}" },
      {{- if eq "disable" .Platform.GetPlatform.GetExternalPostgresql.GetSsl.GetMode.GetValue }}
           {db_options, [{ssl, false}]},
      {{- else }}
        {{ fail "unsupported ssl mode" }}
      {{- end }}
    {{- else }}
      {{ fail "unsupported auth scheme" }}
    {{- end }}
{{- else }}
           {db_pass, "" },
           {db_options, [
                      {ssl, true},
                      {ssl_opts, [
                                  {cacertfile, "{{svc_root_ca_path}}"},
                                  {certfile, "{{svc_cert_path}}"},
                                  {keyfile, "{{svc_key_path}}"},
                                  {verify, verify_peer}
                                 ]}
                     ]
           },
{{- end }}
           {db_user, "{{pg_svc_user}}"},
           {db_host, "{{pg_gateway_host}}"},
           {db_port, {{pg_gateway_port}}}
        ]}].

