@import "~styles/variables";

chef-page {
  chef-modal {
    #{--modal-width}: 777px;

    h2 {
      text-align: center;
    }

    .expressionSelectContainer {
      height: 55px;
    }

    .expressionInputContainer {
      height: 65px;
    }

    #left-align {
      margin-left: 150px;

      chef-form-field {
        margin-top: 20px;
        padding-right: 150px;
      }

      p {
        size: 11px;
        margin-top: 11px;
        margin-bottom: 11px;
      }

      .expression {
        background-color: $chef-light-grey;
        padding-left: 0.3em;
        padding-right: 0.3em;
      }
    }

    #align-buttons {
      text-align: center;
    }
  }

  #no-members-container {
    position: relative;
    top: 70px;
    text-align: center;
  }

  #table-container {

    #members-selected {
      font-size: 12px;
      color: $chef-dark-grey;
      margin-bottom: 5px;
    }

    #inner-container {
      chef-table {
        chef-tbody {
          height: calc(100vh - 350px);
          overflow-y: scroll;
        }

        .checkbox-row {
          max-width: 50px;
        }
      }
    }
  }
}
