@import "~styles/variables";

chef-page {
  chef-modal {
    #{--modal-width}: 777px;

    h2 {
      text-align: center;
    }

    #modal-content-container {
      width: 40%;
      min-width: 300px;
      margin: 1.5em auto 0;

      chef-form-field {
        padding-bottom: 1em;

        &#create-type {
          height: 75px;
        }

        select,
        chef-input {
          width: 100%;
        }

        .label {
          font-weight: normal;
          font-size: 14px;
        }
      }

      .note {
        font-size: 11px;
      }

      #expression-output {
        display: inline;
      }

      #buttons-container {
        display: flex;

        chef-button {
          width: 50%;

          &:first-child {
            margin-left: unset;
          }

          &:last-child {
            margin-right: unset;
          }
        }
      }
        
    }
  }

  #no-members-container {
    position: relative;
    top: 70px;
    text-align: center;
  }

  #table-container {

    #members-selected {
      font-size: 12px;
      color: $chef-dark-grey;
      margin-bottom: 5px;
    }

    #inner-container {
      chef-table {
        chef-tbody {
          height: calc(100vh - 350px);
          overflow-y: scroll;
        }

        .checkbox-row {
          max-width: 50px;
        }
      }
    }
  }
}
