<chef-page
  subheading="Automate only displays local users and local teams. For other types of members add a member expression."
  secondary-btn-text="Add Member Expression"
  [attr.secondary-btn-show]="sortedMembersAvailable && sortedMembersAvailable.length > 0"
  [attr.heading]="getHeading()"
  [attr.confirm-btn-text]="getMemberConfirmBtnText()"
  [attr.page-loading]="loading"
  [attr.confirm-loading]="addingMembers"
  [attr.disable-confirm]="membersToAddValues().length === 0"
  [attr.error-message]="getErrorMessage()"
  (secondaryConfirm)="openModal()"
  (confirm)="addMembers()"
  (close)="closePage()">
    <div *ngIf="!loading">
      <!--  -->
      <!--  -->
      <!--  -->
      <chef-modal label="member-expression-label" class="member-expression-modal" [visible]="modalVisible" (close)="closeModal()">
        <h2>Add Member Expression</h2>
        <div id="left-align">
          <form [formGroup]="expressionForm">
            <chef-form-field>

              <div id="type-input-container">
                <label>Type *</label>
                <input chefInput formControlName="expression" type="text" (keyup)="resetErrors()" autocomplete="off">
              </div>

              <div id="identity-input-container">
                <label>Identity Provider *</label>
                <input chefInput formControlName="expression" type="text" (keyup)="resetErrors()" autocomplete="off">
              </div>

              <div id="name-input-container">
                <label>Name *</label>
                <input chefInput formControlName="expression" type="text" (keyup)="resetErrors()" autocomplete="off">
                <span>Wildcards (*) are allowed.</span>
              </div>

              <chef-error *ngIf="unparsableMember">Invalid member expression.</chef-error>
              <chef-error *ngIf="duplicateMember">Member expression already in table.</chef-error>
              <chef-error *ngIf="alreadyPolicyMember">Member already in policy.</chef-error>
              <chef-error *ngIf="(expressionForm.get('expression').hasError('required') || expressionForm.get('expression').hasError('pattern')) && expressionForm.get('expression').dirty">
                Member expression is required.
              </chef-error>
            </chef-form-field>
          </form>
          <p><span class="expression">user | team : local | ldap | saml : &lt;name&gt;</span> or <span class="expression">token : &lt;id&gt;</span>, wildcards (*) are allowed.</p>
          <p>More details in <a href="https://automate.chef.io/docs/iam-v2-guide/#member-expressions" target="_blank">member expression documentation</a>.</p>
        </div>
        <div id="align-buttons">
          <chef-button primary [disabled]="!expressionForm.valid" (click)="validateAndAddExpression()">Add Expression</chef-button>
          <chef-button tertiary (click)="closeModal()">Cancel</chef-button>
        </div>
      </chef-modal>
      <!--  -->
      <!--  -->
      <!--  -->
      <div id="no-members-container" *ngIf="sortedMembersAvailable.length === 0">
        <h3>Create more local users or local teams first, or add a member expression.</h3>
        <chef-button
          primary
          class="add-member-button"
          (click)="openModal()">
            Add Member Expression
        </chef-button>
      </div>
      <div id="table-container" *ngIf="sortedMembersAvailable.length > 0">
        <div class="flex">
          <div id="members-selected" class="flex-right" >
            {{ membersToAddValues().length | pluralize : 'member' : '+s' }} selected
          </div>
        </div>
        <div id="inner-container">
          <chef-table>
            <chef-thead>
              <chef-tr>
                <chef-th class="checkbox-row"></chef-th>
                <chef-th>ID</chef-th>
                <chef-th>Type</chef-th>
              </chef-tr>
            </chef-thead>
            <chef-tbody>
              <chef-tr *ngFor="let member of sortedMembersAvailable">
                <chef-td class="checkbox-row">
                  <chef-checkbox (change)="addOrRemoveQueuedMember($event.detail, member)" [checked]="isMemberChecked(member)"></chef-checkbox>
                </chef-td>
                <!-- TODO get error but properly find page when you click this link for teams -->
                <chef-td>
                  <a *ngIf="memberHasURL(member)" [routerLink]="memberURL(member)" target="_blank">
                    {{ member.displayName }}
                  </a>
                  <ng-container *ngIf="!memberHasURL(member)">
                    {{ member.displayName }}
                  </ng-container>
                </chef-td>
                <chef-td>
                  {{ member.displayType }}
                </chef-td>
              </chef-tr>
            </chef-tbody>
          </chef-table>
        </div>
      </div>
    </div>
</chef-page>
