@import "~styles/variables";

chef-page {
  chef-modal {
    #{--modal-width}: 777px;

    h2 {
      text-align: center;
    }

    #modal-content-container {
      width: 50%;
      min-width: 350px;
      margin: 0 auto;

      select,
      chef-input {
        width: 100%;
      }

      p,
      span {
        font-size: 11px;
      }

      #expression-output {
        display: inline;
      }

      #buttons-container {
        display: flex;

        chef-button {
          width: 50%;

          &:first-child {
            margin-left: unset;
          }
          
          &:last-child {
            margin-right: unset;
          }
        }
      }
        
    }
  }

  #no-members-container {
    position: relative;
    top: 70px;
    text-align: center;
  }

  #table-container {

    #members-selected {
      font-size: 12px;
      color: $chef-dark-grey;
      margin-bottom: 5px;
    }

    #inner-container {
      chef-table {
        chef-tbody {
          height: calc(100vh - 350px);
          overflow-y: scroll;
        }

        .checkbox-row {
          max-width: 50px;
        }
      }
    }
  }
}
