@import "~styles/variables";

.version-dropdown {
  color: $chef-primary-dark;

  ::ng-deep label {
    display: inline;
    color: $chef-primary-dark;
    font-size: 15px;
    margin-right: 15px;
  }

  chef-select {
    margin-bottom: 12px;
    width: 150px;
    font-size: 14px;
  }
}

chef-modal {

  [slot=title] {
    text-align: left;
    font-weight: bold;
    padding-bottom: 44px;
    margin-top: 0px;
  }

  .flex-container {
    justify-content: center;

    .input-margin {
      margin-bottom: 20px;
    }

    form {
      flex-basis: 61%;

      input {
        font-size: 1em;
        height: 36px;
        left: 398px;
        right: 398px;
        top: 365px;
        border: 1px solid $chef-form-input;
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 8px;
        margin-top: 8px;
      }

      label {
        padding-bottom: 0;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $chef-black;
        margin-top: 32px;
      }

      #description {
        height: 162px;
        left: 398px;
        right: 398px;
        top: 462px;
        border: 1px solid $chef-form-input;
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 10px;
      }

      #default, #override {
        height: 286px;
        max-height: 286px;
        min-height: 286px;
        max-width: 100%;
        min-width: 100%;
      }

      ::ng-deep #default::-webkit-scrollbar {
        width: 5px;
        background: $chef-form-input;
        border-radius: 5px;
      }

      ::ng-deep #default::-webkit-scrollbar-thumb {
        background: $chef-modal;
        border-radius: 5px;
      }

      ::ng-deep #override::-webkit-scrollbar {
        width: 5px;
        background: $chef-form-input;
        border-radius: 5px;
      }

      ::ng-deep #override::-webkit-scrollbar-thumb {
        background: $chef-modal;
        border-radius: 5px;
      }
    }

    .button-bar-box {
      text-align: right;
      margin-top: 20px;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }

    }

    .button-bar-constraint {
      text-align: right;
      margin-top: 100px;

      chef-loading-spinner {
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }

  ::ng-deep {
    .modal {
      overflow-x: hidden;
      padding: 32px;
      outline: none;
      box-shadow: 0px 0px 30px 0px $chef-modal;
      width: 708px;
    }

    .modal::-webkit-scrollbar {
      width: 8px;
      background-color: $chef-modal-scrollbar;
    }

    .modal::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $chef-modal;
    }

    .label {
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 0px;
    }
  }
}

.constraint {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-top: 50px;
}

.divider-constraint {
  margin-top: 9px;
  border-color: $chef-key-tab;
}

.dynamic {
  display: flex;
  margin-top: 40px;
}

.constraint-name {
  margin-left: 16px;
  height: 36px;
}

.operator {
  margin-left: 16px;
  height: 36px;
}

.version {
  height: 36px;
}

.constraint-names {

  width: 279px;
}

.operators {
  width: 99px;
}

#version-input {
  width: 173px;

}

.input-desc {
  font-size: 10px;
  font-weight: 100;
}

.i-desc {
  font-size: 12px;
  font-weight: 300;
}

img {
  width: 15px;
  margin-right: 5px;
  margin-bottom: -3px;
}

chef-checkbox ::ng-deep .check-wrap {
  color: $chef-dark-grey;
  border: 1px solid;
}

.small:first-of-type {
  margin-top: 10px;
}

chef-modal ::ng-deep .modal-overlay {
  background-color: $chef-white;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.pages-body {
  padding-top: 0;

  ::ng-deep button.nav-tab.active {
    background: $chef-primary-bright;
  }

  ::ng-deep button.nav-tab:focus {
    outline: none;
  }

  ::ng-deep .nav-tab:before {
    height: 4px;
    background: $chef-tab-hover;
  }
}

.button-bar-box {
  chef-button {
    height: 36px;
  }

  chef-button#create-default-button-object-modal,
  chef-button#create-override-button-object-modal,
  chef-button#create-constraints-button-object-modal {
    margin: 8px 0px 0px 16px;
  }

  chef-button#cancel-server-popup {
    margin: 10px 15px 0px 0px;
  }

  chef-button.close {
    border: none;
    color: var(--chef-primary-dark);
    outline: none;
    margin-top: 18px;
    margin-right: 18px;
  }

  chef-button.close:active {
    background: none;
    color: var(--chef-primary-dark);
  }
}

::ng-deep mat-select {
  width: 277px;
}

::ng-deep .cdk-overlay-pane .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: $chef-white;
  color: $chef-black;
}

::ng-deep .cdk-overlay-pane .mat-select-panel ng-container .mat-option {
  line-height: 3em;
  font-size: 12px;
  height: 3em;
  border: 1px solid $chef-key-tab;
  height: 37px;
}

::ng-deep [panelClass=chef-dropdown] {
  height: 36px;
  padding: 5px 12px 0px 12px;
  border: 1px solid $chef-form-input;
  box-sizing: border-box;
  border-radius: 4px;
}

::ng-deep [panelClass=chef-dropdown]:focus {
  border-color: $chef-form-input;
}

// sass-lint:disable no-important
::ng-deep .cdk-overlay-container  .cdk-overlay-pane {
  margin-left: -12px !important;
  transform: none !important;
}

::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 999999999;
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
  display: inline-block;
  right: 10px;
  width: 0;
  height: 0;
  border-color: $chef-white transparent transparent transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  border: 6px solid blue;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow:visited {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: $chef-black;
}

.constraint-margin {
  display: flex;
  margin-bottom: 10px;
}

.row-margin {
  display: flex;
  margin-top: 5px;
}

.name-margin {
  .name-dropdown {
    color: $chef-primary-dark;

    ::ng-deep label {
      display: inline;
      color: $chef-primary-dark;
      font-size: 15px;
      margin-right: 15px;
    }

    chef-select {
      margin-bottom: 12px;
      width: 310px;
      font-size: 12px;
    }

    chef-select ::ng-deep chef-dropdown {
      overflow: scroll;
      height: 160px;
      width: 120px;
    }

    chef-select ::ng-deep .selected-value chef-icon {
      color: $chef-primary-bright;
    }
  }
}

.operator-margin {
  margin-left: 16px;

  .operator-dropdown {
    color: $chef-primary-dark;

    ::ng-deep label {
      display: inline;
      color: $chef-primary-dark;
      font-size: 15px;
      margin-right: 15px;
    }

    chef-select {
      margin-bottom: 12px;
      width: 105px;
      font-size: 12px;
    }

    chef-select ::ng-deep chef-dropdown {
      overflow: scroll;
      height: 160px;
      width: 105px;
    }

    chef-select ::ng-deep .selected-value chef-icon {
      color: $chef-primary-bright;
    }
  }
}

.version-margin {
  margin-left: 16px;

  .version-dropdown {
    color: $chef-primary-dark;

    ::ng-deep label {
      display: inline;
      color: $chef-primary-dark;
      font-size: 15px;
    }
  }

  chef-form-field input {
    height: 36px;
    border: 1px solid $chef-form-input;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    width: 185px;
  }
}

.scroll {
  overflow: scroll;
  height: 256px;
}

::ng-deep .scroll::-webkit-scrollbar {
  width: 5px;
  background: $chef-form-input;
  border-radius: 5px;
  width: 5px;
  height: 195px;
  left: 1401px;
  top: 321px;

  background: $chef-form-input;
  border-radius: 5px;
}

::ng-deep .scroll::-webkit-scrollbar-thumb {
  background: $chef-cyan-blue;
  border-radius: 5px;
  width: 5px;
  height: 64px;
  left: 1401px;
  top: 321px;
}

.add {
  margin-top: 67px;

  chef-button {
    width: 61px;
    height: 36px;
    border: 1px solid rgba(56, 100, 242, 0.5);
    border-radius: 0px 4px 4px 0px;
    background-color: $chef-white;
    color: $chef-primary-bright;
  }
}

.remove {
  chef-button {
    width: 88px;
    height: 36px;
    border: 1px solid rgba(56, 100, 242, 0.5);
    border-radius: 0px 4px 4px 0px;
    background-color: $chef-white;
    color: $chef-primary-bright;
  }
}

form {
  chef-form-field {
    textarea {
      height: 286px;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: -5px;
    }
  }
}

chef-button {
  ::ng-deep button:focus {
    outline: none;
    border: 1px solid $chef-primary-bright;
    border-radius: 4px;
  }
}
